flows/Add_Website_Product-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Error_Email</name>
        <label>Error Email</label>
        <locationX>666</locationX>
        <locationY>716</locationY>
        <apexClass>SendEmail</apexClass>
        <connector>
            <targetReference>FAULT</targetReference>
        </connector>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddress</name>
            <value>
                <stringValue>salesforce@vinsolutions.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Error in Flow - Add Website Product</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varEmailStatus</assignToReference>
            <name>Status</name>
        </outputParameters>
    </apexPluginCalls>
    <choices>
        <name>Advanced_Call_Tracking</name>
        <choiceText>Advanced Call Tracking</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>varCallTrackingPBEID</elementReference>
        </value>
    </choices>
    <choices>
        <name>ATC_Website_Gold_Regions_A_B_C</name>
        <choiceText>ATC Website Gold (Regions A,B,C)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vin Website Gold (ATC) (Regions A,B,C)</stringValue>
        </value>
    </choices>
    <choices>
        <name>ATC_Website_Gold_Regions_D_E_F</name>
        <choiceText>ATC Website Gold (Regions D,E,F)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vin Website Gold (ATC) (Regions D,E,F)</stringValue>
        </value>
    </choices>
    <choices>
        <name>ATC_Website_Regions_A_B_C</name>
        <choiceText>ATC Website (Regions A,B,C)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vin Website (ATC) (Regions A,B,C)</stringValue>
        </value>
    </choices>
    <choices>
        <name>ATC_Website_Regions_D_E_F</name>
        <choiceText>ATC Website (Regions D,E,F)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vin Website (ATC) (Regions D,E,F)</stringValue>
        </value>
    </choices>
    <choices>
        <name>VinChat</name>
        <choiceText>VinChat</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>varVinChatPBEID</elementReference>
        </value>
    </choices>
    <choices>
        <name>VinVideos</name>
        <choiceText>VinVideos</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>varVideosPBEID</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Is_Opp_Open</name>
        <label>Is Opp Open</label>
        <locationX>240</locationX>
        <locationY>33</locationY>
        <defaultConnector>
            <targetReference>Not_Open_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesOpen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOppIsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Price_Book_Chosen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Price_Book_Chosen</name>
        <label>Is Price Book Chosen</label>
        <locationX>240</locationX>
        <locationY>147</locationY>
        <defaultConnector>
            <targetReference>No_Price_Book</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesPriceBook</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPriceBookID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Inventory_PBE</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Regular_or_Gold</name>
        <label>Regular or Gold?</label>
        <locationX>241</locationX>
        <locationY>580</locationY>
        <defaultConnector>
            <targetReference>Which_Add_On</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Regular</defaultConnectorLabel>
        <rules>
            <name>Gold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_kind_of_website_do_you_wish_to_add</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Gold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Website_PBE</targetReference>
            </connector>
            <label>Gold</label>
        </rules>
    </decisions>
    <decisions>
        <name>Regular_or_Gold_0</name>
        <label>Regular or Gold?</label>
        <locationX>292</locationX>
        <locationY>1120</locationY>
        <defaultConnector>
            <targetReference>Create_Addon_OLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Regular</defaultConnectorLabel>
        <rules>
            <name>Gold_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_kind_of_website_do_you_wish_to_add</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Gold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_VinChat_OLI</targetReference>
            </connector>
            <label>Gold</label>
        </rules>
    </decisions>
    <description>Converted to ATC Website functionality</description>
    <label>Add Website Product</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Addon_OLI</name>
        <label>Create Addon OLI</label>
        <locationX>414</locationX>
        <locationY>994</locationY>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Choose_one_add_on_to_include</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StickyOpportunityId__c</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_AIS_OLI</name>
        <label>Create AIS OLI</label>
        <locationX>138</locationX>
        <locationY>1014</locationY>
        <connector>
            <targetReference>Create_SEO_OLI</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>varAISPBEID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StickyOpportunityId__c</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Call_Track_OLI</name>
        <label>Create Call Track OLI</label>
        <locationX>628</locationX>
        <locationY>1119</locationY>
        <connector>
            <targetReference>Create_Videos_OLI</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>varCallTrackingPBEID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StickyOpportunityId__c</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Inventory_OLI</name>
        <label>Create Inventory OLI</label>
        <locationX>138</locationX>
        <locationY>910</locationY>
        <connector>
            <targetReference>Create_AIS_OLI</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>varInventoryPBEID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StickyOpportunityId__c</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_SEO_OLI</name>
        <label>Create SEO OLI</label>
        <locationX>138</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Regular_or_Gold_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>varSEOPBEID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StickyOpportunityId__c</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Videos_OLI</name>
        <label>Create Videos OLI</label>
        <locationX>778</locationX>
        <locationY>1119</locationY>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>varVideosPBEID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StickyOpportunityId__c</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_VinChat_OLI</name>
        <label>Create VinChat OLI</label>
        <locationX>477</locationX>
        <locationY>1120</locationY>
        <connector>
            <targetReference>Create_Call_Track_OLI</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>varVinChatPBEID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StickyOpportunityId__c</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Website_OLI</name>
        <label>Create Website OLI</label>
        <locationX>138</locationX>
        <locationY>808</locationY>
        <connector>
            <targetReference>Create_Inventory_OLI</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>varWebPBEID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StickyOpportunityId__c</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>varWebPrice</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>Get_AIS_PBE</name>
        <label>Get AIS PBE</label>
        <locationX>383</locationX>
        <locationY>262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SEO_PBE</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AIS Rebates - Website Integration (ATC)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPriceBookID</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>varAISPBEID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Call_Tracking_PBE</name>
        <label>Get Call Tracking PBE</label>
        <locationX>381</locationX>
        <locationY>363</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Videos_PBE</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Advanced Call Tracking (ATC)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPriceBookID</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>varCallTrackingPBEID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Inventory_PBE</name>
        <label>Get Inventory PBE</label>
        <locationX>240</locationX>
        <locationY>261</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AIS_PBE</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inventory Module (ATC)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPriceBookID</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>varInventoryPBEID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Info</name>
        <label>Get Opp Info</label>
        <locationX>77</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Opp_Open</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varOppIsClosed</assignToReference>
            <field>IsClosed</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPriceBookID</assignToReference>
            <field>Pricebook2Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_SEO_PBE</name>
        <label>Get SEO PBE</label>
        <locationX>523</locationX>
        <locationY>262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_VinChat_PBE</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SEO - Basic (ATC)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPriceBookID</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>varSEOPBEID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Videos_PBE</name>
        <label>Get Videos PBE</label>
        <locationX>241</locationX>
        <locationY>362</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_Kind_of_Website</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VinVideos (ATC)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPriceBookID</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>varVideosPBEID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_VinChat_PBE</name>
        <label>Get VinChat PBE</label>
        <locationX>523</locationX>
        <locationY>362</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Call_Tracking_PBE</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VIN Chat (ATC)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPriceBookID</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>varVinChatPBEID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Website_PBE</name>
        <label>Get Website PBE</label>
        <locationX>138</locationX>
        <locationY>701</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Website_OLI</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>What_kind_of_website_do_you_wish_to_add</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPriceBookID</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>varWebPBEID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varWebPrice</assignToReference>
            <field>UnitPrice</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <screens>
        <name>FAULT</name>
        <label>FAULT</label>
        <locationX>828</locationX>
        <locationY>716</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtERROR</name>
            <fieldText>ERROR. The Salesforce Team has been notified.

{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>No_Price_Book</name>
        <label>No Price Book</label>
        <locationX>408</locationX>
        <locationY>149</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtNotOpen_0</name>
            <fieldText>No price book has been chosen for this opportunity. Please return to the opp and choose the price book before using this tool.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Not_Open_Screen</name>
        <label>Not Open Screen</label>
        <locationX>408</locationX>
        <locationY>33</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtNotOpen</name>
            <fieldText>This opportunity is no longer open, so you cannot change the products on it.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>What_Kind_of_Website</name>
        <label>What Kind of Website</label>
        <locationX>241</locationX>
        <locationY>469</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Regular_or_Gold</targetReference>
        </connector>
        <fields>
            <name>What_kind_of_website_do_you_wish_to_add</name>
            <choiceReferences>ATC_Website_Regions_A_B_C</choiceReferences>
            <choiceReferences>ATC_Website_Regions_D_E_F</choiceReferences>
            <choiceReferences>ATC_Website_Gold_Regions_A_B_C</choiceReferences>
            <choiceReferences>ATC_Website_Gold_Regions_D_E_F</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What kind of website do you wish to add?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Which_Add_On</name>
        <label>Which Add-On?</label>
        <locationX>34</locationX>
        <locationY>580</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Website_PBE</targetReference>
        </connector>
        <fields>
            <name>Choose_one_add_on_to_include</name>
            <choiceReferences>Advanced_Call_Tracking</choiceReferences>
            <choiceReferences>VinChat</choiceReferences>
            <choiceReferences>VinVideos</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose one add-on to include:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Get_Opp_Info</startElementReference>
    <variables>
        <name>varAISPBEID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCallTrackingPBEID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmailStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInventoryOLIID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInventoryPBEID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppIsClosed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPriceBookID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSEOPBEID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varVideosPBEID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varVinChatPBEID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWebPBEID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWebPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
