flows/Add_Website_Product-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Advanced_Microsite</name>
        <choiceText>Advanced Microsite</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Microsite</stringValue>
        </value>
    </choices>
    <choices>
        <name>Custom_Website</name>
        <choiceText>Custom Website</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Custom</stringValue>
        </value>
    </choices>
    <choices>
        <name>Portal_Website</name>
        <choiceText>Portal Website</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Portal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Regular_Website</name>
        <choiceText>Regular Website</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Regular</stringValue>
        </value>
    </choices>
    <choices>
        <name>Scion_Only_Website</name>
        <choiceText>Scion Only Website</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Scion</stringValue>
        </value>
    </choices>
    <decisions>
        <name>AIS_and_SEO</name>
        <label>AIS and SEO?</label>
        <locationX>199</locationX>
        <locationY>714</locationY>
        <defaultConnector>
            <targetReference>Look_for_Inventory2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAIS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>What_kind_of_website_do_you_wish_to_add</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Custom_Website</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>What_kind_of_website_do_you_wish_to_add</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Regular_Website</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_AIS_Rebates</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Advanced_Microsite</name>
        <label>Advanced Microsite</label>
        <locationX>200</locationX>
        <locationY>366</locationY>
        <defaultConnector>
            <targetReference>Website_Portal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesMicrosite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_kind_of_website_do_you_wish_to_add</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Advanced_Microsite</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Advanced_Microsite2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inventory_Found2</name>
        <label>Inventory Found?</label>
        <locationX>361</locationX>
        <locationY>828</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoInventory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInventoryOLIID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Inventory_Light</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opp_Open</name>
        <label>Is Opp Open</label>
        <locationX>200</locationX>
        <locationY>24</locationY>
        <defaultConnector>
            <targetReference>Not_Open_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesOpen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOppIsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_Kind_of_Website</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Website_Portal</name>
        <label>Website Portal?</label>
        <locationX>200</locationX>
        <locationY>483</locationY>
        <defaultConnector>
            <targetReference>Website_Scion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesPortal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_kind_of_website_do_you_wish_to_add</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Portal_Website</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Website_Portal</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Website_Scion</name>
        <label>Website Scion?</label>
        <locationX>200</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>AIS_and_SEO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesScion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_kind_of_website_do_you_wish_to_add</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Scion_Only_Website</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Website_Scion</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Website_VIN</name>
        <label>Website VIN?</label>
        <locationX>200</locationX>
        <locationY>251</locationY>
        <defaultConnector>
            <targetReference>Create_Advanced_Microsite</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesRegular</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>What_kind_of_website_do_you_wish_to_add</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Regular_Website</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>What_kind_of_website_do_you_wish_to_add</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Custom_Website</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Regular_Website</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <label>Add Website Product</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Adv_Micro_OT</name>
        <label>Create Adv Micro OT</label>
        <locationX>522</locationX>
        <locationY>365</locationY>
        <connector>
            <targetReference>Website_Portal</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u7000000CKyKC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>1298.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Advanced_Microsite2</name>
        <label>Create Advanced Microsite</label>
        <locationX>365</locationX>
        <locationY>365</locationY>
        <connector>
            <targetReference>Create_Adv_Micro_OT</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u7000000CKyKB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>649.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_AIS_Rebates</name>
        <label>Create AIS Rebates</label>
        <locationX>362</locationX>
        <locationY>716</locationY>
        <connector>
            <targetReference>Create_SEO_Advanced</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u7000000CKyGQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Inventory_Light</name>
        <label>Create Inventory Light</label>
        <locationX>523</locationX>
        <locationY>828</locationY>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u7000000CL3Dy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution_Product__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Regular_Website</name>
        <label>Create Regular Website</label>
        <locationX>365</locationX>
        <locationY>250</locationY>
        <connector>
            <targetReference>Regular_Website_Onetime</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u7000000CKyKQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>499.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_SEO_Advanced</name>
        <label>Create SEO Advanced</label>
        <locationX>522</locationX>
        <locationY>717</locationY>
        <connector>
            <targetReference>Look_for_Inventory2</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u7000000CKyJ9</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Vin_Chat</name>
        <label>Create Vin Chat</label>
        <locationX>683</locationX>
        <locationY>250</locationY>
        <connector>
            <targetReference>Create_Advanced_Microsite</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u7000000CKyJg</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Website_Portal</name>
        <label>Create Website Portal</label>
        <locationX>365</locationX>
        <locationY>482</locationY>
        <connector>
            <targetReference>Create_Website_Portal_OT</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u7000000CKyKM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>899.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Website_Portal_OT</name>
        <label>Create Website Portal OT</label>
        <locationX>522</locationX>
        <locationY>482</locationY>
        <connector>
            <targetReference>Website_Scion</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u7000000CKyKN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>1798.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Website_Scion</name>
        <label>Create Website Scion</label>
        <locationX>365</locationX>
        <locationY>599</locationY>
        <connector>
            <targetReference>Create_Website_Scion_OT</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u7000000CL3Gw</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>449.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Website_Scion_OT</name>
        <label>Create Website Scion OT</label>
        <locationX>522</locationX>
        <locationY>599</locationY>
        <connector>
            <targetReference>AIS_and_SEO</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u7000000CL3H1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>998.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Regular_Website_Onetime</name>
        <label>Regular Website Onetime</label>
        <locationX>522</locationX>
        <locationY>250</locationY>
        <connector>
            <targetReference>Create_Vin_Chat</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u7000000CKyKS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>1098.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Opp_Info</name>
        <label>Get Opp Info</label>
        <locationX>37</locationX>
        <locationY>24</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Opp_Open</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varOppIsClosed</assignToReference>
            <field>IsClosed</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Look_for_Inventory2</name>
        <label>Look for Inventory</label>
        <locationX>199</locationX>
        <locationY>829</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inventory_Found2</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Issue__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Inventory</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Issue__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inventory Gallery for Website</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>varInventoryOLIID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Not_Open_Screen</name>
        <label>Not Open Screen</label>
        <locationX>361</locationX>
        <locationY>26</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtNotOpen</name>
            <fieldText>This opportunity is no longer open, so you cannot change the products on it.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>What_Kind_of_Website</name>
        <label>What Kind of Website</label>
        <locationX>200</locationX>
        <locationY>139</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Website_VIN</targetReference>
        </connector>
        <fields>
            <name>What_kind_of_website_do_you_wish_to_add</name>
            <choiceReferences>Regular_Website</choiceReferences>
            <choiceReferences>Custom_Website</choiceReferences>
            <choiceReferences>Portal_Website</choiceReferences>
            <choiceReferences>Advanced_Microsite</choiceReferences>
            <choiceReferences>Scion_Only_Website</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What kind of website do you wish to add?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>Get_Opp_Info</startElementReference>
    <variables>
        <name>varInventoryOLIID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppIsClosed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
