flows/Calculate_Project_Revenue-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Current_Total_Price_to_Total_Total_Price</name>
        <label>Add Current Total Price to Total Total Price</label>
        <locationX>296</locationX>
        <locationY>101</locationY>
        <assignmentItems>
            <assignToReference>varTotalTotalPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>svarCurrentBillingItemTotalPrice.Total_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Proj_Pieces</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Testing</name>
        <label>Testing</label>
        <locationX>179</locationX>
        <locationY>17</locationY>
        <assignmentItems>
            <assignToReference>varProjectID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0Y70000005UxZE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Project_ID</targetReference>
        </connector>
    </assignments>
    <label>Calculate Project Revenue</label>
    <loops>
        <name>Loop_Proj_Pieces</name>
        <label>Loop Proj Pieces</label>
        <locationX>36</locationX>
        <locationY>235</locationY>
        <assignNextValueToReference>svarProjPieceID</assignNextValueToReference>
        <collectionReference>scolProjPieceIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Billing_Item_Price</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Project_with_Recurring_Rev</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Project_Piece_IDs</name>
        <label>Get All Project Piece IDs</label>
        <locationX>36</locationX>
        <locationY>127</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Proj_Pieces</targetReference>
        </connector>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </filters>
        <object>Project_Piece__c</object>
        <outputReference>scolProjPieceIDs</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Billing_Item_Price</name>
        <label>Get Billing Item Price</label>
        <locationX>296</locationX>
        <locationY>234</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Current_Total_Price_to_Total_Total_Price</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Add_Current_Total_Price_to_Total_Total_Price</targetReference>
        </faultConnector>
        <filters>
            <field>Related_Project_Piece__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>svarProjPieceID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Revenue_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recurring</stringValue>
            </value>
        </filters>
        <object>Billing_Item__c</object>
        <outputReference>svarCurrentBillingItemTotalPrice</outputReference>
        <queriedFields>Total_Price__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_ID</name>
        <label>Get Project ID</label>
        <locationX>35</locationX>
        <locationY>17</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Project_Piece_IDs</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjPieceID</elementReference>
            </value>
        </filters>
        <object>Project_Piece__c</object>
        <outputAssignments>
            <assignToReference>varProjectID</assignToReference>
            <field>Project__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project_with_Recurring_Rev</name>
        <label>Update Project with Recurring Rev</label>
        <locationX>35</locationX>
        <locationY>361</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_Recurring_Revenue__c</field>
            <value>
                <elementReference>varTotalTotalPrice</elementReference>
            </value>
        </inputAssignments>
        <object>SFDC_520_Quote__c</object>
    </recordUpdates>
    <startElementReference>Testing</startElementReference>
    <variables>
        <name>scolBillingItemTotalPrice</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing_Item__c</objectType>
    </variables>
    <variables>
        <name>scolProjPieceIDs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Piece__c</objectType>
    </variables>
    <variables>
        <name>svarBITotalPrice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing_Item__c</objectType>
    </variables>
    <variables>
        <name>svarCurrentBillingItemTotalPrice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing_Item__c</objectType>
    </variables>
    <variables>
        <name>svarProjPieceID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Piece__c</objectType>
    </variables>
    <variables>
        <name>varProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProjPieceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTotalTotalPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
