flows/ChatterfeedonCR_Sprint-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PostedtoCR</name>
        <label>PostedtoCR</label>
        <locationX>613</locationX>
        <locationY>197</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varWorkCRID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>CRChatterMessage</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varCRFeedId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <decisions>
        <name>Check_for_null_Sprint</name>
        <label>Check for null Sprint</label>
        <locationX>620</locationX>
        <locationY>54</locationY>
        <defaultConnector>
            <targetReference>PostedtoCR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSprint</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <label>ChatterfeedonCR-Sprint</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetWorkRecord</name>
        <label>GetWorkRecord</label>
        <locationX>251</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SprintInfo</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWorkID</elementReference>
            </value>
        </filters>
        <object>agf__ADM_Work__c</object>
        <outputAssignments>
            <assignToReference>varWorkCRID</assignToReference>
            <field>Change_Request_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varWorkName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSprintName</assignToReference>
            <field>agf__Sprint_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSprint</assignToReference>
            <field>agf__Sprint__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>SprintInfo</name>
        <label>SprintInfo</label>
        <locationX>436</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_null_Sprint</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSprintName</elementReference>
            </value>
        </filters>
        <object>agf__ADM_Sprint__c</object>
        <outputAssignments>
            <assignToReference>varSprintStartDate</assignToReference>
            <field>agf__Start_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>GetWorkRecord</startElementReference>
    <textTemplates>
        <name>CRChatterMessage</name>
        <text>{!varWorkName} is assigned to a sprint scheduled to start on {!varSprintStartDate}.</text>
    </textTemplates>
    <variables>
        <name>type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCRFeedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMilestone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSprint</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSprintName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSprintStartDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStatus</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varWorkCRID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varWorkFeedContent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varWorkFeedID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varWorkID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>a84190000004DPj</stringValue>
        </value>
    </variables>
    <variables>
        <name>varWorkName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varWorkStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
