flows/Close_Lost_This_Opp-8.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Convert_PrevProb_to_Number</name>
        <label>Convert PrevProb to Number</label>
        <locationX>204</locationX>
        <locationY>273</locationY>
        <assignmentItems>
            <assignToReference>varPrevProbConverted</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConvertPrevProbToNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_PrevProb_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AAX</name>
        <choiceText>AAX</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AAX</stringValue>
        </value>
    </choices>
    <choices>
        <name>ACS</name>
        <choiceText>ACS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ACS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Adams</name>
        <choiceText>Adams</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Adams</stringValue>
        </value>
    </choices>
    <choices>
        <name>ADP</name>
        <choiceText>ADP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ADP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Advent</name>
        <choiceText>Advent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Advent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Aeros</name>
        <choiceText>Aeros</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Aeros</stringValue>
        </value>
    </choices>
    <choices>
        <name>AIT</name>
        <choiceText>AIT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AIT</stringValue>
        </value>
    </choices>
    <choices>
        <name>Algory</name>
        <choiceText>Algory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Algory</stringValue>
        </value>
    </choices>
    <choices>
        <name>Arkona</name>
        <choiceText>Arkona</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Arkona</stringValue>
        </value>
    </choices>
    <choices>
        <name>Auction_123</name>
        <choiceText>Auction 123</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Auction 123</stringValue>
        </value>
    </choices>
    <choices>
        <name>Auto_Jini</name>
        <choiceText>Auto Jini</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Auto Jini</stringValue>
        </value>
    </choices>
    <choices>
        <name>Auto_Jockey</name>
        <choiceText>Auto Jockey</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Auto Jockey</stringValue>
        </value>
    </choices>
    <choices>
        <name>Auto_Revo</name>
        <choiceText>Auto Revo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Auto Revo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Auto_Tracker</name>
        <choiceText>Auto Tracker</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Auto Tracker</stringValue>
        </value>
    </choices>
    <choices>
        <name>Auto_Uplink</name>
        <choiceText>Auto Uplink</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Auto Uplink</stringValue>
        </value>
    </choices>
    <choices>
        <name>AutoBase</name>
        <choiceText>AutoBase</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AutoBase</stringValue>
        </value>
    </choices>
    <choices>
        <name>AutoBytel</name>
        <choiceText>AutoBytel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AutoBytel</stringValue>
        </value>
    </choices>
    <choices>
        <name>AutoConX</name>
        <choiceText>AutoConX</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AutoConX</stringValue>
        </value>
    </choices>
    <choices>
        <name>AutoMate</name>
        <choiceText>AutoMate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Automate</stringValue>
        </value>
    </choices>
    <choices>
        <name>AutoOne</name>
        <choiceText>AutoOne</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AutoOne</stringValue>
        </value>
    </choices>
    <choices>
        <name>AutoSoft</name>
        <choiceText>AutoSoft</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AutoSoft</stringValue>
        </value>
    </choices>
    <choices>
        <name>Autostar</name>
        <choiceText>Autostar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Autostar</stringValue>
        </value>
    </choices>
    <choices>
        <name>AutoTrader</name>
        <choiceText>AutoTrader</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Autotrader</stringValue>
        </value>
    </choices>
    <choices>
        <name>AVV</name>
        <choiceText>AVV</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AVV</stringValue>
        </value>
    </choices>
    <choices>
        <name>Blue_Solutions</name>
        <choiceText>Blue Solutions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Blue Solutions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Buzz_Track</name>
        <choiceText>BuzzTrak</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Buzz Track</stringValue>
        </value>
    </choices>
    <choices>
        <name>BZ</name>
        <choiceText>BZ</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BZ</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Q_Voices</name>
        <choiceText>C.Q. Voices</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C.Q. Voices</stringValue>
        </value>
    </choices>
    <choices>
        <name>Car_Biz_MSP</name>
        <choiceText>Car Biz MSP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Car Biz MSP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Car_Doone</name>
        <choiceText>Car Doone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Car Doone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Car_Research</name>
        <choiceText>Car Research</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Car Research</stringValue>
        </value>
    </choices>
    <choices>
        <name>Carbase</name>
        <choiceText>Carbase</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Carbase</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cars_com</name>
        <choiceText>Cars.com</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cars.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>CarThink</name>
        <choiceText>CarThink</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CarThink</stringValue>
        </value>
    </choices>
    <choices>
        <name>carweek_com</name>
        <choiceText>carweek.com</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>carweek.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>CDM</name>
        <choiceText>CDM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CDM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Certas</name>
        <choiceText>Certas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Certas</stringValue>
        </value>
    </choices>
    <choices>
        <name>Chase_Abbott</name>
        <choiceText>Chase Abbott</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00570000000oWYj</stringValue>
        </value>
    </choices>
    <choices>
        <name>Chrome_Systems</name>
        <choiceText>Chrome Systems</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chrome Systems</stringValue>
        </value>
    </choices>
    <choices>
        <name>Chrysler_Five_Star</name>
        <choiceText>Chrysler Five Star</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chrysler Five Star</stringValue>
        </value>
    </choices>
    <choices>
        <name>Citrix</name>
        <choiceText>Citrix</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Citrix</stringValue>
        </value>
    </choices>
    <choices>
        <name>CM_Data</name>
        <choiceText>CM Data</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CM Data</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cobalt</name>
        <choiceText>Cobalt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cobalt</stringValue>
        </value>
    </choices>
    <choices>
        <name>Compass</name>
        <choiceText>Compass</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Compass</stringValue>
        </value>
    </choices>
    <choices>
        <name>Complete_Dealer_Solutions</name>
        <choiceText>Complete Dealer Solutions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Complete Dealer Solutions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contact_Manager_Reynolds</name>
        <choiceText>Contact Manager - Reynolds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact Manager - Reynolds</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dads</name>
        <choiceText>Dads</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dads</stringValue>
        </value>
    </choices>
    <choices>
        <name>DDS</name>
        <choiceText>DDS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DDS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dealer123</name>
        <choiceText>Dealer123</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dealer123</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dealer_Car_Search</name>
        <choiceText>Dealer Car Search</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>dealer car search</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dealer_Click</name>
        <choiceText>Dealer Click</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dealer Click</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dealer_com</name>
        <choiceText>Dealer.com</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dealer.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dealer_Connect</name>
        <choiceText>Dealer Connect</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dealer Connect</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dealer_Data</name>
        <choiceText>Dealer Data</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dealer Data</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dealer_Express</name>
        <choiceText>Dealer Express</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dealer Express</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dealer_Impact</name>
        <choiceText>Dealer Impact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dealer Impact</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dealer_Made</name>
        <choiceText>Dealer Made</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dealer Made</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dealer_Marketing_Service</name>
        <choiceText>Dealer Marketing Service</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dealer Marketing Service</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dealer_Mine</name>
        <choiceText>Dealer Mine</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dealer Mine</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dealer_Peak</name>
        <choiceText>Dealer Peak</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dealer Peak</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dealer_Socket</name>
        <choiceText>Dealer Socket</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dealer Socket</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dealer_Specialties</name>
        <choiceText>Dealer Specialties</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dealer Specialties</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dealer_Track</name>
        <choiceText>Dealer Track</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dealer Track</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dealer_Trend</name>
        <choiceText>Dealer Trend</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dealer Trend</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dealer_Ups</name>
        <choiceText>Dealer Ups</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dealer Ups</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dealerconnection_com</name>
        <choiceText>Dealerconnection.com</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dealerconnection.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dealerfeed</name>
        <choiceText>Dealerfeed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dealerfeed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dealeron_com</name>
        <choiceText>Dealeron.com</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dealeron.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dealerserve_com</name>
        <choiceText>Dealerserve.com</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DealerServe.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dealerskins</name>
        <choiceText>Dealerskins</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dealerskins</stringValue>
        </value>
    </choices>
    <choices>
        <name>DealTimer</name>
        <choiceText>DealTimer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DealTimer</stringValue>
        </value>
    </choices>
    <choices>
        <name>DNS_eSolutions</name>
        <choiceText>DNS eSolutions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DNS eSolutions</stringValue>
        </value>
    </choices>
    <choices>
        <name>DPC</name>
        <choiceText>DPC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DPC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Duplicate_Opportunity</name>
        <choiceText>Duplicate Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicate Opportunity</stringValue>
        </value>
    </choices>
    <choices>
        <name>eBiz</name>
        <choiceText>eBiz</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>eBiz</stringValue>
        </value>
    </choices>
    <choices>
        <name>eCarList</name>
        <choiceText>eCarList</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>eCarList</stringValue>
        </value>
    </choices>
    <choices>
        <name>Edge</name>
        <choiceText>Edge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Edge</stringValue>
        </value>
    </choices>
    <choices>
        <name>EDS</name>
        <choiceText>EDS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EDS</stringValue>
        </value>
    </choices>
    <choices>
        <name>eLead</name>
        <choiceText>eLead</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>eLead</stringValue>
        </value>
    </choices>
    <choices>
        <name>FEI_Systems</name>
        <choiceText>FEI Systems</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FEI Systems</stringValue>
        </value>
    </choices>
    <choices>
        <name>First_Look</name>
        <choiceText>First Look</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>First Look</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ford_Direct</name>
        <choiceText>Ford Direct</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ford Direct</stringValue>
        </value>
    </choices>
    <choices>
        <name>Genisys</name>
        <choiceText>Genisys</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Genisys</stringValue>
        </value>
    </choices>
    <choices>
        <name>Grapevine</name>
        <choiceText>Grapevine</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Grapevine</stringValue>
        </value>
    </choices>
    <choices>
        <name>Gulf_States_Marketing</name>
        <choiceText>Gulf States Marketing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gulf States Marketing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Henry_Group</name>
        <choiceText>Henry Group</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Henry Group</stringValue>
        </value>
    </choices>
    <choices>
        <name>Higher_Gear</name>
        <choiceText>Higher Gear</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Higher Gear</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hobbs_Automotive</name>
        <choiceText>Hobbs Automotive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hobbs Automotive</stringValue>
        </value>
    </choices>
    <choices>
        <name>HomeNet</name>
        <choiceText>HomeNet</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HomeNet</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hyperdrive_Technologies</name>
        <choiceText>Hyperdrive Technologies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hyperdrive Technologies</stringValue>
        </value>
    </choices>
    <choices>
        <name>IDO_Kansas_City</name>
        <choiceText>IDO - Kansas City</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IDO - Kansas City</stringValue>
        </value>
    </choices>
    <choices>
        <name>iMagicLab</name>
        <choiceText>iMagicLab</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>iMagicLab</stringValue>
        </value>
    </choices>
    <choices>
        <name>Infiniti_net</name>
        <choiceText>Infiniti.net</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Infiniti.net</stringValue>
        </value>
    </choices>
    <choices>
        <name>Innovative_Dealer_Services</name>
        <choiceText>Innovative Dealer Services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Innovative Dealer Services</stringValue>
        </value>
    </choices>
    <choices>
        <name>Internet_Manager_Design</name>
        <choiceText>Internet Manager Design</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internet Manager Design</stringValue>
        </value>
    </choices>
    <choices>
        <name>iPublisher</name>
        <choiceText>iPublisher</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>iPublisher</stringValue>
        </value>
    </choices>
    <choices>
        <name>Izmo</name>
        <choiceText>Izmo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Izmo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Jarvis</name>
        <choiceText>Jarvis</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jarvis</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lead_Manager_Chrysler</name>
        <choiceText>Lead Manager - Chrysler</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead Manager - Chrysler</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lightyear</name>
        <choiceText>Lightyear</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lightyear</stringValue>
        </value>
    </choices>
    <choices>
        <name>LMCC</name>
        <choiceText>LMCC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LMCC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Local</name>
        <choiceText>Local</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Local</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lost_to_Competitor</name>
        <choiceText>Lost to Competitor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lost to Competitor</stringValue>
        </value>
    </choices>
    <choices>
        <name>LSI</name>
        <choiceText>LSI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LSI</stringValue>
        </value>
    </choices>
    <choices>
        <name>LTTF</name>
        <choiceText>LTTF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LTTF</stringValue>
        </value>
    </choices>
    <choices>
        <name>Luminus</name>
        <choiceText>Luminus</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Luminus</stringValue>
        </value>
    </choices>
    <choices>
        <name>Manager_designed</name>
        <choiceText>Manager designed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manager designed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Manufacturer</name>
        <choiceText>Manufacturer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manufacturer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Marketrend</name>
        <choiceText>Marketrend</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marketrend</stringValue>
        </value>
    </choices>
    <choices>
        <name>Microsoft_Access</name>
        <choiceText>Microsoft Access</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Microsoft Access</stringValue>
        </value>
    </choices>
    <choices>
        <name>MJMI</name>
        <choiceText>MJMI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MJMI</stringValue>
        </value>
    </choices>
    <choices>
        <name>Money_Maker</name>
        <choiceText>Money Maker</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Money Maker</stringValue>
        </value>
    </choices>
    <choices>
        <name>MotoWeb</name>
        <choiceText>MotoWeb</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MotoWeb</stringValue>
        </value>
    </choices>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>Navarro_Studios</name>
        <choiceText>Navarro Studios</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Navarro Studios</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nettrac</name>
        <choiceText>Nettrac</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nettrac</stringValue>
        </value>
    </choices>
    <choices>
        <name>NetX</name>
        <choiceText>NetX</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NetX</stringValue>
        </value>
    </choices>
    <choices>
        <name>Never_Webexed</name>
        <choiceText>Never Webexed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Never Webexed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nexteppe</name>
        <choiceText>Nexteppe</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nexteppe</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Budget</name>
        <choiceText>No Budget</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Budget</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Interest_in_Change</name>
        <choiceText>No Interest in Change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Interest in Change</stringValue>
        </value>
    </choices>
    <choices>
        <name>None_In_House</name>
        <choiceText>None, In House</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None, In House</stringValue>
        </value>
    </choices>
    <choices>
        <name>One_Source</name>
        <choiceText>One Source</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One Source</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Our_DIY</name>
        <choiceText>Our DIY</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Our DIY</stringValue>
        </value>
    </choices>
    <choices>
        <name>Outlook</name>
        <choiceText>Outlook</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outlook</stringValue>
        </value>
    </choices>
    <choices>
        <name>Previous_Customer</name>
        <choiceText>Previous Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Previous Customer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pricing</name>
        <choiceText>Pricing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pricing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Procare</name>
        <choiceText>Procare</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Procare</stringValue>
        </value>
    </choices>
    <choices>
        <name>Promax</name>
        <choiceText>Promax</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Promax</stringValue>
        </value>
    </choices>
    <choices>
        <name>promethods_com</name>
        <choiceText>promethods.com</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>promethods.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pulse_Track</name>
        <choiceText>Pulse Track</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pulse Track</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pure_Dealer</name>
        <choiceText>Pure Dealer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pure Dealer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Quorum</name>
        <choiceText>Quorum</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quorum</stringValue>
        </value>
    </choices>
    <choices>
        <name>Randell_Horn</name>
        <choiceText>Randell Horn</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00570000000n1KA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reckon_Up</name>
        <choiceText>Reckon Up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reckon Up</stringValue>
        </value>
    </choices>
    <choices>
        <name>Red_Fox_Solutions</name>
        <choiceText>Red Fox Solutions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Red Fox Solutions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reynolds_Reynolds</name>
        <choiceText>Reynolds &amp; Reynolds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reynolds &amp; Reynolds</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reynolds_Web_Solutions</name>
        <choiceText>Reynolds (Web Solutions)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reynolds (Web Solutions)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sales_Edge</name>
        <choiceText>Sales Edge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales Edge</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sales_Point</name>
        <choiceText>Sales Point</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales Point</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sales_Pro</name>
        <choiceText>Sales Pro</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales Pro</stringValue>
        </value>
    </choices>
    <choices>
        <name>Self</name>
        <choiceText>Self</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Self</stringValue>
        </value>
    </choices>
    <choices>
        <name>Seritas</name>
        <choiceText>Seritas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Seritas</stringValue>
        </value>
    </choices>
    <choices>
        <name>Service_Canceled</name>
        <choiceText>Service Canceled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Service Canceled</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shawn_Morse</name>
        <choiceText>Shawn Morse</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00570000001IqzE</stringValue>
        </value>
    </choices>
    <choices>
        <name>Smart_Web_Concepts</name>
        <choiceText>Smart Web Concepts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Smart Web Concepts</stringValue>
        </value>
    </choices>
    <choices>
        <name>SmartWeb</name>
        <choiceText>SmartWeb</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SmartWeb</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sperry_Assoc</name>
        <choiceText>Sperry &amp; Assoc.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sperry &amp; Assoc.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stephen_Keen</name>
        <choiceText>Stephen Keen</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00570000000njuz</stringValue>
        </value>
    </choices>
    <choices>
        <name>Street_Smart</name>
        <choiceText>Street Smart</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Street Smart</stringValue>
        </value>
    </choices>
    <choices>
        <name>Surf_4_Net</name>
        <choiceText>Surf 4 Net</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Surf 4 Net</stringValue>
        </value>
    </choices>
    <choices>
        <name>TH</name>
        <choiceText>TH</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TH</stringValue>
        </value>
    </choices>
    <choices>
        <name>The_NetLab</name>
        <choiceText>TheNetLab</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TheNetLab</stringValue>
        </value>
    </choices>
    <choices>
        <name>TK_Carsites</name>
        <choiceText>TK Carsites</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TK Carsites</stringValue>
        </value>
    </choices>
    <choices>
        <name>TK_Lead_Manager</name>
        <choiceText>TK Lead Manager</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TK Lead Manager</stringValue>
        </value>
    </choices>
    <choices>
        <name>Torque</name>
        <choiceText>Torque</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Torque</stringValue>
        </value>
    </choices>
    <choices>
        <name>Traver_Technologies</name>
        <choiceText>Traver Technologies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Traver Technologies</stringValue>
        </value>
    </choices>
    <choices>
        <name>UCS</name>
        <choiceText>UCS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UCS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unresponsive</name>
        <choiceText>Unresponsive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unresponsive</stringValue>
        </value>
    </choices>
    <choices>
        <name>vAuto</name>
        <choiceText>vAuto</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>vAuto</stringValue>
        </value>
    </choices>
    <choices>
        <name>Vehicledata</name>
        <choiceText>Vehicledata</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vehicledata</stringValue>
        </value>
    </choices>
    <choices>
        <name>vin2web_com</name>
        <choiceText>vin2web.com</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>vin2web.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>VIN_Assist</name>
        <choiceText>VIN Assist</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VIN Assist</stringValue>
        </value>
    </choices>
    <choices>
        <name>VinSolutions</name>
        <choiceText>VinSolutions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vinsolutions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Votenza</name>
        <choiceText>Votenza</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Votenza</stringValue>
        </value>
    </choices>
    <choices>
        <name>Web_Jockey</name>
        <choiceText>Web Jockey</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Web Jockey</stringValue>
        </value>
    </choices>
    <choices>
        <name>Web_Maker</name>
        <choiceText>Web Maker</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Web Maker</stringValue>
        </value>
    </choices>
    <choices>
        <name>Web_Tech_Services</name>
        <choiceText>Web Tech Services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Web Tech Services</stringValue>
        </value>
    </choices>
    <choices>
        <name>WebControl</name>
        <choiceText>WebControl</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WebControl</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wilson_Technologies</name>
        <choiceText>Wilson Technologies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wilson Technologies</stringValue>
        </value>
    </choices>
    <choices>
        <name>XI_Group</name>
        <choiceText>XI Group</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>XI Group</stringValue>
        </value>
    </choices>
    <choices>
        <name>Zincom</name>
        <choiceText>Zincom</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Zincom</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Are_You_a_Director</name>
        <label>Are You a Director</label>
        <locationX>23</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Is_Prob_70</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Am_Director</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varClickerRoleID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E70000001GJrp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varClickerRoleID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E70000000yjXQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varClickerRoleID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E70000001CEso</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varClickerProfileID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e70000000wzXQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varClickerProfileID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e70000001FaWM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varClickerProfileID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e70000001FiDh</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Why_Closed_Lost</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Competitor_Already_Filled</name>
        <label>Competitor Already Filled</label>
        <locationX>717</locationX>
        <locationY>270</locationY>
        <defaultConnector>
            <targetReference>Update_Opp_Not_Competitor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoCompetitorFilled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCompetitor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Declare_Competitor</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>decLost_to_Competitor</name>
        <label>Lost to Competitor?</label>
        <locationX>547</locationX>
        <locationY>270</locationY>
        <defaultConnector>
            <targetReference>Update_Opp_Not_Competitor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesLostToCompetitor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReasonClosedLost</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Lost_to_Competitor</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Competitor_Already_Filled</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_PrevProb_0</name>
        <label>Is PrevProb &gt; 0</label>
        <locationX>384</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Why_Closed_Lost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesGreaterThan0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPrevProbConverted</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_a_Director</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Prob_70</name>
        <label>Is Prob &gt;= 70</label>
        <locationX>204</locationX>
        <locationY>41</locationY>
        <defaultConnector>
            <targetReference>Get_Previous_Prob</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Prob70_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOppProb</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>70.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_a_Director</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Restricts and gives gated access to Close Lost an Opp to all Sales personnel.</description>
    <formulas>
        <name>ConvertPrevProbToNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!varPrevProb})</expression>
        <scale>0</scale>
    </formulas>
    <label>Close Lost This Opp</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Chatter_Post</name>
        <label>Chatter Post</label>
        <locationX>876</locationX>
        <locationY>41</locationY>
        <connector>
            <targetReference>Task_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <stringValue>Please evaluate and set this Opportunity to Closed or Lost per {!varClickerFirstName} {!varClickerLastName}&apos;s request.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkUrl</field>
            <value>
                <stringValue>http://na5.salesforce.com/{!varOppID}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>choiceDirector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <stringValue>Close Lost This Opp</stringValue>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>551</locationX>
        <locationY>41</locationY>
        <assignRecordIdToReference>varCreatedTaskID</assignRecordIdToReference>
        <connector>
            <targetReference>Chatter_Post</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>TaskComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>choiceDirector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>WFT - Closed Lost Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Previous_Prob</name>
        <label>Get Previous Prob</label>
        <locationX>204</locationX>
        <locationY>161</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Convert_PrevProb_to_Number</targetReference>
        </connector>
        <filters>
            <field>CreatedDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Field</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Probability (%)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <object>OpportunityFieldHistory</object>
        <outputAssignments>
            <assignToReference>varPrevProb</assignToReference>
            <field>NewValue</field>
        </outputAssignments>
        <sortField>NewValue</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp_Not_Competitor</name>
        <label>Update Opp Not Competitor</label>
        <locationX>547</locationX>
        <locationY>392</locationY>
        <connector>
            <targetReference>SuccessClosedLost</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason_Closed_Lost__c</field>
            <value>
                <elementReference>ReasonClosedLost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed or Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_w_Competitor</name>
        <label>Update Opp w/ Competitor</label>
        <locationX>892</locationX>
        <locationY>392</locationY>
        <connector>
            <targetReference>SuccessClosedLost</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Competitor__c</field>
            <value>
                <elementReference>CompetitorDropdown</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Closed_Lost__c</field>
            <value>
                <elementReference>ReasonClosedLost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed or Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Choose_a_Director</name>
        <label>Choose a Director</label>
        <locationX>384</locationX>
        <locationY>41</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <fields>
            <name>textChooseDirector</name>
            <fieldText>You will need a sales director to closed lost this opportunity. Choose one to make the request to:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>choiceDirector</name>
            <choiceReferences>Shawn_Morse</choiceReferences>
            <choiceReferences>Chase_Abbott</choiceReferences>
            <choiceReferences>Stephen_Keen</choiceReferences>
            <choiceReferences>Randell_Horn</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Declare_Competitor</name>
        <label>Declare Competitor</label>
        <locationX>892</locationX>
        <locationY>272</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Opp_w_Competitor</targetReference>
        </connector>
        <fields>
            <name>CompetitorDropdown</name>
            <choiceReferences>AAX</choiceReferences>
            <choiceReferences>ACS</choiceReferences>
            <choiceReferences>Adams</choiceReferences>
            <choiceReferences>ADP</choiceReferences>
            <choiceReferences>Advent</choiceReferences>
            <choiceReferences>Aeros</choiceReferences>
            <choiceReferences>AIT</choiceReferences>
            <choiceReferences>Algory</choiceReferences>
            <choiceReferences>Arkona</choiceReferences>
            <choiceReferences>Auction_123</choiceReferences>
            <choiceReferences>AutoBase</choiceReferences>
            <choiceReferences>AutoBytel</choiceReferences>
            <choiceReferences>AutoConX</choiceReferences>
            <choiceReferences>Auto_Jini</choiceReferences>
            <choiceReferences>Auto_Jockey</choiceReferences>
            <choiceReferences>AutoMate</choiceReferences>
            <choiceReferences>AutoOne</choiceReferences>
            <choiceReferences>Auto_Revo</choiceReferences>
            <choiceReferences>AutoSoft</choiceReferences>
            <choiceReferences>Autostar</choiceReferences>
            <choiceReferences>Auto_Tracker</choiceReferences>
            <choiceReferences>AutoTrader</choiceReferences>
            <choiceReferences>Auto_Uplink</choiceReferences>
            <choiceReferences>AVV</choiceReferences>
            <choiceReferences>Blue_Solutions</choiceReferences>
            <choiceReferences>Buzz_Track</choiceReferences>
            <choiceReferences>BZ</choiceReferences>
            <choiceReferences>C_Q_Voices</choiceReferences>
            <choiceReferences>Carbase</choiceReferences>
            <choiceReferences>Car_Biz_MSP</choiceReferences>
            <choiceReferences>Car_Doone</choiceReferences>
            <choiceReferences>Car_Research</choiceReferences>
            <choiceReferences>Cars_com</choiceReferences>
            <choiceReferences>CarThink</choiceReferences>
            <choiceReferences>carweek_com</choiceReferences>
            <choiceReferences>CDM</choiceReferences>
            <choiceReferences>Certas</choiceReferences>
            <choiceReferences>Chrome_Systems</choiceReferences>
            <choiceReferences>Chrysler_Five_Star</choiceReferences>
            <choiceReferences>Citrix</choiceReferences>
            <choiceReferences>CM_Data</choiceReferences>
            <choiceReferences>Cobalt</choiceReferences>
            <choiceReferences>Compass</choiceReferences>
            <choiceReferences>Complete_Dealer_Solutions</choiceReferences>
            <choiceReferences>Contact_Manager_Reynolds</choiceReferences>
            <choiceReferences>Dads</choiceReferences>
            <choiceReferences>DDS</choiceReferences>
            <choiceReferences>Dealer_com</choiceReferences>
            <choiceReferences>Dealer123</choiceReferences>
            <choiceReferences>Dealer_Car_Search</choiceReferences>
            <choiceReferences>Dealer_Click</choiceReferences>
            <choiceReferences>Dealer_Connect</choiceReferences>
            <choiceReferences>Dealerconnection_com</choiceReferences>
            <choiceReferences>Dealer_Data</choiceReferences>
            <choiceReferences>Dealer_Express</choiceReferences>
            <choiceReferences>Dealerfeed</choiceReferences>
            <choiceReferences>Dealer_Impact</choiceReferences>
            <choiceReferences>Dealer_Made</choiceReferences>
            <choiceReferences>Dealer_Marketing_Service</choiceReferences>
            <choiceReferences>Dealer_Mine</choiceReferences>
            <choiceReferences>Dealeron_com</choiceReferences>
            <choiceReferences>Dealer_Peak</choiceReferences>
            <choiceReferences>Dealerserve_com</choiceReferences>
            <choiceReferences>Dealerskins</choiceReferences>
            <choiceReferences>Dealer_Socket</choiceReferences>
            <choiceReferences>Dealer_Specialties</choiceReferences>
            <choiceReferences>Dealer_Track</choiceReferences>
            <choiceReferences>Dealer_Trend</choiceReferences>
            <choiceReferences>Dealer_Ups</choiceReferences>
            <choiceReferences>DNS_eSolutions</choiceReferences>
            <choiceReferences>DPC</choiceReferences>
            <choiceReferences>eBiz</choiceReferences>
            <choiceReferences>eCarList</choiceReferences>
            <choiceReferences>Edge</choiceReferences>
            <choiceReferences>EDS</choiceReferences>
            <choiceReferences>eLead</choiceReferences>
            <choiceReferences>FEI_Systems</choiceReferences>
            <choiceReferences>First_Look</choiceReferences>
            <choiceReferences>Ford_Direct</choiceReferences>
            <choiceReferences>Genisys</choiceReferences>
            <choiceReferences>Grapevine</choiceReferences>
            <choiceReferences>Gulf_States_Marketing</choiceReferences>
            <choiceReferences>Henry_Group</choiceReferences>
            <choiceReferences>Higher_Gear</choiceReferences>
            <choiceReferences>Hobbs_Automotive</choiceReferences>
            <choiceReferences>HomeNet</choiceReferences>
            <choiceReferences>Hyperdrive_Technologies</choiceReferences>
            <choiceReferences>IDO_Kansas_City</choiceReferences>
            <choiceReferences>iMagicLab</choiceReferences>
            <choiceReferences>Infiniti_net</choiceReferences>
            <choiceReferences>Innovative_Dealer_Services</choiceReferences>
            <choiceReferences>Internet_Manager_Design</choiceReferences>
            <choiceReferences>iPublisher</choiceReferences>
            <choiceReferences>Izmo</choiceReferences>
            <choiceReferences>Jarvis</choiceReferences>
            <choiceReferences>Lead_Manager_Chrysler</choiceReferences>
            <choiceReferences>Lightyear</choiceReferences>
            <choiceReferences>LMCC</choiceReferences>
            <choiceReferences>Local</choiceReferences>
            <choiceReferences>LSI</choiceReferences>
            <choiceReferences>LTTF</choiceReferences>
            <choiceReferences>Luminus</choiceReferences>
            <choiceReferences>Manager_designed</choiceReferences>
            <choiceReferences>Manufacturer</choiceReferences>
            <choiceReferences>Marketrend</choiceReferences>
            <choiceReferences>Microsoft_Access</choiceReferences>
            <choiceReferences>MJMI</choiceReferences>
            <choiceReferences>Money_Maker</choiceReferences>
            <choiceReferences>MotoWeb</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <choiceReferences>Navarro_Studios</choiceReferences>
            <choiceReferences>Nettrac</choiceReferences>
            <choiceReferences>NetX</choiceReferences>
            <choiceReferences>Nexteppe</choiceReferences>
            <choiceReferences>None_In_House</choiceReferences>
            <choiceReferences>One_Source</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <choiceReferences>Our_DIY</choiceReferences>
            <choiceReferences>Outlook</choiceReferences>
            <choiceReferences>Previous_Customer</choiceReferences>
            <choiceReferences>Procare</choiceReferences>
            <choiceReferences>Promax</choiceReferences>
            <choiceReferences>promethods_com</choiceReferences>
            <choiceReferences>Pulse_Track</choiceReferences>
            <choiceReferences>Pure_Dealer</choiceReferences>
            <choiceReferences>Quorum</choiceReferences>
            <choiceReferences>Reckon_Up</choiceReferences>
            <choiceReferences>Red_Fox_Solutions</choiceReferences>
            <choiceReferences>Reynolds_Reynolds</choiceReferences>
            <choiceReferences>Reynolds_Web_Solutions</choiceReferences>
            <choiceReferences>Sales_Edge</choiceReferences>
            <choiceReferences>Sales_Point</choiceReferences>
            <choiceReferences>Sales_Pro</choiceReferences>
            <choiceReferences>Self</choiceReferences>
            <choiceReferences>Seritas</choiceReferences>
            <choiceReferences>SmartWeb</choiceReferences>
            <choiceReferences>Smart_Web_Concepts</choiceReferences>
            <choiceReferences>Sperry_Assoc</choiceReferences>
            <choiceReferences>Street_Smart</choiceReferences>
            <choiceReferences>Surf_4_Net</choiceReferences>
            <choiceReferences>TH</choiceReferences>
            <choiceReferences>The_NetLab</choiceReferences>
            <choiceReferences>TK_Carsites</choiceReferences>
            <choiceReferences>TK_Lead_Manager</choiceReferences>
            <choiceReferences>Torque</choiceReferences>
            <choiceReferences>Traver_Technologies</choiceReferences>
            <choiceReferences>UCS</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <choiceReferences>vAuto</choiceReferences>
            <choiceReferences>Vehicledata</choiceReferences>
            <choiceReferences>vin2web_com</choiceReferences>
            <choiceReferences>VIN_Assist</choiceReferences>
            <choiceReferences>VinSolutions</choiceReferences>
            <choiceReferences>Votenza</choiceReferences>
            <choiceReferences>WebControl</choiceReferences>
            <choiceReferences>Web_Jockey</choiceReferences>
            <choiceReferences>Web_Maker</choiceReferences>
            <choiceReferences>Web_Tech_Services</choiceReferences>
            <choiceReferences>Wilson_Technologies</choiceReferences>
            <choiceReferences>XI_Group</choiceReferences>
            <choiceReferences>Zincom</choiceReferences>
            <choiceReferences>DealTimer</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What competitor was this Opportunity lost to?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Newer choices are at the bottom of the list.</helpText>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>722</locationX>
        <locationY>511</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Faultfault</name>
            <fieldText>{!FAULT}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Fault_Screen_0</name>
        <label>Fault Screen</label>
        <locationX>714</locationX>
        <locationY>160</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Faultfault_0</name>
            <fieldText>{!FAULT}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>SuccessClosedLost</name>
        <label>Success ClosedLost</label>
        <locationX>721</locationX>
        <locationY>392</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>stateSuccess</name>
            <fieldText>This opportunity has been set to Closed or Lost successfully. An email has been sent to Stephen Keen notifying him of this.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Task_Success</name>
        <label>Task Success</label>
        <locationX>1032</locationX>
        <locationY>41</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>textTaskSuccess</name>
            <fieldText>The director now has a task assigned to him to review this Opp and set it to Closed Lost, and will receive an email/Chatter post notifying him of this.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Why_Closed_Lost</name>
        <label>Why Closed Lost</label>
        <locationX>384</locationX>
        <locationY>270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decLost_to_Competitor</targetReference>
        </connector>
        <fields>
            <name>ReasonClosedLost</name>
            <choiceReferences>Duplicate_Opportunity</choiceReferences>
            <choiceReferences>Lost_to_Competitor</choiceReferences>
            <choiceReferences>Never_Webexed</choiceReferences>
            <choiceReferences>No_Budget</choiceReferences>
            <choiceReferences>No_Interest_in_Change</choiceReferences>
            <choiceReferences>Pricing</choiceReferences>
            <choiceReferences>Service_Canceled</choiceReferences>
            <choiceReferences>Unresponsive</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please enter the reason this opportunity is Closed Lost:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>debugProb</name>
            <fieldText>Prob: {!varOppProb}
Prev Prob: {!varPrevProb}
Prev Prob Converted: {!varPrevProbConverted}
ConvertPrevProbToNumber: {!ConvertPrevProbToNumber}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Are_You_a_Director</startElementReference>
    <textTemplates>
        <name>FAULT</name>
        <text>ERROR. This request has NOT been completed.
Please email these details to your Salesforce admin. (NOT MAGGIE)

Clicker ID: {!varClickerID}
Clicker Role: {!varClickerRoleID}
Opp ID: {!varOppID}
Director: {!choiceDirector}

Error Code: ${!varOppProb}#{!varPrevProb}@{!varPrevProbConverted}!{!ConvertPrevProbToNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>TaskComments</name>
        <text>Please evaluate and set this Opportunity to Closed or Lost per {!varClickerFirstName} {!varClickerLastName}&apos;s request.</text>
    </textTemplates>
    <variables>
        <name>varClickerFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClickerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClickerLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClickerProfileID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClickerRoleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCompetitor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCreatedTaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppProb</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varPrevProb</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPrevProbConverted</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
