flows/Closed_Lost_This_Opp_v2-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Email_Director</name>
        <label>Email Director</label>
        <locationX>578</locationX>
        <locationY>382</locationY>
        <apexClass>SendEmail</apexClass>
        <connector>
            <targetReference>Task_Email_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>EMAIL_FAULT_SCREEN</targetReference>
        </faultConnector>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddress</name>
            <value>
                <elementReference>varDirectorEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Closed Lost Request</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varEmailErrorMsg</assignToReference>
            <name>ErrorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varEmailStatus</assignToReference>
            <name>Status</name>
        </outputParameters>
    </apexPluginCalls>
    <choices>
        <name>Chase_Abbott</name>
        <choiceText>Chase Abbott</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00570000000oWYj</stringValue>
        </value>
    </choices>
    <choices>
        <name>Duplicate_Opportunity</name>
        <choiceText>Duplicate Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicate Opportunity</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lost_to_Competitor</name>
        <choiceText>Lost to Competitor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lost to Competitor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Never_Webexed</name>
        <choiceText>Never Webexed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Never Webexed</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Budget</name>
        <choiceText>No Budget</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Budget</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Interest_in_Change</name>
        <choiceText>No Interest in Change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Interest in Change</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pricing</name>
        <choiceText>Pricing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pricing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Randell_Horn</name>
        <choiceText>Randell Horn</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00570000000n1KA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Service_Cancelled</name>
        <choiceText>Service Canceled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Service Canceled</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shawn_Morse</name>
        <choiceText>Shawn Morse</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00570000001IqzE</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stephen_Keen</name>
        <choiceText>Stephen Keen</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00570000000njuz</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unresponsive</name>
        <choiceText>Unresponsive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unresponsive</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_a_Director</name>
        <label>Is a Director?</label>
        <locationX>224</locationX>
        <locationY>27</locationY>
        <defaultConnector>
            <targetReference>Need_Director_Splash</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesDirector</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varClickerRoleID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E70000001GJrp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varClickerRoleID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E70000000yjXQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varClickerRoleID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E70000001CEso</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varClickerProfileID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e70000000wzXQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varClickerProfileID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e70000001FaWM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varClickerProfileID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e70000001FiDh</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Why_Closed_Lost</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Competitor_Needed_and_Filled</name>
        <label>Is Competitor Filled If Needed</label>
        <locationX>223</locationX>
        <locationY>382</locationY>
        <defaultConnector>
            <targetReference>Mark_Opp_Closed_Lost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoCompetitorWrong</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCompetitor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Please_enter_the_reason_this_opportunity_is_Closed_Lost</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Lost_to_Competitor</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Competitor_Needed</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Prev_Prob_Blank</name>
        <label>Is Prev Prob Blank</label>
        <locationX>392</locationX>
        <locationY>106</locationY>
        <defaultConnector>
            <targetReference>Why_Closed_Lost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPrevProb</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Need_Director_Splash</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Prob_Greater_Than_70</name>
        <label>Is Prob Greater Than 70</label>
        <locationX>26</locationX>
        <locationY>29</locationY>
        <defaultConnector>
            <targetReference>Get_Prev_Prob</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesGreaterThan70</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOppProb</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>70.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_a_Director</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Corrected Competitor checking.</description>
    <label>Closed Lost This Opp v2</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Director_Task</name>
        <label>Director Task</label>
        <locationX>577</locationX>
        <locationY>145</locationY>
        <assignRecordIdToReference>varCreatedTaskID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Director_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>TaskComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Directors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>WFT - Closed Lost Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Director_Email</name>
        <label>Get Director Email</label>
        <locationX>577</locationX>
        <locationY>257</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Director</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Directors</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varDirectorEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Prev_Prob</name>
        <label>Get Prev Prob</label>
        <locationX>26</locationX>
        <locationY>151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Prev_Prob_Blank</targetReference>
        </connector>
        <filters>
            <field>CreatedDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Probability</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>70.0</numberValue>
            </value>
        </filters>
        <object>OpportunityHistory</object>
        <outputAssignments>
            <assignToReference>varPrevProb</assignToReference>
            <field>Probability</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Mark_Opp_Closed_Lost</name>
        <label>Mark Opp Closed Lost</label>
        <locationX>223</locationX>
        <locationY>501</locationY>
        <connector>
            <targetReference>Closed_Lost_Success</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason_Closed_Lost__c</field>
            <value>
                <elementReference>Please_enter_the_reason_this_opportunity_is_Closed_Lost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed or Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Closed_Lost_Success</name>
        <label>Closed Lost Success</label>
        <locationX>223</locationX>
        <locationY>626</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClosedLostSuccessText</name>
            <fieldText>This opportunity has been set to Closed or Lost successfully. An email has been sent to Stephen Keen notifying him of this.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Competitor_Needed</name>
        <label>Competitor Needed</label>
        <locationX>24</locationX>
        <locationY>382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CompetitorNeededText</name>
            <fieldText>You must fill in the Competitor field on the Opportunity to proceed. Please click Finish to return the opp, fill this out, then click the Close Opp button again.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>EMAIL_FAULT_SCREEN</name>
        <label>EMAIL FAULT SCREEN</label>
        <locationX>795</locationX>
        <locationY>320</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EmailFault</name>
            <fieldText>ERROR:
Please send this information to the Salesforce team.
Status: {!varEmailStatus}
Message: {!varEmailErrorMsg}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Need_Director_Splash</name>
        <label>Need a Director</label>
        <locationX>577</locationX>
        <locationY>27</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Director_Task</targetReference>
        </connector>
        <fields>
            <name>NeedDirectorText</name>
            <fieldText>You will need a sales director to closed lost this opportunity. Choose one to make the request to:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Directors</name>
            <choiceReferences>Chase_Abbott</choiceReferences>
            <choiceReferences>Randell_Horn</choiceReferences>
            <choiceReferences>Shawn_Morse</choiceReferences>
            <choiceReferences>Stephen_Keen</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Task_Email_Success</name>
        <label>Task/Email Success</label>
        <locationX>577</locationX>
        <locationY>500</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TaskEMailSuccessText</name>
            <fieldText>The director now has a task assigned to him to review this Opp and set it to Closed Lost, and will receive an email notifying him of this.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Why_Closed_Lost</name>
        <label>Why Closed Lost</label>
        <locationX>224</locationX>
        <locationY>270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Competitor_Needed_and_Filled</targetReference>
        </connector>
        <fields>
            <name>Please_enter_the_reason_this_opportunity_is_Closed_Lost</name>
            <choiceReferences>Duplicate_Opportunity</choiceReferences>
            <choiceReferences>Lost_to_Competitor</choiceReferences>
            <choiceReferences>Never_Webexed</choiceReferences>
            <choiceReferences>No_Budget</choiceReferences>
            <choiceReferences>No_Interest_in_Change</choiceReferences>
            <choiceReferences>Pricing</choiceReferences>
            <choiceReferences>Service_Cancelled</choiceReferences>
            <choiceReferences>Unresponsive</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please enter the reason this opportunity is Closed Lost:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Is_Prob_Greater_Than_70</startElementReference>
    <textTemplates>
        <name>EmailBody</name>
        <text>You have been requested to evaluate and set an Opportunity to Closed or Lost by {!varClickerFirstName} {!varClickerLastName}. A task has been created for you to complete this.

Please do so at your earliest convenience.

Link to task:
http://na5.salesforce.com/{!varCreatedTaskID}</text>
    </textTemplates>
    <textTemplates>
        <name>TaskComments</name>
        <text>Please evaluate and set this Opportunity to Closed or Lost per {!varClickerFirstName} {!varClickerLastName}&apos;s request.</text>
    </textTemplates>
    <variables>
        <name>varClickerFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClickerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClickerLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClickerProfileID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClickerRoleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCompetitor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCreatedTaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDirectorEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDirectorID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmailErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmailStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppProb</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varPrevProb</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
