flows/Complete_Task_and_Notify_v2-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FAULT_Email</name>
        <label>FAULT Email</label>
        <locationX>184</locationX>
        <locationY>328</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>FAULT</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txtErrorBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>FLOW ERROR - Complete Task and Notify v2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>ssg@coxautoinc.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_Email</name>
        <label>Send Notification Email</label>
        <locationX>397</locationX>
        <locationY>606</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Get_API_User_ID</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txtEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Task Complete</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varRecipientEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Set_Assigner_as_Recipient</name>
        <label>Set Assigner as Recipient</label>
        <locationX>545</locationX>
        <locationY>245</locationY>
        <assignmentItems>
            <assignToReference>varRecipientID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAssignerID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Recipient_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Creator_as_Recipient</name>
        <label>Set Creator as Recipient</label>
        <locationX>716</locationX>
        <locationY>249</locationY>
        <assignmentItems>
            <assignToReference>varRecipientID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCreatorID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Recipient_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Other_to_Recipient_ID</name>
        <label>Set Other to Recipient ID</label>
        <locationX>893</locationX>
        <locationY>251</locationY>
        <assignmentItems>
            <assignToReference>varRecipientID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Search_results</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Recipient_Info</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Last_Assigner</name>
        <choiceText>Last Assigner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Last Assigner</stringValue>
        </value>
    </choices>
    <choices>
        <name>Task_Creator</name>
        <choiceText>Task Creator</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Task Creator</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Profile_Name</name>
        <label>Check Profile Name</label>
        <locationX>718</locationX>
        <locationY>604</locationY>
        <defaultConnector>
            <targetReference>Update_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid</defaultConnectorLabel>
        <rules>
            <name>Not_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProfileName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_Recipient</targetReference>
            </connector>
            <label>Not Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Subject</name>
        <label>Valid Subject?</label>
        <locationX>203</locationX>
        <locationY>24</locationY>
        <defaultConnector>
            <targetReference>Not_For_This_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesValidSubject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSubject</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>WFT- Additional Info Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Creator_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Recipient</name>
        <label>Which Recipient</label>
        <locationX>715</locationX>
        <locationY>132</locationY>
        <defaultConnectorLabel>No Choice</defaultConnectorLabel>
        <rules>
            <name>Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Other_please_fill_in_first_name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Final_Recipient</targetReference>
            </connector>
            <label>Other</label>
        </rules>
        <rules>
            <name>Creator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Who_should_receive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task Creator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Creator_as_Recipient</targetReference>
            </connector>
            <label>Creator</label>
        </rules>
        <rules>
            <name>Assigner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Who_should_receive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Last Assigner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Assigner_as_Recipient</targetReference>
            </connector>
            <label>Assigner</label>
        </rules>
    </decisions>
    <description>Corrected bug with WFT owner</description>
    <dynamicChoiceSets>
        <name>NameSearchResults</name>
        <dataType>String</dataType>
        <displayField>User_Full_Name__c</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User_Full_Name__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>Other_please_fill_in_first_name</elementReference>
            </value>
        </filters>
        <filters>
            <field>User_License__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>User_Full_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Complete Task and Notify v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Complete Task and Notify v2</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_WFT</name>
        <label>Create WFT</label>
        <locationX>165</locationX>
        <locationY>605</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FAULT_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varAPIUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>WFT - Task Complete Email Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varTaskWhatID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_API_User_ID</name>
        <label>Get API User ID</label>
        <locationX>278</locationX>
        <locationY>506</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_WFT</targetReference>
        </connector>
        <filters>
            <field>CommunityNickname</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>api</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varAPIUserID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Assigner_ID</name>
        <label>Get Assigner ID</label>
        <locationX>555</locationX>
        <locationY>24</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Notes_and_Recipient</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FAULT_Email</targetReference>
        </faultConnector>
        <filters>
            <field>User_Full_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssignerName</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varAssignerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Creator_Name</name>
        <label>Get Creator Name</label>
        <locationX>396</locationX>
        <locationY>24</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assigner_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FAULT_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCreatorID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varCreatorName</assignToReference>
            <field>User_Full_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Profile_Name</name>
        <label>Get Profile Name</label>
        <locationX>718</locationX>
        <locationY>478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Profile_Name</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FAULT_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecipientProfileID</elementReference>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>varProfileName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Recipient_Info</name>
        <label>Get Recipient Info</label>
        <locationX>717</locationX>
        <locationY>363</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Profile_Name</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FAULT_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecipientID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varRecipientEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRecipientProfileID</assignToReference>
            <field>ProfileId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Data</name>
        <label>Get Task Data</label>
        <locationX>23</locationX>
        <locationY>24</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Subject</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FAULT_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTaskID</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>varCreatorID</assignToReference>
            <field>CreatedById</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAssignerName</assignToReference>
            <field>Last_Assigned_By__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSubject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTaskWhatID</assignToReference>
            <field>WhatId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>544</locationX>
        <locationY>604</locationY>
        <connector>
            <targetReference>Send_Notification_Email</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FAULT_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTaskID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Solution_Notes__c</field>
            <value>
                <elementReference>getNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <screens>
        <name>Choose_Final_Recipient</name>
        <label>Choose Final Recipient</label>
        <locationX>893</locationX>
        <locationY>133</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Other_to_Recipient_ID</targetReference>
        </connector>
        <fields>
            <name>Search_results</name>
            <choiceReferences>NameSearchResults</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Search results:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>FAULT</name>
        <label>FAULT</label>
        <locationX>55</locationX>
        <locationY>416</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtFault</name>
            <fieldText>Error! The Salesforce team has been notified.

Who: {!varClickerName}
Task: {!varTaskID}
Recipient: {!varRecipientID}
Chosen Option: {!Who_should_receive}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Get_Notes_and_Recipient</name>
        <label>Get Notes and Recipient</label>
        <locationX>715</locationX>
        <locationY>24</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_Recipient</targetReference>
        </connector>
        <fields>
            <name>txtNotes</name>
            <fieldText>Please enter the notes for this Task. These will go in the Solution Notes field of this task, and will be emailed to the recipient designated below. (255 character limit)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>getNotes</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Who_should_receive</name>
            <choiceReferences>Task_Creator</choiceReferences>
            <choiceReferences>Last_Assigner</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Who should receive the notification?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_please_fill_in_first_name</name>
            <dataType>String</dataType>
            <fieldText>Other (please fill in first name)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Invalid_Recipient</name>
        <label>Invalid Recipient</label>
        <locationX>1122</locationX>
        <locationY>250</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Notes_and_Recipient</targetReference>
        </connector>
        <fields>
            <name>txtInvalid</name>
            <fieldText>The recipient you have chosen to notify is not a valid choice. This is probably because it is an automatically-generated task, and you have accidentally chosen a Salesforce admin. 

Please use the &quot;Other&quot; search to find the correct person to notify!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Not_For_This_Flow</name>
        <label>Not For This Flow</label>
        <locationX>203</locationX>
        <locationY>140</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtNotForThisFlow</name>
            <fieldText>The Complete and Notify functionality does not work for Additional Info Requests.

You MUST use the &quot;Submit More Info&quot; case runner button to communicate back regarding the Info Request. To close this task, use the normal method of setting the Status to &quot;Completed&quot;.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>14</locationX>
        <locationY>604</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtComplete</name>
            <fieldText>The chosen recipient has been sent an email, notifying them of this task&apos;s completion. The task has also been marked as Completed.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Get_Task_Data</startElementReference>
    <textTemplates>
        <name>txtEmailBody</name>
        <text>{!varClickerName} has marked the task &apos;{!varSubject}&apos; as complete.

Comments:
{!getNotes}

Link to Task:
http://na5.salesforce.com/{!varTaskID}

Link to related record:
http://na5.salesforce.com/{!varTaskWhatID}</text>
    </textTemplates>
    <textTemplates>
        <name>txtErrorBody</name>
        <text>The Complete Task and Notify button was attempted, and failed.

Who: {!varClickerName}
Task: {!varTaskID}
Recipient: {!varRecipientID}
Chosen Option: {!Who_should_receive}

Message:
{!$Flow.FaultMessage}</text>
    </textTemplates>
    <variables>
        <name>varAPIUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssignerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssignerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClickerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCreatorID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCreatorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecipientEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecipientID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecipientProfileID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTaskWhatID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
