flows/ConvertOldChangeRequest-8.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Blank_the_Owner</name>
        <label>Blank the Owner</label>
        <locationX>640</locationX>
        <locationY>462</locationY>
        <assignmentItems>
            <assignToReference>varOwnerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Debug3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_4</name>
        <label>Set New 4</label>
        <locationX>281</locationX>
        <locationY>65</locationY>
        <assignmentItems>
            <assignToReference>varPriorityNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4 - Cool</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Release_Notes_Checked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Priority_New</name>
        <label>Set Priority New</label>
        <locationX>106</locationX>
        <locationY>188</locationY>
        <assignmentItems>
            <assignToReference>varPriorityNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPriority</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Release_Notes_Checked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Publish_Yes</name>
        <label>Set Publish Yes</label>
        <locationX>282</locationX>
        <locationY>324</locationY>
        <assignmentItems>
            <assignToReference>varPublishNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Debug1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Roadmap</name>
        <label>Set Roadmap</label>
        <locationX>643</locationX>
        <locationY>325</locationY>
        <assignmentItems>
            <assignToReference>varRoadmappedNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2013</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Debug2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Owner_is_SF_Admin_Queue</name>
        <label>Owner is SF Admin Queue?</label>
        <locationX>461</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Debug3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesQueue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOwnerID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00G70000001m5k2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blank_the_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority_is_4</name>
        <label>Priority is 4?</label>
        <locationX>107</locationX>
        <locationY>63</locationY>
        <defaultConnector>
            <targetReference>Set_Priority_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesPriority4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPriority</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_4</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Release_Notes_Checked</name>
        <label>Release Notes Checked</label>
        <locationX>282</locationX>
        <locationY>187</locationY>
        <defaultConnector>
            <targetReference>Debug1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesReleaseChecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPublish</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Publish_Yes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Roadmapped</name>
        <label>Roadmapped?</label>
        <locationX>462</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Debug2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesRoadmapped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRoadmapped</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Roadmap</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>debug stops added</description>
    <label>Convert Old Change Request</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_CR</name>
        <label>Create CR</label>
        <locationX>640</locationX>
        <locationY>585</locationY>
        <assignRecordIdToReference>varNewCRID</assignRecordIdToReference>
        <connector>
            <targetReference>Set_Original_to_Converted</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Assigned_To__c</field>
            <value>
                <elementReference>varOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Came_from_Conversion__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Change_Request_Status__c</field>
            <value>
                <elementReference>varStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Change_Type__c</field>
            <value>
                <elementReference>varChangeType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Needed_By__c</field>
            <value>
                <elementReference>varDateNeeded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Requested__c</field>
            <value>
                <elementReference>varDateRequested</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_to_Record__c</field>
            <value>
                <elementReference>varLink</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varRequestorID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>varPriorityNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publish_to_Release_Notes__c</field>
            <value>
                <elementReference>varPublishNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000Q9a2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Change_Control__c</field>
            <value>
                <elementReference>varOriginalCRID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Object__c</field>
            <value>
                <elementReference>varRelatedObject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Details__c</field>
            <value>
                <elementReference>varDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roadmap_Year__c</field>
            <value>
                <elementReference>varRoadmappedNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>varSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_to_Completion__c</field>
            <value>
                <elementReference>varTimeToComplete</elementReference>
            </value>
        </inputAssignments>
        <object>Change_Request__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Set_Original_to_Converted</name>
        <label>Set Original to Converted</label>
        <locationX>639</locationX>
        <locationY>706</locationY>
        <connector>
            <targetReference>Complete</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOriginalCRID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SLX__Request_Status__c</field>
            <value>
                <stringValue>Converted</stringValue>
            </value>
        </inputAssignments>
        <object>SLX__Change_Control__c</object>
    </recordUpdates>
    <screens>
        <name>Complete</name>
        <label>Complete</label>
        <locationX>831</locationX>
        <locationY>706</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CompleteText</name>
            <fieldText>Conversion complete.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Debug1</name>
        <label>Debug1</label>
        <locationX>465</locationX>
        <locationY>191</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Roadmapped</targetReference>
        </connector>
        <fields>
            <name>debug1text</name>
            <fieldText>Debug stop 1</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Debug2</name>
        <label>Debug2</label>
        <locationX>462</locationX>
        <locationY>452</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Owner_is_SF_Admin_Queue</targetReference>
        </connector>
        <fields>
            <name>debug2text</name>
            <fieldText>Debug stop 2</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Debug3</name>
        <label>Debug3</label>
        <locationX>807</locationX>
        <locationY>460</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_CR</targetReference>
        </connector>
        <fields>
            <name>debug3text</name>
            <fieldText>Debug stop 3</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Fault</name>
        <label>Fault</label>
        <locationX>835</locationX>
        <locationY>583</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultText</name>
            <fieldText>{!varChangeType}
{!varDateNeeded}
{!varDateRequested}
{!varLink}
{!varOwnerID}
{!varPriority}{!varPriorityNew}
{!varPublish}{!varPublishNew}
{!varRecordType}
{!varRelatedObject}
{!varRequestorID}
{!varRoadmapped}
{!varStatus}
{!varSubject}
{!varTimeToComplete}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Priority_is_4</startElementReference>
    <variables>
        <name>varChangeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDateNeeded</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDateRequested</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewCRID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOriginalCRID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPriority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPriorityNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPublish</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPublishNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRelatedObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRequestorID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRoadmapped</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRoadmappedNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTimeToComplete</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
