flows/Convert_to_Chatter-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <label>Convert to Chatter</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Chatter_Post</name>
        <label>Create Chatter Post</label>
        <locationX>115</locationX>
        <locationY>329</locationY>
        <connector>
            <targetReference>Mark_Original_CR</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>varDetailsBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedById</field>
            <value>
                <elementReference>varOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>varDestCRID</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Destination_CR_ID</name>
        <label>Get Destination CR ID</label>
        <locationX>115</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Chatter_Post</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>DestCRNumber</elementReference>
            </value>
        </filters>
        <object>Change_Request__c</object>
        <outputAssignments>
            <assignToReference>varDestCRID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Mark_Original_CR</name>
        <label>Mark Original CR</label>
        <locationX>115</locationX>
        <locationY>455</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOriginalCRID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Change_Request_Status__c</field>
            <value>
                <stringValue>Not Necessary</stringValue>
            </value>
        </inputAssignments>
        <object>Change_Request__c</object>
    </recordUpdates>
    <screens>
        <name>Select_Destination</name>
        <label>Select Destination</label>
        <locationX>115</locationX>
        <locationY>78</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Destination_CR_ID</targetReference>
        </connector>
        <fields>
            <name>selectdestinationtext</name>
            <fieldText>This process will convert this Change Request into a Chatter Post on another Change Request. Please enter the number of the Change Request this should be transferred to.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>includezeroes</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;(Include zeroes.)&lt;/I&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DestCRNumber</name>
            <dataType>String</dataType>
            <fieldText>CR-</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>Select_Destination</startElementReference>
    <variables>
        <name>varDestCRID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDetailsBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOriginalCRID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
