flows/Convert_Bookouts-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Email_Error</name>
        <label>Email Error</label>
        <locationX>1230</locationX>
        <locationY>447</locationY>
        <apexClass>SendEmail</apexClass>
        <connector>
            <targetReference>ERROR</targetReference>
        </connector>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ErrorEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddress</name>
            <value>
                <stringValue>mark.ross@vinsolutions.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Convert Bookouts Flow Error</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varEmailStatus</assignToReference>
            <name>Status</name>
        </outputParameters>
    </apexPluginCalls>
    <choices>
        <name>Black_Book</name>
        <choiceText>Black Book</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Black</stringValue>
        </value>
    </choices>
    <choices>
        <name>Blue_Book</name>
        <choiceText>Blue Book</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Blue</stringValue>
        </value>
    </choices>
    <choices>
        <name>Galves</name>
        <choiceText>Galves</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Galves</stringValue>
        </value>
    </choices>
    <choices>
        <name>NADA</name>
        <choiceText>NADA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NADA</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Black_Chosen</name>
        <label>Black Chosen?</label>
        <locationX>744</locationX>
        <locationY>268</locationY>
        <defaultConnector>
            <targetReference>Blue_Chosen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesBlack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Which_Add_Ons</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Black</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Black</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Blue_Chosen</name>
        <label>Blue Chosen?</label>
        <locationX>745</locationX>
        <locationY>383</locationY>
        <defaultConnector>
            <targetReference>Galves_Chosen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesBlue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Which_Add_Ons</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Blue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Blue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Galves_Chosen</name>
        <label>Galves Chosen?</label>
        <locationX>745</locationX>
        <locationY>500</locationY>
        <defaultConnector>
            <targetReference>NADA_Chosen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesGalves</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Which_Add_Ons</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Galves</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Galves</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>NADA_Chosen</name>
        <label>NADA Chosen?</label>
        <locationX>746</locationX>
        <locationY>613</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesNADA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Which_Add_Ons</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>NADA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NADA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <label>Convert Bookouts</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_Black_Book</name>
        <label>Find Black Book</label>
        <locationX>34</locationX>
        <locationY>41</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Black_Book_OT</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Find_Blue_Book</targetReference>
        </faultConnector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Issue__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Black Book</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>varBlackID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBlackOnetimeProdID</assignToReference>
            <field>Related_ProductId__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Black_Book_OT</name>
        <label>Find Black Book OT</label>
        <locationX>34</locationX>
        <locationY>153</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Blue_Book</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Find_Blue_Book</targetReference>
        </faultConnector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBlackOnetimeProdID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>varBlackOTLineitemID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Blue_Book</name>
        <label>Find Blue Book</label>
        <locationX>212</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Blue_Book_OT</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Find_Galves</targetReference>
        </faultConnector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Issue__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Blue Book</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>varBlueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBlueOnetimeProdID</assignToReference>
            <field>Related_ProductId__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Blue_Book_OT</name>
        <label>Find Blue Book OT</label>
        <locationX>212</locationX>
        <locationY>154</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Galves</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Find_Galves</targetReference>
        </faultConnector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBlueOnetimeProdID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>varBlueOTLineitemID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Galves</name>
        <label>Find Galves</label>
        <locationX>388</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Galves_Book_OT</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Find_NADA</targetReference>
        </faultConnector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Issue__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Galves used car pricing tool</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>varGalvesID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varGalvesOnetimeProdID</assignToReference>
            <field>Related_ProductId__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Galves_Book_OT</name>
        <label>Find Galves Book OT</label>
        <locationX>388</locationX>
        <locationY>155</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_NADA</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Find_NADA</targetReference>
        </faultConnector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varGalvesOnetimeProdID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>varGalvesOTLineitemID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_NADA</name>
        <label>Find NADA</label>
        <locationX>569</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_NADA_OT</targetReference>
        </connector>
        <faultConnector>
            <targetReference>What_to_Keep</targetReference>
        </faultConnector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Issue__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NADA Used Card Pricing Tool</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>varNADAID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNADAOnetimeProdID</assignToReference>
            <field>Related_ProductId__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_NADA_OT</name>
        <label>Find NADA OT</label>
        <locationX>569</locationX>
        <locationY>155</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_to_Keep</targetReference>
        </connector>
        <faultConnector>
            <targetReference>What_to_Keep</targetReference>
        </faultConnector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNADAOnetimeProdID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>varNADAOTLineitemID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Black</name>
        <label>Update Black</label>
        <locationX>912</locationX>
        <locationY>268</locationY>
        <connector>
            <targetReference>Update_Black_OT</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_Error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBlackID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsPackageChild__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Package_Product__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Black_OT</name>
        <label>Update Black OT</label>
        <locationX>1074</locationX>
        <locationY>268</locationY>
        <connector>
            <targetReference>Blue_Chosen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_Error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBlackOTLineitemID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsPackageChild__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Package_Product__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>200.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Blue</name>
        <label>Update Blue</label>
        <locationX>912</locationX>
        <locationY>382</locationY>
        <connector>
            <targetReference>Update_Blue_OT</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_Error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBlueID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsPackageChild__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Package_Product__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Blue_OT</name>
        <label>Update Blue OT</label>
        <locationX>1074</locationX>
        <locationY>382</locationY>
        <connector>
            <targetReference>Galves_Chosen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_Error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBlueOTLineitemID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsPackageChild__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Package_Product__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>200.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Galves</name>
        <label>Update Galves</label>
        <locationX>912</locationX>
        <locationY>500</locationY>
        <connector>
            <targetReference>Update_Galves_OT</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_Error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varGalvesID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsPackageChild__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Package_Product__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Galves_OT</name>
        <label>Update Galves OT</label>
        <locationX>1074</locationX>
        <locationY>500</locationY>
        <connector>
            <targetReference>NADA_Chosen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_Error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varGalvesOTLineitemID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsPackageChild__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Package_Product__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>200.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NADA</name>
        <label>Update NADA</label>
        <locationX>911</locationX>
        <locationY>612</locationY>
        <connector>
            <targetReference>Update_NADA_OT</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_Error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNADAID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsPackageChild__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Package_Product__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NADA_OT</name>
        <label>Update NADA OT</label>
        <locationX>1073</locationX>
        <locationY>612</locationY>
        <faultConnector>
            <targetReference>Email_Error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNADAOTLineitemID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsPackageChild__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Package_Product__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>200.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <screens>
        <name>ERROR</name>
        <label>ERROR</label>
        <locationX>1231</locationX>
        <locationY>588</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtError</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;ERROR - Don&amp;apos;t panic. This has been emailed to the Salesforce Admin.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!$Flow.FaultMessage}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>What_to_Keep</name>
        <label>What to Keep</label>
        <locationX>744</locationX>
        <locationY>45</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Black_Chosen</targetReference>
        </connector>
        <fields>
            <name>Explanation</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Most MPT packages come with 2 bookouts by default. To make your package match the advertised cost, you will need to either remove the extra bookouts, or convert them to add-ons.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;BR /&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You can manually delete any undesired bookouts in the opportunity, but you can use this tool to convert up to 2 bookouts to add-ons so they will appear correctly on the proposal.&lt;/FONT&gt;&lt;/DIV&gt;&lt;BR /&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#CC0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;CAUTION: This cannot be undone! Be sure of your changes before proceeding!&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Which_Add_Ons</name>
            <choiceReferences>Black_Book</choiceReferences>
            <choiceReferences>Blue_Book</choiceReferences>
            <choiceReferences>Galves</choiceReferences>
            <choiceReferences>NADA</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which books would you like to appear on the proposal as add-ons?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Find_Black_Book</startElementReference>
    <textTemplates>
        <name>ErrorEmailBody</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!$Flow.FaultMessage}&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;UserID: {!varClickerID}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;OppID: {!varOppID}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Choices: {!Which_Add_Ons}&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <variables>
        <name>varBlackID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBlackOnetimeProdID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBlackOTLineitemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBlueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBlueOnetimeProdID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBlueOTLineitemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClickerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmailStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGalvesID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGalvesOnetimeProdID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGalvesOTLineitemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNADAID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNADAOnetimeProdID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNADAOTLineitemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
