flows/Correct_PA_BA_Linkages-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Related_POA</name>
        <label>Set Related POA</label>
        <locationX>817</locationX>
        <locationY>139</locationY>
        <assignmentItems>
            <assignToReference>svarPAsNoPOA.Related_POA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRelatedPOAID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PAs_w_No_POA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Temp_assign</name>
        <label>Temp assign</label>
        <locationX>32</locationX>
        <locationY>148</locationY>
        <assignmentItems>
            <assignToReference>varProjectID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0Y70000008bwfY</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Project_Info</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_POA</name>
        <label>Any POA?</label>
        <locationX>213</locationX>
        <locationY>26</locationY>
        <defaultConnector>
            <targetReference>Need_POA_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesPOA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRelatedPOAID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PAs_w_no_POA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Collection_has_Data</name>
        <label>Collection has Data</label>
        <locationX>392</locationX>
        <locationY>139</locationY>
        <defaultConnector>
            <targetReference>ping</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yescolldata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scolPAsNoPOA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_PAs_w_No_POA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <label>Correct PA-BA Linkages</label>
    <loops>
        <name>Loop_PAs_w_No_POA</name>
        <label>Loop PAs w/ No POA</label>
        <locationX>575</locationX>
        <locationY>140</locationY>
        <assignNextValueToReference>svarPAsNoPOA</assignNextValueToReference>
        <collectionReference>scolPAsNoPOA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Related_POA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PAs_to_set_POA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_BAs</name>
        <label>Get BAs</label>
        <locationX>394</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PAs</targetReference>
        </connector>
        <filters>
            <field>LOB__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Related_POA__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRelatedPOAID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Related_Project_Piece__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Billing_Item__c</object>
        <outputReference>scolBAs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_Sold_Debug__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PAs</name>
        <label>Get PAs</label>
        <locationX>581</locationX>
        <locationY>456</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </filters>
        <object>Project_Piece__c</object>
        <outputReference>scolPAs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PAs_w_no_POA</name>
        <label>Get PAs w/ no POA</label>
        <locationX>213</locationX>
        <locationY>141</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collection_has_Data</targetReference>
        </connector>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Related_POA__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Project_Piece__c</object>
        <outputReference>scolPAsNoPOA</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Related_POA__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Info</name>
        <label>Get Project Info</label>
        <locationX>35</locationX>
        <locationY>25</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_POA</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </filters>
        <object>SFDC_520_Quote__c</object>
        <outputAssignments>
            <assignToReference>varRelatedPOAID</assignToReference>
            <field>Related_POA__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_PAs_to_set_POA</name>
        <label>Update PAs to set POA</label>
        <locationX>575</locationX>
        <locationY>260</locationY>
        <connector>
            <targetReference>Get_PAs_w_no_POA</targetReference>
        </connector>
        <inputReference>scolPAsNoPOA</inputReference>
    </recordUpdates>
    <screens>
        <name>FAULT</name>
        <label>FAULT</label>
        <locationX>1107</locationX>
        <locationY>246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FAULTtxt</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Need_POA_Screen</name>
        <label>Need POA Screen</label>
        <locationX>391</locationX>
        <locationY>23</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>needproj</name>
            <fieldText>This Project does not have a Related POA. There must be a Related POA in order to link these Project Assets to their Billed Assets.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>ping</name>
        <label>ping</label>
        <locationX>393</locationX>
        <locationY>336</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_BAs</targetReference>
        </connector>
        <fields>
            <name>ping2</name>
            <fieldText>Related POA: {!varRelatedPOAID}
Scol:
{!scolPAsNoPOA}
{!Yescolldata}
svar-RelatedPOA: {!svarPAsNoPOA.Related_POA__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Temp_assign</startElementReference>
    <variables>
        <name>scolBAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing_Item__c</objectType>
    </variables>
    <variables>
        <name>scolPAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Piece__c</objectType>
    </variables>
    <variables>
        <name>scolPAsNoPOA</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Piece__c</objectType>
    </variables>
    <variables>
        <name>svarPAsNoPOA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Piece__c</objectType>
    </variables>
    <variables>
        <name>varCurrentUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRelatedPOAID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
