flows/Correct_PA_BA_Linkages-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FAULT_email</name>
        <label>FAULT email</label>
        <locationX>34</locationX>
        <locationY>133</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>FAULT</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>FLOW ERROR: Correct PA-BA Linkages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>mark.ross@autotradergroup.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FAULT_email_0</name>
        <label>FAULT email</label>
        <locationX>392</locationX>
        <locationY>717</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>FAULT_0</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>FLOW ERROR: Correct PA-BA Linkages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>mark.ross@autotradergroup.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Set_AG_Var</name>
        <label>Set AG Var</label>
        <locationX>52</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>varAuctionGeniusPAID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svarPAs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AG_Var_0</name>
        <label>Set AG Var</label>
        <locationX>938</locationX>
        <locationY>462</locationY>
        <assignmentItems>
            <assignToReference>svarThisBA.Related_Project_Piece__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAuctionGeniusPAID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_BAs_w_Related_PA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BAs_w_Related_PA</name>
        <label>Set BAs w/ Related PA</label>
        <locationX>549</locationX>
        <locationY>281</locationY>
        <assignmentItems>
            <assignToReference>scolBAPushFinal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>svarThisBA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_BAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Conquest_Var</name>
        <label>Set Conquest Var</label>
        <locationX>34</locationX>
        <locationY>521</locationY>
        <assignmentItems>
            <assignToReference>varConquestPAID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svarPAs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Conquest_Var_0</name>
        <label>Set Conquest Var</label>
        <locationX>935</locationX>
        <locationY>365</locationY>
        <assignmentItems>
            <assignToReference>svarThisBA.Related_Project_Piece__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varConquestPAID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_BAs_w_Related_PA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_GL_Var</name>
        <label>Set GL Var</label>
        <locationX>27</locationX>
        <locationY>420</locationY>
        <assignmentItems>
            <assignToReference>varGeniusLabsPAID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svarPAs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_GL_Var_0</name>
        <label>Set GL Var</label>
        <locationX>934</locationX>
        <locationY>267</locationY>
        <assignmentItems>
            <assignToReference>svarThisBA.Related_Project_Piece__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGeniusLabsPAID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_BAs_w_Related_PA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_KBBPAR_Var</name>
        <label>Set KBBPAR Var</label>
        <locationX>27</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>varKBB_PAID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svarPAs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_KBBPAR_Var_0</name>
        <label>Set KBBPAR Var</label>
        <locationX>934</locationX>
        <locationY>171</locationY>
        <assignmentItems>
            <assignToReference>svarThisBA.Related_Project_Piece__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varKBB_PAID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_BAs_w_Related_PA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Provision_Var</name>
        <label>Set Provision Var</label>
        <locationX>131</locationX>
        <locationY>699</locationY>
        <assignmentItems>
            <assignToReference>varProvisionPAID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svarPAs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Provision_Var_0</name>
        <label>Set Provision Var</label>
        <locationX>938</locationX>
        <locationY>552</locationY>
        <assignmentItems>
            <assignToReference>svarThisBA.Related_Project_Piece__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProvisionPAID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_BAs_w_Related_PA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Related_POA</name>
        <label>Set Related POA</label>
        <locationX>926</locationX>
        <locationY>13</locationY>
        <assignmentItems>
            <assignToReference>svarPAsNoPOA.Related_POA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRelatedPOAID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PAs_w_No_POA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Temp_assign</name>
        <label>Temp assign</label>
        <locationX>685</locationX>
        <locationY>44</locationY>
        <assignmentItems>
            <assignToReference>varProjectID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0Y70000008bwfY</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Any_POA</name>
        <label>Any POA?</label>
        <locationX>213</locationX>
        <locationY>26</locationY>
        <defaultConnector>
            <targetReference>Need_POA_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesPOA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRelatedPOAID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BAs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assign_Special_Vars</name>
        <label>Assign Special Vars</label>
        <locationX>345</locationX>
        <locationY>530</locationY>
        <defaultConnector>
            <targetReference>Loop_PAs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Found</defaultConnectorLabel>
        <rules>
            <name>Pricing_Tool</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>svarPAs.Product_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pricing Tool</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Provision_Var</targetReference>
            </connector>
            <label>Pricing Tool</label>
        </rules>
        <rules>
            <name>KBBPAR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>svarPAs.Product_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kelley Blue Book Price Advisor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_KBBPAR_Var</targetReference>
            </connector>
            <label>KBBPAR</label>
        </rules>
        <rules>
            <name>Conquest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>svarPAs.Product_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conquest (with Provision Suite)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Conquest_Var</targetReference>
            </connector>
            <label>Conquest</label>
        </rules>
        <rules>
            <name>Auction_Genius</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>svarPAs.Product_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auction Genius (Base - 1 Auction Platform included)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>svarPAs.Product_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auction Genius (Pro - Includes ALL auction platforms)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AG_Var</targetReference>
            </connector>
            <label>Auction Genius</label>
        </rules>
        <rules>
            <name>Genius_Labs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>svarPAs.Product_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auction Genius (with vAuto)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>svarPAs.Product_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auction Genius (with vAuto and Provisioning)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_GL_Var</targetReference>
            </connector>
            <label>Genius Labs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Collection_has_Data</name>
        <label>Collection has Data</label>
        <locationX>970</locationX>
        <locationY>10</locationY>
        <defaultConnector>
            <targetReference>ping</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yescolldata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scolPAsNoPOA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_PAs_w_No_POA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parse_BA</name>
        <label>Parse BA</label>
        <locationX>718</locationX>
        <locationY>517</locationY>
        <defaultConnector>
            <targetReference>Loop_BAs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Found</defaultConnectorLabel>
        <rules>
            <name>Pricing_Tool_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>svarThisBA.Product_Sold__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>01t70000004aUrM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Provision_Var_0</targetReference>
            </connector>
            <label>Pricing Tool</label>
        </rules>
        <rules>
            <name>KBBPAR_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>svarThisBA.Product_Sold__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>01t70000004aUrL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_KBBPAR_Var_0</targetReference>
            </connector>
            <label>KBBPAR</label>
        </rules>
        <rules>
            <name>Conquest_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>svarThisBA.Product_Sold__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>01t70000004aUqH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Conquest_Var_0</targetReference>
            </connector>
            <label>Conquest</label>
        </rules>
        <rules>
            <name>Auction_Genius_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>svarThisBA.Product_Sold__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>01t70000004aUrK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>svarThisBA.Product_Sold__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>01t70000004aUr9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AG_Var_0</targetReference>
            </connector>
            <label>Auction Genius</label>
        </rules>
        <rules>
            <name>Genius_Labs_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>svarThisBA.Product_Sold__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>01t70000004aUq9</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>svarThisBA.Product_Sold__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>01t70000004aUqA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_GL_Var_0</targetReference>
            </connector>
            <label>Genius Labs</label>
        </rules>
    </decisions>
    <description>New method</description>
    <label>Correct PA-BA Linkages</label>
    <loops>
        <name>Loop_BAs</name>
        <label>Loop BAs</label>
        <locationX>549</locationX>
        <locationY>392</locationY>
        <assignNextValueToReference>svarThisBA</assignNextValueToReference>
        <collectionReference>scolBAs</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Parse_BA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_BAs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_PAs</name>
        <label>Loop PAs</label>
        <locationX>344</locationX>
        <locationY>391</locationY>
        <assignNextValueToReference>svarPAs</assignNextValueToReference>
        <collectionReference>scolPAs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Special_Vars</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_BAs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_PAs_w_No_POA</name>
        <label>Loop PAs w/ No POA</label>
        <locationX>920</locationX>
        <locationY>35</locationY>
        <assignNextValueToReference>svarPAsNoPOA</assignNextValueToReference>
        <collectionReference>scolPAsNoPOA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Related_POA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PAs_to_set_POA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_BAs</name>
        <label>Get BAs</label>
        <locationX>213</locationX>
        <locationY>148</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PAs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FAULT_email</targetReference>
        </faultConnector>
        <filters>
            <field>LOB__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Related_POA__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRelatedPOAID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Related_Project_Piece__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Billing_Item__c</object>
        <outputReference>scolBAs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_Sold__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PAs</name>
        <label>Get PAs</label>
        <locationX>212</locationX>
        <locationY>261</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_PAs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FAULT_email</targetReference>
        </faultConnector>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </filters>
        <object>Project_Piece__c</object>
        <outputReference>scolPAs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PAs_w_no_POA</name>
        <label>Get PAs w/ no POA</label>
        <locationX>909</locationX>
        <locationY>17</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collection_has_Data</targetReference>
        </connector>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Related_POA__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Project_Piece__c</object>
        <outputReference>scolPAsNoPOA</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Related_POA__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Info</name>
        <label>Get Project Info</label>
        <locationX>35</locationX>
        <locationY>25</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_POA</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FAULT_email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </filters>
        <object>SFDC_520_Quote__c</object>
        <outputAssignments>
            <assignToReference>varRelatedPOAID</assignToReference>
            <field>Related_POA__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_BAs</name>
        <label>Update BAs</label>
        <locationX>550</locationX>
        <locationY>589</locationY>
        <faultConnector>
            <targetReference>FAULT_email_0</targetReference>
        </faultConnector>
        <inputReference>scolBAPushFinal</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PAs_to_set_POA</name>
        <label>Update PAs to set POA</label>
        <locationX>905</locationX>
        <locationY>42</locationY>
        <connector>
            <targetReference>Get_PAs_w_no_POA</targetReference>
        </connector>
        <inputReference>scolPAsNoPOA</inputReference>
    </recordUpdates>
    <screens>
        <name>block</name>
        <label>block</label>
        <locationX>404</locationX>
        <locationY>221</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>blocktxt</name>
            <fieldText>Project: {!varProjectID}
POA: {!varRelatedPOAID}
scolPAs: {!scolPAs}
scolBAs: {!scolBAs}
{!svarThisBA}
{!svarThisBA.Id}
{!svarThisBA.Product_Sold_Debug__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>FAULT</name>
        <label>FAULT</label>
        <locationX>35</locationX>
        <locationY>227</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FAULTtxt</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>FAULT_0</name>
        <label>FAULT</label>
        <locationX>560</locationX>
        <locationY>717</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FAULTtxt_0</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Need_POA_Screen</name>
        <label>Need POA Screen</label>
        <locationX>391</locationX>
        <locationY>23</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>needproj</name>
            <fieldText>This Project does not have a Related POA. There must be a Related POA in order to link these Project Assets to their Billed Assets.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>ping</name>
        <label>ping</label>
        <locationX>955</locationX>
        <locationY>41</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ping2</name>
            <fieldText>Related POA: {!varRelatedPOAID}
Scol:
{!scolPAsNoPOA}
{!Yescolldata}
svar-RelatedPOA: {!svarPAsNoPOA.Related_POA__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Get_Project_Info</startElementReference>
    <textTemplates>
        <name>EmailBody</name>
        <text>Project: {!varProjectID}
Project Asset: {!svarPAs.Id}
Billed Asset: {!svarThisBA.Id}
Current User: {!varCurrentUserID}

{!$Flow.FaultMessage}</text>
    </textTemplates>
    <variables>
        <name>scolBAPushFinal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing_Item__c</objectType>
    </variables>
    <variables>
        <name>scolBAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing_Item__c</objectType>
    </variables>
    <variables>
        <name>scolPAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Piece__c</objectType>
    </variables>
    <variables>
        <name>scolPAsNoPOA</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Piece__c</objectType>
    </variables>
    <variables>
        <name>svarPAs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Piece__c</objectType>
    </variables>
    <variables>
        <name>svarPAsNoPOA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Piece__c</objectType>
    </variables>
    <variables>
        <name>svarThisBA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing_Item__c</objectType>
    </variables>
    <variables>
        <name>varAuctionGeniusPAID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varConquestPAID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGeniusLabsPAID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varKBB_PAID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProvisionPAID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRelatedPOAID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
