flows/CR_Approval_with_Order_Rank-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Feature_Approval</name>
        <label>Feature Approval</label>
        <locationX>581</locationX>
        <locationY>527</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Approval_Started</targetReference>
        </connector>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>CRid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>CR_Curator_Approval_Process</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>CROwnerId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CRid</assignToReference>
            <name>entityId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Owner_Approval_Submitted_Notification</name>
        <label>Owner Approval Submitted Notification</label>
        <locationX>781</locationX>
        <locationY>651</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>CRid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>SubmittedApprovMessage</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CRid</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Don_t_Increment_Count</name>
        <label>Don&apos;t Increment Count</label>
        <locationX>813</locationX>
        <locationY>118</locationY>
        <assignmentItems>
            <assignToReference>CRCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CRCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Count</name>
        <label>Increment Count</label>
        <locationX>814</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>CRCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CR</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Feature_Request</name>
        <label>Check for Feature Request</label>
        <locationX>811</locationX>
        <locationY>244</locationY>
        <defaultConnector>
            <targetReference>Don_t_Increment_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisCR.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Functionality</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>thisCR.Sub_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Feature</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Count</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <label>CR Approval with Order Rank</label>
    <loops>
        <name>CR</name>
        <label>CR</label>
        <locationX>578</locationX>
        <locationY>247</locationY>
        <assignNextValueToReference>thisCR</assignNextValueToReference>
        <collectionReference>CRList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Feature_Request</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CRUpdate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>BANameLookup</name>
        <label>BANameLookup</label>
        <locationX>217</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CR_by_BU</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CRBAId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>CRBAName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>CR_by_BU</name>
        <label>CR by BU</label>
        <locationX>392</locationX>
        <locationY>249</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CR</targetReference>
        </connector>
        <filters>
            <field>BU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CRBU</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Functionality</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>False</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sub_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Feature</stringValue>
            </value>
        </filters>
        <object>Change_Request__c</object>
        <outputReference>CRList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Sub_Category__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>CRLookup</name>
        <label>CRLookup</label>
        <locationX>45</locationX>
        <locationY>247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BANameLookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CRid</elementReference>
            </value>
        </filters>
        <object>Change_Request__c</object>
        <outputAssignments>
            <assignToReference>CRBAId</assignToReference>
            <field>Assigned_To__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CRBU</assignToReference>
            <field>BU__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CRName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CROwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>CRUpdate</name>
        <label>CRUpdate</label>
        <locationX>581</locationX>
        <locationY>389</locationY>
        <connector>
            <targetReference>Feature_Approval</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CRid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>CRCount</elementReference>
            </value>
        </inputAssignments>
        <object>Change_Request__c</object>
    </recordUpdates>
    <screens>
        <name>Approval_Started</name>
        <label>Approval Started</label>
        <locationX>584</locationX>
        <locationY>652</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Owner_Approval_Submitted_Notification</targetReference>
        </connector>
        <fields>
            <name>ApprovalMessage</name>
            <fieldText>{!CRName} has been submitted for approval.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>CRLookup</startElementReference>
    <textTemplates>
        <name>SubmittedApprovMessage</name>
        <text>Your {!CRName} has been submitted for approval by {!CRBAName}. Please contact {!CRBAName} with any questions.</text>
    </textTemplates>
    <variables>
        <name>CRBAId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CRBAName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CRBU</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CRCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CRid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CRList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Request__c</objectType>
    </variables>
    <variables>
        <name>CRName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CROwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisCR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Request__c</objectType>
    </variables>
</Flow>
