flows/Create_Missing_vAuto_Project_Assets-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ERROR</name>
        <label>ERROR</label>
        <locationX>20</locationX>
        <locationY>396</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>FAULT_SCREEN</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBODY</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>FLOW ERROR - Create Missing vAuto Project Assets</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>mark.ross@autotradergroup.com, paul.duryee@vinsolutions.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_svar_to_scol</name>
        <label>Add svar to scol</label>
        <locationX>471</locationX>
        <locationY>476</locationY>
        <assignmentItems>
            <assignToReference>scolNewPAs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>svarThisPA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Push_from_OLI_to_PA_0</name>
        <label>Push from OLI to PA</label>
        <locationX>471</locationX>
        <locationY>603</locationY>
        <assignmentItems>
            <assignToReference>svarThisPA.Product_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svarThisOLI.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarThisPA.Product_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svarThisOLI.Product_NameWF__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarThisPA.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarThisPA.Project_Piece_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarThisPA.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarThisPA.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPARecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarThisPA.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOwnerID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPACount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarThisPA.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PAName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_svar_to_scol</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Temp_assign</name>
        <label>Temp assign</label>
        <locationX>19</locationX>
        <locationY>47</locationY>
        <assignmentItems>
            <assignToReference>varProjectID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0Y70000008blrM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUserID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00570000001fuQH</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Required_Fields</name>
        <label>Required Fields</label>
        <locationX>414</locationX>
        <locationY>280</locationY>
        <defaultConnector>
            <targetReference>Get_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All fields present</defaultConnectorLabel>
        <rules>
            <name>No_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Acc</targetReference>
            </connector>
            <label>No Account</label>
        </rules>
        <rules>
            <name>No_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOppID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Opp2</targetReference>
            </connector>
            <label>No Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Restrict_Users</name>
        <label>Restrict Users</label>
        <locationX>432</locationX>
        <locationY>13</locationY>
        <defaultConnector>
            <targetReference>block2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Block</defaultConnectorLabel>
        <rules>
            <name>Proceed2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varUserAlias</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>mwhee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varUserAlias</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>mjoli</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varUserAlias</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>pdury</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varUserAlias</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>dluko</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varUserAlias</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>shuls</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varUserAlias</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>rkost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varUserAlias</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>amain</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varUserAlias</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>mross</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varUserAlias</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>drobb</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Proj_Info</targetReference>
            </connector>
            <label>Proceed</label>
        </rules>
    </decisions>
    <description>Added block for non-permitted users</description>
    <formulas>
        <name>PAName</name>
        <dataType>String</dataType>
        <expression>&quot;PA-&quot; &amp;
IF(
   LEN({!svarThisOLI.Product_NameWF__c}) + LEN({!varAccountName}) &gt; 76,
   LEFT({!svarThisOLI.Product_NameWF__c} &amp; &quot;-&quot; &amp;{!varAccountName}, 73) &amp; &quot;...&quot;,
   {!svarThisOLI.Product_NameWF__c} &amp; &quot;-&quot; &amp;{!varAccountName}
)</expression>
    </formulas>
    <label>Create Missing vAuto Project Assets</label>
    <loops>
        <name>Loop_OLIs</name>
        <label>Loop OLIs</label>
        <locationX>236</locationX>
        <locationY>603</locationY>
        <assignNextValueToReference>svarThisOLI</assignNextValueToReference>
        <collectionReference>scolOLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Push_from_OLI_to_PA_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Proceed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_PAs</name>
        <label>Create PAs</label>
        <locationX>234</locationX>
        <locationY>826</locationY>
        <faultConnector>
            <targetReference>ERROR</targetReference>
        </faultConnector>
        <inputReference>scolNewPAs</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Info</name>
        <label>Get Account Info</label>
        <locationX>239</locationX>
        <locationY>127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Owner_Info</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ERROR</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner_Info</name>
        <label>Get Owner Info</label>
        <locationX>238</locationX>
        <locationY>247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Required_Fields</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ERROR</targetReference>
        </faultConnector>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>mwhee</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varOwnerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Proj_Info</name>
        <label>Get Proj Info</label>
        <locationX>239</locationX>
        <locationY>13</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Info</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ERROR</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </filters>
        <object>SFDC_520_Quote__c</object>
        <outputAssignments>
            <assignToReference>varAccountID</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOppID</assignToReference>
            <field>Opportunity__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>237</locationX>
        <locationY>364</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_vAuto_Imp_OLIs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ERROR</targetReference>
        </faultConnector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>vAuto</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project_Piece__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varPARecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Info</name>
        <label>Get User Info</label>
        <locationX>617</locationX>
        <locationY>15</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Restrict_Users</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varUserAlias</assignToReference>
            <field>Alias</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_vAuto_Imp_OLIs</name>
        <label>Get vAuto-Imp OLIs</label>
        <locationX>236</locationX>
        <locationY>483</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_OLIs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ERROR</targetReference>
        </faultConnector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project_Definition_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>vAuto-Imp</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>scolOLIs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>Product_NameWF__c</queriedFields>
    </recordLookups>
    <screens>
        <name>block</name>
        <label>block</label>
        <locationX>664</locationX>
        <locationY>556</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>gotproj1</name>
            <fieldText>block
{!scolOLIs}
{!scolNewPAs}
{!svarThisOLI.Product_NameWF__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>block2</name>
        <label>block</label>
        <locationX>432</locationX>
        <locationY>132</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>blocktxt</name>
            <fieldText>You do not have permission to use this button. Please speak with Mary Diffenderfer or the Salesforce team for assistance.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>FAULT_SCREEN</name>
        <label>FAULT SCREEN</label>
        <locationX>20</locationX>
        <locationY>525</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>fault</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>No_Acc</name>
        <label>No Acc</label>
        <locationX>609</locationX>
        <locationY>191</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noaccText</name>
            <fieldText>This project does not have an Account. Please make sure there is an Account before proceeding.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>No_Opp2</name>
        <label>No Opp</label>
        <locationX>607</locationX>
        <locationY>323</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noaccText_0</name>
            <fieldText>This project does not have an Opportunity. Please make sure there is an Opportunity before proceeding.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Proceed</name>
        <label>Proceed</label>
        <locationX>235</locationX>
        <locationY>714</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_PAs</targetReference>
        </connector>
        <fields>
            <name>confirm</name>
            <fieldText>This will create {!varPACount} Project Assets. Are you sure you wish to proceed?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Get_User_Info</startElementReference>
    <textTemplates>
        <name>emailBODY</name>
        <text>Project ID: {!varProjectID}
Account ID: {!varAccountID}
User: {!varUserID}

{!$Flow.FaultMessage}</text>
    </textTemplates>
    <variables>
        <name>scolNewPAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Piece__c</objectType>
    </variables>
    <variables>
        <name>scolOLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>svarThisOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>svarThisPA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Piece__c</objectType>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPACount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varPARecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserAlias</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
