flows/Create_Ongoing_Blocks-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>X1</name>
        <choiceText>1</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X10</name>
        <choiceText>10</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X11</name>
        <choiceText>11</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>11.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X12</name>
        <choiceText>12</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>12.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X1_1</name>
        <choiceText>1</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X2</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X3</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X4</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X5</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X6</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X7</name>
        <choiceText>7</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X8</name>
        <choiceText>8</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X9</name>
        <choiceText>9</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.0</numberValue>
        </value>
    </choices>
    <decisions>
        <name>Greater_than_0</name>
        <label>Greater than 0?</label>
        <locationX>39</locationX>
        <locationY>206</locationY>
        <defaultConnector>
            <targetReference>Greater_than_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesGreaterThan0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfBlocks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Greater_than_1</name>
        <label>Greater than 1?</label>
        <locationX>39</locationX>
        <locationY>304</locationY>
        <defaultConnector>
            <targetReference>Greater_than_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesGreaterThan1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfBlocks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Greater_than_10</name>
        <label>Greater than 10?</label>
        <locationX>45</locationX>
        <locationY>1182</locationY>
        <defaultConnector>
            <targetReference>Greater_than_11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesGreaterThan10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfBlocks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_11</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Greater_than_11</name>
        <label>Greater than 11?</label>
        <locationX>45</locationX>
        <locationY>1287</locationY>
        <defaultConnector>
            <targetReference>Set_Last_Generated_Block</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesGreaterThan11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfBlocks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>11.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_12</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Greater_than_2</name>
        <label>Greater than 2?</label>
        <locationX>40</locationX>
        <locationY>401</locationY>
        <defaultConnector>
            <targetReference>Greater_than_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesGreaterThan2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfBlocks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_3</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Greater_than_3</name>
        <label>Greater than 3?</label>
        <locationX>41</locationX>
        <locationY>499</locationY>
        <defaultConnector>
            <targetReference>Greater_than_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesGreaterThan3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfBlocks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_4</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Greater_than_4</name>
        <label>Greater than 4?</label>
        <locationX>43</locationX>
        <locationY>591</locationY>
        <defaultConnector>
            <targetReference>Greater_than_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesGreaterThan4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfBlocks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_5</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Greater_than_5</name>
        <label>Greater than 5?</label>
        <locationX>42</locationX>
        <locationY>687</locationY>
        <defaultConnector>
            <targetReference>Greater_than_6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesGreaterThan5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfBlocks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_6</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Greater_than_6</name>
        <label>Greater than 6?</label>
        <locationX>42</locationX>
        <locationY>790</locationY>
        <defaultConnector>
            <targetReference>Greater_than_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesGreaterThan6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfBlocks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_7</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Greater_than_7</name>
        <label>Greater than 7?</label>
        <locationX>42</locationX>
        <locationY>888</locationY>
        <defaultConnector>
            <targetReference>Greater_than_8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesGreaterThan7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfBlocks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_8</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Greater_than_8</name>
        <label>Greater than 8?</label>
        <locationX>43</locationX>
        <locationY>985</locationY>
        <defaultConnector>
            <targetReference>Greater_than_9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesGreaterThan8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfBlocks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_9</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Greater_than_9</name>
        <label>Greater than 9?</label>
        <locationX>44</locationX>
        <locationY>1083</locationY>
        <defaultConnector>
            <targetReference>Greater_than_10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesGreaterThan9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfBlocks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_10</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>varTotalDays_Present</name>
        <label>varTotalDays Present?</label>
        <locationX>39</locationX>
        <locationY>11</locationY>
        <defaultConnector>
            <targetReference>No_Total_Days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yesVarTotalDays</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTotalDays</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>How_Many_Trainings</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Added Related Product population, setting of Last Generated Block.</description>
    <label>Create Ongoing Blocks</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_1</name>
        <label>Create #1</label>
        <locationX>236</locationX>
        <locationY>206</locationY>
        <connector>
            <targetReference>Greater_than_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Airport_Distance__c</field>
            <value>
                <elementReference>varAirportDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Block_Number__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Distance__c</field>
            <value>
                <elementReference>varHotelDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internet_Access_Present__c</field>
            <value>
                <elementReference>varInternetPresent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Information__c</field>
            <value>
                <elementReference>varMileageInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nearest_Airport__c</field>
            <value>
                <elementReference>varNearestAirport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Access_Keys_Passwords_IP_Addresses__c</field>
            <value>
                <elementReference>varAccessCred</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Days_This_Training__c</field>
            <value>
                <elementReference>HowManyDaysEach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Training_Shell__c</field>
            <value>
                <elementReference>varParentTrainingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projector_That_Can_Display_PC_Screen__c</field>
            <value>
                <elementReference>varProjector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Local_Hotel__c</field>
            <value>
                <elementReference>varReccHotel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QATv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Product__c</field>
            <value>
                <elementReference>varProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Project__c</field>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_for_10_Students_Plus_Trainers__c</field>
            <value>
                <elementReference>varRoomFor10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Screen_or_Wall_for_Projection__c</field>
            <value>
                <elementReference>varScreenOrWall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Blocks__c</field>
            <value>
                <elementReference>numberOfBlocks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Type__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trusted_Sites_Set__c</field>
            <value>
                <elementReference>varTrustedSites</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Internet_Access__c</field>
            <value>
                <elementReference>varInternetType</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_10</name>
        <label>Create #10</label>
        <locationX>241</locationX>
        <locationY>1083</locationY>
        <connector>
            <targetReference>Greater_than_10</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Airport_Distance__c</field>
            <value>
                <elementReference>varAirportDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Block_Number__c</field>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Distance__c</field>
            <value>
                <elementReference>varHotelDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internet_Access_Present__c</field>
            <value>
                <elementReference>varInternetPresent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Information__c</field>
            <value>
                <elementReference>varMileageInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nearest_Airport__c</field>
            <value>
                <elementReference>varNearestAirport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Access_Keys_Passwords_IP_Addresses__c</field>
            <value>
                <elementReference>varAccessCred</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Days_This_Training__c</field>
            <value>
                <elementReference>HowManyDaysEach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Training_Shell__c</field>
            <value>
                <elementReference>varParentTrainingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projector_That_Can_Display_PC_Screen__c</field>
            <value>
                <elementReference>varProjector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Local_Hotel__c</field>
            <value>
                <elementReference>varReccHotel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QATv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Product__c</field>
            <value>
                <elementReference>varProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Project__c</field>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_for_10_Students_Plus_Trainers__c</field>
            <value>
                <elementReference>varRoomFor10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Screen_or_Wall_for_Projection__c</field>
            <value>
                <elementReference>varScreenOrWall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Blocks__c</field>
            <value>
                <elementReference>numberOfBlocks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Type__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trusted_Sites_Set__c</field>
            <value>
                <elementReference>varTrustedSites</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Internet_Access__c</field>
            <value>
                <elementReference>varInternetType</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_11</name>
        <label>Create #11</label>
        <locationX>242</locationX>
        <locationY>1182</locationY>
        <connector>
            <targetReference>Greater_than_11</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Airport_Distance__c</field>
            <value>
                <elementReference>varAirportDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Block_Number__c</field>
            <value>
                <numberValue>11.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Distance__c</field>
            <value>
                <elementReference>varHotelDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internet_Access_Present__c</field>
            <value>
                <elementReference>varInternetPresent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Information__c</field>
            <value>
                <elementReference>varMileageInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nearest_Airport__c</field>
            <value>
                <elementReference>varNearestAirport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Access_Keys_Passwords_IP_Addresses__c</field>
            <value>
                <elementReference>varAccessCred</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Days_This_Training__c</field>
            <value>
                <elementReference>HowManyDaysEach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Training_Shell__c</field>
            <value>
                <elementReference>varParentTrainingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projector_That_Can_Display_PC_Screen__c</field>
            <value>
                <elementReference>varProjector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Local_Hotel__c</field>
            <value>
                <elementReference>varReccHotel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QATv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Product__c</field>
            <value>
                <elementReference>varProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Project__c</field>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_for_10_Students_Plus_Trainers__c</field>
            <value>
                <elementReference>varRoomFor10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Screen_or_Wall_for_Projection__c</field>
            <value>
                <elementReference>varScreenOrWall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Blocks__c</field>
            <value>
                <elementReference>numberOfBlocks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Type__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trusted_Sites_Set__c</field>
            <value>
                <elementReference>varTrustedSites</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Internet_Access__c</field>
            <value>
                <elementReference>varInternetType</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_12</name>
        <label>Create #12</label>
        <locationX>242</locationX>
        <locationY>1287</locationY>
        <connector>
            <targetReference>Set_Last_Generated_Block</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Airport_Distance__c</field>
            <value>
                <elementReference>varAirportDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Block_Number__c</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Distance__c</field>
            <value>
                <elementReference>varHotelDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internet_Access_Present__c</field>
            <value>
                <elementReference>varInternetPresent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Information__c</field>
            <value>
                <elementReference>varMileageInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nearest_Airport__c</field>
            <value>
                <elementReference>varNearestAirport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Access_Keys_Passwords_IP_Addresses__c</field>
            <value>
                <elementReference>varAccessCred</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Days_This_Training__c</field>
            <value>
                <elementReference>HowManyDaysEach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Training_Shell__c</field>
            <value>
                <elementReference>varParentTrainingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projector_That_Can_Display_PC_Screen__c</field>
            <value>
                <elementReference>varProjector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Local_Hotel__c</field>
            <value>
                <elementReference>varReccHotel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QATv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Product__c</field>
            <value>
                <elementReference>varProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Project__c</field>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_for_10_Students_Plus_Trainers__c</field>
            <value>
                <elementReference>varRoomFor10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Screen_or_Wall_for_Projection__c</field>
            <value>
                <elementReference>varScreenOrWall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Blocks__c</field>
            <value>
                <elementReference>numberOfBlocks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Type__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trusted_Sites_Set__c</field>
            <value>
                <elementReference>varTrustedSites</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Internet_Access__c</field>
            <value>
                <elementReference>varInternetType</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_2</name>
        <label>Create #2</label>
        <locationX>236</locationX>
        <locationY>304</locationY>
        <connector>
            <targetReference>Greater_than_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Airport_Distance__c</field>
            <value>
                <elementReference>varAirportDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Block_Number__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Distance__c</field>
            <value>
                <elementReference>varHotelDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internet_Access_Present__c</field>
            <value>
                <elementReference>varInternetPresent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Information__c</field>
            <value>
                <elementReference>varMileageInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nearest_Airport__c</field>
            <value>
                <elementReference>varNearestAirport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Access_Keys_Passwords_IP_Addresses__c</field>
            <value>
                <elementReference>varAccessCred</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Days_This_Training__c</field>
            <value>
                <elementReference>HowManyDaysEach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Training_Shell__c</field>
            <value>
                <elementReference>varParentTrainingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projector_That_Can_Display_PC_Screen__c</field>
            <value>
                <elementReference>varProjector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Local_Hotel__c</field>
            <value>
                <elementReference>varReccHotel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QATv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Product__c</field>
            <value>
                <elementReference>varProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Project__c</field>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_for_10_Students_Plus_Trainers__c</field>
            <value>
                <elementReference>varRoomFor10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Screen_or_Wall_for_Projection__c</field>
            <value>
                <elementReference>varScreenOrWall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Blocks__c</field>
            <value>
                <elementReference>numberOfBlocks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Type__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trusted_Sites_Set__c</field>
            <value>
                <elementReference>varTrustedSites</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Internet_Access__c</field>
            <value>
                <elementReference>varInternetType</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_3</name>
        <label>Create #3</label>
        <locationX>237</locationX>
        <locationY>401</locationY>
        <connector>
            <targetReference>Greater_than_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Airport_Distance__c</field>
            <value>
                <elementReference>varAirportDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Block_Number__c</field>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Distance__c</field>
            <value>
                <elementReference>varHotelDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internet_Access_Present__c</field>
            <value>
                <elementReference>varInternetPresent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Information__c</field>
            <value>
                <elementReference>varMileageInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nearest_Airport__c</field>
            <value>
                <elementReference>varNearestAirport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Access_Keys_Passwords_IP_Addresses__c</field>
            <value>
                <elementReference>varAccessCred</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Days_This_Training__c</field>
            <value>
                <elementReference>HowManyDaysEach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Training_Shell__c</field>
            <value>
                <elementReference>varParentTrainingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projector_That_Can_Display_PC_Screen__c</field>
            <value>
                <elementReference>varProjector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Local_Hotel__c</field>
            <value>
                <elementReference>varReccHotel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QATv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Product__c</field>
            <value>
                <elementReference>varProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Project__c</field>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_for_10_Students_Plus_Trainers__c</field>
            <value>
                <elementReference>varRoomFor10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Screen_or_Wall_for_Projection__c</field>
            <value>
                <elementReference>varScreenOrWall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Blocks__c</field>
            <value>
                <elementReference>numberOfBlocks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Type__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trusted_Sites_Set__c</field>
            <value>
                <elementReference>varTrustedSites</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Internet_Access__c</field>
            <value>
                <elementReference>varInternetType</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_4</name>
        <label>Create #4</label>
        <locationX>238</locationX>
        <locationY>499</locationY>
        <connector>
            <targetReference>Greater_than_4</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Airport_Distance__c</field>
            <value>
                <elementReference>varAirportDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Block_Number__c</field>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Distance__c</field>
            <value>
                <elementReference>varHotelDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internet_Access_Present__c</field>
            <value>
                <elementReference>varInternetPresent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Information__c</field>
            <value>
                <elementReference>varMileageInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nearest_Airport__c</field>
            <value>
                <elementReference>varNearestAirport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Access_Keys_Passwords_IP_Addresses__c</field>
            <value>
                <elementReference>varAccessCred</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Days_This_Training__c</field>
            <value>
                <elementReference>HowManyDaysEach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Training_Shell__c</field>
            <value>
                <elementReference>varParentTrainingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projector_That_Can_Display_PC_Screen__c</field>
            <value>
                <elementReference>varProjector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Local_Hotel__c</field>
            <value>
                <elementReference>varReccHotel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QATv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Product__c</field>
            <value>
                <elementReference>varProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Project__c</field>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_for_10_Students_Plus_Trainers__c</field>
            <value>
                <elementReference>varRoomFor10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Screen_or_Wall_for_Projection__c</field>
            <value>
                <elementReference>varScreenOrWall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Blocks__c</field>
            <value>
                <elementReference>numberOfBlocks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Type__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trusted_Sites_Set__c</field>
            <value>
                <elementReference>varTrustedSites</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Internet_Access__c</field>
            <value>
                <elementReference>varInternetType</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_5</name>
        <label>Create #5</label>
        <locationX>240</locationX>
        <locationY>591</locationY>
        <connector>
            <targetReference>Greater_than_5</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Airport_Distance__c</field>
            <value>
                <elementReference>varAirportDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Block_Number__c</field>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Distance__c</field>
            <value>
                <elementReference>varHotelDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internet_Access_Present__c</field>
            <value>
                <elementReference>varInternetPresent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Information__c</field>
            <value>
                <elementReference>varMileageInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nearest_Airport__c</field>
            <value>
                <elementReference>varNearestAirport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Access_Keys_Passwords_IP_Addresses__c</field>
            <value>
                <elementReference>varAccessCred</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Days_This_Training__c</field>
            <value>
                <elementReference>HowManyDaysEach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Training_Shell__c</field>
            <value>
                <elementReference>varParentTrainingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projector_That_Can_Display_PC_Screen__c</field>
            <value>
                <elementReference>varProjector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Local_Hotel__c</field>
            <value>
                <elementReference>varReccHotel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QATv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Product__c</field>
            <value>
                <elementReference>varProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Project__c</field>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_for_10_Students_Plus_Trainers__c</field>
            <value>
                <elementReference>varRoomFor10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Screen_or_Wall_for_Projection__c</field>
            <value>
                <elementReference>varScreenOrWall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Blocks__c</field>
            <value>
                <elementReference>numberOfBlocks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Type__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trusted_Sites_Set__c</field>
            <value>
                <elementReference>varTrustedSites</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Internet_Access__c</field>
            <value>
                <elementReference>varInternetType</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_6</name>
        <label>Create #6</label>
        <locationX>239</locationX>
        <locationY>687</locationY>
        <connector>
            <targetReference>Greater_than_6</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Airport_Distance__c</field>
            <value>
                <elementReference>varAirportDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Block_Number__c</field>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Distance__c</field>
            <value>
                <elementReference>varHotelDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internet_Access_Present__c</field>
            <value>
                <elementReference>varInternetPresent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Information__c</field>
            <value>
                <elementReference>varMileageInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nearest_Airport__c</field>
            <value>
                <elementReference>varNearestAirport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Access_Keys_Passwords_IP_Addresses__c</field>
            <value>
                <elementReference>varAccessCred</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Days_This_Training__c</field>
            <value>
                <elementReference>HowManyDaysEach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Training_Shell__c</field>
            <value>
                <elementReference>varParentTrainingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projector_That_Can_Display_PC_Screen__c</field>
            <value>
                <elementReference>varProjector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Local_Hotel__c</field>
            <value>
                <elementReference>varReccHotel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QATv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Product__c</field>
            <value>
                <elementReference>varProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Project__c</field>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_for_10_Students_Plus_Trainers__c</field>
            <value>
                <elementReference>varRoomFor10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Screen_or_Wall_for_Projection__c</field>
            <value>
                <elementReference>varScreenOrWall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Blocks__c</field>
            <value>
                <elementReference>numberOfBlocks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Type__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trusted_Sites_Set__c</field>
            <value>
                <elementReference>varTrustedSites</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Internet_Access__c</field>
            <value>
                <elementReference>varInternetType</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_7</name>
        <label>Create #7</label>
        <locationX>239</locationX>
        <locationY>790</locationY>
        <connector>
            <targetReference>Greater_than_7</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Airport_Distance__c</field>
            <value>
                <elementReference>varAirportDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Block_Number__c</field>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Distance__c</field>
            <value>
                <elementReference>varHotelDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internet_Access_Present__c</field>
            <value>
                <elementReference>varInternetPresent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Information__c</field>
            <value>
                <elementReference>varMileageInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nearest_Airport__c</field>
            <value>
                <elementReference>varNearestAirport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Access_Keys_Passwords_IP_Addresses__c</field>
            <value>
                <elementReference>varAccessCred</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Days_This_Training__c</field>
            <value>
                <elementReference>HowManyDaysEach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Training_Shell__c</field>
            <value>
                <elementReference>varParentTrainingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projector_That_Can_Display_PC_Screen__c</field>
            <value>
                <elementReference>varProjector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Local_Hotel__c</field>
            <value>
                <elementReference>varReccHotel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QATv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Product__c</field>
            <value>
                <elementReference>varProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Project__c</field>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_for_10_Students_Plus_Trainers__c</field>
            <value>
                <elementReference>varRoomFor10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Screen_or_Wall_for_Projection__c</field>
            <value>
                <elementReference>varScreenOrWall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Blocks__c</field>
            <value>
                <elementReference>numberOfBlocks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Type__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trusted_Sites_Set__c</field>
            <value>
                <elementReference>varTrustedSites</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Internet_Access__c</field>
            <value>
                <elementReference>varInternetType</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_8</name>
        <label>Create #8</label>
        <locationX>239</locationX>
        <locationY>887</locationY>
        <connector>
            <targetReference>Greater_than_8</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Airport_Distance__c</field>
            <value>
                <elementReference>varAirportDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Block_Number__c</field>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Distance__c</field>
            <value>
                <elementReference>varHotelDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internet_Access_Present__c</field>
            <value>
                <elementReference>varInternetPresent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Information__c</field>
            <value>
                <elementReference>varMileageInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nearest_Airport__c</field>
            <value>
                <elementReference>varNearestAirport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Access_Keys_Passwords_IP_Addresses__c</field>
            <value>
                <elementReference>varAccessCred</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Days_This_Training__c</field>
            <value>
                <elementReference>HowManyDaysEach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Training_Shell__c</field>
            <value>
                <elementReference>varParentTrainingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projector_That_Can_Display_PC_Screen__c</field>
            <value>
                <elementReference>varProjector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Local_Hotel__c</field>
            <value>
                <elementReference>varReccHotel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QATv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Product__c</field>
            <value>
                <elementReference>varProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Project__c</field>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_for_10_Students_Plus_Trainers__c</field>
            <value>
                <elementReference>varRoomFor10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Screen_or_Wall_for_Projection__c</field>
            <value>
                <elementReference>varScreenOrWall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Blocks__c</field>
            <value>
                <elementReference>numberOfBlocks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Type__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trusted_Sites_Set__c</field>
            <value>
                <elementReference>varTrustedSites</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Internet_Access__c</field>
            <value>
                <elementReference>varInternetType</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_9</name>
        <label>Create #9</label>
        <locationX>240</locationX>
        <locationY>984</locationY>
        <connector>
            <targetReference>Greater_than_9</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Airport_Distance__c</field>
            <value>
                <elementReference>varAirportDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Block_Number__c</field>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Distance__c</field>
            <value>
                <elementReference>varHotelDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internet_Access_Present__c</field>
            <value>
                <elementReference>varInternetPresent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Information__c</field>
            <value>
                <elementReference>varMileageInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nearest_Airport__c</field>
            <value>
                <elementReference>varNearestAirport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Access_Keys_Passwords_IP_Addresses__c</field>
            <value>
                <elementReference>varAccessCred</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Days_This_Training__c</field>
            <value>
                <elementReference>HowManyDaysEach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Training_Shell__c</field>
            <value>
                <elementReference>varParentTrainingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projector_That_Can_Display_PC_Screen__c</field>
            <value>
                <elementReference>varProjector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Local_Hotel__c</field>
            <value>
                <elementReference>varReccHotel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QATv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Product__c</field>
            <value>
                <elementReference>varProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Project__c</field>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_for_10_Students_Plus_Trainers__c</field>
            <value>
                <elementReference>varRoomFor10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Screen_or_Wall_for_Projection__c</field>
            <value>
                <elementReference>varScreenOrWall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Blocks__c</field>
            <value>
                <elementReference>numberOfBlocks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Type__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trusted_Sites_Set__c</field>
            <value>
                <elementReference>varTrustedSites</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Internet_Access__c</field>
            <value>
                <elementReference>varInternetType</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Set_Last_Generated_Block</name>
        <label>Set Last Generated Block</label>
        <locationX>44</locationX>
        <locationY>1396</locationY>
        <connector>
            <targetReference>Training_Records_Created</targetReference>
        </connector>
        <filters>
            <field>Block_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>numberOfBlocks</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Training_Shell__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentTrainingID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Generated_Block__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shell</name>
        <label>Update Shell</label>
        <locationX>236</locationX>
        <locationY>116</locationY>
        <connector>
            <targetReference>Greater_than_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentTrainingID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Blocks_Generated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Blocks__c</field>
            <value>
                <elementReference>numberOfBlocks</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordUpdates>
    <screens>
        <name>How_Many_Trainings</name>
        <label>How Many Trainings/Days?</label>
        <locationX>38</locationX>
        <locationY>116</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Shell</targetReference>
        </connector>
        <fields>
            <name>howManyTxt</name>
            <fieldText>This ongoing training purchase is for {!varTotalDays} days. How many individual blocks of days will this be split into?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>numberOfBlocks</name>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5</choiceReferences>
            <choiceReferences>X6</choiceReferences>
            <choiceReferences>X7</choiceReferences>
            <choiceReferences>X8</choiceReferences>
            <choiceReferences>X9</choiceReferences>
            <choiceReferences>X10</choiceReferences>
            <choiceReferences>X11</choiceReferences>
            <choiceReferences>X12</choiceReferences>
            <dataType>Number</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>HowManyDaysTxt</name>
            <fieldText>How many days in each block? (This can be changed individually after creation.)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HowManyDaysEach</name>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5</choiceReferences>
            <choiceReferences>X6</choiceReferences>
            <choiceReferences>X7</choiceReferences>
            <choiceReferences>X8</choiceReferences>
            <choiceReferences>X9</choiceReferences>
            <choiceReferences>X10</choiceReferences>
            <choiceReferences>X11</choiceReferences>
            <choiceReferences>X12</choiceReferences>
            <dataType>Number</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <screens>
        <name>No_Total_Days</name>
        <label>No Total Days</label>
        <locationX>239</locationX>
        <locationY>11</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noTotalDaysTxt</name>
            <fieldText>The total number of days for this training has not been filled in. This tool cannot proceed without this information being filled in on the parent record.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Training_Records_Created</name>
        <label>Training Records Created</label>
        <locationX>242</locationX>
        <locationY>1398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RecordsCreatedTxt</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The {!numberOfBlocks} individual records for training blocks have now been created.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please email &lt;A HREF=&quot;mailto:salesforce@vinsolutions.com&quot; TARGET=&quot;_blank&quot;&gt;salesforce@vinsolutions.com&lt;/A&gt; if you have any questions!&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>varTotalDays_Present</startElementReference>
    <variables>
        <name>varAccessCred</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAirportDistance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>varHotelDistance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>varInternetPresent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInternetType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMileageInformation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNearestAirport</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParentTrainingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProjector</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReccHotel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRoomFor10</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varScreenOrWall</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTotalDays</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTrustedSites</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
