flows/Create_Cancellation_Pieces-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Added creation of Name field.</description>
    <label>v1.1</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Accounting_Piece</name>
        <label>Create Accounting Piece</label>
        <locationX>102</locationX>
        <locationY>65</locationY>
        <connector>
            <targetReference>Create_Integration_Piece</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>ACC-{!varDealerName}-{!$Flow.CurrentDate}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00570000001gqGP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POA_Piece_Type__c</field>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POA__c</field>
            <value>
                <elementReference>varPOAID</elementReference>
            </value>
        </inputAssignments>
        <object>POA_Piece__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Integration_Piece</name>
        <label>Create Integration Piece</label>
        <locationX>102</locationX>
        <locationY>186</locationY>
        <connector>
            <targetReference>Create_SEM_SMM_Piece</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>INT-{!varDealerName}-{!$Flow.CurrentDate}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00570000000n1LL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POA_Piece_Type__c</field>
            <value>
                <stringValue>Integration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POA__c</field>
            <value>
                <elementReference>varPOAID</elementReference>
            </value>
        </inputAssignments>
        <object>POA_Piece__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_SEM_SMM_Piece</name>
        <label>Create SEM/SMM Piece</label>
        <locationX>100</locationX>
        <locationY>316</locationY>
        <connector>
            <targetReference>Create_Websites_Piece</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>SOC-{!varDealerName}-{!$Flow.CurrentDate}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00570000001eLcE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POA_Piece_Type__c</field>
            <value>
                <stringValue>SEM/SMM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POA__c</field>
            <value>
                <elementReference>varPOAID</elementReference>
            </value>
        </inputAssignments>
        <object>POA_Piece__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Websites_Piece</name>
        <label>Create Websites Piece</label>
        <locationX>99</locationX>
        <locationY>443</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>WEB-{!varDealerName}-{!$Flow.CurrentDate}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00570000001gB6J</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POA_Piece_Type__c</field>
            <value>
                <stringValue>Websites</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POA__c</field>
            <value>
                <elementReference>varPOAID</elementReference>
            </value>
        </inputAssignments>
        <object>POA_Piece__c</object>
    </recordCreates>
    <startElementReference>Create_Accounting_Piece</startElementReference>
    <variables>
        <name>varDealerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPOAID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
