flows/Create_Ongoing_Blocks-11.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Days_to_Var_More</name>
        <label>Assign Days to Var - More</label>
        <locationX>237</locationX>
        <locationY>567</locationY>
        <assignmentItems>
            <assignToReference>varNumberOfBlocks</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>numberOfBlocks_refill</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNumberOfDaysEach</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HowManyDaysEach_refill</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Refill_Parent_Shell</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Days_to_Var_New</name>
        <label>Assign Days to Var - New</label>
        <locationX>37</locationX>
        <locationY>567</locationY>
        <assignmentItems>
            <assignToReference>varNumberOfBlocks</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>numberOfBlocks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNumberOfDaysEach</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HowManyDaysEach</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Shell</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>X1</name>
        <choiceText>1</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X10</name>
        <choiceText>10</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X11</name>
        <choiceText>11</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>11.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X12</name>
        <choiceText>12</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>12.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X1_1</name>
        <choiceText>1</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X2</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X3</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X4</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X5</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X6</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X7</name>
        <choiceText>7</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X8</name>
        <choiceText>8</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X9</name>
        <choiceText>9</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.0</numberValue>
        </value>
    </choices>
    <decisions>
        <name>Greater_than_0</name>
        <label>Greater than 0?</label>
        <locationX>38</locationX>
        <locationY>778</locationY>
        <defaultConnector>
            <targetReference>Greater_than_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesGreaterThan0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfBlocks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Greater_than_1</name>
        <label>Greater than 1?</label>
        <locationX>38</locationX>
        <locationY>876</locationY>
        <defaultConnector>
            <targetReference>Greater_than_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesGreaterThan1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfBlocks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Greater_than_10</name>
        <label>Greater than 10?</label>
        <locationX>500</locationX>
        <locationY>764</locationY>
        <defaultConnector>
            <targetReference>Greater_than_11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesGreaterThan10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfBlocks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_11</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Greater_than_11</name>
        <label>Greater than 11?</label>
        <locationX>500</locationX>
        <locationY>869</locationY>
        <defaultConnector>
            <targetReference>Is_This_a_More_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesGreaterThan11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfBlocks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>11.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_12</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Greater_than_2</name>
        <label>Greater than 2?</label>
        <locationX>39</locationX>
        <locationY>973</locationY>
        <defaultConnector>
            <targetReference>Greater_than_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesGreaterThan2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfBlocks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_3</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Greater_than_3</name>
        <label>Greater than 3?</label>
        <locationX>40</locationX>
        <locationY>1071</locationY>
        <defaultConnector>
            <targetReference>Greater_than_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesGreaterThan3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfBlocks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_4</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Greater_than_4</name>
        <label>Greater than 4?</label>
        <locationX>42</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Greater_than_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesGreaterThan4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfBlocks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_5</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Greater_than_5</name>
        <label>Greater than 5?</label>
        <locationX>41</locationX>
        <locationY>1259</locationY>
        <defaultConnector>
            <targetReference>Greater_than_6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesGreaterThan5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfBlocks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_6</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Greater_than_6</name>
        <label>Greater than 6?</label>
        <locationX>497</locationX>
        <locationY>372</locationY>
        <defaultConnector>
            <targetReference>Greater_than_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesGreaterThan6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfBlocks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_7</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Greater_than_7</name>
        <label>Greater than 7?</label>
        <locationX>497</locationX>
        <locationY>470</locationY>
        <defaultConnector>
            <targetReference>Greater_than_8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesGreaterThan7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfBlocks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_8</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Greater_than_8</name>
        <label>Greater than 8?</label>
        <locationX>498</locationX>
        <locationY>567</locationY>
        <defaultConnector>
            <targetReference>Greater_than_9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesGreaterThan8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfBlocks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_9</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Greater_than_9</name>
        <label>Greater than 9?</label>
        <locationX>499</locationX>
        <locationY>665</locationY>
        <defaultConnector>
            <targetReference>Greater_than_10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesGreaterThan9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfBlocks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_10</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_a_More_Request</name>
        <label>Is This a More Request?</label>
        <locationX>600</locationX>
        <locationY>1001</locationY>
        <defaultConnector>
            <targetReference>Training_Records_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesMore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSourceIndicator</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>more</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_Source_as_Generated</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_the_Last_Gen</name>
        <label>Is This the Last Gen</label>
        <locationX>236</locationX>
        <locationY>123</locationY>
        <defaultConnector>
            <targetReference>Get_ID_of_Last_Gen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesLast</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLastGenerated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Prev_Days_Info</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_More_Ongoing</name>
        <label>New or More Ongoing?</label>
        <locationX>37</locationX>
        <locationY>123</locationY>
        <defaultConnector>
            <targetReference>Is_This_the_Last_Gen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>More</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSourceIndicator</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>new</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>How_Many_Trainings</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>varTotalDays_Empty</name>
        <label>varTotalDays Empty?</label>
        <locationX>37</locationX>
        <locationY>11</locationY>
        <defaultConnector>
            <targetReference>New_or_More_Ongoing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yesVarTotalDays</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTotalDays</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSourceIndicator</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>new</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Total_Days</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>REALLY Corrected Prev Parent Ongoing Days - Mark R</description>
    <label>Create Ongoing Blocks</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_1</name>
        <label>Create #1</label>
        <locationX>237</locationX>
        <locationY>778</locationY>
        <connector>
            <targetReference>Greater_than_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Airport_Distance__c</field>
            <value>
                <elementReference>varAirportDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Block_Number__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Generated_by_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Distance__c</field>
            <value>
                <elementReference>varHotelDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internet_Access_Present__c</field>
            <value>
                <elementReference>varInternetPresent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Information__c</field>
            <value>
                <elementReference>varMileageInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nearest_Airport__c</field>
            <value>
                <elementReference>varNearestAirport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Access_Keys_Passwords_IP_Addresses__c</field>
            <value>
                <elementReference>varAccessCred</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Days_This_Training__c</field>
            <value>
                <elementReference>varNumberOfDaysEach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Training_Shell__c</field>
            <value>
                <elementReference>varParentTrainingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projector_That_Can_Display_PC_Screen__c</field>
            <value>
                <elementReference>varProjector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Local_Hotel__c</field>
            <value>
                <elementReference>varReccHotel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QATv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Product__c</field>
            <value>
                <elementReference>varProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Project__c</field>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_for_10_Students_Plus_Trainers__c</field>
            <value>
                <elementReference>varRoomFor10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Screen_or_Wall_for_Projection__c</field>
            <value>
                <elementReference>varScreenOrWall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Blocks__c</field>
            <value>
                <elementReference>varNumberOfBlocks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Contact__c</field>
            <value>
                <elementReference>varTrainingContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Type__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Travel_Contact__c</field>
            <value>
                <elementReference>varTravelContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trusted_Sites_Set__c</field>
            <value>
                <elementReference>varTrustedSites</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Internet_Access__c</field>
            <value>
                <elementReference>varInternetType</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_10</name>
        <label>Create #10</label>
        <locationX>696</locationX>
        <locationY>665</locationY>
        <connector>
            <targetReference>Greater_than_10</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Airport_Distance__c</field>
            <value>
                <elementReference>varAirportDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Block_Number__c</field>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Generated_by_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Distance__c</field>
            <value>
                <elementReference>varHotelDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internet_Access_Present__c</field>
            <value>
                <elementReference>varInternetPresent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Information__c</field>
            <value>
                <elementReference>varMileageInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nearest_Airport__c</field>
            <value>
                <elementReference>varNearestAirport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Access_Keys_Passwords_IP_Addresses__c</field>
            <value>
                <elementReference>varAccessCred</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Days_This_Training__c</field>
            <value>
                <elementReference>varNumberOfDaysEach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Training_Shell__c</field>
            <value>
                <elementReference>varParentTrainingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projector_That_Can_Display_PC_Screen__c</field>
            <value>
                <elementReference>varProjector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Local_Hotel__c</field>
            <value>
                <elementReference>varReccHotel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QATv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Product__c</field>
            <value>
                <elementReference>varProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Project__c</field>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_for_10_Students_Plus_Trainers__c</field>
            <value>
                <elementReference>varRoomFor10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Screen_or_Wall_for_Projection__c</field>
            <value>
                <elementReference>varScreenOrWall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Blocks__c</field>
            <value>
                <elementReference>varNumberOfBlocks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Type__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trusted_Sites_Set__c</field>
            <value>
                <elementReference>varTrustedSites</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Internet_Access__c</field>
            <value>
                <elementReference>varInternetType</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_11</name>
        <label>Create #11</label>
        <locationX>697</locationX>
        <locationY>764</locationY>
        <connector>
            <targetReference>Greater_than_11</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Airport_Distance__c</field>
            <value>
                <elementReference>varAirportDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Block_Number__c</field>
            <value>
                <numberValue>11.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Generated_by_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Distance__c</field>
            <value>
                <elementReference>varHotelDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internet_Access_Present__c</field>
            <value>
                <elementReference>varInternetPresent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Information__c</field>
            <value>
                <elementReference>varMileageInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nearest_Airport__c</field>
            <value>
                <elementReference>varNearestAirport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Access_Keys_Passwords_IP_Addresses__c</field>
            <value>
                <elementReference>varAccessCred</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Days_This_Training__c</field>
            <value>
                <elementReference>varNumberOfDaysEach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Training_Shell__c</field>
            <value>
                <elementReference>varParentTrainingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projector_That_Can_Display_PC_Screen__c</field>
            <value>
                <elementReference>varProjector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Local_Hotel__c</field>
            <value>
                <elementReference>varReccHotel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QATv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Product__c</field>
            <value>
                <elementReference>varProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Project__c</field>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_for_10_Students_Plus_Trainers__c</field>
            <value>
                <elementReference>varRoomFor10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Screen_or_Wall_for_Projection__c</field>
            <value>
                <elementReference>varScreenOrWall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Blocks__c</field>
            <value>
                <elementReference>varNumberOfBlocks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Type__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trusted_Sites_Set__c</field>
            <value>
                <elementReference>varTrustedSites</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Internet_Access__c</field>
            <value>
                <elementReference>varInternetType</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_12</name>
        <label>Create #12</label>
        <locationX>697</locationX>
        <locationY>869</locationY>
        <connector>
            <targetReference>Is_This_a_More_Request</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Airport_Distance__c</field>
            <value>
                <elementReference>varAirportDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Block_Number__c</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Generated_by_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Distance__c</field>
            <value>
                <elementReference>varHotelDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internet_Access_Present__c</field>
            <value>
                <elementReference>varInternetPresent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Information__c</field>
            <value>
                <elementReference>varMileageInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nearest_Airport__c</field>
            <value>
                <elementReference>varNearestAirport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Access_Keys_Passwords_IP_Addresses__c</field>
            <value>
                <elementReference>varAccessCred</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Days_This_Training__c</field>
            <value>
                <elementReference>varNumberOfDaysEach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Training_Shell__c</field>
            <value>
                <elementReference>varParentTrainingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projector_That_Can_Display_PC_Screen__c</field>
            <value>
                <elementReference>varProjector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Local_Hotel__c</field>
            <value>
                <elementReference>varReccHotel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QATv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Product__c</field>
            <value>
                <elementReference>varProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Project__c</field>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_for_10_Students_Plus_Trainers__c</field>
            <value>
                <elementReference>varRoomFor10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Screen_or_Wall_for_Projection__c</field>
            <value>
                <elementReference>varScreenOrWall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Blocks__c</field>
            <value>
                <elementReference>varNumberOfBlocks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Type__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trusted_Sites_Set__c</field>
            <value>
                <elementReference>varTrustedSites</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Internet_Access__c</field>
            <value>
                <elementReference>varInternetType</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_2</name>
        <label>Create #2</label>
        <locationX>237</locationX>
        <locationY>876</locationY>
        <connector>
            <targetReference>Greater_than_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Airport_Distance__c</field>
            <value>
                <elementReference>varAirportDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Block_Number__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Generated_by_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Distance__c</field>
            <value>
                <elementReference>varHotelDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internet_Access_Present__c</field>
            <value>
                <elementReference>varInternetPresent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Information__c</field>
            <value>
                <elementReference>varMileageInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nearest_Airport__c</field>
            <value>
                <elementReference>varNearestAirport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Access_Keys_Passwords_IP_Addresses__c</field>
            <value>
                <elementReference>varAccessCred</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Days_This_Training__c</field>
            <value>
                <elementReference>varNumberOfDaysEach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Training_Shell__c</field>
            <value>
                <elementReference>varParentTrainingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projector_That_Can_Display_PC_Screen__c</field>
            <value>
                <elementReference>varProjector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Local_Hotel__c</field>
            <value>
                <elementReference>varReccHotel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QATv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Product__c</field>
            <value>
                <elementReference>varProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Project__c</field>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_for_10_Students_Plus_Trainers__c</field>
            <value>
                <elementReference>varRoomFor10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Screen_or_Wall_for_Projection__c</field>
            <value>
                <elementReference>varScreenOrWall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Blocks__c</field>
            <value>
                <elementReference>varNumberOfBlocks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Type__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trusted_Sites_Set__c</field>
            <value>
                <elementReference>varTrustedSites</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Internet_Access__c</field>
            <value>
                <elementReference>varInternetType</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_3</name>
        <label>Create #3</label>
        <locationX>238</locationX>
        <locationY>973</locationY>
        <connector>
            <targetReference>Greater_than_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Airport_Distance__c</field>
            <value>
                <elementReference>varAirportDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Block_Number__c</field>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Generated_by_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Distance__c</field>
            <value>
                <elementReference>varHotelDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internet_Access_Present__c</field>
            <value>
                <elementReference>varInternetPresent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Information__c</field>
            <value>
                <elementReference>varMileageInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nearest_Airport__c</field>
            <value>
                <elementReference>varNearestAirport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Access_Keys_Passwords_IP_Addresses__c</field>
            <value>
                <elementReference>varAccessCred</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Days_This_Training__c</field>
            <value>
                <elementReference>varNumberOfDaysEach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Training_Shell__c</field>
            <value>
                <elementReference>varParentTrainingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projector_That_Can_Display_PC_Screen__c</field>
            <value>
                <elementReference>varProjector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Local_Hotel__c</field>
            <value>
                <elementReference>varReccHotel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QATv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Product__c</field>
            <value>
                <elementReference>varProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Project__c</field>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_for_10_Students_Plus_Trainers__c</field>
            <value>
                <elementReference>varRoomFor10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Screen_or_Wall_for_Projection__c</field>
            <value>
                <elementReference>varScreenOrWall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Blocks__c</field>
            <value>
                <elementReference>varNumberOfBlocks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Type__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trusted_Sites_Set__c</field>
            <value>
                <elementReference>varTrustedSites</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Internet_Access__c</field>
            <value>
                <elementReference>varInternetType</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_4</name>
        <label>Create #4</label>
        <locationX>237</locationX>
        <locationY>1071</locationY>
        <connector>
            <targetReference>Greater_than_4</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Airport_Distance__c</field>
            <value>
                <elementReference>varAirportDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Block_Number__c</field>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Generated_by_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Distance__c</field>
            <value>
                <elementReference>varHotelDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internet_Access_Present__c</field>
            <value>
                <elementReference>varInternetPresent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Information__c</field>
            <value>
                <elementReference>varMileageInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nearest_Airport__c</field>
            <value>
                <elementReference>varNearestAirport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Access_Keys_Passwords_IP_Addresses__c</field>
            <value>
                <elementReference>varAccessCred</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Days_This_Training__c</field>
            <value>
                <elementReference>varNumberOfDaysEach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Training_Shell__c</field>
            <value>
                <elementReference>varParentTrainingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projector_That_Can_Display_PC_Screen__c</field>
            <value>
                <elementReference>varProjector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Local_Hotel__c</field>
            <value>
                <elementReference>varReccHotel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QATv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Product__c</field>
            <value>
                <elementReference>varProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Project__c</field>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_for_10_Students_Plus_Trainers__c</field>
            <value>
                <elementReference>varRoomFor10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Screen_or_Wall_for_Projection__c</field>
            <value>
                <elementReference>varScreenOrWall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Blocks__c</field>
            <value>
                <elementReference>varNumberOfBlocks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Type__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trusted_Sites_Set__c</field>
            <value>
                <elementReference>varTrustedSites</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Internet_Access__c</field>
            <value>
                <elementReference>varInternetType</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_5</name>
        <label>Create #5</label>
        <locationX>239</locationX>
        <locationY>1162</locationY>
        <connector>
            <targetReference>Greater_than_5</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Airport_Distance__c</field>
            <value>
                <elementReference>varAirportDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Block_Number__c</field>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Generated_by_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Distance__c</field>
            <value>
                <elementReference>varHotelDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internet_Access_Present__c</field>
            <value>
                <elementReference>varInternetPresent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Information__c</field>
            <value>
                <elementReference>varMileageInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nearest_Airport__c</field>
            <value>
                <elementReference>varNearestAirport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Access_Keys_Passwords_IP_Addresses__c</field>
            <value>
                <elementReference>varAccessCred</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Days_This_Training__c</field>
            <value>
                <elementReference>varNumberOfDaysEach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Training_Shell__c</field>
            <value>
                <elementReference>varParentTrainingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projector_That_Can_Display_PC_Screen__c</field>
            <value>
                <elementReference>varProjector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Local_Hotel__c</field>
            <value>
                <elementReference>varReccHotel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QATv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Product__c</field>
            <value>
                <elementReference>varProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Project__c</field>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_for_10_Students_Plus_Trainers__c</field>
            <value>
                <elementReference>varRoomFor10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Screen_or_Wall_for_Projection__c</field>
            <value>
                <elementReference>varScreenOrWall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Blocks__c</field>
            <value>
                <elementReference>varNumberOfBlocks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Type__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trusted_Sites_Set__c</field>
            <value>
                <elementReference>varTrustedSites</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Internet_Access__c</field>
            <value>
                <elementReference>varInternetType</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_6</name>
        <label>Create #6</label>
        <locationX>238</locationX>
        <locationY>1259</locationY>
        <connector>
            <targetReference>Greater_than_6</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Airport_Distance__c</field>
            <value>
                <elementReference>varAirportDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Block_Number__c</field>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Generated_by_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Distance__c</field>
            <value>
                <elementReference>varHotelDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internet_Access_Present__c</field>
            <value>
                <elementReference>varInternetPresent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Information__c</field>
            <value>
                <elementReference>varMileageInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nearest_Airport__c</field>
            <value>
                <elementReference>varNearestAirport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Access_Keys_Passwords_IP_Addresses__c</field>
            <value>
                <elementReference>varAccessCred</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Days_This_Training__c</field>
            <value>
                <elementReference>varNumberOfDaysEach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Training_Shell__c</field>
            <value>
                <elementReference>varParentTrainingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projector_That_Can_Display_PC_Screen__c</field>
            <value>
                <elementReference>varProjector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Local_Hotel__c</field>
            <value>
                <elementReference>varReccHotel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QATv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Product__c</field>
            <value>
                <elementReference>varProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Project__c</field>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_for_10_Students_Plus_Trainers__c</field>
            <value>
                <elementReference>varRoomFor10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Screen_or_Wall_for_Projection__c</field>
            <value>
                <elementReference>varScreenOrWall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Blocks__c</field>
            <value>
                <elementReference>varNumberOfBlocks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Type__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trusted_Sites_Set__c</field>
            <value>
                <elementReference>varTrustedSites</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Internet_Access__c</field>
            <value>
                <elementReference>varInternetType</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_7</name>
        <label>Create #7</label>
        <locationX>694</locationX>
        <locationY>372</locationY>
        <connector>
            <targetReference>Greater_than_7</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Airport_Distance__c</field>
            <value>
                <elementReference>varAirportDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Block_Number__c</field>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Generated_by_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Distance__c</field>
            <value>
                <elementReference>varHotelDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internet_Access_Present__c</field>
            <value>
                <elementReference>varInternetPresent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Information__c</field>
            <value>
                <elementReference>varMileageInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nearest_Airport__c</field>
            <value>
                <elementReference>varNearestAirport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Access_Keys_Passwords_IP_Addresses__c</field>
            <value>
                <elementReference>varAccessCred</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Days_This_Training__c</field>
            <value>
                <elementReference>varNumberOfDaysEach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Training_Shell__c</field>
            <value>
                <elementReference>varParentTrainingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projector_That_Can_Display_PC_Screen__c</field>
            <value>
                <elementReference>varProjector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Local_Hotel__c</field>
            <value>
                <elementReference>varReccHotel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QATv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Product__c</field>
            <value>
                <elementReference>varProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Project__c</field>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_for_10_Students_Plus_Trainers__c</field>
            <value>
                <elementReference>varRoomFor10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Screen_or_Wall_for_Projection__c</field>
            <value>
                <elementReference>varScreenOrWall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Blocks__c</field>
            <value>
                <elementReference>varNumberOfBlocks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Type__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trusted_Sites_Set__c</field>
            <value>
                <elementReference>varTrustedSites</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Internet_Access__c</field>
            <value>
                <elementReference>varInternetType</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_8</name>
        <label>Create #8</label>
        <locationX>694</locationX>
        <locationY>469</locationY>
        <connector>
            <targetReference>Greater_than_8</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Airport_Distance__c</field>
            <value>
                <elementReference>varAirportDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Block_Number__c</field>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Generated_by_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Distance__c</field>
            <value>
                <elementReference>varHotelDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internet_Access_Present__c</field>
            <value>
                <elementReference>varInternetPresent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Information__c</field>
            <value>
                <elementReference>varMileageInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nearest_Airport__c</field>
            <value>
                <elementReference>varNearestAirport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Access_Keys_Passwords_IP_Addresses__c</field>
            <value>
                <elementReference>varAccessCred</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Days_This_Training__c</field>
            <value>
                <elementReference>varNumberOfDaysEach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Training_Shell__c</field>
            <value>
                <elementReference>varParentTrainingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projector_That_Can_Display_PC_Screen__c</field>
            <value>
                <elementReference>varProjector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Local_Hotel__c</field>
            <value>
                <elementReference>varReccHotel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QATv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Product__c</field>
            <value>
                <elementReference>varProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Project__c</field>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_for_10_Students_Plus_Trainers__c</field>
            <value>
                <elementReference>varRoomFor10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Screen_or_Wall_for_Projection__c</field>
            <value>
                <elementReference>varScreenOrWall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Blocks__c</field>
            <value>
                <elementReference>varNumberOfBlocks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Type__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trusted_Sites_Set__c</field>
            <value>
                <elementReference>varTrustedSites</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Internet_Access__c</field>
            <value>
                <elementReference>varInternetType</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_9</name>
        <label>Create #9</label>
        <locationX>693</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Greater_than_9</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Airport_Distance__c</field>
            <value>
                <elementReference>varAirportDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Block_Number__c</field>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Generated_by_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Distance__c</field>
            <value>
                <elementReference>varHotelDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internet_Access_Present__c</field>
            <value>
                <elementReference>varInternetPresent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Information__c</field>
            <value>
                <elementReference>varMileageInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nearest_Airport__c</field>
            <value>
                <elementReference>varNearestAirport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Access_Keys_Passwords_IP_Addresses__c</field>
            <value>
                <elementReference>varAccessCred</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Days_This_Training__c</field>
            <value>
                <elementReference>varNumberOfDaysEach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Training_Shell__c</field>
            <value>
                <elementReference>varParentTrainingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projector_That_Can_Display_PC_Screen__c</field>
            <value>
                <elementReference>varProjector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Local_Hotel__c</field>
            <value>
                <elementReference>varReccHotel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QATv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Product__c</field>
            <value>
                <elementReference>varProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Project__c</field>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_for_10_Students_Plus_Trainers__c</field>
            <value>
                <elementReference>varRoomFor10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Screen_or_Wall_for_Projection__c</field>
            <value>
                <elementReference>varScreenOrWall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Blocks__c</field>
            <value>
                <elementReference>varNumberOfBlocks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Type__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trusted_Sites_Set__c</field>
            <value>
                <elementReference>varTrustedSites</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Internet_Access__c</field>
            <value>
                <elementReference>varInternetType</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Refill_Parent_Shell</name>
        <label>Create Refill Parent Shell</label>
        <locationX>237</locationX>
        <locationY>672</locationY>
        <assignRecordIdToReference>varParentTrainingID</assignRecordIdToReference>
        <connector>
            <targetReference>Greater_than_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Airport_Distance__c</field>
            <value>
                <elementReference>varAirportDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Blocks_Generated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Generated_by_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Distance__c</field>
            <value>
                <elementReference>varHotelDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internet_Access_Present__c</field>
            <value>
                <elementReference>varInternetPresent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Information__c</field>
            <value>
                <elementReference>varMileageInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nearest_Airport__c</field>
            <value>
                <elementReference>varNearestAirport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Access_Keys_Passwords_IP_Addresses__c</field>
            <value>
                <elementReference>varAccessCred</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projector_That_Can_Display_PC_Screen__c</field>
            <value>
                <elementReference>varProjector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Local_Hotel__c</field>
            <value>
                <elementReference>varReccHotel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QAU0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Product__c</field>
            <value>
                <elementReference>varProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Project__c</field>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_for_10_Students_Plus_Trainers__c</field>
            <value>
                <elementReference>varRoomFor10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Screen_or_Wall_for_Projection__c</field>
            <value>
                <elementReference>varScreenOrWall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Blocks__c</field>
            <value>
                <elementReference>varPrevNumberOfBlocks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Ongoing_Days__c</field>
            <value>
                <elementReference>varNewTotalOngoingDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Contact__c</field>
            <value>
                <elementReference>varTrainingContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Type__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Travel_Contact__c</field>
            <value>
                <elementReference>varTravelContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trusted_Sites_Set__c</field>
            <value>
                <elementReference>varTrustedSites</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Internet_Access__c</field>
            <value>
                <elementReference>varInternetType</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_ID_of_Last_Gen</name>
        <label>Get ID of Last Gen</label>
        <locationX>429</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Prev_Days_Info</targetReference>
        </connector>
        <filters>
            <field>Last_Block_in_Series__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Training_Shell__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentTrainingID</elementReference>
            </value>
        </filters>
        <object>Training__c</object>
        <outputAssignments>
            <assignToReference>varSourceTrainingID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Prev_Days_Info</name>
        <label>Get Prev Days Info</label>
        <locationX>236</locationX>
        <locationY>235</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Prev_Parent_Info</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSourceTrainingID</elementReference>
            </value>
        </filters>
        <object>Training__c</object>
        <outputAssignments>
            <assignToReference>varLastNumberOfDays</assignToReference>
            <field>Number_of_Days_This_Training__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPrevNumberOfBlocks</assignToReference>
            <field>Total_Number_of_Blocks__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Prev_Parent_Info</name>
        <label>Get Prev Parent Info</label>
        <locationX>236</locationX>
        <locationY>347</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>How_Many_Refills_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentTrainingID</elementReference>
            </value>
        </filters>
        <object>Training__c</object>
        <outputAssignments>
            <assignToReference>varNewTotalOngoingDays</assignToReference>
            <field>Total_Ongoing_Days__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Mark_Source_as_Generated</name>
        <label>Mark Source as Generated</label>
        <locationX>805</locationX>
        <locationY>1002</locationY>
        <connector>
            <targetReference>Training_Records_Created</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSourceTrainingID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>More_Ongoing_Generated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shell</name>
        <label>Update Shell</label>
        <locationX>38</locationX>
        <locationY>672</locationY>
        <connector>
            <targetReference>Greater_than_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentTrainingID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Blocks_Generated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Blocks__c</field>
            <value>
                <elementReference>numberOfBlocks</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordUpdates>
    <screens>
        <name>How_Many_Refills_Screen</name>
        <label>How Many Refills</label>
        <locationX>236</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Days_to_Var_More</targetReference>
        </connector>
        <fields>
            <name>howManyTxt_refill</name>
            <fieldText>The ongoing training for this rooftop is for {!varTotalDays} days. Their previous structure was {!varPrevNumberOfBlocks} blocks, most likely at {!varLastNumberOfDays} days per block.

How many new blocks of days would you like to generate?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>numberOfBlocks_refill</name>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5</choiceReferences>
            <choiceReferences>X6</choiceReferences>
            <choiceReferences>X7</choiceReferences>
            <choiceReferences>X8</choiceReferences>
            <choiceReferences>X9</choiceReferences>
            <choiceReferences>X10</choiceReferences>
            <choiceReferences>X11</choiceReferences>
            <choiceReferences>X12</choiceReferences>
            <dataType>Number</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>HowManyDaysTxt_0</name>
            <fieldText>How many days in each block? (This can be changed individually after creation.)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HowManyDaysEach_refill</name>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5</choiceReferences>
            <choiceReferences>X6</choiceReferences>
            <choiceReferences>X7</choiceReferences>
            <choiceReferences>X8</choiceReferences>
            <choiceReferences>X9</choiceReferences>
            <choiceReferences>X10</choiceReferences>
            <choiceReferences>X11</choiceReferences>
            <choiceReferences>X12</choiceReferences>
            <dataType>Number</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <screens>
        <name>How_Many_Trainings</name>
        <label>How Many Trainings/Days?</label>
        <locationX>37</locationX>
        <locationY>461</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Days_to_Var_New</targetReference>
        </connector>
        <fields>
            <name>howManyTxt</name>
            <fieldText>This ongoing training purchase is for {!varTotalDays} days. How many individual blocks of days will this be split into?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>numberOfBlocks</name>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5</choiceReferences>
            <choiceReferences>X6</choiceReferences>
            <choiceReferences>X7</choiceReferences>
            <choiceReferences>X8</choiceReferences>
            <choiceReferences>X9</choiceReferences>
            <choiceReferences>X10</choiceReferences>
            <choiceReferences>X11</choiceReferences>
            <choiceReferences>X12</choiceReferences>
            <dataType>Number</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>HowManyDaysTxt</name>
            <fieldText>How many days in each block? (This can be changed individually after creation.)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HowManyDaysEach</name>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5</choiceReferences>
            <choiceReferences>X6</choiceReferences>
            <choiceReferences>X7</choiceReferences>
            <choiceReferences>X8</choiceReferences>
            <choiceReferences>X9</choiceReferences>
            <choiceReferences>X10</choiceReferences>
            <choiceReferences>X11</choiceReferences>
            <choiceReferences>X12</choiceReferences>
            <dataType>Number</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <screens>
        <name>No_Total_Days</name>
        <label>No Total Days</label>
        <locationX>238</locationX>
        <locationY>11</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noTotalDaysTxt</name>
            <fieldText>The total number of days for this training has not been filled in. This tool cannot proceed without this information being filled in on the parent record.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Training_Records_Created</name>
        <label>Training Records Created</label>
        <locationX>700</locationX>
        <locationY>1122</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RecordsCreatedTxt</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The {!numberOfBlocks} individual records for training blocks have now been created.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please email &lt;A HREF=&quot;mailto:salesforce@vinsolutions.com&quot; TARGET=&quot;_blank&quot;&gt;salesforce@vinsolutions.com&lt;/A&gt; if you have any questions!&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>varTotalDays_Empty</startElementReference>
    <variables>
        <name>varAccessCred</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAirportDistance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>varHotelDistance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>varInternetPresent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInternetType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLastGenerated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLastNumberOfDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varMileageInformation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNearestAirport</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewTotalOngoingDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varNumberOfBlocks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varNumberOfDaysEach</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParentTrainingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPrevNumberOfBlocks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProjector</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReccHotel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRoomFor10</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varScreenOrWall</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSourceIndicator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSourceTrainingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTotalDays</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTrainingContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTravelContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTrustedSites</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
