flows/Create_Cancellation_Pieces-8.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Moving from POAs to Appeals.</description>
    <label>v2.0</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Accounting_Piece</name>
        <label>Create Accounting Piece</label>
        <locationX>102</locationX>
        <locationY>65</locationY>
        <connector>
            <targetReference>Create_Integration_Piece</targetReference>
        </connector>
        <inputAssignments>
            <field>Appeal__c</field>
            <value>
                <elementReference>varAppealID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>ACC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00570000001IZCW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POA_Piece_Type__c</field>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000Q9eO</stringValue>
            </value>
        </inputAssignments>
        <object>POA_Piece__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Integration_Piece</name>
        <label>Create Integration Piece</label>
        <locationX>102</locationX>
        <locationY>186</locationY>
        <connector>
            <targetReference>Create_SEM_SMM_Piece</targetReference>
        </connector>
        <inputAssignments>
            <field>Appeal__c</field>
            <value>
                <elementReference>varAppealID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>INT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00570000001hKy2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POA_Piece_Type__c</field>
            <value>
                <stringValue>Integration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000Q9eY</stringValue>
            </value>
        </inputAssignments>
        <object>POA_Piece__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_SEM_SMM_Piece</name>
        <label>Create SEM/SMM Piece</label>
        <locationX>100</locationX>
        <locationY>317</locationY>
        <connector>
            <targetReference>Create_Websites_Piece</targetReference>
        </connector>
        <inputAssignments>
            <field>Appeal__c</field>
            <value>
                <elementReference>varAppealID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>SOC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00570000001eLcE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POA_Piece_Type__c</field>
            <value>
                <stringValue>SEM/SMM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000Q9ed</stringValue>
            </value>
        </inputAssignments>
        <object>POA_Piece__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Websites_Piece</name>
        <label>Create Websites Piece</label>
        <locationX>99</locationX>
        <locationY>443</locationY>
        <connector>
            <targetReference>Check_Pieces_Generated</targetReference>
        </connector>
        <inputAssignments>
            <field>Appeal__c</field>
            <value>
                <elementReference>varAppealID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>WEB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00570000001gB6J</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POA_Piece_Type__c</field>
            <value>
                <stringValue>Websites</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000Q9eT</stringValue>
            </value>
        </inputAssignments>
        <object>POA_Piece__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Check_Pieces_Generated</name>
        <label>Check Pieces Generated</label>
        <locationX>96</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Landing_Page</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAppealID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pieces_Generated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Appeal__c</object>
    </recordUpdates>
    <screens>
        <name>Landing_Page</name>
        <label>Landing Page</label>
        <locationX>297</locationX>
        <locationY>567</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LandingPageText</name>
            <fieldText>The standard four Appeal pieces for cancellation have been created. Please click Finish to continue.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Create_Accounting_Piece</startElementReference>
    <variables>
        <name>varAppealID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDealerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPOAID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
