flows/EmailAlertToPOAOwner-11.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EmailtoPOAOwner</name>
        <label>EmailtoPOAOwner</label>
        <locationX>372</locationX>
        <locationY>469</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailContent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>The Stockwave Status has been updated to Good {!varvAutoAcctNumber}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varUserEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <description>Email to POA Owner when, Acquisition Pro updates the Billed Asset Product Status for Stockwave to Good.</description>
    <interviewLabel>EmailAlertToPOAOwner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EmailAlertToPOAOwner</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>AccountLookup</name>
        <label>AccountLookup</label>
        <locationX>144</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UserLookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPOADealer</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varPOARelatedAccount</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookBillingItem</name>
        <label>LookBillingItem</label>
        <locationX>140</locationX>
        <locationY>94</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>POALookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBillingItem_ID</elementReference>
            </value>
        </filters>
        <object>Billing_Item__c</object>
        <outputAssignments>
            <assignToReference>varPOA_ID</assignToReference>
            <field>POA_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>POALookup</name>
        <label>POALookup</label>
        <locationX>142</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountLookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPOA_ID</elementReference>
            </value>
        </filters>
        <object>POA__c</object>
        <outputAssignments>
            <assignToReference>varPOADealer</assignToReference>
            <field>Dealer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPOAOwnerID</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPOAOwnerName</assignToReference>
            <field>POA_Owner_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varvAutoAcctNumber</assignToReference>
            <field>vAuto_Account_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>UserLookup</name>
        <label>UserLookup</label>
        <locationX>144</locationX>
        <locationY>467</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EmailtoPOAOwner</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPOAOwnerID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varUserEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>LookBillingItem</startElementReference>
    <textTemplates>
        <name>EmailContent</name>
        <text>The Stockwave Status has been updated to Good for 
Account :  {!varPOARelatedAccount} ,
vAuto Account Number:   {!varvAutoAcctNumber}


Link to the record
https://cs25.salesforce.com/{!varPOA_ID}</text>
    </textTemplates>
    <variables>
        <name>varBillingItem_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPOA_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPOADealer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPOAOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPOAOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPOARelatedAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUserEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varvAutoAcctNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
