flows/Feature_Request_Approval-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Approval_Status_Awaiting_VPM</name>
        <label>AppStat Awaiting VPM</label>
        <locationX>509</locationX>
        <locationY>43</locationY>
        <defaultConnector>
            <targetReference>AppStat_Awaiting_Director</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_VPM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varApprovalStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting VPM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clicker_is_VPM</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>AppStat_Awaiting_Director</name>
        <label>AppStat Awaiting Director</label>
        <locationX>820</locationX>
        <locationY>39</locationY>
        <defaultConnector>
            <targetReference>No_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Director</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varApprovalStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Director</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clicker_is_Director</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>AppStat_Awaiting_Support</name>
        <label>AppStat Awaiting Support</label>
        <locationX>213</locationX>
        <locationY>38</locationY>
        <defaultConnector>
            <targetReference>Approval_Status_Awaiting_VPM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varApprovalStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Support Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clicker_is_Support_Mgr</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>AppStat_Not_in_Approval</name>
        <label>AppStat Not in Approval</label>
        <locationX>33</locationX>
        <locationY>38</locationY>
        <defaultConnector>
            <targetReference>AppStat_Awaiting_Support</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Not_In</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varApprovalStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not in Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clicker_Can_Start</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>VinPro role or VinCare Leads profile</description>
        <name>Clicker_Can_Start</name>
        <label>Clicker Can Start</label>
        <locationX>34</locationX>
        <locationY>176</locationY>
        <defaultConnector>
            <targetReference>Clicker_is_Support_Mgr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Start</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varClickerRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E70000000yslJ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varClickerProfile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e70000001File</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varClickerProfile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e70000001FjhJ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Requestor2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clicker_is_Director</name>
        <label>Clicker is Director</label>
        <locationX>822</locationX>
        <locationY>175</locationY>
        <defaultConnector>
            <targetReference>Not_Eligible</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Clicker_Director</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varClickerRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E70000000xpOi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varClickerRoleName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Director_Approval</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clicker_is_Support_Mgr</name>
        <label>Clicker is Support Mgr</label>
        <locationX>213</locationX>
        <locationY>174</locationY>
        <defaultConnector>
            <targetReference>Clicker_is_VPM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Supp_Mgr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varClickerRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E70000000wHfc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Supp_Approval</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clicker_is_VPM</name>
        <label>Clicker is VPM</label>
        <locationX>505</locationX>
        <locationY>173</locationY>
        <defaultConnector>
            <targetReference>Clicker_is_Director</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Clicker_VPM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varClickerRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E70000001GQc3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_VPM_Approval</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updated the Decision &quot;Clicker Can Start&quot; with the new profile (CTV) VinCare Leads</description>
    <label>Feature Request Approval</label>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Log_Requestor2</name>
        <label>Log Requestor</label>
        <locationX>34</locationX>
        <locationY>296</locationY>
        <connector>
            <targetReference>Update_AppStat_Awaiting_Support</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Feature_Request_Approval_Requestor__c</field>
            <value>
                <elementReference>varClickerID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>No_Approval</name>
        <label>No Approval</label>
        <locationX>1024</locationX>
        <locationY>40</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoApprovalText</name>
            <fieldText>No approval is necessary for this case. Either it is not eligible for approval, or it has already been approved.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Not_Eligible</name>
        <label>Not Eligible</label>
        <locationX>1022</locationX>
        <locationY>176</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotEligibleText</name>
            <fieldText>You are not eligible to advance the approval process for this ticket. Please speak with your manager.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>AppStat_Not_in_Approval</startElementReference>
    <steps>
        <name>Confirm_Director_Approval</name>
        <label>Confirm Director Approval</label>
        <locationX>823</locationX>
        <locationY>291</locationY>
        <connectors>
            <targetReference>Denial_Alert_VPM</targetReference>
        </connectors>
        <connectors>
            <targetReference>Update_AppStat_Approved</targetReference>
        </connectors>
    </steps>
    <steps>
        <name>Confirm_Supp_Approval</name>
        <label>Confirm Supp Approval</label>
        <locationX>213</locationX>
        <locationY>294</locationY>
        <connectors>
            <targetReference>Denial_Alert_Requestor</targetReference>
        </connectors>
        <connectors>
            <targetReference>Update_AppStat_Awaiting_VPM</targetReference>
        </connectors>
    </steps>
    <steps>
        <name>Confirm_VPM_Approval</name>
        <label>Confirm VPM Approval</label>
        <locationX>507</locationX>
        <locationY>287</locationY>
        <connectors>
            <targetReference>Denial_Alert_Requestor</targetReference>
        </connectors>
        <connectors>
            <targetReference>Log_VPM</targetReference>
        </connectors>
    </steps>
    <steps>
        <name>Create_Escalate_Case_Runner</name>
        <label>Create Escalate Case Runner</label>
        <locationX>830</locationX>
        <locationY>790</locationY>
    </steps>
    <steps>
        <name>Denial_Alert_Requestor</name>
        <label>Denial - Alert Requestor</label>
        <locationX>358</locationX>
        <locationY>378</locationY>
    </steps>
    <steps>
        <name>Denial_Alert_VPM</name>
        <label>Denial - Alert VPM</label>
        <locationX>664</locationX>
        <locationY>379</locationY>
        <connectors>
            <targetReference>Denial_Alert_Requestor</targetReference>
        </connectors>
    </steps>
    <steps>
        <name>Email_Dev</name>
        <label>Email Dev???</label>
        <locationX>827</locationX>
        <locationY>561</locationY>
        <connectors>
            <targetReference>Email_Success_to_All</targetReference>
        </connectors>
    </steps>
    <steps>
        <name>Email_Director</name>
        <label>Email Director</label>
        <locationX>507</locationX>
        <locationY>773</locationY>
    </steps>
    <steps>
        <name>Email_Success_to_All</name>
        <label>Email Success to All</label>
        <locationX>829</locationX>
        <locationY>680</locationY>
        <connectors>
            <targetReference>Create_Escalate_Case_Runner</targetReference>
        </connectors>
    </steps>
    <steps>
        <name>Email_Support_Mgr</name>
        <label>Email Support Mgr</label>
        <locationX>32</locationX>
        <locationY>647</locationY>
    </steps>
    <steps>
        <name>Email_VPM</name>
        <label>Email VPM</label>
        <locationX>210</locationX>
        <locationY>644</locationY>
    </steps>
    <steps>
        <name>Log_VPM</name>
        <label>Log VPM</label>
        <locationX>506</locationX>
        <locationY>449</locationY>
        <connectors>
            <targetReference>Update_AppStat_Awaiting_Director</targetReference>
        </connectors>
    </steps>
    <steps>
        <name>Task_Director</name>
        <label>Task Director</label>
        <locationX>507</locationX>
        <locationY>660</locationY>
        <connectors>
            <targetReference>Email_Director</targetReference>
        </connectors>
    </steps>
    <steps>
        <name>Task_Support_Mgr</name>
        <label>Task Support Mgr</label>
        <locationX>33</locationX>
        <locationY>529</locationY>
        <connectors>
            <targetReference>Email_Support_Mgr</targetReference>
        </connectors>
    </steps>
    <steps>
        <name>Task_VPM</name>
        <label>Task VPM</label>
        <locationX>209</locationX>
        <locationY>527</locationY>
        <connectors>
            <targetReference>Email_VPM</targetReference>
        </connectors>
    </steps>
    <steps>
        <name>Update_AppStat_Approved</name>
        <label>Update AppStat Approved</label>
        <locationX>825</locationX>
        <locationY>447</locationY>
        <connectors>
            <targetReference>Email_Dev</targetReference>
        </connectors>
    </steps>
    <steps>
        <name>Update_AppStat_Awaiting_Director</name>
        <label>Update AppStat Awaiting Director</label>
        <locationX>507</locationX>
        <locationY>557</locationY>
        <connectors>
            <targetReference>Task_Director</targetReference>
        </connectors>
    </steps>
    <steps>
        <name>Update_AppStat_Awaiting_Support</name>
        <label>Update AppStat Awaiting Support</label>
        <locationX>33</locationX>
        <locationY>416</locationY>
        <connectors>
            <targetReference>Task_Support_Mgr</targetReference>
        </connectors>
    </steps>
    <steps>
        <name>Update_AppStat_Awaiting_VPM</name>
        <label>Update AppStat Awaiting VPM</label>
        <locationX>212</locationX>
        <locationY>415</locationY>
        <connectors>
            <targetReference>Task_VPM</targetReference>
        </connectors>
    </steps>
    <variables>
        <name>varApprovalStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClickerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClickerProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClickerRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClickerRoleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
