flows/Generate_Training_Records-10.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Any_Opp_Prod_Found</name>
        <label>Any Opp Prod Found?</label>
        <locationX>223</locationX>
        <locationY>138</locationY>
        <defaultConnector>
            <targetReference>Get_Product_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Products_Left</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOppLineItemID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Marked_Opp_Prod</targetReference>
            </connector>
            <label>No Products Left</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Opp_Prod_Found_0</name>
        <label>Any Opp Prod Found?</label>
        <locationX>367</locationX>
        <locationY>265</locationY>
        <defaultConnector>
            <targetReference>Unmark_Opp_Prod</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Products_Left_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOppLineItemID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_Opp_Generated</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Recent_Cancels</name>
        <label>Any Recent Cancels?</label>
        <locationX>400</locationX>
        <locationY>485</locationY>
        <defaultConnector>
            <targetReference>Mark_as_Suspected_Cancel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoCancels</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecentCancelID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_Opp_Prod_Created</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_OppProd_Type</name>
        <label>Determine OppProd Type</label>
        <locationX>869</locationX>
        <locationY>138</locationY>
        <defaultConnector>
            <targetReference>Create_Upsell</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Upsell</defaultConnectorLabel>
        <rules>
            <name>Ongoing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Ongoing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Shell</targetReference>
            </connector>
            <label>Ongoing</label>
        </rules>
        <rules>
            <name>Inhouse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>In-House</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Inhouse</targetReference>
            </connector>
            <label>Inhouse</label>
        </rules>
        <rules>
            <name>Follow_Up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Install Follow-Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Followup</targetReference>
            </connector>
            <label>Follow-Up</label>
        </rules>
        <rules>
            <name>New_Install</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varOppType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CRM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOppType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Solution</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Install</targetReference>
            </connector>
            <label>New Install</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prod_is_Webinar</name>
        <label>Prod is Webinar</label>
        <locationX>401</locationX>
        <locationY>33</locationY>
        <defaultConnector>
            <targetReference>Get_Associated_Project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesWebinar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Webinar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_Opp_Prod_Created_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Added opportunity flagging for Training Generated - Mark R</description>
    <label>Generate Training Records</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Followup</name>
        <label>Create Followup</label>
        <locationX>898</locationX>
        <locationY>455</locationY>
        <assignRecordIdToReference>varGeneratedTrainingID</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Recent_Cancellations</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Block_Number__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Generated_by_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Days_This_Training__c</field>
            <value>
                <elementReference>varNumberOfDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QATv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Product__c</field>
            <value>
                <elementReference>varProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Project__c</field>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Blocks__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Type__c</field>
            <value>
                <stringValue>Install Follow-Up</stringValue>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Inhouse</name>
        <label>Create Inhouse</label>
        <locationX>958</locationX>
        <locationY>368</locationY>
        <assignRecordIdToReference>varGeneratedTrainingID</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Recent_Cancellations</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Generated_by_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Days_This_Training__c</field>
            <value>
                <elementReference>varQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QAU5</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Product__c</field>
            <value>
                <elementReference>varProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Project__c</field>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Install</name>
        <label>Create New Install</label>
        <locationX>818</locationX>
        <locationY>536</locationY>
        <assignRecordIdToReference>varGeneratedTrainingID</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Recent_Cancellations</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Block_Number__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Generated_by_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Days_This_Training__c</field>
            <value>
                <elementReference>varNumberOfDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QATv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Product__c</field>
            <value>
                <elementReference>varProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Project__c</field>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Blocks__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Type__c</field>
            <value>
                <stringValue>New Install</stringValue>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Shell</name>
        <label>Create Shell</label>
        <locationX>1002</locationX>
        <locationY>285</locationY>
        <assignRecordIdToReference>varGeneratedTrainingID</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Recent_Cancellations</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Generated_by_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QAU0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Product__c</field>
            <value>
                <elementReference>varProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Project__c</field>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Ongoing_Days__c</field>
            <value>
                <elementReference>varNumberOfDays</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Upsell</name>
        <label>Create Upsell</label>
        <locationX>714</locationX>
        <locationY>612</locationY>
        <assignRecordIdToReference>varGeneratedTrainingID</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Recent_Cancellations</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Block_Number__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Generated_by_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Days_This_Training__c</field>
            <value>
                <elementReference>varNumberOfDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QATv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Product__c</field>
            <value>
                <elementReference>varProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Project__c</field>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Blocks__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Type__c</field>
            <value>
                <stringValue>Upsell</stringValue>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Marked_Opp_Prod</name>
        <label>Find Marked Opp Prod</label>
        <locationX>223</locationX>
        <locationY>265</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Opp_Prod_Found_0</targetReference>
        </connector>
        <filters>
            <field>IsTraining__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>True</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Training_Flow_Generated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>varOppLineItemID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_Opp_Prod</name>
        <label>Find Opp Prod</label>
        <locationX>48</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Opp_Prod_Found</targetReference>
        </connector>
        <filters>
            <field>IsTraining__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>True</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Training_Flow_Generated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>varOppLineItemID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNumberOfDays</assignToReference>
            <field>Number_of_Training_Days__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPricebookEntryID</assignToReference>
            <field>PricebookEntryId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varQuantity</assignToReference>
            <field>Quantity</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_Recent_Cancellations</name>
        <label>Find Recent Cancellations</label>
        <locationX>570</locationX>
        <locationY>484</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Recent_Cancels</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Recent_Cancellation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Training__c</object>
        <outputAssignments>
            <assignToReference>varRecentCancelID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Associated_Project</name>
        <label>Get Related Project</label>
        <locationX>572</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_OppProd_Type</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>IMP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <object>SFDC_520_Quote__c</object>
        <outputAssignments>
            <assignToReference>varProjectID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Info</name>
        <label>Get Product Info</label>
        <locationX>401</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prod_is_Webinar</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPricebookEntryID</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>varProductName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProductID</assignToReference>
            <field>Product2Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Mark_as_Suspected_Cancel</name>
        <label>Mark as Suspected Cancel</label>
        <locationX>221</locationX>
        <locationY>590</locationY>
        <connector>
            <targetReference>Mark_Opp_Prod_Created</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varGeneratedTrainingID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Suspected_Reschedule__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Mark_Opp_Generated</name>
        <label>Mark Opp Generated</label>
        <locationX>528</locationX>
        <locationY>265</locationY>
        <connector>
            <targetReference>All_Products_Created</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Training_Generated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Mark_Opp_Prod_Created</name>
        <label>Mark Opp Prod Created</label>
        <locationX>47</locationX>
        <locationY>485</locationY>
        <connector>
            <targetReference>Find_Opp_Prod</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppLineItemID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Training_Flow_Generated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Mark_Opp_Prod_Created_0</name>
        <label>Mark Opp Prod Created</label>
        <locationX>223</locationX>
        <locationY>35</locationY>
        <connector>
            <targetReference>Find_Opp_Prod</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppLineItemID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Training_Flow_Generated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Unmark_Opp_Prod</name>
        <label>Unmark Opp Prod</label>
        <locationX>295</locationX>
        <locationY>379</locationY>
        <connector>
            <targetReference>Find_Marked_Opp_Prod</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppLineItemID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Training_Flow_Generated__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <screens>
        <name>All_Products_Created</name>
        <label>All Products Created</label>
        <locationX>679</locationX>
        <locationY>265</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>productsCreated</name>
            <fieldText>Any training products found on this Opportunity have now been turned into Training Records.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Find_Opp_Prod</startElementReference>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGeneratedTrainingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNumberOfDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppLineItemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPricebookEntryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varRecentCancelID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
