flows/Generate_PM_Call_POA_Task-6.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FAULT_Email</name>
        <label>FAULT Email</label>
        <locationX>275</locationX>
        <locationY>642</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>FLOW ERROR - Generate PM Call POA Task</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>mark.ross@autotradergroup.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FAULT_Email_0</name>
        <label>FAULT Email</label>
        <locationX>559</locationX>
        <locationY>20</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Product Name Not Defined</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>FLOW ERROR - Generate PM Call POA Task</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>mark.ross@autotradergroup.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Set_At_Risk_Variables</name>
        <label>Set At Risk Variables</label>
        <locationX>275</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>varDays</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High Priority</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_At_Risk_Variables_0</name>
        <label>Set At Risk Variables</label>
        <locationX>432</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>varDays</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High Priority</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Conquest_Variables</name>
        <label>Set Conquest Variables</label>
        <locationX>397</locationX>
        <locationY>132</locationY>
        <assignmentItems>
            <assignToReference>varSubjectSegment</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Conquest</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommentTypeSegment</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Conquest account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_Product_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Good_Variables</name>
        <label>Set Good Variables</label>
        <locationX>117</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>varDays</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Provision_Variables</name>
        <label>Set Provision Variables</label>
        <locationX>153</locationX>
        <locationY>133</locationY>
        <assignmentItems>
            <assignToReference>varSubjectSegment</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommentTypeSegment</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_Product_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Provision_or_Conquest</name>
        <label>Provision or Conquest</label>
        <locationX>272</locationX>
        <locationY>16</locationY>
        <defaultConnector>
            <targetReference>FAULT_Email_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT DEFINED</defaultConnectorLabel>
        <rules>
            <name>Provision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Provision</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Provision_Variables</targetReference>
            </connector>
            <label>Provision</label>
        </rules>
        <rules>
            <name>Conquest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Conquest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Conquest_Variables</targetReference>
            </connector>
            <label>Conquest</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Product_Status</name>
        <label>What Product Status</label>
        <locationX>275</locationX>
        <locationY>241</locationY>
        <defaultConnectorLabel>INVALID</defaultConnectorLabel>
        <rules>
            <name>Good</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Good</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Good_Variables</targetReference>
            </connector>
            <label>Good</label>
        </rules>
        <rules>
            <name>At_Risk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>At Risk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_At_Risk_Variables</targetReference>
            </connector>
            <label>At Risk</label>
        </rules>
        <rules>
            <name>Save</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_At_Risk_Variables_0</targetReference>
            </connector>
            <label>Save</label>
        </rules>
    </decisions>
    <description>Corrected variables</description>
    <label>Generate PM Call POA Task</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_At_Risk_Task</name>
        <label>Create At Risk Task</label>
        <locationX>744</locationX>
        <locationY>496</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>txtAtRiskDesc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varPOAOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High Priority</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue># PM Review Call At Risk Status</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varPOAID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Save_Task</name>
        <label>Create Save Task</label>
        <locationX>803</locationX>
        <locationY>398</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>txtSaveStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varPOAOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High Priority</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue># PM Review Call Save Status</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varPOAID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task works</label>
        <locationX>55</locationX>
        <locationY>567</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00570000001fuQH</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>varPriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>SFDC Test</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <stringValue>a0dQ0000003ZCfb</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_0</name>
        <label>Create Task</label>
        <locationX>275</locationX>
        <locationY>493</locationY>
        <faultConnector>
            <targetReference>FAULT_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>txtStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varPOAOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>varPriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue># {!varSubjectSegment} Review Call {!varProductStatus} Status</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varPOAID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_0_0</name>
        <label>Create Task</label>
        <locationX>530</locationX>
        <locationY>560</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>txtStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00570000001fuQH</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>varPriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Christine SFDC Test # {!varSubjectSegment} Review Call {!varProductStatus} Status</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varPOAID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <startElementReference>Provision_or_Conquest</startElementReference>
    <textTemplates>
        <name>txtAtRiskDesc</name>
        <text>Your account is currently in At Risk Status 
Contact your account</text>
    </textTemplates>
    <textTemplates>
        <name>txtError</name>
        <text>{!$Flow.FaultMessage}
Firing record ID: {!varBillingAssetID}</text>
    </textTemplates>
    <textTemplates>
        <name>txtSaveStatus</name>
        <text>Your account is currently in Save Status 
Contact your account</text>
    </textTemplates>
    <textTemplates>
        <name>txtStatus</name>
        <text>Your {!varCommentTypeSegment} is currently in {!varProductStatus} Status 
Contact your account</text>
    </textTemplates>
    <variables>
        <name>varBillingAssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCommentTypeSegment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDays</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>varPOAID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPOAOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPriority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProductStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSubjectSegment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
