flows/Generate_Broken_Project_Contract-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <label>Generate Broken Project/Contract</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Installment_ID</name>
        <label>Get Installment ID</label>
        <locationX>26</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Opp_Values_False</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <object>Installment__c</object>
        <outputAssignments>
            <assignToReference>varInstallmentID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Installment_Confirmed</name>
        <label>Set Installment Confirmed</label>
        <locationX>598</locationX>
        <locationY>25</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInstallmentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Confirmed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Installment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Installment_Unconfirmed</name>
        <label>Set Installment Unconfirmed</label>
        <locationX>309</locationX>
        <locationY>25</locationY>
        <connector>
            <targetReference>Proceed</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInstallmentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Confirmed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Installment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opp_Values_False</name>
        <label>Set Opp Values False</label>
        <locationX>167</locationX>
        <locationY>27</locationY>
        <connector>
            <targetReference>Set_Installment_Unconfirmed</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Confirmed__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Generated__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Exception__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Generated__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Proceed</name>
        <label>Proceed</label>
        <locationX>454</locationX>
        <locationY>25</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Installment_Confirmed</targetReference>
        </connector>
        <fields>
            <name>txtProceed</name>
            <fieldText>Clicking Next will attempt to reset the contract and project generation. If this does not work, please contact the Salesforce team. Thanks!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Get_Installment_ID</startElementReference>
    <variables>
        <name>varInstallmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
