flows/Haystak_Create_and_Escalate_Case-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Creative_Esc_and_Camp_Type</name>
        <label>Set Creative Esc and Camp Type</label>
        <locationX>604</locationX>
        <locationY>80</locationY>
        <assignmentItems>
            <assignToReference>varEscType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Escalation_TypeCreative</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCampType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Campaign_Creative_TypeCreative</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Program_Type_Filled_In</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Paid_AdCopy_Esc_and_Camp_Type</name>
        <label>Set Paid AdCopy Esc and Camp Type</label>
        <locationX>487</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>varEscType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Escalation_TypePaid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCampType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Campaign_Creative_TypeAdCopy</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Program_Type_Filled_In</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Paid_Esc_Type</name>
        <label>Set Paid Esc Type</label>
        <locationX>410</locationX>
        <locationY>421</locationY>
        <assignmentItems>
            <assignToReference>varEscType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Escalation_TypePaid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Program_Type_Filled_In</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Paid_Other_Esc_and_Camp_Type</name>
        <label>Set Paid Other Esc and Camp Type</label>
        <locationX>485</locationX>
        <locationY>319</locationY>
        <assignmentItems>
            <assignToReference>varEscType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Escalation_TypePaid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCampType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Campaign_Creative_TypeOther</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Program_Type_Filled_In</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tech_Esc_Type</name>
        <label>Set Tech Esc Type</label>
        <locationX>510</locationX>
        <locationY>183</locationY>
        <assignmentItems>
            <assignToReference>varEscType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Escalation_TypeTech</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Program_Type_Filled_In</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Active</name>
        <choiceText>Active</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Active</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ad_Copy_Changes</name>
        <choiceText>Ad Copy Changes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ad Copy Changes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ad_Disapprovals</name>
        <choiceText>Ad Disapprovals</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ad Disapprovals</stringValue>
        </value>
    </choices>
    <choices>
        <name>Analytic_Issues</name>
        <choiceText>Analytic Issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Analytic Issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>Analytic_Setup</name>
        <choiceText>Analytic Setup</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Analytic Setup</stringValue>
        </value>
    </choices>
    <choices>
        <name>Asbury</name>
        <choiceText>Asbury</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Asbury</stringValue>
        </value>
    </choices>
    <choices>
        <name>Award_Season_Event</name>
        <choiceText>Award Season Event</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Award Season Event</stringValue>
        </value>
    </choices>
    <choices>
        <name>Big_Finish</name>
        <choiceText>Big Finish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Big Finish</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bing_Finance</name>
        <choiceText>Bing Finance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bing Finance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bing_Managed</name>
        <choiceText>Bing Managed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bing Managed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bing_Service_and_Parts</name>
        <choiceText>Bing Service and Parts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bing Service and Parts</stringValue>
        </value>
    </choices>
    <choices>
        <name>Business_Center_Promo</name>
        <choiceText>Business Center Promo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Business Center Promo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Call_Tracking</name>
        <choiceText>Call Tracking</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Call Tracking</stringValue>
        </value>
    </choices>
    <choices>
        <name>Call_Tracking_Cancellation</name>
        <choiceText>Call Tracking Cancellation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Call Tracking Cancellation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choose_one</name>
        <choiceText>Choose one:</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NONE</stringValue>
        </value>
    </choices>
    <choices>
        <name>Chrysler</name>
        <choiceText>Chrysler</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chrysler</stringValue>
        </value>
    </choices>
    <choices>
        <name>Chrysler_NON_PAP</name>
        <choiceText>Chrysler NON-PAP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chrysler NON-PAP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Chrysler_SEO</name>
        <choiceText>Chrysler SEO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chrysler SEO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Chrysler_T_C_Event</name>
        <choiceText>Chrysler T&amp;C Event</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chrysler T&amp;C Event</stringValue>
        </value>
    </choices>
    <choices>
        <name>CO_OP</name>
        <choiceText>CO OP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CO OP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Competitors_Bing</name>
        <choiceText>Competitors Bing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Competitors Bing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Competitors_Google</name>
        <choiceText>Competitors Google</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Competitors Google</stringValue>
        </value>
    </choices>
    <choices>
        <name>Corrections</name>
        <choiceText>Corrections</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Corrections</stringValue>
        </value>
    </choices>
    <choices>
        <name>Creative_Requests</name>
        <choiceText>Creative Requests</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hay - Creative Requests</stringValue>
        </value>
    </choices>
    <choices>
        <name>Current_Campaign_Modifications</name>
        <choiceText>Current Campaign Modifications</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Current Campaign Modifications</stringValue>
        </value>
    </choices>
    <choices>
        <name>Current_Client</name>
        <choiceText>Current Client</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Current Client</stringValue>
        </value>
    </choices>
    <choices>
        <name>Display</name>
        <choiceText>Display</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Display</stringValue>
        </value>
    </choices>
    <choices>
        <name>Display_Ads</name>
        <choiceText>Display Ads</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Display Ads</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dodge_Event</name>
        <choiceText>Dodge Event</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dodge Event</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dynamic_Ad_Copy_Changes</name>
        <choiceText>Dynamic Ad Copy Changes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dynamic Ad Copy Changes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dynamic_Campaign_Issues</name>
        <choiceText>Dynamic Campaign Issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dynamic Campaign Issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dynamic_Enhanced</name>
        <choiceText>Dynamic (Enhanced)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dynamic (Enhanced)</stringValue>
        </value>
    </choices>
    <choices>
        <name>E_Blast</name>
        <choiceText>E-Blast</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E-Blast</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email_Conversions</name>
        <choiceText>Email Conversions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email Conversions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Feed_Cancellations</name>
        <choiceText>Feed Cancellations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Feed Cancellations</stringValue>
        </value>
    </choices>
    <choices>
        <name>General_Conversion_Issue</name>
        <choiceText>General Conversion Issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General Conversion Issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>General_Used_Brand_Bing</name>
        <choiceText>General Used Brand Bing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General Used Brand Bing</stringValue>
        </value>
    </choices>
    <choices>
        <name>General_Used_Brand_Google</name>
        <choiceText>General Used Brand Google</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General Used Brand Google</stringValue>
        </value>
    </choices>
    <choices>
        <name>Generic_Used_Bing</name>
        <choiceText>Generic Used Bing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Generic Used Bing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Generic_Used_Google</name>
        <choiceText>Generic Used Google</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Generic Used Google</stringValue>
        </value>
    </choices>
    <choices>
        <name>Google_Enhanced</name>
        <choiceText>Google Enhanced</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Google Enhanced</stringValue>
        </value>
    </choices>
    <choices>
        <name>Google_Finance</name>
        <choiceText>Google Finance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Google Finance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Google_Service_and_Parts</name>
        <choiceText>Google Service and Parts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Google Service and Parts</stringValue>
        </value>
    </choices>
    <choices>
        <name>IMM</name>
        <choiceText>IMM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IMM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Jeep_Celebration</name>
        <choiceText>Jeep Celebration</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jeep Celebration</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kenshoo_Issues</name>
        <choiceText>Kenshoo Issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kenshoo Issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kenshoo_Profile_Move</name>
        <choiceText>Kenshoo Profile Move</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kenshoo Profile Move</stringValue>
        </value>
    </choices>
    <choices>
        <name>Landing_Page</name>
        <choiceText>Landing Page</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Landing Page</stringValue>
        </value>
    </choices>
    <choices>
        <name>Minivan_Month</name>
        <choiceText>Minivan Month</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Minivan Month</stringValue>
        </value>
    </choices>
    <choices>
        <name>MSA_Groups</name>
        <choiceText>MSA Groups</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MSA Groups</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Account</name>
        <choiceText>New Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Ads</name>
        <choiceText>New Ads</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Ads</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Campaign_Creation</name>
        <choiceText>New Campaign Creation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Campaign Creation</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Dynamic_Campaign</name>
        <choiceText>New Dynamic Campaign</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Dynamic Campaign</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>No_Event_Generic_Ads</name>
        <choiceText>No Event - Generic Ads</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Event - Generic Ads</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>NoRecurring</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Paid_Ops</name>
        <choiceText>Paid Ops</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hay - Paid Ops</stringValue>
        </value>
    </choices>
    <choices>
        <name>Paused</name>
        <choiceText>Paused</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Paused</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pre_Roll</name>
        <choiceText>Pre Roll</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pre Roll</stringValue>
        </value>
    </choices>
    <choices>
        <name>Promotional</name>
        <choiceText>Promotional</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Promotional</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ram_Commercial_Truck_Season</name>
        <choiceText>Ram Commercial Truck Season</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ram Commercial Truck Season</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ram_Powerdays</name>
        <choiceText>Ram Powerdays</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ram Powerdays</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ram_Truck_Month</name>
        <choiceText>Ram Truck Month</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ram Truck Month</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remarketing</name>
        <choiceText>Remarketing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remarketing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remarketing_Issues</name>
        <choiceText>Remarketing Issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remarketing Issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remarketing_Setup</name>
        <choiceText>Remarketing Setup</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remarketing Setup</stringValue>
        </value>
    </choices>
    <choices>
        <name>Retail</name>
        <choiceText>Retail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Retail</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reverse_Proxy_Issue</name>
        <choiceText>Reverse Proxy Issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reverse Proxy Issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reverse_Proxy_Setup</name>
        <choiceText>Reverse Proxy Setup</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reverse Proxy Setup</stringValue>
        </value>
    </choices>
    <choices>
        <name>Revisions</name>
        <choiceText>Revisions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Revisions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sales_Sheet</name>
        <choiceText>Sales Sheet</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales Sheet</stringValue>
        </value>
    </choices>
    <choices>
        <name>Scion</name>
        <choiceText>Scion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Scion</stringValue>
        </value>
    </choices>
    <choices>
        <name>SE_AdWords_Setup</name>
        <choiceText>SE - AdWords Setup</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SE - AdWords Setup</stringValue>
        </value>
    </choices>
    <choices>
        <name>SE_Cancellation</name>
        <choiceText>SE - Cancellation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SE - Cancellation</stringValue>
        </value>
    </choices>
    <choices>
        <name>SE_RVP</name>
        <choiceText>SE - RVP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SE - RVP</stringValue>
        </value>
    </choices>
    <choices>
        <name>SE_Search_Essentials_Portal</name>
        <choiceText>SE - Search Essentials Portal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SE - Search Essentials Portal</stringValue>
        </value>
    </choices>
    <choices>
        <name>SEO</name>
        <choiceText>SEO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SEO</stringValue>
        </value>
    </choices>
    <choices>
        <name>SEO_Landing_Page</name>
        <choiceText>SEO Landing Page</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SEO Landing Page</stringValue>
        </value>
    </choices>
    <choices>
        <name>SEOcamptype</name>
        <choiceText>SEO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SEO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Showcase_Event</name>
        <choiceText>Showcase Event</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Showcase Event</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sitelink_Issues</name>
        <choiceText>Sitelink Issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sitelink Issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sliders</name>
        <choiceText>Sliders</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sliders</stringValue>
        </value>
    </choices>
    <choices>
        <name>Specials</name>
        <choiceText>Specials</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Specials</stringValue>
        </value>
    </choices>
    <choices>
        <name>Summer_Clearance</name>
        <choiceText>Summer Clearance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Summer Clearance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tech_Ops</name>
        <choiceText>Tech Ops</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hay - Tech Ops</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2014_Rebuild_Project</name>
        <choiceText>2014 Rebuild Project</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2014 Rebuild Project</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>YesRecurring</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>YouTube_Pre_Roll</name>
        <choiceText>YouTube Pre Roll</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>You Tube Pre Roll</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Needs_Campaign_Type</name>
        <label>Needs Camp Type?</label>
        <locationX>166</locationX>
        <locationY>422</locationY>
        <defaultConnector>
            <targetReference>Set_Paid_Esc_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Ad_Copy</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Escalation_TypePaid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ad_Copy_Changes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Ad_Copy_Camp_Type</targetReference>
            </connector>
            <label>Yes Ad Copy</label>
        </rules>
        <rules>
            <name>Yes_Other</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Escalation_TypePaid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Current_Campaign_Modifications</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Escalation_TypePaid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New_Campaign_Creation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Other_Camp_Type</targetReference>
            </connector>
            <label>Yes Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Type_Filled_In</name>
        <label>Program Type Filled In?</label>
        <locationX>604</locationX>
        <locationY>420</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesProgramType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Program_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Program_Type_Info</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Escalate_To</name>
        <label>Which Escalate To</label>
        <locationX>166</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>No_Escalate_Chosen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Tech</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Escalate_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Tech_Ops</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tech_Esc_Type</targetReference>
            </connector>
            <label>Tech</label>
        </rules>
        <rules>
            <name>Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Escalate_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Paid_Ops</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Paid_Esc_Type</targetReference>
            </connector>
            <label>Paid</label>
        </rules>
        <rules>
            <name>Creative</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Escalate_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Creative_Requests</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Creative_Esc_Type</targetReference>
            </connector>
            <label>Creative</label>
        </rules>
    </decisions>
    <description>Added Owner and Record Type to case creation.</description>
    <label>Haystak Create and Escalate Case</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>930</locationX>
        <locationY>423</locationY>
        <assignRecordIdToReference>varCreatedCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Runner</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Status__c</field>
            <value>
                <elementReference>AccountStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Proxy_URL__c</field>
            <value>
                <elementReference>Mobile_Proxy_URL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Account__c</field>
            <value>
                <elementReference>NewAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varClickerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POA__c</field>
            <value>
                <elementReference>varPOAID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <stringValue>Haystak DM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proxy_URL__c</field>
            <value>
                <elementReference>Proxy_URL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!varAccountName}-{!Escalate_to}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>YouTube_Des_URL__c</field>
            <value>
                <elementReference>YouTube_Des_URL</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Runner</name>
        <label>Create Runner</label>
        <locationX>1087</locationX>
        <locationY>423</locationY>
        <inputAssignments>
            <field>Add_l_Notes__c</field>
            <value>
                <elementReference>Additional_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>varCreatedCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Copy__c</field>
            <value>
                <elementReference>Copy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_has_a_logo__c</field>
            <value>
                <elementReference>Dealer_Has_a_Logo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalated_To__c</field>
            <value>
                <elementReference>Escalate_to</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalation_Type__c</field>
            <value>
                <elementReference>varEscType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Haystak_Campaign_Type__c</field>
            <value>
                <elementReference>varCampType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Height__c</field>
            <value>
                <elementReference>Height</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model_Years__c</field>
            <value>
                <elementReference>Model_Years</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offer__c</field>
            <value>
                <elementReference>Offer1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_for_Ads__c</field>
            <value>
                <elementReference>Phone_for_Ads</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portal_Job_Number__c</field>
            <value>
                <elementReference>Portal_Job_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Type__c</field>
            <value>
                <elementReference>Program_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promotion__c</field>
            <value>
                <elementReference>Promotion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRunnerRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recurring_Issue__c</field>
            <value>
                <elementReference>Recurring_Issues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Runner_Request__c</field>
            <value>
                <elementReference>Runner_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Template__c</field>
            <value>
                <elementReference>Template</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Width__c</field>
            <value>
                <elementReference>Width</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Runner__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record_Type_ID</name>
        <label>Get Case Record Type ID</label>
        <locationX>772</locationX>
        <locationY>525</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Runner_Record_Type_ID</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Haystak</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Runner_Record_Type_ID</name>
        <label>Get Runner Record Type ID</label>
        <locationX>930</locationX>
        <locationY>523</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Escalate</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case_Runner__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRunnerRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Get_Case_Info</name>
        <label>Get Case Info</label>
        <locationX>20</locationX>
        <locationY>20</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Case_Runner_Info</targetReference>
        </connector>
        <fields>
            <name>NewAccount</name>
            <choiceReferences>New_Account</choiceReferences>
            <choiceReferences>Current_Client</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this a new account for Haystak?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountStatus</name>
            <choiceReferences>Active</choiceReferences>
            <choiceReferences>Paused</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is the Account&apos;s status?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Proxy_URL</name>
            <dataType>String</dataType>
            <fieldText>Proxy URL</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mobile_Proxy_URL</name>
            <dataType>String</dataType>
            <fieldText>Mobile Proxy URL</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>YouTube_Des_URL</name>
            <dataType>String</dataType>
            <fieldText>YouTube Des URL</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Get_Case_Runner_Info</name>
        <label>Get Case Runner Info</label>
        <locationX>20</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_Escalate_To</targetReference>
        </connector>
        <fields>
            <name>textlimits</name>
            <fieldText>The text fields here are limited to 255 characters on this page. To enter more than 255 characters, save this page and you can make longer edits on the Case Runner itself.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Escalate_to</name>
            <choiceReferences>Choose_one</choiceReferences>
            <choiceReferences>Tech_Ops</choiceReferences>
            <choiceReferences>Paid_Ops</choiceReferences>
            <choiceReferences>Creative_Requests</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choose_one</defaultSelectedChoiceReference>
            <fieldText>Escalate to?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Due_Date</name>
            <dataType>Date</dataType>
            <fieldText>Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Recurring_Issues</name>
            <choiceReferences>YesRecurring</choiceReferences>
            <choiceReferences>NoRecurring</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Recurring Issues?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Program_Type</name>
            <choiceReferences>Asbury</choiceReferences>
            <choiceReferences>Chrysler</choiceReferences>
            <choiceReferences>Chrysler_NON_PAP</choiceReferences>
            <choiceReferences>Chrysler_SEO</choiceReferences>
            <choiceReferences>IMM</choiceReferences>
            <choiceReferences>MSA_Groups</choiceReferences>
            <choiceReferences>Retail</choiceReferences>
            <choiceReferences>Scion</choiceReferences>
            <choiceReferences>SEO</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Program Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Phone_for_Ads</name>
            <dataType>String</dataType>
            <fieldText>Phone # for Ads</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Offer1</name>
            <fieldText>Offer</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy</name>
            <fieldText>Copy</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Additional_Notes</name>
            <fieldText>Additional Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Portal_Job_Number</name>
            <dataType>String</dataType>
            <fieldText>Portal Job Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Model_Years</name>
            <fieldText>Model/Years</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Dealer_Has_a_Logo</name>
            <choiceReferences>YesRecurring</choiceReferences>
            <choiceReferences>NoRecurring</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Dealer Has a Logo</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Height</name>
            <dataType>String</dataType>
            <fieldText>Height</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Width</name>
            <dataType>String</dataType>
            <fieldText>Width</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Runner_Request</name>
            <fieldText>Runner Request</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Get_Creative_Esc_Type</name>
        <label>Get Creative Esc Type</label>
        <locationX>348</locationX>
        <locationY>80</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Creative_Esc_and_Camp_Type</targetReference>
        </connector>
        <fields>
            <name>Escalation_TypeCreative</name>
            <choiceReferences>Corrections</choiceReferences>
            <choiceReferences>New_Ads</choiceReferences>
            <choiceReferences>Revisions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Escalation Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Campaign_Creative_TypeCreative</name>
            <choiceReferences>Display_Ads</choiceReferences>
            <choiceReferences>E_Blast</choiceReferences>
            <choiceReferences>Landing_Page</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <choiceReferences>Pre_Roll</choiceReferences>
            <choiceReferences>Sales_Sheet</choiceReferences>
            <choiceReferences>SEO_Landing_Page</choiceReferences>
            <choiceReferences>Sliders</choiceReferences>
            <choiceReferences>Specials</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Campaign/Creative Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Get_Paid_Esc_Type</name>
        <label>Get Paid Esc Type</label>
        <locationX>166</locationX>
        <locationY>318</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Needs_Campaign_Type</targetReference>
        </connector>
        <fields>
            <name>Escalation_TypePaid</name>
            <choiceReferences>X2014_Rebuild_Project</choiceReferences>
            <choiceReferences>Ad_Copy_Changes</choiceReferences>
            <choiceReferences>Ad_Disapprovals</choiceReferences>
            <choiceReferences>Analytic_Issues</choiceReferences>
            <choiceReferences>Analytic_Setup</choiceReferences>
            <choiceReferences>CO_OP</choiceReferences>
            <choiceReferences>Current_Campaign_Modifications</choiceReferences>
            <choiceReferences>Kenshoo_Issues</choiceReferences>
            <choiceReferences>Kenshoo_Profile_Move</choiceReferences>
            <choiceReferences>New_Campaign_Creation</choiceReferences>
            <choiceReferences>Remarketing_Issues</choiceReferences>
            <choiceReferences>Remarketing_Setup</choiceReferences>
            <choiceReferences>Sitelink_Issues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Escalation Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Get_Tech_Esc_Type</name>
        <label>Get Tech Esc Type</label>
        <locationX>349</locationX>
        <locationY>183</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Tech_Esc_Type</targetReference>
        </connector>
        <fields>
            <name>Escalation_TypeTech</name>
            <choiceReferences>Call_Tracking</choiceReferences>
            <choiceReferences>Call_Tracking_Cancellation</choiceReferences>
            <choiceReferences>Dynamic_Ad_Copy_Changes</choiceReferences>
            <choiceReferences>Dynamic_Campaign_Issues</choiceReferences>
            <choiceReferences>Email_Conversions</choiceReferences>
            <choiceReferences>Feed_Cancellations</choiceReferences>
            <choiceReferences>General_Conversion_Issue</choiceReferences>
            <choiceReferences>Kenshoo_Issues</choiceReferences>
            <choiceReferences>Kenshoo_Profile_Move</choiceReferences>
            <choiceReferences>New_Dynamic_Campaign</choiceReferences>
            <choiceReferences>Reverse_Proxy_Issue</choiceReferences>
            <choiceReferences>Reverse_Proxy_Setup</choiceReferences>
            <choiceReferences>SE_AdWords_Setup</choiceReferences>
            <choiceReferences>SE_Cancellation</choiceReferences>
            <choiceReferences>SE_RVP</choiceReferences>
            <choiceReferences>SE_Search_Essentials_Portal</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Escalation Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>No_Escalate_Chosen</name>
        <label>No Escalate Chosen</label>
        <locationX>166</locationX>
        <locationY>20</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_Escalate_To</targetReference>
        </connector>
        <fields>
            <name>needEscalateTo</name>
            <fieldText>You must choose a queue to Escalate To.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Program_Type_Info</name>
        <label>Program Type Info</label>
        <locationX>772</locationX>
        <locationY>423</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Case_Record_Type_ID</targetReference>
        </connector>
        <fields>
            <name>Promotion</name>
            <choiceReferences>Big_Finish</choiceReferences>
            <choiceReferences>No_Event_Generic_Ads</choiceReferences>
            <choiceReferences>Ram_Truck_Month</choiceReferences>
            <choiceReferences>Showcase_Event</choiceReferences>
            <choiceReferences>Minivan_Month</choiceReferences>
            <choiceReferences>Ram_Commercial_Truck_Season</choiceReferences>
            <choiceReferences>Summer_Clearance</choiceReferences>
            <choiceReferences>Jeep_Celebration</choiceReferences>
            <choiceReferences>Ram_Powerdays</choiceReferences>
            <choiceReferences>Dodge_Event</choiceReferences>
            <choiceReferences>Chrysler_T_C_Event</choiceReferences>
            <choiceReferences>Business_Center_Promo</choiceReferences>
            <choiceReferences>Award_Season_Event</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Promotion</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Template</name>
            <dataType>String</dataType>
            <fieldText>Template #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Set_Ad_Copy_Camp_Type</name>
        <label>Set Ad Copy Camp Type</label>
        <locationX>331</locationX>
        <locationY>526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Paid_AdCopy_Esc_and_Camp_Type</targetReference>
        </connector>
        <fields>
            <name>Campaign_Creative_TypeAdCopy</name>
            <choiceReferences>Bing_Finance</choiceReferences>
            <choiceReferences>Bing_Managed</choiceReferences>
            <choiceReferences>Bing_Service_and_Parts</choiceReferences>
            <choiceReferences>Competitors_Bing</choiceReferences>
            <choiceReferences>Competitors_Google</choiceReferences>
            <choiceReferences>Display</choiceReferences>
            <choiceReferences>Dynamic_Enhanced</choiceReferences>
            <choiceReferences>General_Used_Brand_Bing</choiceReferences>
            <choiceReferences>Generic_Used_Bing</choiceReferences>
            <choiceReferences>Generic_Used_Google</choiceReferences>
            <choiceReferences>Google_Enhanced</choiceReferences>
            <choiceReferences>Google_Finance</choiceReferences>
            <choiceReferences>Google_Service_and_Parts</choiceReferences>
            <choiceReferences>Promotional</choiceReferences>
            <choiceReferences>Remarketing</choiceReferences>
            <choiceReferences>SEOcamptype</choiceReferences>
            <choiceReferences>YouTube_Pre_Roll</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Campaign/Creative Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Set_Other_Camp_Type</name>
        <label>Set Other Camp Type</label>
        <locationX>330</locationX>
        <locationY>319</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Paid_Other_Esc_and_Camp_Type</targetReference>
        </connector>
        <fields>
            <name>Campaign_Creative_TypeOther</name>
            <choiceReferences>Bing_Finance</choiceReferences>
            <choiceReferences>Bing_Managed</choiceReferences>
            <choiceReferences>Bing_Service_and_Parts</choiceReferences>
            <choiceReferences>Competitors_Bing</choiceReferences>
            <choiceReferences>Competitors_Google</choiceReferences>
            <choiceReferences>Display</choiceReferences>
            <choiceReferences>Dynamic_Enhanced</choiceReferences>
            <choiceReferences>General_Used_Brand_Bing</choiceReferences>
            <choiceReferences>General_Used_Brand_Google</choiceReferences>
            <choiceReferences>Generic_Used_Bing</choiceReferences>
            <choiceReferences>Generic_Used_Google</choiceReferences>
            <choiceReferences>Google_Enhanced</choiceReferences>
            <choiceReferences>Google_Finance</choiceReferences>
            <choiceReferences>Google_Service_and_Parts</choiceReferences>
            <choiceReferences>Promotional</choiceReferences>
            <choiceReferences>Remarketing</choiceReferences>
            <choiceReferences>SEOcamptype</choiceReferences>
            <choiceReferences>YouTube_Pre_Roll</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Campaign/Creative Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Get_Case_Info</startElementReference>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCampType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClickerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCreatedCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEscType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPOAID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRunnerRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
