flows/Inventory_Swap_Button-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Opportunity_Closed</name>
        <label>Is Opportunity Closed</label>
        <locationX>391</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Create_Inventory_Light</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsOppClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>True</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_is_Closed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_Inventory_Product</name>
        <label>Is There Inventory Product</label>
        <locationX>391</locationX>
        <locationY>155</locationY>
        <defaultConnector>
            <targetReference>Is_Opportunity_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoInventory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInventoryProductID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Inventory</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Corrections and additions from War Room sessions.</description>
    <label>Inventory Swap Button</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Inventory_Light</name>
        <label>Create Inventory Light</label>
        <locationX>391</locationX>
        <locationY>399</locationY>
        <connector>
            <targetReference>Remove_Inventory_Module</targetReference>
        </connector>
        <inputAssignments>
            <field>IsPackageChild__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u7000000CL3Dy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution_Product__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StickyOpportunityId__c</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordDeletes>
        <name>Remove_Inventory_Module</name>
        <label>Remove Inventory Module</label>
        <locationX>390</locationX>
        <locationY>519</locationY>
        <connector>
            <targetReference>Remove_Onetime_Fee</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInventoryProductID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
    </recordDeletes>
    <recordDeletes>
        <name>Remove_Onetime_Fee</name>
        <label>Remove Onetime Fee</label>
        <locationX>390</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvOnetimeFeeID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Inventory_Product_ID</name>
        <label>Get Inventory Product ID</label>
        <locationX>222</locationX>
        <locationY>28</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Onetime_Fee</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Issue__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01t70000004ZFL8</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>varInventoryProductID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IsOppClosed</assignToReference>
            <field>IsOppClosed__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedOneTimeFeeToDelete</assignToReference>
            <field>Related_ProductId__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Onetime_Fee</name>
        <label>Get Onetime Fee</label>
        <locationX>391</locationX>
        <locationY>28</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_Inventory_Product</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedOneTimeFeeToDelete</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>varInvOnetimeFeeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Confirm_Screen</name>
        <label>Confirm Screen</label>
        <locationX>55</locationX>
        <locationY>28</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Inventory_Product_ID</targetReference>
        </connector>
        <fields>
            <name>confirmtext</name>
            <fieldText>This will remove Inventory Module and its onetime fee from this opportunity, and replace them with a $0 Inventory Light product. Are you sure you wish to proceed?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>No_Inventory</name>
        <label>No Inventory</label>
        <locationX>565</locationX>
        <locationY>153</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtNoInventory</name>
            <fieldText>This Opportunity does not have the required products to make a swap.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Opp_is_Closed</name>
        <label>Opp is Closed</label>
        <locationX>564</locationX>
        <locationY>277</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtClosedOpp</name>
            <fieldText>This opportunity is already closed, so you cannot swap products.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>575</locationX>
        <locationY>647</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>success</name>
            <fieldText>Success!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Confirm_Screen</startElementReference>
    <variables>
        <name>IsOppClosed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedOneTimeFeeToDelete</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInventoryProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInvOnetimeFeeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
