flows/Inventory_Swap_Button-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <label>Inventory Swap Button</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Inventory_Light</name>
        <label>Create Inventory Light</label>
        <locationX>53</locationX>
        <locationY>404</locationY>
        <connector>
            <targetReference>Remove_Inventory_Module</targetReference>
        </connector>
        <inputAssignments>
            <field>IsPackageChild__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u7000000CL3Dy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution_Product__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StickyOpportunityId__c</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordDeletes>
        <name>Remove_Inventory_Module</name>
        <label>Remove Inventory Module</label>
        <locationX>51</locationX>
        <locationY>527</locationY>
        <connector>
            <targetReference>Remove_Onetime_Fee</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInventoryProductID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
    </recordDeletes>
    <recordDeletes>
        <name>Remove_Onetime_Fee</name>
        <label>Remove Onetime Fee</label>
        <locationX>51</locationX>
        <locationY>658</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvOnetimeFeeID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Inventory_Product_ID</name>
        <label>Get Inventory Product ID</label>
        <locationX>54</locationX>
        <locationY>153</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Onetime_Fee</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Issue__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inventory Light</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>varInventoryProductID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Onetime_Fee</name>
        <label>Get Onetime Fee</label>
        <locationX>54</locationX>
        <locationY>280</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Inventory_Light</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01t70000004ZFL7</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>varInvOnetimeFeeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Confirm_Screen</name>
        <label>Confirm Screen</label>
        <locationX>55</locationX>
        <locationY>28</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Inventory_Product_ID</targetReference>
        </connector>
        <fields>
            <name>confirmtext</name>
            <fieldText>This will remove Inventory Module and its onetime fee from this opportunity, and replace them with a $0 Inventory Light product. Are you sure you wish to proceed?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>238</locationX>
        <locationY>657</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>success</name>
            <fieldText>Success!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Confirm_Screen</startElementReference>
    <variables>
        <name>varInventoryProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInvOnetimeFeeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
