flows/Inventory_Swap_Button-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Light_UnitPrice_Zero</name>
        <label>Is Light UnitPrice Zero</label>
        <locationX>976</locationX>
        <locationY>258</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>YesZero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInventoryLightPrice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Inventory_Module</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoZero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInventoryLightPrice</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Light_OT_PBE_ID</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opp_Closed</name>
        <label>Is Opp Closed</label>
        <locationX>351</locationX>
        <locationY>24</locationY>
        <defaultConnector>
            <targetReference>Get_Inventory_Product_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsOppClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Open_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_Inventory_Product</name>
        <label>Is There Inventory Product</label>
        <locationX>661</locationX>
        <locationY>27</locationY>
        <defaultConnector>
            <targetReference>Get_Onetime_Fee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoInventory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInventoryProductID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Inventory</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Rewrite to accommodate for multiple price books</description>
    <label>Inventory Swap Button</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Inventory_Light</name>
        <label>Create Inventory Light</label>
        <locationX>975</locationX>
        <locationY>143</locationY>
        <connector>
            <targetReference>Is_Light_UnitPrice_Zero</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>IsPackageChild__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>varLightPBEID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution_Product__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StickyOpportunityId__c</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>varInventoryLightPrice</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Light_Onetime</name>
        <label>Create Light Onetime</label>
        <locationX>1135</locationX>
        <locationY>371</locationY>
        <connector>
            <targetReference>Remove_Inventory_Module</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>IsPackageChild__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>varLightOTPBEID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution_Product__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StickyOpportunityId__c</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>varLightOnetimePrice</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordDeletes>
        <name>Remove_Inventory_Module</name>
        <label>Remove Inventory Module</label>
        <locationX>973</locationX>
        <locationY>371</locationY>
        <connector>
            <targetReference>Remove_Onetime_Fee</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInventoryProductID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
    </recordDeletes>
    <recordDeletes>
        <name>Remove_Onetime_Fee</name>
        <label>Remove Onetime Fee</label>
        <locationX>972</locationX>
        <locationY>486</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvOnetimeFeeID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Inventory_Product_ID</name>
        <label>Get Inventory Product ID</label>
        <locationX>510</locationX>
        <locationY>26</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_Inventory_Product</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Issue__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inventory Module</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>varInventoryProductID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedOneTimeFeeToDelete</assignToReference>
            <field>Related_ProductId__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Light_OT_PBE_ID</name>
        <label>Get Light OT PBE ID</label>
        <locationX>1135</locationX>
        <locationY>259</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Light_Onetime</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_0</targetReference>
        </faultConnector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inventory Light onetime fee</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPricebookID</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>varLightOTPBEID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLightOnetimePrice</assignToReference>
            <field>UnitPrice</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Light_PBE_ID_0</name>
        <label>Get Light PBE ID</label>
        <locationX>976</locationX>
        <locationY>29</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Inventory_Light</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inventory Light</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPricebookID</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>varLightPBEID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInventoryLightPrice</assignToReference>
            <field>UnitPrice</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Onetime_Fee</name>
        <label>Get Onetime Fee</label>
        <locationX>821</locationX>
        <locationY>29</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Light_PBE_ID_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedOneTimeFeeToDelete</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>varInvOnetimeFeeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Info</name>
        <label>Get Opp Info</label>
        <locationX>38</locationX>
        <locationY>23</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varIsOppClosed</assignToReference>
            <field>IsClosed</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPricebookID</assignToReference>
            <field>Pricebook2Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Confirm_Screen</name>
        <label>Confirm Screen</label>
        <locationX>195</locationX>
        <locationY>23</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Opp_Closed</targetReference>
        </connector>
        <fields>
            <name>confirmtext</name>
            <fieldText>This will remove Inventory Module and its onetime fee from this opportunity, and replace them with a $199 Inventory Light product. Are you sure you wish to proceed?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>705</locationX>
        <locationY>491</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtError</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Error_Screen_0</name>
        <label>Error Screen</label>
        <locationX>1332</locationX>
        <locationY>320</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtError_0</name>
            <fieldText>{!$Flow.FaultMessage}
Onetimes</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>No_Inventory</name>
        <label>No Inventory</label>
        <locationX>662</locationX>
        <locationY>142</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtNoInventory</name>
            <fieldText>This Opportunity does not have the required products to make a swap.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Not_Open_Screen</name>
        <label>Not Open Screen</label>
        <locationX>351</locationX>
        <locationY>140</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtNotOpen</name>
            <fieldText>This opportunity is no longer open, so you cannot change the products on it.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>972</locationX>
        <locationY>600</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>success</name>
            <fieldText>Success!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Get_Opp_Info</startElementReference>
    <variables>
        <name>RelatedOneTimeFeeToDelete</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInventoryLightPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varInventoryProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInvOnetimeFeeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIsOppClosed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLightOnetimePrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varLightOTPBEID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLightPBEID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPricebookID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
