flows/Log_Solid_Engagement-25.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_FAULT</name>
        <label>Email FAULT</label>
        <locationX>261</locationX>
        <locationY>299</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>FAULT</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>errorText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>vAuto Log Solid ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>steve.huls@autotradergroup.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Temp_set_ID</name>
        <label>Temp set ID</label>
        <locationX>985</locationX>
        <locationY>19</locationY>
        <assignmentItems>
            <assignToReference>varPOAID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0dQ0000003XoLd</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>At_Risk</name>
        <choiceText>At Risk</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>At Risk</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancelled</name>
        <choiceText>Cancelled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancelled</stringValue>
        </value>
    </choices>
    <choices>
        <name>Good</name>
        <choiceText>Good</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Good</stringValue>
        </value>
    </choices>
    <choices>
        <name>None_PLEASE_CHOOSE</name>
        <choiceText>- None - PLEASE CHOOSE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pending_Launch_Approval</name>
        <choiceText>Pending Launch Approval</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Launch Approval</stringValue>
        </value>
    </choices>
    <choices>
        <name>Save</name>
        <choiceText>Save</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Save</stringValue>
        </value>
    </choices>
    <choices>
        <name>Save_Pre_Launch</name>
        <choiceText>Save - Pre Launch</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Save - Pre Launch</stringValue>
        </value>
    </choices>
    <choices>
        <name>SaveAccount</name>
        <choiceText>Save - Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Save - Account</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_for_Product_Suitedec</name>
        <label>Check for Product Suite</label>
        <locationX>475</locationX>
        <locationY>143</locationY>
        <defaultConnector>
            <targetReference>Ask_for_Suite_Status_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Suite Present</defaultConnectorLabel>
        <rules>
            <name>No_Suite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductSuiteCheck</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Product_Suites_Found</targetReference>
            </connector>
            <label>No Suite</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reroute_if_No_Status</name>
        <label>Reroute if No Status</label>
        <locationX>475</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Billed_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Status</defaultConnectorLabel>
        <rules>
            <name>No_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Status_Given</targetReference>
            </connector>
            <label>No Status</label>
        </rules>
    </decisions>
    <description>add validtion rule on LSE date to prevent user from entering a date in the future</description>
    <dynamicChoiceSets>
        <name>dynProductSuite</name>
        <dataType>String</dataType>
        <displayField>Product_Name_and_Status__c</displayField>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>vAuto</stringValue>
            </value>
        </filters>
        <filters>
            <field>LOB_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Churned</stringValue>
            </value>
        </filters>
        <filters>
            <field>LOB_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled Sale</stringValue>
            </value>
        </filters>
        <filters>
            <field>LOB_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LOB_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </filters>
        <filters>
            <field>LOB__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>POA_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPOAID</elementReference>
            </value>
        </filters>
        <object>Billing_Item__c</object>
        <outputAssignments>
            <assignToReference>varProductLineName</assignToReference>
            <field>Suite_Name__c</field>
        </outputAssignments>
        <sortField>Product_Name_and_Status__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Log Solid Engagement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Log Solid Engagement</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Solid_Engagement</name>
        <label>Create Solid Engagement</label>
        <locationX>284</locationX>
        <locationY>554</locationY>
        <faultConnector>
            <targetReference>Email_FAULT</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Engagement_Date__c</field>
            <value>
                <elementReference>Date_of_LSE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POA__c</field>
            <value>
                <elementReference>varPOAID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line_Status__c</field>
            <value>
                <elementReference>Product_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <elementReference>varProductLineName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>LSE</stringValue>
            </value>
        </inputAssignments>
        <object>Progress_Comment__c</object>
    </recordCreates>
    <recordLookups>
        <name>Pull_Product_Suites</name>
        <label>Pull Product Suites</label>
        <locationX>261</locationX>
        <locationY>143</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Product_Suitedec</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_FAULT</targetReference>
        </faultConnector>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>vAuto</stringValue>
            </value>
        </filters>
        <filters>
            <field>LOB_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Churned</stringValue>
            </value>
        </filters>
        <filters>
            <field>LOB_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled Sale</stringValue>
            </value>
        </filters>
        <filters>
            <field>LOB__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>POA_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPOAID</elementReference>
            </value>
        </filters>
        <object>Billing_Item__c</object>
        <outputAssignments>
            <assignToReference>varProductSuiteCheck</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Billed_Asset</name>
        <label>Update Billed Asset</label>
        <locationX>475</locationX>
        <locationY>553</locationY>
        <connector>
            <targetReference>Create_Solid_Engagement</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_FAULT</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dynProductSuite</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LOB_Status__c</field>
            <value>
                <elementReference>Product_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_SE_Date__c</field>
            <value>
                <elementReference>Date_of_LSE</elementReference>
            </value>
        </inputAssignments>
        <object>Billing_Item__c</object>
    </recordUpdates>
    <screens>
        <name>Ask_for_Suite_Status_Date</name>
        <label>Ask for Suite, Status, Date</label>
        <locationX>475</locationX>
        <locationY>271</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Reroute_if_No_Status</targetReference>
        </connector>
        <fields>
            <name>choose_product_suite</name>
            <choiceReferences>dynProductSuite</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please choose the Product Suite for which you are logging an engagement.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Product_Status</name>
            <choiceReferences>None_PLEASE_CHOOSE</choiceReferences>
            <choiceReferences>Good</choiceReferences>
            <choiceReferences>At_Risk</choiceReferences>
            <choiceReferences>Pending_Launch_Approval</choiceReferences>
            <choiceReferences>SaveAccount</choiceReferences>
            <choiceReferences>Save_Pre_Launch</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is the status for this Product Suite?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_of_LSE</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date of LSE</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>you cannot log a solid engagement with a future date, please update your Date of LSE today or a date in the past</errorMessage>
                <formulaExpression>{!Date_of_LSE} &lt;= {!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>FAULT</name>
        <label>FAULT</label>
        <locationX>75</locationX>
        <locationY>299</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>screenFAULT</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>No_Product_Suites_Found</name>
        <label>No Product Suites Found</label>
        <locationX>716</locationX>
        <locationY>144</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>nosuites</name>
            <fieldText>No valid Product Suites were found on this POA. Without a valid Product Suite, no Solid Engagements can be logged.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vars</name>
            <fieldText>varProductSuiteCheck: {!varProductSuiteCheck}
varPOAID: {!varPOAID}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>No_Status_Given</name>
        <label>No Status</label>
        <locationX>667</locationX>
        <locationY>342</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Ask_for_Suite_Status_Date</targetReference>
        </connector>
        <fields>
            <name>nostatus</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#990000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;You did not choose a Status for your Product Suite. Please choose one to continue.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Pull_Product_Suites</startElementReference>
    <textTemplates>
        <name>errorText</name>
        <text>{!$Flow.FaultMessage}</text>
    </textTemplates>
    <variables>
        <name>varCurrentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPOAID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductLineName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductSuiteCheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
