flows/New_Non_Routine_CR-18.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>add_svar_to_scol</name>
        <label>add svar to scol</label>
        <locationX>1010</locationX>
        <locationY>324</locationY>
        <assignmentItems>
            <assignToReference>scolNewStories</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>svarThisStory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Push_FR_to_Stories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BuildAssignment</name>
        <label>BuildAssignment</label>
        <locationX>369</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>varScheduledType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuildType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scheduled_type_lookup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cross_BU_yes</name>
        <label>Cross BU yes</label>
        <locationX>122</locationX>
        <locationY>476</locationY>
        <assignmentItems>
            <assignToReference>varScheduledType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CrossBUyes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scheduled_type_lookup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Push_FR_to_Story</name>
        <label>Push FR to Story</label>
        <locationX>1218</locationX>
        <locationY>332</locationY>
        <assignmentItems>
            <assignToReference>svarThisStory.agf__Assignee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAgileID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarThisStory.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordTypeid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarThisStory.agf__Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarThisStory.agf__Product_Tag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProductTag</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarThisStory.agf__Scheduled_Build__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varScheduledtypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarThisStory.Change_Request_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CRid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarThisStory.agf__Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubjectName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarThisStory.agf__Priority_Rank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCROrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarThisStory.agf__QA_Engineer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAssignedTo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_svar_to_scol</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Push_FR_to_Story_0</name>
        <label>Push FR to Story</label>
        <locationX>1216</locationX>
        <locationY>181</locationY>
        <assignmentItems>
            <assignToReference>svarThisStory.agf__Assignee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAssignedTo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarThisStory.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordTypeid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarThisStory.agf__Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarThisStory.agf__Product_Tag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProductTag</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarThisStory.agf__Scheduled_Build__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varScheduledtypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarThisStory.Change_Request_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CRid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarThisStory.agf__Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubjectName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarThisStory.agf__Priority_Rank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCROrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarThisStory.agf__QA_Engineer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAssignedTo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svarThisStory.agf__Sprint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSprintID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_svar_to_scol</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Change_Type</name>
        <label>Change Type</label>
        <locationX>369</locationX>
        <locationY>45</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_the_ChangeType_is_Routine</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varCRChangeType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Routine</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_the_ChangeType_is_not_a_Feature_or_Break_Fix</targetReference>
            </connector>
            <label>If the ChangeType is Routine</label>
        </rules>
        <rules>
            <name>If_the_Change_type_is_Break_Fix</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCRChangeType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Break-Fix</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordTypeID</targetReference>
            </connector>
            <label>If the Change type is Break-Fix</label>
        </rules>
        <rules>
            <name>If_Change_type_is_Feature</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCRChangeType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Feature</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_CR_Approved</targetReference>
            </connector>
            <label>If Change type is Feature</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Change_Type_is_Break_Fix</name>
        <label>Check If Change Type is Break-Fix</label>
        <locationX>1499</locationX>
        <locationY>326</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Change_Type_is_Break_Fix</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCRChangeType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Break-Fix</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Push_FR_to_Story_0</targetReference>
            </connector>
            <label>If Change Type is Break-Fix</label>
        </rules>
        <rules>
            <name>If_Change_Type_is_a_Feature</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCRChangeType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Feature</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Push_FR_to_Story</targetReference>
            </connector>
            <label>If Change Type is a Feature</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cross_BU</name>
        <label>Cross BU</label>
        <locationX>126</locationX>
        <locationY>285</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCRBUimpactyes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cross_BU_yes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varCRBUimpactyes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCRBUimpactyes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unknown</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BuildAssignment</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_CR_Approved</name>
        <label>Is the CR Approved?</label>
        <locationX>661</locationX>
        <locationY>45</locationY>
        <defaultConnector>
            <targetReference>CR_Approved_False_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CR Approved False?</defaultConnectorLabel>
        <rules>
            <name>CR_Approved_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCRAprroved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TRUE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordTypeID</targetReference>
            </connector>
            <label>CR Approved True?</label>
        </rules>
    </decisions>
    <formulas>
        <name>BuildType</name>
        <dataType>String</dataType>
        <expression>{!varCRBU}+{!varCRChangeType}</expression>
    </formulas>
    <formulas>
        <name>CrossBUyes</name>
        <dataType>String</dataType>
        <expression>&quot;CrossBU&quot; + {!varCRChangeType}</expression>
    </formulas>
    <formulas>
        <name>SubjectName</name>
        <dataType>String</dataType>
        <expression>{!varCRChangeType} + &quot; - &quot; + {!varCRsubjectfield}</expression>
    </formulas>
    <label>New Non Routine CR</label>
    <loops>
        <name>Push_FR_to_Stories</name>
        <label>Push FR to Stories</label>
        <locationX>1220</locationX>
        <locationY>478</locationY>
        <assignNextValueToReference>svarThisFR</assignNextValueToReference>
        <collectionReference>scolFRList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_If_Change_Type_is_Break_Fix</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Story</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Story</name>
        <label>Create Story</label>
        <locationX>1220</locationX>
        <locationY>663</locationY>
        <connector>
            <targetReference>Update_CR_Status</targetReference>
        </connector>
        <inputReference>scolNewStories</inputReference>
    </recordCreates>
    <recordLookups>
        <name>CRLookup</name>
        <label>CRLookup</label>
        <locationX>133</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CRid</elementReference>
            </value>
        </filters>
        <object>Change_Request__c</object>
        <outputAssignments>
            <assignToReference>varAssignedTo</assignToReference>
            <field>Assigned_To__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCRBUimpactyes</assignToReference>
            <field>BU_Impact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCRBU</assignToReference>
            <field>BU__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCRAprroved</assignToReference>
            <field>CR_Approved__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCRStatus</assignToReference>
            <field>Change_Request_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCRChangeType</assignToReference>
            <field>Change_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCRName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCROrder</assignToReference>
            <field>Order__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCRrequestdetailsfield</assignToReference>
            <field>Request_Details__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCRsubjectfield</assignToReference>
            <field>Subject__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FR_Lookup</name>
        <label>FR Lookup</label>
        <locationX>1017</locationX>
        <locationY>478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Push_FR_to_Stories</targetReference>
        </connector>
        <filters>
            <field>Change_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CRid</elementReference>
            </value>
        </filters>
        <object>Functional_Requirement__c</object>
        <outputReference>scolFRList</outputReference>
        <queriedFields>Requirement__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>product_tag</name>
        <label>product tag</label>
        <locationX>369</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cross_BU</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SSG</stringValue>
            </value>
        </filters>
        <object>agf__ADM_Product_Tag__c</object>
        <outputAssignments>
            <assignToReference>varProductTag</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Profile_Lookup</name>
        <label>Profile Lookup</label>
        <locationX>687</locationX>
        <locationY>476</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Lookup</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VinSystem Admin</stringValue>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>varProfileID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RecordTypeID</name>
        <label>RecordTypeID</label>
        <locationX>368</locationX>
        <locationY>175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>product_tag</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User_Story</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>agf__ADM_Work__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>scheduled_type_lookup</name>
        <label>scheduled type lookup</label>
        <locationX>368</locationX>
        <locationY>473</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sprint_Lookup</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varScheduledType</elementReference>
            </value>
        </filters>
        <object>agf__ADM_Build__c</object>
        <outputAssignments>
            <assignToReference>varScheduledtypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Sprint_Lookup</name>
        <label>Sprint Lookup</label>
        <locationX>529</locationX>
        <locationY>475</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Profile_Lookup</targetReference>
        </connector>
        <filters>
            <field>agf__Days_Remaining__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>NOT STARTED</stringValue>
            </value>
        </filters>
        <filters>
            <field>agf__Days_Remaining__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>CLOSED</stringValue>
            </value>
        </filters>
        <object>agf__ADM_Sprint__c</object>
        <outputAssignments>
            <assignToReference>varSprintID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>User_Lookup</name>
        <label>User Lookup</label>
        <locationX>857</locationX>
        <locationY>477</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FR_Lookup</targetReference>
        </connector>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProfileID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Title</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agile Lead</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varAgileID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_CR_Status</name>
        <label>Update CR Status</label>
        <locationX>1015</locationX>
        <locationY>664</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CRid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Change_Request_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Change_Request__c</object>
    </recordUpdates>
    <screens>
        <name>CR_Approved_False_message</name>
        <label>CR Approved False message</label>
        <locationX>935</locationX>
        <locationY>48</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CRapprovedFalse</name>
            <fieldText>CR has not been Approved yet. Please make sure you have the CR Approved before you create the stories.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>If_the_ChangeType_is_not_a_Feature_or_Break_Fix</name>
        <label>If the ChangeType is not a Feature or Break-Fix</label>
        <locationX>130</locationX>
        <locationY>173</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ChangeTypeisnotaFeatureorBreakFix</name>
            <fieldText>Cannot proceed if the ChangeType is not a &quot;Feature&quot; or &quot;Break-Fix&quot;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>CRLookup</startElementReference>
    <textTemplates>
        <name>emailBODY</name>
        <text>{!$Flow.FaultMessage}</text>
    </textTemplates>
    <textTemplates>
        <name>WorkDescription</name>
        <text>Story Subject: {!svarThisFR.Requirement__c}

Functional Requirement(s): 
1. 

Technical Requirement(s): 
1.

Request Details: {!varCRrequestdetailsfield}</text>
    </textTemplates>
    <variables>
        <name>CRid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>requestdetailsvariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scolFRList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Functional_Requirement__c</objectType>
    </variables>
    <variables>
        <name>scolNewStories</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>agf__ADM_Work__c</objectType>
    </variables>
    <variables>
        <name>subjectvariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>svarThisFR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Functional_Requirement__c</objectType>
    </variables>
    <variables>
        <name>svarThisStory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>agf__ADM_Work__c</objectType>
    </variables>
    <variables>
        <name>userstoryvariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varActiveUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varActiveUserProfileID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAgileID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssignedTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChangerequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCRAprroved</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCRBU</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCRBUimpactyes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCRChangeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCRName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCROrder</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varCRrequestdetailsfield</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCRStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCRsubjectfield</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFRid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewStorycreated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductTag</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProfileID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varScheduledType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varScheduledtypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSprintID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStoryBuild</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserAdmin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWorkDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWorkScheduleBuild</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWorkSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
