flows/NewButtonOnChangeRequest-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assign_scheduled_build_var_VIN</name>
        <label>assign scheduled build var VIN</label>
        <locationX>988</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>varScheduledType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>VinSolutionsRoutine</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecordTypeID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>scheduled_build_Haystak</name>
        <label>scheduled build Haystak</label>
        <locationX>1361</locationX>
        <locationY>284</locationY>
        <assignmentItems>
            <assignToReference>varScheduledType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HaystakRoutine</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecordTypeID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>scheduled_build_vAuto</name>
        <label>scheduled build vAuto</label>
        <locationX>1164</locationX>
        <locationY>284</locationY>
        <assignmentItems>
            <assignToReference>varScheduledType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>vAutoRoutine</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecordTypeID</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ChangeType</name>
        <label>ChangeType</label>
        <locationX>749</locationX>
        <locationY>120</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_the_Change_Type_is_Routine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCRChangeType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Routine</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_for_BU</targetReference>
            </connector>
            <label>If the Change Type is Routine</label>
        </rules>
        <rules>
            <name>If_the_Change_Type_is_not_a_Routine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCRChangeType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Routine</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Routine_validation_fail_screen</targetReference>
            </connector>
            <label>If the Change Type is not a Routine</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_BU</name>
        <label>check for BU</label>
        <locationX>1161</locationX>
        <locationY>117</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>if_BU_is_VIN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCRBU</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VinSolutions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_scheduled_build_var_VIN</targetReference>
            </connector>
            <label>if BU is VIN</label>
        </rules>
        <rules>
            <name>if_BU_is_vAuto2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCRBU</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>vAuto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scheduled_build_vAuto</targetReference>
            </connector>
            <label>if BU is vAuto</label>
        </rules>
        <rules>
            <name>if_BU_is_Haystak</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCRBU</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Haystak</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scheduled_build_Haystak</targetReference>
            </connector>
            <label>if BU is Haystak</label>
        </rules>
    </decisions>
    <formulas>
        <name>UserstorySubjectConcat</name>
        <dataType>String</dataType>
        <expression>{!varCRName} + &quot;-&quot; + {!varCRsubjectfield}</expression>
    </formulas>
    <label>Create New Routine Story</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>User_Story_creation</name>
        <label>User Story creation</label>
        <locationX>699</locationX>
        <locationY>730</locationY>
        <connector>
            <targetReference>Update_CR_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Change_Request_ID__c</field>
            <value>
                <elementReference>CRid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordTypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Assignee__c</field>
            <value>
                <elementReference>varAssignedTo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Details__c</field>
            <value>
                <elementReference>varCRrequestdetailsfield</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Product_Tag__c</field>
            <value>
                <elementReference>varProductTag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__QA_Engineer__c</field>
            <value>
                <elementReference>varAssignedTo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Scheduled_Build__c</field>
            <value>
                <elementReference>varScheduledtypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Sprint__c</field>
            <value>
                <elementReference>varSprintID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Subject__c</field>
            <value>
                <elementReference>UserstorySubjectConcat</elementReference>
            </value>
        </inputAssignments>
        <object>agf__ADM_Work__c</object>
    </recordCreates>
    <recordLookups>
        <name>CRLookup</name>
        <label>st</label>
        <locationX>555</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChangeType</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CRid</elementReference>
            </value>
        </filters>
        <object>Change_Request__c</object>
        <outputAssignments>
            <assignToReference>varAssignedTo</assignToReference>
            <field>Assigned_To__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCRBUimpactyes</assignToReference>
            <field>BU_Impact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCRBU</assignToReference>
            <field>BU__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCRStatus</assignToReference>
            <field>Change_Request_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCRChangeType</assignToReference>
            <field>Change_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCRName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCRrequestdetailsfield</assignToReference>
            <field>Request_Details__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCRsubjectfield</assignToReference>
            <field>Subject__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>product_tag</name>
        <label>product tag</label>
        <locationX>1166</locationX>
        <locationY>605</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scheduled_type_lookup</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SSG</stringValue>
            </value>
        </filters>
        <object>agf__ADM_Product_Tag__c</object>
        <outputAssignments>
            <assignToReference>varProductTag</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RecordTypeID</name>
        <label>RecordTypeID</label>
        <locationX>1167</locationX>
        <locationY>459</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>product_tag</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User_Story</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>agf__ADM_Work__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>scheduled_type_lookup</name>
        <label>scheduled type lookup</label>
        <locationX>1165</locationX>
        <locationY>733</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sprint_Lookup</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varScheduledType</elementReference>
            </value>
        </filters>
        <object>agf__ADM_Build__c</object>
        <outputAssignments>
            <assignToReference>varScheduledtypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Sprint_Lookup</name>
        <label>Sprint Lookup</label>
        <locationX>942</locationX>
        <locationY>735</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Story_creation</targetReference>
        </connector>
        <filters>
            <field>agf__Days_Remaining__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>NOT STARTED</stringValue>
            </value>
        </filters>
        <filters>
            <field>agf__Days_Remaining__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>CLOSED</stringValue>
            </value>
        </filters>
        <object>agf__ADM_Sprint__c</object>
        <outputAssignments>
            <assignToReference>varSprintID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_CR_Status</name>
        <label>Update CR Status</label>
        <locationX>487</locationX>
        <locationY>729</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CRid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Change_Request_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Change_Request__c</object>
    </recordUpdates>
    <screens>
        <name>Routine_validation_fail_screen</name>
        <label>Routine validation fail screen</label>
        <locationX>749</locationX>
        <locationY>286</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CannotProceedifChangeTypeisRoutine</name>
            <fieldText>Cannot Proceed if the Change Type is not &quot;Routine&quot;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>CRLookup</startElementReference>
    <textTemplates>
        <name>emailBODY</name>
        <text>{!$Flow.FaultMessage}</text>
    </textTemplates>
    <variables>
        <name>changerequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CRid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>requestdetailsvariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subjectvariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userstoryvariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varActiveUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varActiveUserProfileID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssignedTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChangerequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCRBU</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCRBUimpactyes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCRChangeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCRID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCRName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCRrequestdetailsfield</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCRStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCRSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCRsubjectfield</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewStorycreated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductTag</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProfileID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varScheduledType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varScheduledtypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSprintID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserAdmin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWorkDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWorkScheduleBuild</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWorkSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
