flows/Opp_Set_Regional_from_Account_Team-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_No_Regional</name>
        <label>Email - No Regional</label>
        <locationX>195</locationX>
        <locationY>365</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>A Regional was not found for this account/opp: {!varAccountID} / {!varOppID}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>FLOW ERROR - No Regional Found</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>mark.ross@autotradergroup.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FAULT_Email</name>
        <label>FAULT Email</label>
        <locationX>518</locationX>
        <locationY>354</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txtFaultEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>FLOW ERROR - Opp Set Regional from Account Team</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>ssg@coxautoinc.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Account_Present</name>
        <label>Account Present?</label>
        <locationX>33</locationX>
        <locationY>139</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Team_Member</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Regional_Role_Found</name>
        <label>Regional Role Found?</label>
        <locationX>33</locationX>
        <locationY>368</locationY>
        <defaultConnector>
            <targetReference>Email_No_Regional</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesRegional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegionalUserID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Regional_in_Opp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Adjusted error email recipient</description>
    <interviewLabel>Opp Set Regional from Account Team_11/24/2015 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opp Set Regional from Account Team_11/24/2015</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_for_Account</name>
        <label>Check for Account</label>
        <locationX>33</locationX>
        <locationY>23</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Present</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FAULT_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Team_Member</name>
        <label>Get Account Team Member</label>
        <locationX>33</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Regional_Role_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FAULT_Email</targetReference>
        </faultConnector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vin Regional Manager</stringValue>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputAssignments>
            <assignToReference>varRegionalUserID</assignToReference>
            <field>UserId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Regional_in_Opp</name>
        <label>Set Regional in Opp</label>
        <locationX>33</locationX>
        <locationY>484</locationY>
        <faultConnector>
            <targetReference>FAULT_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varRegionalUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Regional_Manager_2__c</field>
            <value>
                <elementReference>varRegionalUserID</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Check_for_Account</startElementReference>
    <textTemplates>
        <name>txtFaultEmailBody</name>
        <text>varOppID: {!varOppID}
varAccountID: {!varAccountID}
varRegionalUserID: {!varRegionalUserID}</text>
    </textTemplates>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRegionalUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
