flows/OpportunityClosedWon-15.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Notification</name>
        <label>Email Notification</label>
        <locationX>622</locationX>
        <locationY>534</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailContent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An Opportunity with Product Target Pro Plus is Closed or Won</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>colin.barnes@vinsolutions.com,andre.ismert@vinsolutions.com,brad.newham@vinsolutions.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>isTargetProPlus</name>
        <label>isTargetProPlus?</label>
        <locationX>620</locationX>
        <locationY>379</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Target Pro Plus</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Notification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Sends an email notification when an Opportunity stage is Closed/Won and product is Target Pro Plus. W-1516</description>
    <interviewLabel>OpportunityClosedWon {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpportunityClosedWon</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>OpporProductLookup</name>
        <label>OpporProductLookup</label>
        <locationX>337</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProductLookup</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpporID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>varProduct</assignToReference>
            <field>Product2Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>OpportunityLookup</name>
        <label>OpportunityLookup</label>
        <locationX>334</locationX>
        <locationY>115</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpporProductLookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpporID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varRelatedAccount</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ProductLookup</name>
        <label>ProductLookup</label>
        <locationX>340</locationX>
        <locationY>378</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isTargetProPlus</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProduct</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>varProductName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>OpportunityLookup</startElementReference>
    <textTemplates>
        <name>EmailContent</name>
        <text>An Opportunity with Product Target Pro Plus is Closed or Won. 
Here is a link to Opportunity
https://na5.salesforce.com/{!varOpporID} 
which is related to Account  
https://na5.salesforce.com/{!varRelatedAccount}</text>
    </textTemplates>
    <variables>
        <name>varOpporID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRelatedAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
