flows/Priority_Flag_2-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Notify_Settings_to_Full</name>
        <label>Notify Settings to Full</label>
        <locationX>194</locationX>
        <locationY>393</locationY>
        <assignmentItems>
            <assignToReference>varMassChatterSetting</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PriorityFull</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Full_Chatter_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Notify_Settings_to_Partial</name>
        <label>Notify Settings to Partial</label>
        <locationX>892</locationX>
        <locationY>394</locationY>
        <assignmentItems>
            <assignToReference>varMassChatterSetting</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PriorityPartial</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partial_Chatter_Notification_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Notify_Settings_to_Partial_0</name>
        <label>Notify Settings to Partial</label>
        <locationX>714</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varMassChatterSetting</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PriorityPartial</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partial_Chatter_Notification</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Needs_Manager_Eyes</name>
        <choiceText>Needs Manager Eyes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Requesting_Higher_Ranking</name>
        <choiceText>Requesting Higher Ranking</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X1_Hot</name>
        <choiceText>1 - Hot</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 - Hot</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2_Warm</name>
        <choiceText>2 - Warm</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2 - Warm</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_Cool</name>
        <choiceText>3 - Cool</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 - Cool</stringValue>
        </value>
    </choices>
    <choices>
        <name>X4_Cold</name>
        <choiceText>4 - Cold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4 - Cold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Attention_or_Rerank</name>
        <label>Attention or Rerank</label>
        <locationX>1067</locationX>
        <locationY>27</locationY>
        <defaultConnector>
            <targetReference>FAULT_Screen_Dummy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FAULT</defaultConnectorLabel>
        <rules>
            <name>Attention</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AttentionOrRerank</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Needs_Manager_Eyes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_PLQ_Lead_Attention</targetReference>
            </connector>
            <label>Attention</label>
        </rules>
        <rules>
            <name>Rerank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AttentionOrRerank</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Requesting_Higher_Ranking</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_PLQ_Lead_Rerank</targetReference>
            </connector>
            <label>Rerank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Forced_to_top</name>
        <label>Forced to top?</label>
        <locationX>366</locationX>
        <locationY>273</locationY>
        <defaultConnector>
            <targetReference>NothingChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesForced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ForceYesNo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Forcer_Update_Ticket</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Clicker_a_Forcer</name>
        <label>Is Clicker a Forcer</label>
        <locationX>366</locationX>
        <locationY>27</locationY>
        <defaultConnector>
            <targetReference>Is_Clicker_a_Q_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesForcer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varClickerRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E70000001GJsT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varClickerRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E70000000wHfc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Forcer_Confirmation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Clicker_a_Q_Lead</name>
        <label>Is Clicker a Q Lead</label>
        <locationX>546</locationX>
        <locationY>27</locationY>
        <defaultConnector>
            <targetReference>Get_Notes_from_Worker2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesQLead</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varClickerProfile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e70000001File</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varClickerName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dave Watson</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Super_Priority</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Sent_to_Forcer</name>
        <label>Is Sent to Forcer</label>
        <locationX>546</locationX>
        <locationY>274</locationY>
        <defaultConnector>
            <targetReference>Update_Super_Priority</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesSentToForcer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ForcerRequest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notes_for_Forcer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Super_Priority_1</name>
        <label>Is Super Priority 1</label>
        <locationX>714</locationX>
        <locationY>394</locationY>
        <defaultConnector>
            <targetReference>PQLead_Success_No_Forcer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesSuper1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SuperPrioritySet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Hot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Settings_to_Partial</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Super_Priority_1_0</name>
        <label>Is Super Priority 1</label>
        <locationX>546</locationX>
        <locationY>630</locationY>
        <defaultConnector>
            <targetReference>Notify_PM_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesSuper1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SuperPrioritySet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Hot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Settings_to_Partial_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_Ticket_Escalated</name>
        <label>Is This Ticket Escalated</label>
        <locationX>23</locationX>
        <locationY>26</locationY>
        <defaultConnector>
            <targetReference>Must_Be_Escalated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesEscalated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProductLine</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Non-Product Issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PLQ_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <label>Priority Flag 2</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Notify_Forcer_0</name>
        <label>Notify Forcer</label>
        <locationX>366</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Task_For_Forcer</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>RequestForForced</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkUrl</field>
            <value>
                <stringValue>http://na5.salesforce.com/(!varCaseID}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varPLQLManagerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <stringValue>Request for Top Ranking</stringValue>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <recordCreates>
        <name>Notify_PLQ_Lead_Attention</name>
        <label>Notify PLQ Lead Attention</label>
        <locationX>1237</locationX>
        <locationY>151</locationY>
        <connector>
            <targetReference>Task_For_Queue_Lead_Attention</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>QLeadAttentionTaskBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkUrl</field>
            <value>
                <stringValue>http://na5.salesforce.com/(!varCaseID}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varPLQLead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <stringValue>Flagged for Attention</stringValue>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <recordCreates>
        <name>Notify_PLQ_Lead_Rerank</name>
        <label>Notify PLQ Lead Rerank</label>
        <locationX>895</locationX>
        <locationY>150</locationY>
        <connector>
            <targetReference>Task_For_Queue_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>QueueLeadTaskBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkUrl</field>
            <value>
                <stringValue>http://na5.salesforce.com/(!varCaseID}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varPLQLead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <stringValue>Flagged for Priority Ranking</stringValue>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <recordCreates>
        <name>Notify_PM_0</name>
        <label>Notify PM</label>
        <locationX>366</locationX>
        <locationY>630</locationY>
        <connector>
            <targetReference>Notify_Forcer_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>RequestForForcedNotification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkUrl</field>
            <value>
                <stringValue>http://na5.salesforce.com/(!varCaseID}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varPMID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <stringValue>Request for Top Ranking</stringValue>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <recordCreates>
        <name>Task_For_Forcer</name>
        <label>Task For Forcer</label>
        <locationX>366</locationX>
        <locationY>879</locationY>
        <connector>
            <targetReference>PQLead_Success_Forcer</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>ForcerTaskBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varPLQLManagerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>WFT - Evaluate Force to Top Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Task_For_Queue_Lead</name>
        <label>Task For Queue Lead</label>
        <locationX>895</locationX>
        <locationY>274</locationY>
        <connector>
            <targetReference>Worker_Success</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>QueueLeadTaskBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varPLQLead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>WFT - Evaluate Priority Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Task_For_Queue_Lead_Attention</name>
        <label>Task For Queue Lead Attention</label>
        <locationX>1237</locationX>
        <locationY>275</locationY>
        <connector>
            <targetReference>Worker_Success</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>QLeadAttentionTaskBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varPLQLead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>WFT - Ticket Needs Attention</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>WFT_for_Forced2</name>
        <label>WFT for Forced</label>
        <locationX>194</locationX>
        <locationY>631</locationY>
        <connector>
            <targetReference>Forcer_Success</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00570000001fBU9</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>WFT - Ticket Forced Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordUpdates>
        <name>Forcer_Update_Ticket</name>
        <label>Forcer Update Ticket</label>
        <locationX>194</locationX>
        <locationY>273</locationY>
        <connector>
            <targetReference>Notify_Settings_to_Full</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FHR__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flag_for_Manager__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Force_High__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Has_Been_Flagged_Manager__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Has_Been_Flagged__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>1 - Hot (Fix it Now)</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Super_Priority</name>
        <label>Update Super Priority</label>
        <locationX>714</locationX>
        <locationY>274</locationY>
        <connector>
            <targetReference>Is_Super_Priority_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FHR__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flag_for_Wrangler__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Has_Been_Flagged__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MES_Manager__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Super_Priority__c</field>
            <value>
                <elementReference>SuperPrioritySet</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Super_with_Force_Request</name>
        <label>Update Super with Force Request</label>
        <locationX>546</locationX>
        <locationY>513</locationY>
        <connector>
            <targetReference>Is_Super_Priority_1_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FHR__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Has_Been_Flagged_Manager__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Has_Been_Flagged__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MES_Manager__c</field>
            <value>
                <elementReference>varPLQLManagerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Super_Priority__c</field>
            <value>
                <elementReference>SuperPrioritySet</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Ticket_Worker_Notes</name>
        <label>Update Ticket Worker Notes</label>
        <locationX>895</locationX>
        <locationY>27</locationY>
        <connector>
            <targetReference>Attention_or_Rerank</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FHR__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Has_Been_Flagged__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MES_Manager__c</field>
            <value>
                <elementReference>varPLQLead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes_from_Worker_Flag__c</field>
            <value>
                <elementReference>WorkerNotes</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>FAULT_Screen_Dummy</name>
        <label>FAULT Screen Dummy</label>
        <locationX>1067</locationX>
        <locationY>151</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
    </screens>
    <screens>
        <name>Forcer_Confirmation</name>
        <label>Forcer Confirmation</label>
        <locationX>366</locationX>
        <locationY>156</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Forced_to_top</targetReference>
        </connector>
        <fields>
            <name>ForcerConfirmationText</name>
            <fieldText>Are you certain you wish to force this ticket to the highest TFS Priority and Severity?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ForceYesNo</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Forcer_Success</name>
        <label>Forcer Success</label>
        <locationX>194</locationX>
        <locationY>756</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ForcerSuccessText</name>
            <fieldText>This ticket has been successful forced to the highest ranking, and the appropriate staff have been notified.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Get_Notes_for_Forcer</name>
        <label>Get Notes for Forcer</label>
        <locationX>546</locationX>
        <locationY>394</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Super_with_Force_Request</targetReference>
        </connector>
        <fields>
            <name>NotesForForcer</name>
            <fieldText>Please describe why this ticket should be forced to the highest priority:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Get_Notes_from_Worker2</name>
        <label>Get Notes from Worker</label>
        <locationX>717</locationX>
        <locationY>27</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Ticket_Worker_Notes</targetReference>
        </connector>
        <fields>
            <name>WorkerNotesText</name>
            <fieldText>This ticket will be escalated to the appropriate Queue Lead.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AttentionOrRerank</name>
            <choiceReferences>Needs_Manager_Eyes</choiceReferences>
            <choiceReferences>Requesting_Higher_Ranking</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Why are you flagging this ticket for attention?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WorkerNotes</name>
            <fieldText>Please explain why you are requesting this.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Get_Super_Priority</name>
        <label>Get Super Priority</label>
        <locationX>546</locationX>
        <locationY>156</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Sent_to_Forcer</targetReference>
        </connector>
        <fields>
            <name>SuperPrioritySet</name>
            <choiceReferences>X1_Hot</choiceReferences>
            <choiceReferences>X2_Warm</choiceReferences>
            <choiceReferences>X3_Cool</choiceReferences>
            <choiceReferences>X4_Cold</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What value do you want to set for the Super Priority on this ticket?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ForcerRequest</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Do you wish to send a request to a manager to escalate this ticket to the highest priority?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Must_Be_Escalated</name>
        <label>Must Be Escalated</label>
        <locationX>23</locationX>
        <locationY>156</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MustBeEscalatedText</name>
            <fieldText>You cannot use the Priority Flag on any ticket that has not been escalated. Please escalate the ticket and try again.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>NothingChanged</name>
        <label>NothingChanged</label>
        <locationX>366</locationX>
        <locationY>393</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NothingChangedText</name>
            <fieldText>You may now proceed. Nothing has been changed.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>PQLead_Success_Forcer</name>
        <label>PQLead Success Forcer</label>
        <locationX>548</locationX>
        <locationY>879</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PQLeadSuccessForcerText</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The Super Priority on this ticket has been raised, and your manager has been notified of the request to raise it to the top priority. Thank you for your attention to this ticket. &lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#990000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Don&amp;apos;t forget&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; to mark the task for this as Complete!&lt;FONT COLOR=&quot;#990000&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>PQLead_Success_No_Forcer</name>
        <label>PQLead Success No Forcer</label>
        <locationX>714</locationX>
        <locationY>513</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PQLeadSuccessNoForcerText</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The Super Priority on this ticket has been raised. Thank you for your attention to this ticket. &lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#990000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Don&amp;apos;t forget&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; to mark the task for this as Complete!&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Worker_Success</name>
        <label>Worker Success</label>
        <locationX>1063</locationX>
        <locationY>274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>WorkerSuccessText</name>
            <fieldText>Thank you for your request. This has been escalated to the appropriate Queue Lead.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Is_This_Ticket_Escalated</startElementReference>
    <subflows>
        <name>Full_Chatter_Notification</name>
        <label>Full Chatter Notification</label>
        <locationX>194</locationX>
        <locationY>515</locationY>
        <connector>
            <targetReference>WFT_for_Forced2</targetReference>
        </connector>
        <flowName>SUBFLOW_Priority_Mass_Chatter</flowName>
        <inputAssignments>
            <name>varCaseID</name>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varClickerName</name>
            <value>
                <elementReference>varClickerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMassChatterSetting</name>
            <value>
                <elementReference>varMassChatterSetting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPMID</name>
            <value>
                <elementReference>varPMID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Partial_Chatter_Notification</name>
        <label>Partial Chatter Notification</label>
        <locationX>548</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Notify_Forcer_0</targetReference>
        </connector>
        <flowName>SUBFLOW_Priority_Mass_Chatter</flowName>
        <inputAssignments>
            <name>varCaseID</name>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varClickerName</name>
            <value>
                <elementReference>varClickerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMassChatterSetting</name>
            <value>
                <elementReference>varMassChatterSetting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPMID</name>
            <value>
                <elementReference>varPMID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Partial_Chatter_Notification_0</name>
        <label>Partial Chatter Notification</label>
        <locationX>892</locationX>
        <locationY>514</locationY>
        <connector>
            <targetReference>PQLead_Success_No_Forcer</targetReference>
        </connector>
        <flowName>SUBFLOW_Priority_Mass_Chatter</flowName>
        <inputAssignments>
            <name>varCaseID</name>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varClickerName</name>
            <value>
                <elementReference>varClickerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMassChatterSetting</name>
            <value>
                <elementReference>varMassChatterSetting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPMID</name>
            <value>
                <elementReference>varPMID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Set_PLQ_Lead</name>
        <label>Set PLQ Lead</label>
        <locationX>194</locationX>
        <locationY>26</locationY>
        <connector>
            <targetReference>Set_PM</targetReference>
        </connector>
        <flowName>SUBFLOW_Set_PLQLead</flowName>
        <inputAssignments>
            <name>varEscalatedTo</name>
            <value>
                <elementReference>varEscalatedTo</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varPLQLead</assignToReference>
            <name>varPLQLeadID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPLQLeadEmail</assignToReference>
            <name>varPLQLeadEmail</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPLQLManagerEmail</assignToReference>
            <name>varPLQLManagerEmail</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPLQLManagerName</assignToReference>
            <name>varPLQLManagerName</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPLQLManagerID</assignToReference>
            <name>varPLQLManagerId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Set_PM</name>
        <label>Set PM</label>
        <locationX>194</locationX>
        <locationY>155</locationY>
        <connector>
            <targetReference>Is_Clicker_a_Forcer</targetReference>
        </connector>
        <flowName>Set_PM_Subflow</flowName>
        <inputAssignments>
            <name>varProductLine</name>
            <value>
                <elementReference>varProductLine</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varPMID</assignToReference>
            <name>varPMID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPMEmail</assignToReference>
            <name>varPMEmail</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>ForcedWFTBody</name>
        <text>This ticket has been Forced to the top, and the following people have been emailed: {!varPLQLeadEmail}, Martin Cooke, Brian Fulmer, Vinh Nguyen, Reed Scarfino, Ray Levi, Rod Bownds, Karen Kuzanek, Jim Nelson, and Doug Maskill.</text>
    </textTemplates>
    <textTemplates>
        <name>ForcerTaskBody</name>
        <text>A Force to Top has been requested on ticket #{!varCaseNumber}. Please click on the Priority Flag button for this ticket if you wish to force it to the top.</text>
    </textTemplates>
    <textTemplates>
        <name>QLeadAttentionTaskBody</name>
        <text>Your attention has been requested on ticket #{!varCaseNumber}. Please click on the Priority Flag button for this ticket to address as needed.</text>
    </textTemplates>
    <textTemplates>
        <name>QueueLeadTaskBody</name>
        <text>A priority re-rank has been requested on ticket #{!varCaseNumber}. Please click on the Priority Flag button for this ticket to apply the appropriate Super Priority.</text>
    </textTemplates>
    <textTemplates>
        <name>RequestForForced</name>
        <text>A request has been submitted for ticket #{!varCaseNumber} by the Queue Lead for the top priority. If you wish to force this ticket to the top priority, you may click this link, then click the Priority Flag button and confirm your raise.</text>
    </textTemplates>
    <textTemplates>
        <name>RequestForForcedNotification</name>
        <text>A request has been submitted for ticket #{!varCaseNumber} by the Queue Lead for the top priority. This is just a notification; no action is needed.</text>
    </textTemplates>
    <variables>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClickerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varClickerProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClickerRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEscalatedTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMassChatterSetting</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPLQLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPLQLeadEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPLQLManagerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPLQLManagerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPLQLManagerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPMEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPMID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProductLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
