flows/Project_Flag_for_Manager-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Is_Clicker_the_Owner</name>
        <label>Is Clicker the Owner</label>
        <locationX>537</locationX>
        <locationY>286</locationY>
        <defaultConnector>
            <targetReference>Create_Chatter_Post_for_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varClickerID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varOwnerID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <label>Project Piece Flag for Manager</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Chatter_Post_for_Manager</name>
        <label>Create Chatter Post for Manager</label>
        <locationX>537</locationX>
        <locationY>170</locationY>
        <connector>
            <targetReference>Is_Clicker_the_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <stringValue>This is to notify you that the following Project Piece has been flagged for your attention by {!varClickerFirstName} {!varClickerLastName}. Please address this as soon as possible.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkUrl</field>
            <value>
                <stringValue>http://na5.salesforce.com/{!varPPID}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varManagerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <stringValue>Project Piece Flagged for Manager</stringValue>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Chatter_Post_for_Owner</name>
        <label>Create Chatter Post for Owner</label>
        <locationX>374</locationX>
        <locationY>170</locationY>
        <connector>
            <targetReference>Complete</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <stringValue>This is to notify you that the following Project Piece has been flagged for your manager&apos;s attention.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkUrl</field>
            <value>
                <stringValue>http://na5.salesforce.com/{!varPPID}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <stringValue>Project Piece Flagged for Manager</stringValue>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_for_Manager</name>
        <label>Create Task for Manager</label>
        <locationX>537</locationX>
        <locationY>51</locationY>
        <assignRecordIdToReference>varCreatedTask</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Chatter_Post_for_Manager</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>TaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varManagerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>WFT - Project Piece Flagged for Manager</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varPPID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>getOwnerManager</name>
        <label>getOwnerManager</label>
        <locationX>212</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Project_Piece</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOwnerID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varManagerID</assignToReference>
            <field>ManagerId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project_Piece</name>
        <label>Update Project Piece</label>
        <locationX>376</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Create_Task_for_Manager</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPPID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flag_Notes__c</field>
            <value>
                <elementReference>NotesField</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flag_Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Piece__c</object>
    </recordUpdates>
    <screens>
        <name>Complete</name>
        <label>Complete</label>
        <locationX>374</locationX>
        <locationY>285</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CompleteText</name>
            <fieldText>Thank you for submitting this flag. A task and a Chatter Post (which should send an email as well) have been generated for the Project Piece&apos;s owner&apos;s manager.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Notes</name>
        <label>Notes</label>
        <locationX>51</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getOwnerManager</targetReference>
        </connector>
        <fields>
            <name>FlagGoesToWho</name>
            <fieldText>This flag will be sent to the manager of the owner of this Project Piece.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NotesField</name>
            <defaultValue>
                <stringValue>Please detail why you are flagging this XXXXX.ProjectName for Manager.</stringValue>
            </defaultValue>
            <fieldText>NotesField</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>Notes</startElementReference>
    <textTemplates>
        <name>TaskDescription</name>
        <text>This project piece has been flagged for attention by {!varClickerFirstName} {!varClickerLastName}. Please contact them and resolve this as soon as possible.</text>
    </textTemplates>
    <variables>
        <name>varClickerFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClickerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClickerLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCreatedTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varManagerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPPID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
