flows/Request_a_Trainer_v2-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Email_Fault</name>
        <label>Email Fault</label>
        <locationX>235</locationX>
        <locationY>397</locationY>
        <apexClass>SendEmail</apexClass>
        <connector>
            <targetReference>Failure_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ERROR</targetReference>
        </faultConnector>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>varErrorMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddress</name>
            <value>
                <stringValue>salesforce@vinsolutions.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Request a Trainer Flow Failure</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varEmailEmailError</assignToReference>
            <name>ErrorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varEmailEmailStatus</assignToReference>
            <name>Status</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Email_Notification</name>
        <label>Email Notification</label>
        <locationX>35</locationX>
        <locationY>396</locationY>
        <apexClass>SendEmail</apexClass>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_Fault</targetReference>
        </faultConnector>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddress</name>
            <value>
                <stringValue>jay.humfeld@vinsolutions.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Trainer Requested</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varErrorMessage</assignToReference>
            <name>ErrorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varEmailStatus</assignToReference>
            <name>Status</name>
        </outputParameters>
    </apexPluginCalls>
    <choices>
        <name>No_selection_made</name>
        <choiceText>No selection made</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>On_Site_Training</name>
        <choiceText>On-Site Training</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>On-Site Training</stringValue>
        </value>
    </choices>
    <choices>
        <name>WebEx_Training</name>
        <choiceText>WebEx Training</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WebEx Training</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Type_chosen</name>
        <label>Type chosen</label>
        <locationX>35</locationX>
        <locationY>147</locationY>
        <defaultConnector>
            <targetReference>Create_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_kind_of_training_is_needed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_selection_made</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Type_Chosen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Added dropdown option for Training Type.</description>
    <dynamicChoiceSets>
        <name>dynamicContactChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <label>Request a Trainer v2</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>35</locationX>
        <locationY>275</locationY>
        <assignRecordIdToReference>varCreatedTaskID</assignRecordIdToReference>
        <connector>
            <targetReference>Email_Notification</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>taskComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00570000001hAO4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Request a Trainer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <screens>
        <name>Ask_for_Info</name>
        <label>Ask for Info</label>
        <locationX>35</locationX>
        <locationY>26</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Type_chosen</targetReference>
        </connector>
        <fields>
            <name>CommentsText</name>
            <fieldText>You are requesting a trainer for {!varAccountName}.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>contact</name>
            <choiceReferences>dynamicContactChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What Contact should be associated with this request?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>comments</name>
            <fieldText>Please enter the comments for this request:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_kind_of_training_is_needed</name>
            <choiceReferences>WebEx_Training</choiceReferences>
            <choiceReferences>On_Site_Training</choiceReferences>
            <choiceReferences>No_selection_made</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No_selection_made</defaultSelectedChoiceReference>
            <fieldText>What kind of training is needed?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>ERROR</name>
        <label>ERROR</label>
        <locationX>293</locationX>
        <locationY>514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ERRORERROR</name>
            <fieldText>INCOMMUNICABLE ERROR. Please contact the Salesforce team for assistance.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Failure_Screen</name>
        <label>Failure Screen</label>
        <locationX>423</locationX>
        <locationY>397</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>failuretext</name>
            <fieldText>There has been a failure with this function. An email has been sent to the Salesforce Team. Please contact them with any helpful information you may have regarding this error.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>No_Type_Chosen</name>
        <label>No Type Chosen</label>
        <locationX>230</locationX>
        <locationY>81</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Ask_for_Info</targetReference>
        </connector>
        <fields>
            <name>noChoiceText</name>
            <fieldText>You did not select a Training Type. Please choose one before proceeding.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>35</locationX>
        <locationY>520</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>successText</name>
            <fieldText>Thank you! A trainer request task has been created, and the appropriate Training Team member has been emailed so that the task will be assigned.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Ask_for_Info</startElementReference>
    <textTemplates>
        <name>emailBody</name>
        <text>A trainer has been requested for the account {!varAccountName}.

Training Type:
{!What_kind_of_training_is_needed}

Notes:
{!comments}

Please go to this task and reassign it to a trainer.
http://na5.salesforce.com/{!varCreatedTaskID}</text>
    </textTemplates>
    <textTemplates>
        <name>taskComments</name>
        <text>Type: {!What_kind_of_training_is_needed}
Comments:
{!comments}</text>
    </textTemplates>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCreatedTaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDump</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmailEmailError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmailEmailStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmailStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskWhoIsID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
