flows/Run_Contact_Form-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>setOtherFormsPrefs</name>
        <label>setOtherFormsPrefs</label>
        <locationX>566</locationX>
        <locationY>348</locationY>
        <assignmentItems>
            <assignToReference>vTryOtherForms</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TryAgain</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Community</name>
        <choiceText>Community</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Community</stringValue>
        </value>
    </choices>
    <choices>
        <name>ContactForm</name>
        <choiceText>Contact Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ContactForm</stringValue>
        </value>
    </choices>
    <choices>
        <name>Healthcare</name>
        <choiceText>Healthcare</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Healthcare</stringValue>
        </value>
    </choices>
    <choices>
        <name>LeadForm</name>
        <choiceText>Lead Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead Form</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Registrations</name>
        <choiceText>Registrations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Registrations</stringValue>
        </value>
    </choices>
    <choices>
        <name>Surveys</name>
        <choiceText>Surveys</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Surveys</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tracking</name>
        <choiceText>Tracking</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tracking</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Run_Contact_Form</name>
        <label>Run Contact Form?</label>
        <locationX>102</locationX>
        <locationY>217</locationY>
        <defaultConnectorLabel>No Dont Run Contact Form</defaultConnectorLabel>
        <rules>
            <name>Try_Contact_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TryContactForm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RunContactForm</targetReference>
            </connector>
            <label>Run Contact Form</label>
        </rules>
    </decisions>
    <description>This Flow introduces the Contact Form and runs it if the user wishes to.</description>
    <label>Run Contact Form</label>
    <processType>Flow</processType>
    <screens>
        <name>Contact_Form_Summary</name>
        <label>Contact Form Summary</label>
        <locationX>101</locationX>
        <locationY>78</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Run_Contact_Form</targetReference>
        </connector>
        <fields>
            <name>ContactformShowSummary</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Contact Form Sample&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This Contact form captures Contact Information such as First Name, Last Name and Email Address. Unlike other &amp;quot;simple&amp;quot; Contact forms, it does not blindly create a Contact record in salesforce.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;It first does a lookup to see if the Contact already exists and creates one only if no contacts are found.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TryContactForm</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Would you like to try this?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>ContactFormEnd</name>
        <label>ContactFormEnd</label>
        <locationX>319</locationX>
        <locationY>348</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>setOtherFormsPrefs</targetReference>
        </connector>
        <fields>
            <name>FormSummary</name>
            <fieldText>That was a simple Contact form built by Flow used to create a Contact if there is no such contact already found.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TryAgain</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Would you like to try one of the other forms?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Contact_Form_Summary</startElementReference>
    <subflows>
        <name>RunContactForm</name>
        <label>RunCotnactForm</label>
        <locationX>103</locationX>
        <locationY>347</locationY>
        <connector>
            <targetReference>ContactFormEnd</targetReference>
        </connector>
        <flowName>Contact_Form</flowName>
    </subflows>
    <variables>
        <name>vTryOtherForms</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
