flows/Run_Invoice_Request_Form-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>setTryAgain</name>
        <label>setTryAgain</label>
        <locationX>671</locationX>
        <locationY>304</locationY>
        <assignmentItems>
            <assignToReference>vaTryAgain</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TryAgain</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Community</name>
        <choiceText>Community</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Community</stringValue>
        </value>
    </choices>
    <choices>
        <name>ContactForm</name>
        <choiceText>Contact Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ContactForm</stringValue>
        </value>
    </choices>
    <choices>
        <name>Healthcare</name>
        <choiceText>Healthcare</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Healthcare</stringValue>
        </value>
    </choices>
    <choices>
        <name>LeadForm</name>
        <choiceText>Lead Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead Form</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Registrations</name>
        <choiceText>Registrations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Registrations</stringValue>
        </value>
    </choices>
    <choices>
        <name>Surveys</name>
        <choiceText>Surveys</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Surveys</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tracking</name>
        <choiceText>Tracking</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tracking</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Run_Invoice_Req_Form</name>
        <label>Run Invoice Req Form?</label>
        <locationX>90</locationX>
        <locationY>305</locationY>
        <defaultConnectorLabel>No Dont Run Invoice Req Form</defaultConnectorLabel>
        <rules>
            <name>Try_Invoice_Req_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TryInvoiceReqForm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Invoice_Request_Form</targetReference>
            </connector>
            <label>Run Invoice Req Form</label>
        </rules>
    </decisions>
    <description>This Flow introduces the Invoice Request Form and runs it if the user wishes to.</description>
    <label>Run Invoice Request Form</label>
    <processType>Flow</processType>
    <screens>
        <name>Invoice_Request_Form_Summary</name>
        <label>Invoice Request Form Summary</label>
        <locationX>85</locationX>
        <locationY>191</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Run_Invoice_Req_Form</targetReference>
        </connector>
        <fields>
            <name>ITSRReqShowSummary</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Invoice Request Form Sample&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This is an Invoice request Form which captures the invoice information such as Name, Address Order Number etc.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You can use this information to query any data in your salesforce organization and present it to the user - all done without any code.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TryInvoiceReqForm</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Would you like to try this?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>InvoiceFormEnd</name>
        <label>InvoiceFormEnd</label>
        <locationX>477</locationX>
        <locationY>304</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>setTryAgain</targetReference>
        </connector>
        <fields>
            <name>Summary</name>
            <fieldText>That was a simple Invoice Request form built by Flow.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TryAgain</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Would you like to try one of the other forms?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Invoice_Request_Form_Summary</startElementReference>
    <subflows>
        <name>Run_Invoice_Request_Form</name>
        <label>Run Invoice Request Form</label>
        <locationX>287</locationX>
        <locationY>304</locationY>
        <connector>
            <targetReference>InvoiceFormEnd</targetReference>
        </connector>
        <flowName>Invoice_Request_Form</flowName>
    </subflows>
    <variables>
        <name>vaTryAgain</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
