flows/Run_Lead_Form-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>setTryAgain</name>
        <label>setTryAgain</label>
        <locationX>766</locationX>
        <locationY>205</locationY>
        <assignmentItems>
            <assignToReference>vaTryAgain</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TryAgain</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Community</name>
        <choiceText>Community</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Community</stringValue>
        </value>
    </choices>
    <choices>
        <name>ContactForm</name>
        <choiceText>Contact Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ContactForm</stringValue>
        </value>
    </choices>
    <choices>
        <name>Healthcare</name>
        <choiceText>Healthcare</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Healthcare</stringValue>
        </value>
    </choices>
    <choices>
        <name>LeadForm</name>
        <choiceText>Lead Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead Form</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Registrations</name>
        <choiceText>Registrations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Registrations</stringValue>
        </value>
    </choices>
    <choices>
        <name>Surveys</name>
        <choiceText>Surveys</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Surveys</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tracking</name>
        <choiceText>Tracking</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tracking</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Run_Lead_Form</name>
        <label>Run Lead Form?</label>
        <locationX>165</locationX>
        <locationY>210</locationY>
        <defaultConnectorLabel>No Dont Run Lead Form</defaultConnectorLabel>
        <rules>
            <name>Try_Lead_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TryLeadForm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RunLeadForm</targetReference>
            </connector>
            <label>Run Lead Form</label>
        </rules>
    </decisions>
    <description>This Flow introduces the Lead Form and runs it if the user wishes to.</description>
    <label>Run Lead Form</label>
    <processType>Flow</processType>
    <screens>
        <name>Lead_Form_Summary</name>
        <label>Lead Form Summary</label>
        <locationX>162</locationX>
        <locationY>89</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Run_Lead_Form</targetReference>
        </connector>
        <fields>
            <name>LeadformShowSummary</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Lead Form Sample&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This is a sample Lead form which collects lead information such as the Name, Email Address and the Company etc.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The form then not only creates the Lead, but also converts the lead if the user selects the option &amp;quot;Please Contact Me&amp;quot; using the &lt;I&gt;ConvertLead&lt;/I&gt; Apex Plug-in, also included in this sample pack.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TryLeadForm</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Would you like to try this?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>LeadFormEnd</name>
        <label>LeadFormEnd</label>
        <locationX>592</locationX>
        <locationY>209</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>setTryAgain</targetReference>
        </connector>
        <fields>
            <name>Summary</name>
            <fieldText>That was a simple Lead form built by Flow which can optionally convert the lead.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TryAgain</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Would you like to try one of the other forms?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Lead_Form_Summary</startElementReference>
    <subflows>
        <name>RunLeadForm</name>
        <label>RunLeadForm</label>
        <locationX>394</locationX>
        <locationY>210</locationY>
        <connector>
            <targetReference>LeadFormEnd</targetReference>
        </connector>
        <flowName>Lead_Form_Sample</flowName>
    </subflows>
    <variables>
        <name>vaTryAgain</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
