flows/Run_IT_Service_Request_Form-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>setTryAgain</name>
        <label>setTryAgain</label>
        <locationX>710</locationX>
        <locationY>308</locationY>
        <assignmentItems>
            <assignToReference>vaTryAgain</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TryAgain</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Community</name>
        <choiceText>Community</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Community</stringValue>
        </value>
    </choices>
    <choices>
        <name>ContactForm</name>
        <choiceText>Contact Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ContactForm</stringValue>
        </value>
    </choices>
    <choices>
        <name>Healthcare</name>
        <choiceText>Healthcare</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Healthcare</stringValue>
        </value>
    </choices>
    <choices>
        <name>LeadForm</name>
        <choiceText>Lead Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead Form</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Registrations</name>
        <choiceText>Registrations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Registrations</stringValue>
        </value>
    </choices>
    <choices>
        <name>Surveys</name>
        <choiceText>Surveys</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Surveys</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tracking</name>
        <choiceText>Tracking</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tracking</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Run_IT_SR_Req_Form</name>
        <label>Run IT SR Req Form?</label>
        <locationX>90</locationX>
        <locationY>305</locationY>
        <defaultConnectorLabel>No Dont Run IT SR Req Form</defaultConnectorLabel>
        <rules>
            <name>Try_IT_ST_Req_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TryITSRReqForm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RunITSRReqForm</targetReference>
            </connector>
            <label>Run IT ST Req Form</label>
        </rules>
    </decisions>
    <description>This Flow introduces the IT Service Request Form and runs it if the user wishes to.</description>
    <label>Run IT Service Request Form</label>
    <processType>Flow</processType>
    <screens>
        <name>IT_Req_Form_End</name>
        <label>IT Req Form End</label>
        <locationX>487</locationX>
        <locationY>303</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>setTryAgain</targetReference>
        </connector>
        <fields>
            <name>ShowSummary</name>
            <fieldText>That was a simple IT Service Request form built by Flow which shows how you can use it to build logic into it and work with any record in salesforce - all done without writing any code!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TryAgain</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Would you like to try one of the other forms?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>IT_SR_Request_Form_Summary</name>
        <label>IT SR Request Form Summary</label>
        <locationX>85</locationX>
        <locationY>191</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Run_IT_SR_Req_Form</targetReference>
        </connector>
        <fields>
            <name>ITSRReqShowSummary</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;IT Service Request Form Sample&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This flow demonstrates how you can use Flow build forms which are more than just a data entry user interface. It shows how you can work build logic and work with any data in salesforce.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The form is a classic IT Service request Form which captures an IT related issue such as Computer/Email/Network etc.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The flow then creates the case for the issue and in the process also creates the contact based on the information provided. &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;It creates the contact only if the contact is not already found by leveraging an already existing Contact Management flow as a subflow.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TryITSRReqForm</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Would you like to try this?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>IT_SR_Request_Form_Summary</startElementReference>
    <subflows>
        <name>RunITSRReqForm</name>
        <label>RunITSRReqForm</label>
        <locationX>312</locationX>
        <locationY>302</locationY>
        <connector>
            <targetReference>IT_Req_Form_End</targetReference>
        </connector>
        <flowName>IT_Service_Request_Form</flowName>
    </subflows>
    <variables>
        <name>vaTryAgain</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
