flows/Sales_PPP_Wizard-6.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_varSalesPPPID</name>
        <label>Set varSalesPPPID</label>
        <locationX>107</locationX>
        <locationY>142</locationY>
        <assignmentItems>
            <assignToReference>varSalesPPPID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppSalesPPPGenerated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Profile_Page_1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choose_one</name>
        <choiceText>Choose one</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>meetingNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>meetingYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Multiple</name>
        <choiceText>Multiple</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Multiple</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single</name>
        <choiceText>Single</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Cross_Sell_Shared_Scenarios</name>
        <label>Cross Sell Shared Scenarios</label>
        <locationX>865</locationX>
        <locationY>244</locationY>
        <defaultConnector>
            <targetReference>Scenario_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Scenario 4</defaultConnectorLabel>
        <rules>
            <name>Choice_not_made</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Does_your_sales_staff_cross_sell</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_one</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>If_so_does_this_occur_at_shared_lot_locations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_one</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Profile_Page_4</targetReference>
            </connector>
            <label>Choice not made</label>
        </rules>
        <rules>
            <name>Scenario_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_your_sales_staff_cross_sell</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>meetingNo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Single_DMS_Scenario</targetReference>
            </connector>
            <label>Scenario 1</label>
        </rules>
        <rules>
            <name>Scenario_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_your_sales_staff_cross_sell</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>meetingYes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>If_so_does_this_occur_at_shared_lot_locations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>meetingNo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multiple_DMS_Scenario</targetReference>
            </connector>
            <label>Scenario 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_PPP_Already_Generated</name>
        <label>Sales PPP Already Generated?</label>
        <locationX>108</locationX>
        <locationY>21</locationY>
        <defaultConnector>
            <targetReference>Create_Sales_PPP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOppSalesPPPGenerated</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_varSalesPPPID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Single_or_Multiple_CRM</name>
        <label>Single or Multiple CRM</label>
        <locationX>647</locationX>
        <locationY>368</locationY>
        <defaultConnector>
            <targetReference>Product_Profile_Page_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Single_All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_many_rooftops_do_you_have</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>How_many_physical_addresses_do_you_have</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>How_many_F_I_accounts</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Do_you_want_to_function_under_multiple_DMS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Single</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Single_DMS_Scenario</targetReference>
            </connector>
            <label>Scenario 1</label>
        </rules>
        <rules>
            <name>MultipleLocations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_many_rooftops_do_you_have</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>How_many_physical_addresses_do_you_have</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>How_many_F_I_accounts</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Do_you_want_to_function_under_multiple_DMS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Multiple</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multi_Location_Single_DMS_Scenario</targetReference>
            </connector>
            <label>Scenario 2</label>
        </rules>
    </decisions>
    <description>Disabled stitching.</description>
    <label>Sales PPP Wizard</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Sales_PPP</name>
        <label>Create Sales PPP</label>
        <locationX>297</locationX>
        <locationY>21</locationY>
        <assignRecordIdToReference>varSalesPPPID</assignRecordIdToReference>
        <connector>
            <targetReference>Mark_Opp_Sales_PPP_Generated</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOppOwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_PPP__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Mark_Opp_Sales_PPP_Generated</name>
        <label>Mark Opp Sales PPP Generated</label>
        <locationX>297</locationX>
        <locationY>245</locationY>
        <connector>
            <targetReference>Process_Profile_Page_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sales_PPP_ID__c</field>
            <value>
                <elementReference>varSalesPPPID</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Page_1</name>
        <label>Update Page 1</label>
        <locationX>106</locationX>
        <locationY>369</locationY>
        <connector>
            <targetReference>Process_Profile_Page_2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSalesPPPID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>What_did_you_like_best_about_our_demo__c</field>
            <value>
                <elementReference>What_did_you_like_best_about_our_demo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_do_you_spend_on_each_vendor__c</field>
            <value>
                <elementReference>What_do_you_currently_spend_for_each_of_your_vendors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_is_best_about_your_current_systems__c</field>
            <value>
                <elementReference>What_do_you_like_best_about_your_current_systems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_is_your_end_goal_in_a_new_system__c</field>
            <value>
                <elementReference>What_is_your_end_goal_in_finding_a_new_system</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_systems_do_you_currently_have__c</field>
            <value>
                <elementReference>What_systems_do_you_currently_have_in_place</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_would_you_change_about_your_current__c</field>
            <value>
                <elementReference>What_would_you_change_about_your_current_systems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Where_can_help_your_store_the_most__c</field>
            <value>
                <elementReference>Where_do_you_think_we_can_help_your_store_the_most</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_PPP__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Page_2</name>
        <label>Update Page 2</label>
        <locationX>299</locationX>
        <locationY>493</locationY>
        <connector>
            <targetReference>Product_Profile_Page_3</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSalesPPPID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Do_they_have_a_BDC__c</field>
            <value>
                <elementReference>Do_you_have_a_BDC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_do_you_track_marketing_effectiveness__c</field>
            <value>
                <elementReference>How_do_you_track_the_effectiveness_of_your_marketing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_does_the_BDC_operate__c</field>
            <value>
                <elementReference>If_so_how_does_it_operate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_long_to_get_a_car_online__c</field>
            <value>
                <elementReference>How_long_does_it_take_on_average_to_get_a_car_online</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_many_cars_in_inventory_new_used__c</field>
            <value>
                <elementReference>How_many_cars_do_you_have_in_inventory_new_and_used</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_many_sold_per_month_new_used__c</field>
            <value>
                <elementReference>How_many_cars_do_you_sell_per_month_new_used</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Details__c</field>
            <value>
                <elementReference>If_so_how_soon_and_where</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Should_we_set_up_a_meeting_with_them__c</field>
            <value>
                <elementReference>Should_we_set_up_an_online_in_store_meeting_with_them</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Used_car_write_down_and_details__c</field>
            <value>
                <elementReference>Do_you_have_a_used_car_write_down_How_often_How_much</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_are_key_factors_for_decision_makers__c</field>
            <value>
                <elementReference>What_are_the_key_factors_for_the_decision_maker_s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_do_you_spend_monthly_on_Marketin__c</field>
            <value>
                <elementReference>What_do_you_spend_on_average_each_month_for_marketing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_types_of_after_sale_marketing__c</field>
            <value>
                <elementReference>What_types_of_marketing_do_you_do_for_sales_service_and_after_the_sale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Who_is_going_to_be_involved_in_decision__c</field>
            <value>
                <elementReference>Who_is_going_to_be_involved_in_the_decision</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_PPP__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Page_3</name>
        <label>Update Page 3</label>
        <locationX>475</locationX>
        <locationY>368</locationY>
        <connector>
            <targetReference>Single_or_Multiple_CRM</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSalesPPPID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Function_as_single_or_multiple__c</field>
            <value>
                <elementReference>Do_you_want_to_function_under_multiple_DMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_many_F_I_accounts__c</field>
            <value>
                <elementReference>How_many_F_I_accounts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_many_physical_addresses__c</field>
            <value>
                <elementReference>How_many_physical_addresses_do_you_have</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_many_rooftops__c</field>
            <value>
                <elementReference>How_many_rooftops_do_you_have</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_PPP__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Page_4</name>
        <label>Update Page 4</label>
        <locationX>647</locationX>
        <locationY>117</locationY>
        <connector>
            <targetReference>Cross_Sell_Shared_Scenarios</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSalesPPPID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cross_sell_at_shared_lot_locations__c</field>
            <value>
                <elementReference>If_so_does_this_occur_at_shared_lot_locations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_staff_cross_sell__c</field>
            <value>
                <elementReference>Does_your_sales_staff_cross_sell</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_PPP__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Scenario_1</name>
        <label>Update Scenario 1</label>
        <locationX>1088</locationX>
        <locationY>375</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSalesPPPID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Scenario_Conclusion__c</field>
            <value>
                <stringValue>Single DMS, Single Lead Source</stringValue>
            </value>
        </inputAssignments>
        <object>Sales_PPP__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Scenario_2</name>
        <label>Update Scenario 2</label>
        <locationX>867</locationX>
        <locationY>505</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSalesPPPID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Scenario_Conclusion__c</field>
            <value>
                <stringValue>Single DMS, two or more locations</stringValue>
            </value>
        </inputAssignments>
        <object>Sales_PPP__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Scenario_3</name>
        <label>Update Scenario 3</label>
        <locationX>865</locationX>
        <locationY>5</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSalesPPPID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Scenario_Conclusion__c</field>
            <value>
                <stringValue>Multiple DMS, cross-selling</stringValue>
            </value>
        </inputAssignments>
        <object>Sales_PPP__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Scenario_4</name>
        <label>Update Scenario 4</label>
        <locationX>1090</locationX>
        <locationY>120</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSalesPPPID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Scenario_Conclusion__c</field>
            <value>
                <stringValue>Multiple DMS, cross-selling, shared lots</stringValue>
            </value>
        </inputAssignments>
        <object>Sales_PPP__c</object>
    </recordUpdates>
    <screens>
        <name>Multi_Location_Single_DMS_Scenario</name>
        <label>Multi-Location Single DMS Scenario</label>
        <locationX>647</locationX>
        <locationY>505</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Scenario_2</targetReference>
        </connector>
        <fields>
            <name>Scenario2Explanation</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Single DMS (F&amp;amp;I and Inventory account) with intent to function as two or more locations&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;How do you separate your deals by location?  &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;MUST HAVE FILTER FOR BOTH DMS SALES AND INVENTORY, STANDARD DMS REPORTS DO NOT PROVIDE ENOUGH DETAIL NEEDED TO FILTER CLOSED SERVICE RO’S.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;•	Sales data files can be filtered by location code, store name, or memo fields that may exist in current files; pending the DMS provides them in their export. *Cannot filter by salesperson name&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;•	Inventory can be filtered by stock number convention (first digits), lot location, store name fields, or memo fields; pending the DMS provides them in their export.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;•	Dealer must provide independent lead source accounts per location.  We cannot support one leads address with two CRM’s.  Example:  The dealer has one AutoTrader account, but two motosnap accounts, for AutoTrader leads to work correctly, they need a 2nd AutoTrader account.  &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Response = two CRM’s if you can identify all above for appropriate set-up&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Multiple_DMS_Scenario</name>
        <label>Multiple DMS Scenario</label>
        <locationX>865</locationX>
        <locationY>116</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Scenario_3</targetReference>
        </connector>
        <fields>
            <name>Scenario3Explanation</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Multiple Rooftops, separated DMS accounts, cross-selling.  This is 1:1 ratio with understanding additional training function.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;How do you finalize your accounting records for sales?&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;•	If the dealer does a “dealer trade” to the salesperson location; the DMS sales record will match our CRM customer record upon finalization.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;•	If the dealer does not “dealer trade” to the salesperson location; the sales staff must copy customer to the store where the deal will finalize in the DMS so importing DMS sales records will correspond.  	*This must be identified correctly for training purposes&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Response = one CRM per Rooftop / Global users&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Process_Profile_Page_1</name>
        <label>Process Profile Page 1</label>
        <locationX>107</locationX>
        <locationY>246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Page_1</targetReference>
        </connector>
        <fields>
            <name>p1text</name>
            <fieldText>Process Profile Page 1</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_did_you_like_best_about_our_demo</name>
            <fieldText>What did you like best about our demo?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>i.e. I really liked your website, market pricing tool, desking, full integration throughout the product</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Where_do_you_think_we_can_help_your_store_the_most</name>
            <fieldText>Where do you think we can help your store the most?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>i.e. driving or improving traffic, increasing internet sales, more effectively marketing to your customers, accountability</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>What_is_your_end_goal_in_finding_a_new_system</name>
            <fieldText>What is your end goal in finding a new system?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>i.e. sell more cars, hold my sales people accountable, track my closing ratios, improve reporting</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>What_systems_do_you_currently_have_in_place</name>
            <fieldText>What systems do you currently have in place?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>i.e. Do you currently have a CRM or are you using a paper log? Identify current tools being utilized</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>What_do_you_like_best_about_your_current_systems</name>
            <fieldText>What do you like best about your current systems?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>i.e. ease of use, customization</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>What_would_you_change_about_your_current_systems</name>
            <fieldText>What would you change about your current systems?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>i.e. I want it fully integrated, I don’t want to have to have multiple log ins or vendors</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>What_do_you_currently_spend_for_each_of_your_vendors</name>
            <fieldText>What do you currently spend for each of your vendors?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>i.e. product/vendor name &amp; monthly spend</helpText>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Process_Profile_Page_2</name>
        <label>Process Profile Page 2</label>
        <locationX>105</locationX>
        <locationY>495</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Page_2</targetReference>
        </connector>
        <fields>
            <name>page2text</name>
            <fieldText>Process Profile Page 2</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Who_is_going_to_be_involved_in_the_decision</name>
            <fieldText>Who is going to be involved in the decision?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>i.e. dealer principles, GM’s, internet directors, committee</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>What_are_the_key_factors_for_the_decision_maker_s</name>
            <fieldText>What are the key factors for the decision maker(s)?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>i.e. price, ease of use, buy-in</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Should_we_set_up_an_online_in_store_meeting_with_them</name>
            <choiceReferences>meetingYes</choiceReferences>
            <choiceReferences>meetingNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Should we set up an online/in-store meeting with them?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>If_so_how_soon_and_where</name>
            <fieldText>If so, how soon and where?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Do_you_have_a_BDC</name>
            <choiceReferences>meetingYes</choiceReferences>
            <choiceReferences>meetingNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you have a BDC?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>If_so_how_does_it_operate</name>
            <fieldText>If so, how does it operate?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>i.e. Do sales people handle internet and phone leads, or the BDC?, Do you use round-robin or lead bucket? Central for all stores and service or independently?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>What_types_of_marketing_do_you_do_for_sales_service_and_after_the_sale</name>
            <fieldText>What types of marketing do you do for sales, service, and after the sale?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>i.e. direct mail, email campaigns, radio, newspaper</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>What_do_you_spend_on_average_each_month_for_marketing</name>
            <fieldText>What do you spend on average each month for marketing?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>How_do_you_track_the_effectiveness_of_your_marketing</name>
            <fieldText>How do you track the effectiveness of your marketing?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>i.e. Google Analytics, CRM ROI</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>How_many_cars_do_you_have_in_inventory_new_and_used</name>
            <dataType>String</dataType>
            <fieldText>How many cars do you have in inventory (new and used)?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>How_many_cars_do_you_sell_per_month_new_used</name>
            <dataType>String</dataType>
            <fieldText>How many cars do you sell per month (new/used)?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>How_long_does_it_take_on_average_to_get_a_car_online</name>
            <dataType>String</dataType>
            <fieldText>How long does it take on average to get a car online?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Do_you_have_a_used_car_write_down_How_often_How_much</name>
            <fieldText>Do you have a used car write-down? How often? How much?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Product_Profile_Page_3</name>
        <label>Product Profile Page 3</label>
        <locationX>299</locationX>
        <locationY>367</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Page_3</targetReference>
        </connector>
        <fields>
            <name>How_many_rooftops_do_you_have</name>
            <dataType>Number</dataType>
            <fieldText>How many rooftops do you have?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>How_many_physical_addresses_do_you_have</name>
            <dataType>Number</dataType>
            <fieldText>How many physical addresses do you have?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>How_many_F_I_accounts</name>
            <dataType>Number</dataType>
            <fieldText>How many F&amp;I accounts?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Do_you_want_to_function_under_multiple_DMS</name>
            <choiceReferences>Single</choiceReferences>
            <choiceReferences>Multiple</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to function under single or multiple DMS?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Product_Profile_Page_4</name>
        <label>Product Profile Page 4</label>
        <locationX>647</locationX>
        <locationY>244</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Page_4</targetReference>
        </connector>
        <fields>
            <name>Does_your_sales_staff_cross_sell</name>
            <choiceReferences>meetingYes</choiceReferences>
            <choiceReferences>meetingNo</choiceReferences>
            <choiceReferences>Choose_one</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choose_one</defaultSelectedChoiceReference>
            <fieldText>Does your sales staff cross-sell?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>If_so_does_this_occur_at_shared_lot_locations</name>
            <choiceReferences>meetingYes</choiceReferences>
            <choiceReferences>meetingNo</choiceReferences>
            <choiceReferences>Choose_one</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choose_one</defaultSelectedChoiceReference>
            <fieldText>If so, does this occur at shared-lot locations?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Scenario_4</name>
        <label>Scenario 4</label>
        <locationX>1090</locationX>
        <locationY>245</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Scenario_4</targetReference>
        </connector>
        <fields>
            <name>Scenario4Explanation</name>
            <fieldText>This scenario has not been defined at this time.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Single_DMS_Scenario</name>
        <label>Single DMS Scenario</label>
        <locationX>866</locationX>
        <locationY>372</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Scenario_1</targetReference>
        </connector>
        <fields>
            <name>Scenario1Explanation</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Single DMS (F&amp;amp;I and Inventory account) with single lead source provider. &lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;	&lt;B&gt;Response = One CRM&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;	1:1 supports 1 rooftop, 1 leads address, 1 DMS. account, 1 Export&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Create_Sales_PPP</startElementReference>
    <variables>
        <name>varOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppSalesPPPGenerated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSalesPPPID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
