flows/Set_Training_Dates-15.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_FAULT</name>
        <label>Email FAULT</label>
        <locationX>398</locationX>
        <locationY>715</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>FAULT</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>errorBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>FLOW ERROR - Set Training Dates</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>mark.ross@autotradergroup.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_FAULT_0</name>
        <label>Email FAULT</label>
        <locationX>61</locationX>
        <locationY>716</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>FAULT</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>errorBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>FLOW ERROR - Set Training Dates</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>mark.ross@autotradergroup.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Set_Confirmed_False</name>
        <label>Set Confirmed False</label>
        <locationX>221</locationX>
        <locationY>472</locationY>
        <assignmentItems>
            <assignToReference>varConfirmed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date_No_Confirm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date_no_confirm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Dates_on_Training</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Confirmed_False_1</name>
        <label>Set Confirmed False</label>
        <locationX>557</locationX>
        <locationY>474</locationY>
        <assignmentItems>
            <assignToReference>varConfirmed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date_No_Confirm_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date_no_confirm_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateDatesAnyway</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Yes_please_update_the_Related_Project_s_training_datesNoConfirm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Dates_on_Training_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Dates_Confirmed</name>
        <label>Set Dates Confirmed</label>
        <locationX>56</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>varConfirmed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_this_if_the_dates_are_Confirmed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Dates_on_Training</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Dates_Confirmed_1</name>
        <label>Set Dates Confirmed</label>
        <locationX>392</locationX>
        <locationY>473</locationY>
        <assignmentItems>
            <assignToReference>varConfirmed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_this_if_the_dates_are_Confirmed_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateDatesAnyway</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Yes_please_update_the_Related_Project_s_training_dates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Dates_on_Training_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>New_Install</name>
        <label>New Install?</label>
        <locationX>310</locationX>
        <locationY>132</locationY>
        <defaultConnector>
            <targetReference>Travel_Expenses_Set_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesInstall</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Install</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Travel_Expenses_Set</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Travel_Expenses_Set</name>
        <label>Travel Expenses Set?</label>
        <locationX>140</locationX>
        <locationY>246</locationY>
        <defaultConnector>
            <targetReference>Request_Dates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoTravelExpensesSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTravelExpenses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Dates_No_Confirm</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Travel_Expenses_Set_1</name>
        <label>Travel Expenses Set?</label>
        <locationX>473</locationX>
        <locationY>249</locationY>
        <defaultConnector>
            <targetReference>Request_Dates_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoTravelExpensesSet_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTravelExpenses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Dates_No_Confirm_1</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Updating_Dates_Anyway</name>
        <label>Updating Dates Anyway?</label>
        <locationX>308</locationX>
        <locationY>595</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUpdateDatesAnyway</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Dates_on_Project</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Added fault emails and screens - Mark R</description>
    <label>Set Training Dates</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Dates</name>
        <label>Get Dates</label>
        <locationX>310</locationX>
        <locationY>17</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Install</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTrainingID</elementReference>
            </value>
        </filters>
        <object>Training__c</object>
        <outputAssignments>
            <assignToReference>varEndDate</assignToReference>
            <field>Confirmed_Training_End__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varStartDate</assignToReference>
            <field>Confirmed_Training_Start__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varConfirmed</assignToReference>
            <field>Training_Dates_Confirmed__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTravelExpenses</assignToReference>
            <field>Training_Expenses_Paid_by_Dealer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varType</assignToReference>
            <field>Training_Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Dates_on_Project</name>
        <label>Update Dates on Project</label>
        <locationX>221</locationX>
        <locationY>715</locationY>
        <faultConnector>
            <targetReference>Email_FAULT</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Confirmed_Training_End__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Confirmed_Training_Start__c</field>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <object>SFDC_520_Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Dates_on_Training</name>
        <label>Update Dates on Training</label>
        <locationX>137</locationX>
        <locationY>594</locationY>
        <connector>
            <targetReference>Update_Dates_on_Project</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_FAULT_0</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTrainingID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Confirmed_Training_End__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Confirmed_Training_Start__c</field>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Dates_Confirmed__c</field>
            <value>
                <elementReference>varConfirmed</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Dates_on_Training_1</name>
        <label>Update Dates on Training</label>
        <locationX>475</locationX>
        <locationY>593</locationY>
        <connector>
            <targetReference>Updating_Dates_Anyway</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_FAULT</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTrainingID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Confirmed_Training_End__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Confirmed_Training_Start__c</field>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Dates_Confirmed__c</field>
            <value>
                <elementReference>varConfirmed</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordUpdates>
    <screens>
        <name>FAULT</name>
        <label>FAULT</label>
        <locationX>221</locationX>
        <locationY>832</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>faulttxt</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Request_Dates</name>
        <label>Request Dates</label>
        <locationX>56</locationX>
        <locationY>354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Dates_Confirmed</targetReference>
        </connector>
        <fields>
            <name>requestText</name>
            <fieldText>Please enter the dates for training.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varStartDate</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varEndDate</elementReference>
            </defaultValue>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Check_this_if_the_dates_are_Confirmed</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varConfirmed</elementReference>
            </defaultValue>
            <fieldText>Check this if the dates are Confirmed.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Request_Dates_0</name>
        <label>Request Dates</label>
        <locationX>392</locationX>
        <locationY>358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Dates_Confirmed_1</targetReference>
        </connector>
        <fields>
            <name>requestText_1</name>
            <fieldText>Please enter the dates for training.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Start_Date_1</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varStartDate</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>End_Date_1</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varEndDate</elementReference>
            </defaultValue>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Check_this_if_the_dates_are_Confirmed_1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varConfirmed</elementReference>
            </defaultValue>
            <fieldText>Check this if the dates are Confirmed.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txtNotNewInstall</name>
            <fieldText>Because this is not a New Install training, changing these dates will NOT affect the Related Project. If you&apos;d like to update the Related Project&apos;s dates with these dates, please check the box below.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes_please_update_the_Related_Project_s_training_dates</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes, please update the Related Project&apos;s training dates.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Request_Dates_No_Confirm</name>
        <label>Request Dates (No Confirm)</label>
        <locationX>221</locationX>
        <locationY>358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Confirmed_False</targetReference>
        </connector>
        <fields>
            <name>requestText_0</name>
            <fieldText>Please enter the dates for training.
You cannot confirm these dates yet as &apos;Travel Expenses Paid By Dealer&apos; has not yet been set.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Start_Date_No_Confirm</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varStartDate</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>End_Date_no_confirm</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varEndDate</elementReference>
            </defaultValue>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Request_Dates_No_Confirm_1</name>
        <label>Request Dates (No Confirm)</label>
        <locationX>557</locationX>
        <locationY>359</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Confirmed_False_1</targetReference>
        </connector>
        <fields>
            <name>requestText_0_1</name>
            <fieldText>Please enter the dates for training.
You cannot confirm these dates yet as &apos;Travel Expenses Paid By Dealer&apos; has not yet been set.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Start_Date_No_Confirm_1</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varStartDate</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>End_Date_no_confirm_1</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varEndDate</elementReference>
            </defaultValue>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>txtNotNewInstallNoConfirm</name>
            <fieldText>Because this is not a New Install training, changing these dates will NOT affect the Related Project. If you&apos;d like to update the Related Project&apos;s dates with these dates, please check the box below.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes_please_update_the_Related_Project_s_training_datesNoConfirm</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes, please update the Related Project&apos;s training dates.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>Get_Dates</startElementReference>
    <textTemplates>
        <name>errorBody</name>
        <text>Training ID: {!varTrainingID}
Start Date: {!varStartDate}
End Date: {!varEndDate}
Confirmed: {!varConfirmed}
Project ID: {!varProjectID}

{!$Flow.FaultMessage}</text>
    </textTemplates>
    <variables>
        <name>varConfirmed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTrainingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTravelExpenses</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUpdateDatesAnyway</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
