flows/Set_Training_Dates-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Corrected date value population issue.</description>
    <label>Set Training Dates</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Dates</name>
        <label>Get Dates</label>
        <locationX>34</locationX>
        <locationY>35</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Request_Dates</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTrainingID</elementReference>
            </value>
        </filters>
        <object>Training__c</object>
        <outputAssignments>
            <assignToReference>varEndDate</assignToReference>
            <field>Confirmed_Training_End__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varStartDate</assignToReference>
            <field>Confirmed_Training_Start__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Dates_on_Project</name>
        <label>Update Dates on Project</label>
        <locationX>36</locationX>
        <locationY>400</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Proposed_Training_Start__c</field>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <object>SFDC_520_Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Dates_on_Training</name>
        <label>Update Dates on Training</label>
        <locationX>35</locationX>
        <locationY>275</locationY>
        <connector>
            <targetReference>Update_Dates_on_Project</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTrainingID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Confirmed_Training_End__c</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Confirmed_Training_Start__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Dates_Confirmed__c</field>
            <value>
                <elementReference>Check_this_if_the_dates_are_Confirmed</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordUpdates>
    <screens>
        <name>Request_Dates</name>
        <label>Request Dates</label>
        <locationX>35</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Dates_on_Training</targetReference>
        </connector>
        <fields>
            <name>requestText</name>
            <fieldText>Please enter the dates for training.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varStartDate</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varEndDate</elementReference>
            </defaultValue>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Check_this_if_the_dates_are_Confirmed</name>
            <dataType>Boolean</dataType>
            <fieldText>Check this if the dates are Confirmed.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>Get_Dates</startElementReference>
    <variables>
        <name>varEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTrainingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
