flows/Set_CAD_ConversionRate-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Fault_Email</name>
        <label>Fault Email</label>
        <locationX>270</locationX>
        <locationY>141</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>FAULT</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>FLOW ERROR: Set CAD Conversion Rate</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>mark.ross@autotradergroup.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_This_Opp_to_New_Coll</name>
        <label>Add This Opp to New Coll</label>
        <locationX>349</locationX>
        <locationY>380</locationY>
        <assignmentItems>
            <assignToReference>scolAlteredOpps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>svarThisOpp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Conversion_Rate</name>
        <label>Set Conversion Rate</label>
        <locationX>197</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>svarThisOpp.CAD_Conversion_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewRate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_This_Opp_to_New_Coll</targetReference>
        </connector>
    </assignments>
    <description>Corrected bugs, added finish screen</description>
    <interviewLabel>Set CAD Conversion Rate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set CAD Conversion Rate</label>
    <loops>
        <name>Loop_Opps</name>
        <label>Loop Opps</label>
        <locationX>198</locationX>
        <locationY>272</locationY>
        <assignNextValueToReference>svarThisOpp</assignNextValueToReference>
        <collectionReference>scolOpps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Conversion_Rate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Current_Rate</name>
        <label>Get Current Rate</label>
        <locationX>43</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_New_Conversion_Rate</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Email</targetReference>
        </faultConnector>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Price_Book_Used__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vin Canada</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varOldRate</assignToReference>
            <field>CAD_Conversion_Rate__c</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_CA_Opps</name>
        <label>Get Open CA Opps</label>
        <locationX>43</locationX>
        <locationY>272</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opps</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Email</targetReference>
        </faultConnector>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Price_Book_Used__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vin Canada</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>scolOpps</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CAD_Conversion_Rate__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opps</name>
        <label>Update Opps</label>
        <locationX>443</locationX>
        <locationY>273</locationY>
        <connector>
            <targetReference>Finished</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Email</targetReference>
        </faultConnector>
        <inputReference>scolAlteredOpps</inputReference>
    </recordUpdates>
    <screens>
        <name>FAULT</name>
        <label>FAULT</label>
        <locationX>426</locationX>
        <locationY>56</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>text</name>
            <fieldText>Current Opp ID: {!svarThisOpp.Id}

ERROR:
{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Finished</name>
        <label>Finished</label>
        <locationX>603</locationX>
        <locationY>273</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinishedText</name>
            <fieldText>The conversion rate has now been applied to all open Canadian opps.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Get_New_Conversion_Rate</name>
        <label>Get New Conversion Rate</label>
        <locationX>43</locationX>
        <locationY>161</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Open_CA_Opps</targetReference>
        </connector>
        <fields>
            <name>NewRate</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>varOldRate</elementReference>
            </defaultValue>
            <fieldText>What should the new conversion rate be?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>10</scale>
        </fields>
    </screens>
    <screens>
        <name>Show_Collection</name>
        <label>TS Show Collection</label>
        <locationX>44</locationX>
        <locationY>378</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>show</name>
            <fieldText>{!scolOpps}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>TS_After_Change</name>
        <label>TS After Change</label>
        <locationX>65</locationX>
        <locationY>515</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>after</name>
            <fieldText>{!svarThisOpp.Id}
{!svarThisOpp.CAD_Conversion_Rate__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>TS_Before</name>
        <label>TS Before</label>
        <locationX>395</locationX>
        <locationY>513</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThisOppId</name>
            <fieldText>{!svarThisOpp.Id}
{!svarThisOpp.CAD_Conversion_Rate__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Get_Current_Rate</startElementReference>
    <textTemplates>
        <name>EmailBody</name>
        <text>An error has occurred setting the CAD conversion rate.

Current Opp ID: {!svarThisOpp.Id}

Error: {!$Flow.FaultMessage}</text>
    </textTemplates>
    <variables>
        <name>scolAlteredOpps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>scolOpps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>svarThisOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varOldRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>10</scale>
    </variables>
</Flow>
