flows/Set_Account_Billing_Type-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Is_CRM</name>
        <label>Is CRM</label>
        <locationX>390</locationX>
        <locationY>13</locationY>
        <assignmentItems>
            <assignToReference>varCRMBool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Billing_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_ILM</name>
        <label>Is ILM</label>
        <locationX>591</locationX>
        <locationY>176</locationY>
        <assignmentItems>
            <assignToReference>varILMBool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Billing_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_Inventory</name>
        <label>Is Inventory</label>
        <locationX>668</locationX>
        <locationY>253</locationY>
        <assignmentItems>
            <assignToReference>varInvBool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Billing_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_Other</name>
        <label>Is Other</label>
        <locationX>699</locationX>
        <locationY>337</locationY>
        <assignmentItems>
            <assignToReference>varOtherBool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Billing_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_Website</name>
        <label>Is Website</label>
        <locationX>495</locationX>
        <locationY>100</locationY>
        <assignmentItems>
            <assignToReference>varWebBool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Billing_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_as_CRM</name>
        <label>Set as CRM</label>
        <locationX>153</locationX>
        <locationY>712</locationY>
        <assignmentItems>
            <assignToReference>varBillingType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CRM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Acct_Billing_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_as_CRM_w_Web</name>
        <label>Set as CRM w/ Web</label>
        <locationX>19</locationX>
        <locationY>712</locationY>
        <assignmentItems>
            <assignToReference>varBillingType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CRM w/Website</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Acct_Billing_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_as_ILM</name>
        <label>Set as ILM</label>
        <locationX>421</locationX>
        <locationY>714</locationY>
        <assignmentItems>
            <assignToReference>varBillingType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ILM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Acct_Billing_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_as_ILM_w_Web</name>
        <label>Set as ILM w/ Web</label>
        <locationX>287</locationX>
        <locationY>712</locationY>
        <assignmentItems>
            <assignToReference>varBillingType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ILM w/Website</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Acct_Billing_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_as_Inv_w_Web</name>
        <label>Set as Inv w/ Web</label>
        <locationX>554</locationX>
        <locationY>714</locationY>
        <assignmentItems>
            <assignToReference>varBillingType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inventory w/Website</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Acct_Billing_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_as_Inventory</name>
        <label>Set as Inventory</label>
        <locationX>690</locationX>
        <locationY>715</locationY>
        <assignmentItems>
            <assignToReference>varBillingType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inventory</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Acct_Billing_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_as_Null</name>
        <label>Set as Null</label>
        <locationX>1126</locationX>
        <locationY>718</locationY>
        <assignmentItems>
            <assignToReference>varBillingType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Acct_Billing_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_as_Other</name>
        <label>Set as Other</label>
        <locationX>987</locationX>
        <locationY>717</locationY>
        <assignmentItems>
            <assignToReference>varBillingType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Acct_Billing_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_as_Website</name>
        <label>Set as Website</label>
        <locationX>845</locationX>
        <locationY>716</locationY>
        <assignmentItems>
            <assignToReference>varBillingType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Website</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Acct_Billing_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Results</name>
        <label>Any Results?</label>
        <locationX>338</locationX>
        <locationY>387</locationY>
        <defaultConnector>
            <targetReference>Process_Billing_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoResults</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scolActiveBillingItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parse_Billing_Type</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>CRM_w_Website</name>
        <label>CRM w/ Website?</label>
        <locationX>85</locationX>
        <locationY>612</locationY>
        <defaultConnector>
            <targetReference>Set_as_CRM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Without</defaultConnectorLabel>
        <rules>
            <name>WithCRM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWebBool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_as_CRM_w_Web</targetReference>
            </connector>
            <label>With</label>
        </rules>
    </decisions>
    <decisions>
        <name>ILM_w_Website</name>
        <label>ILM w/ Website?</label>
        <locationX>354</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>Set_as_ILM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Without</defaultConnectorLabel>
        <rules>
            <name>WithILM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWebBool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_as_ILM_w_Web</targetReference>
            </connector>
            <label>With</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inv_w_Website</name>
        <label>Inv w/ Website?</label>
        <locationX>584</locationX>
        <locationY>612</locationY>
        <defaultConnector>
            <targetReference>Set_as_Inventory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Without</defaultConnectorLabel>
        <rules>
            <name>WithInv</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWebBool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_as_Inv_w_Web</targetReference>
            </connector>
            <label>With</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parse_Billing_Type</name>
        <label>Parse Billing Type</label>
        <locationX>519</locationX>
        <locationY>502</locationY>
        <defaultConnector>
            <targetReference>Set_as_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>CRM_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCRMBool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CRM_w_Website</targetReference>
            </connector>
            <label>CRM Present</label>
        </rules>
        <rules>
            <name>ILM_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varILMBool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ILM_w_Website</targetReference>
            </connector>
            <label>ILM Present</label>
        </rules>
        <rules>
            <name>Inv_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInvBool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inv_w_Website</targetReference>
            </connector>
            <label>Inv Present</label>
        </rules>
        <rules>
            <name>Web_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWebBool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_as_Website</targetReference>
            </connector>
            <label>Web Present</label>
        </rules>
        <rules>
            <name>Other_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOtherBool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_as_Other</targetReference>
            </connector>
            <label>Other Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parse_Product_Indicator</name>
        <label>Parse Product Indicator</label>
        <locationX>855</locationX>
        <locationY>166</locationY>
        <defaultConnectorLabel>Not possible</defaultConnectorLabel>
        <rules>
            <name>CRM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentProductIndicator</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_CRM</targetReference>
            </connector>
            <label>CRM</label>
        </rules>
        <rules>
            <name>Website</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentProductIndicator</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Website</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Website</targetReference>
            </connector>
            <label>Website</label>
        </rules>
        <rules>
            <name>ILM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentProductIndicator</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ILM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_ILM</targetReference>
            </connector>
            <label>ILM</label>
        </rules>
        <rules>
            <name>Inventory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentProductIndicator</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inventory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Inventory</targetReference>
            </connector>
            <label>Inventory</label>
        </rules>
        <rules>
            <name>Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentProductIndicator</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Other</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <label>Set Account Billing Type</label>
    <loops>
        <name>Process_Billing_Items</name>
        <label>Process Billing Items</label>
        <locationX>520</locationX>
        <locationY>389</locationY>
        <assignNextValueToReference>svarCurrentBillingItem</assignNextValueToReference>
        <collectionReference>scolActiveBillingItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Product_Indicator</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Parse_Billing_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Active_Billing_Items</name>
        <label>Get All Active Billing Items</label>
        <locationX>338</locationX>
        <locationY>274</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Results</targetReference>
        </connector>
        <filters>
            <field>Contract_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varActiveBillingItemRecordType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subscriber_SVOC_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountSVOCID</elementReference>
            </value>
        </filters>
        <object>Billing_Item__c</object>
        <outputReference>scolActiveBillingItems</outputReference>
        <queriedFields>Product_Sold__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Billing_Item_Record_Type</name>
        <label>Get Billing Item Record Type</label>
        <locationX>162</locationX>
        <locationY>274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Active_Billing_Items</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MODIFY</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing_Item__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varActiveBillingItemRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Indicator</name>
        <label>Get Product Indicator</label>
        <locationX>856</locationX>
        <locationY>387</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parse_Product_Indicator</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>svarCurrentBillingItem.Product_Sold__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>varCurrentProductIndicator</assignToReference>
            <field>Billing_Type_Indicator__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Unset_Contract_s_Delete_Trigger</name>
        <label>Unset Contract&apos;s Delete Trigger</label>
        <locationX>773</locationX>
        <locationY>974</locationY>
        <filters>
            <field>Dealer_SVOC_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountSVOCID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Delete_Trigger__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Delete_Trigger__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Acct_Billing_Type</name>
        <label>Update Acct Billing Type</label>
        <locationX>554</locationX>
        <locationY>859</locationY>
        <connector>
            <targetReference>Unset_Contract_s_Delete_Trigger</targetReference>
        </connector>
        <filters>
            <field>SVOC_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountSVOCID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <elementReference>varBillingType</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Get_Billing_Item_Record_Type</startElementReference>
    <textTemplates>
        <name>errorText</name>
        <text>Billing Item ID: {!svarCurrentBillingItem.Id}
CRM Bool: {!varCRMBool}
ILM Bool: {!varILMBool}
Inv Bool: {!varInvBool}
Web Bool: {!varWebBool}
Other Bool: {!varOtherBool}</text>
    </textTemplates>
    <variables>
        <name>scolActiveBillingItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing_Item__c</objectType>
    </variables>
    <variables>
        <name>scolActiveContractIDs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>svarCurrentBillingItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing_Item__c</objectType>
    </variables>
    <variables>
        <name>svarCurrentContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>varAccountSVOCID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varActiveBillingItemRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBillingType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClickerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCRMBool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentProductIndicator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varILMBool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInvBool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOtherBool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWebBool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
