flows/Set_Project_Asset_Active_Date-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_FAULT</name>
        <label>Email FAULT</label>
        <locationX>300</locationX>
        <locationY>209</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>ERROR_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txtError</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>FLOW ERROR - Set Project Asset Active Date</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>mark.ross@autotradergroup.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Test_assign</name>
        <label>Test assign</label>
        <locationX>266</locationX>
        <locationY>37</locationY>
        <assignmentItems>
            <assignToReference>varProjectID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0YQ0000004jA7D</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Any_Found</name>
        <label>Any Found?</label>
        <locationX>103</locationX>
        <locationY>337</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProjAssetID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Asset_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Added details to email error message</description>
    <label>Set Project Asset Active Date</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_Asset_with_Wrong_Date</name>
        <label>Find Asset with Wrong Date</label>
        <locationX>103</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_FAULT</targetReference>
        </faultConnector>
        <filters>
            <field>Active_Date__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>What_is_the_Active_Date_for_this_project_and_its_assets</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </filters>
        <object>Project_Piece__c</object>
        <outputAssignments>
            <assignToReference>varProjAssetID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset_Date</name>
        <label>Update Asset Date</label>
        <locationX>301</locationX>
        <locationY>337</locationY>
        <connector>
            <targetReference>Find_Asset_with_Wrong_Date</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_FAULT</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjAssetID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Date__c</field>
            <value>
                <elementReference>What_is_the_Active_Date_for_this_project_and_its_assets</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Piece__c</object>
    </recordUpdates>
    <screens>
        <name>ERROR_Screen</name>
        <label>ERROR Screen</label>
        <locationX>467</locationX>
        <locationY>209</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtfault</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Get_Date</name>
        <label>Get Date</label>
        <locationX>103</locationX>
        <locationY>95</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_Asset_with_Wrong_Date</targetReference>
        </connector>
        <fields>
            <name>What_is_the_Active_Date_for_this_project_and_its_assets</name>
            <dataType>Date</dataType>
            <fieldText>What is the Active Date for this project and its assets?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>Get_Date</startElementReference>
    <textTemplates>
        <name>txtError</name>
        <text>Project ID: {!varProjectID}
Project Asset ID: {!varProjAssetID}

{!$Flow.FaultMessage}</text>
    </textTemplates>
    <variables>
        <name>varProjAssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
