flows/Set_Billed_Asset_Conversion_Rate-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Contract_to_New_scol</name>
        <label>Add Contract to New scol</label>
        <locationX>680</locationX>
        <locationY>571</locationY>
        <assignmentItems>
            <assignToReference>scolNewContracts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>svarThisContract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_New_scol</name>
        <label>Add BA to New scol</label>
        <locationX>289</locationX>
        <locationY>439</locationY>
        <assignmentItems>
            <assignToReference>scolNewBA</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>svarThisBA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Rate</name>
        <label>Set New BA Rate</label>
        <locationX>118</locationX>
        <locationY>439</locationY>
        <assignmentItems>
            <assignToReference>svarThisBA.Current_Conversion_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Conversion_Rate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_New_scol</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Rate_Contracts</name>
        <label>Set New Rate - Contracts</label>
        <locationX>509</locationX>
        <locationY>571</locationY>
        <assignmentItems>
            <assignToReference>svarThisContract.Currency_Conversion_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Conversion_Rate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contract_to_New_scol</targetReference>
        </connector>
    </assignments>
    <description>Added contracts</description>
    <interviewLabel>Set Billed Asset Conversion Rate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Billed Asset Conversion Rate</label>
    <loops>
        <name>Loop</name>
        <label>Loop BAs</label>
        <locationX>118</locationX>
        <locationY>310</locationY>
        <assignNextValueToReference>svarThisBA</assignNextValueToReference>
        <collectionReference>scolBAs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_New_Rate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_BAs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Contracts</name>
        <label>Loop Contracts</label>
        <locationX>509</locationX>
        <locationY>442</locationY>
        <assignNextValueToReference>svarThisContract</assignNextValueToReference>
        <collectionReference>scolContracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_New_Rate_Contracts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contracts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Billed_Assets</name>
        <label>Get Billed Assets</label>
        <locationX>118</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filters>
            <field>Billing_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Current_Conversion_Rate__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <object>Billing_Item__c</object>
        <outputReference>scolBAs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Current_Conversion_Rate__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contracts</name>
        <label>Get Contracts</label>
        <locationX>507</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Contracts</targetReference>
        </connector>
        <filters>
            <field>Currency_Conversion_Rate__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Currency_Conversion_Rate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Currency_Conversion_Rate__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>scolContracts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Currency_Conversion_Rate__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_BAs</name>
        <label>Update BAs</label>
        <locationX>343</locationX>
        <locationY>310</locationY>
        <connector>
            <targetReference>Get_Contracts</targetReference>
        </connector>
        <inputReference>scolNewBA</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contracts</name>
        <label>Update Contracts</label>
        <locationX>734</locationX>
        <locationY>442</locationY>
        <inputReference>scolNewContracts</inputReference>
    </recordUpdates>
    <screens>
        <name>Get_New_Rate</name>
        <label>Get New Rate</label>
        <locationX>118</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Billed_Assets</targetReference>
        </connector>
        <fields>
            <name>declaration</name>
            <fieldText>This will change the Current Conversion Rate field on all active Billed Assets with a Current Conversion Rate other than 1.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Conversion_Rate</name>
            <dataType>Number</dataType>
            <fieldText>What should the new Conversion Rate be?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>4</scale>
        </fields>
        <fields>
            <name>instructions</name>
            <fieldText>(Please enter this as a zero with four numbers aftert the decimal point, e.g. 0.7783)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Get_New_Rate</startElementReference>
    <variables>
        <name>scolBAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing_Item__c</objectType>
    </variables>
    <variables>
        <name>scolContracts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>scolNewBA</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing_Item__c</objectType>
    </variables>
    <variables>
        <name>scolNewContracts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>svarThisBA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing_Item__c</objectType>
    </variables>
    <variables>
        <name>svarThisContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
</Flow>
