flows/Set_Billed_Asset_Conversion_Rate-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Contract_to_New_scol</name>
        <label>Add Contract to New scol</label>
        <locationX>735</locationX>
        <locationY>675</locationY>
        <assignmentItems>
            <assignToReference>scolNewContracts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>svarThisContract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_New_scol</name>
        <label>Add BA to New scol</label>
        <locationX>209</locationX>
        <locationY>563</locationY>
        <assignmentItems>
            <assignToReference>scolNewBA</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>svarThisBA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_BAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_BAs</name>
        <label>Count BAs</label>
        <locationX>292</locationX>
        <locationY>441</locationY>
        <assignmentItems>
            <assignToReference>varCountBAs</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Contracts</name>
        <label>Count Contracts</label>
        <locationX>811</locationX>
        <locationY>573</locationY>
        <assignmentItems>
            <assignToReference>varCountContracts</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Rate</name>
        <label>Set New BA Rate</label>
        <locationX>118</locationX>
        <locationY>439</locationY>
        <assignmentItems>
            <assignToReference>svarThisBA.Current_Conversion_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Conversion_Rate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_New_scol</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Rate_Contracts</name>
        <label>Set New Rate - Contracts</label>
        <locationX>651</locationX>
        <locationY>573</locationY>
        <assignmentItems>
            <assignToReference>svarThisContract.Currency_Conversion_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Conversion_Rate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contract_to_New_scol</targetReference>
        </connector>
    </assignments>
    <description>Corrected instructions</description>
    <interviewLabel>Set Billed Asset Conversion Rate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Billed Asset Conversion Rate</label>
    <loops>
        <name>Loop</name>
        <label>Loop BAs</label>
        <locationX>118</locationX>
        <locationY>310</locationY>
        <assignNextValueToReference>svarThisBA</assignNextValueToReference>
        <collectionReference>scolBAs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_New_Rate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Found_BAs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Contracts</name>
        <label>Loop Contracts</label>
        <locationX>651</locationX>
        <locationY>444</locationY>
        <assignNextValueToReference>svarThisContract</assignNextValueToReference>
        <collectionReference>scolContracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_New_Rate_Contracts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Found_Contracts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Billed_Assets</name>
        <label>Get Billed Assets</label>
        <locationX>118</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filters>
            <field>Current_Conversion_Rate__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Current_Conversion_Rate__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Current_Conversion_Rate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Current_Conversion_Rate__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Product_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <object>Billing_Item__c</object>
        <outputReference>scolBAs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Current_Conversion_Rate__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contracts</name>
        <label>Get Contracts</label>
        <locationX>649</locationX>
        <locationY>313</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Contracts</targetReference>
        </connector>
        <filters>
            <field>Currency_Conversion_Rate__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Currency_Conversion_Rate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Currency_Conversion_Rate__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>scolContracts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Currency_Conversion_Rate__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_BAs</name>
        <label>Update BAs</label>
        <locationX>485</locationX>
        <locationY>312</locationY>
        <connector>
            <targetReference>Get_Contracts</targetReference>
        </connector>
        <inputReference>scolNewBA</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contracts</name>
        <label>Update Contracts</label>
        <locationX>1013</locationX>
        <locationY>446</locationY>
        <inputReference>scolNewContracts</inputReference>
    </recordUpdates>
    <screens>
        <name>Found_BAs</name>
        <label>Found BAs</label>
        <locationX>326</locationX>
        <locationY>312</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_BAs</targetReference>
        </connector>
        <fields>
            <name>foundbasconfirm</name>
            <fieldText>Found {!varCountBAs} Billed Assets to change. Proceed?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Found_Contracts</name>
        <label>Found Contracts</label>
        <locationX>858</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Contracts</targetReference>
        </connector>
        <fields>
            <name>foundbasconfirm_0</name>
            <fieldText>Found {!varCountContracts} Contracts to change. Proceed?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Get_New_Rate</name>
        <label>Get New Rate</label>
        <locationX>118</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Billed_Assets</targetReference>
        </connector>
        <fields>
            <name>declaration</name>
            <fieldText>This will change the Current Conversion Rate field on all active Billed Assets with a Current Conversion Rate other than 1.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Conversion_Rate</name>
            <dataType>Number</dataType>
            <fieldText>What should the new Conversion Rate be?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>4</scale>
        </fields>
        <fields>
            <name>instructions</name>
            <fieldText>(Please enter this as you would a percent with two decimal points, e.g. 77.83)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Get_New_Rate</startElementReference>
    <variables>
        <name>scolBAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing_Item__c</objectType>
    </variables>
    <variables>
        <name>scolContracts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>scolNewBA</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing_Item__c</objectType>
    </variables>
    <variables>
        <name>scolNewContracts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>svarThisBA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing_Item__c</objectType>
    </variables>
    <variables>
        <name>svarThisContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>varCountBAs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCountContracts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
