flows/Set_Account_Fields_from_Account_Teams-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FAULT</name>
        <label>FAULT</label>
        <locationX>136</locationX>
        <locationY>360</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txtEmailFaultBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>FLOW ERROR - Set Account Fields from Account Teams</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>mark.ross@autotradergroup.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FAULT_0</name>
        <label>FAULT</label>
        <locationX>693</locationX>
        <locationY>289</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txtEmailFaultBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>FLOW ERROR - Set Account Fields from Account Teams</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>mark.ross@autotradergroup.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Set_This_Opp_Regional</name>
        <label>Set This Opp Regional</label>
        <locationX>788</locationX>
        <locationY>399</locationY>
        <assignmentItems>
            <assignToReference>svarThisOpp.Regional_Manager_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_User_as_PM_Team</name>
        <label>Set User as PM Team</label>
        <locationX>229</locationX>
        <locationY>178</locationY>
        <assignmentItems>
            <assignToReference>varUserID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSpecialTeamID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Account_PM_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_User_as_PM_Team_0</name>
        <label>Set User as PM Team</label>
        <locationX>848</locationX>
        <locationY>177</locationY>
        <assignmentItems>
            <assignToReference>varUserID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSpecialTeamID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Account_WAM_Field</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>User_is_Blank</name>
        <label>User is Blank?</label>
        <locationX>231</locationX>
        <locationY>49</locationY>
        <defaultConnector>
            <targetReference>Set_Account_PM_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUserID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PMTeam_User</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_is_Blank_0</name>
        <label>User is Blank?</label>
        <locationX>849</locationX>
        <locationY>49</locationY>
        <defaultConnector>
            <targetReference>Set_Account_WAM_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesBlank_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUserID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WAMTeam_User</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Role_Name</name>
        <label>What Role Name?</label>
        <locationX>541</locationX>
        <locationY>49</locationY>
        <defaultConnectorLabel>Not Defined</defaultConnectorLabel>
        <rules>
            <name>Vin_PM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vin Performance Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_is_Blank</targetReference>
            </connector>
            <label>Vin PM</label>
        </rules>
        <rules>
            <name>WAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Website Account Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_is_Blank_0</targetReference>
            </connector>
            <label>WAM</label>
        </rules>
        <rules>
            <name>Regional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vin Regional Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_Regional_Field</targetReference>
            </connector>
            <label>Regional</label>
        </rules>
    </decisions>
    <description>When WAM is set but blank, sets it to WAM Team</description>
    <interviewLabel>Set Account Fields from Account Teams {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Account Fields from Account Teams</label>
    <loops>
        <name>Loop_Opps</name>
        <label>Loop Opps</label>
        <locationX>541</locationX>
        <locationY>399</locationY>
        <assignNextValueToReference>svarThisOpp</assignNextValueToReference>
        <collectionReference>scolOpps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_This_Opp_Regional</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Open_Vin_Opps</name>
        <label>Get All Open Vin Opps</label>
        <locationX>541</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opps</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FAULT</targetReference>
        </faultConnector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VinSolutions</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>scolOpps</outputReference>
        <queriedFields>Regional_Manager_2__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PMTeam_User</name>
        <label>Get PMTeam User</label>
        <locationX>384</locationX>
        <locationY>178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_User_as_PM_Team</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FAULT</targetReference>
        </faultConnector>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>vteam</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varSpecialTeamID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_WAMTeam_User</name>
        <label>Get WAM Team User</label>
        <locationX>1003</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_User_as_PM_Team_0</targetReference>
        </connector>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>wteam</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varSpecialTeamID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Account_PM_Field</name>
        <label>Set Account PM Field</label>
        <locationX>72</locationX>
        <locationY>178</locationY>
        <faultConnector>
            <targetReference>FAULT</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VinPro2__c</field>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Account_Regional_Field</name>
        <label>Set Account Regional Field</label>
        <locationX>541</locationX>
        <locationY>176</locationY>
        <connector>
            <targetReference>Get_All_Open_Vin_Opps</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FAULT</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Regional_Manager_Lookup__c</field>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Account_WAM_Field</name>
        <label>Set Account WAM Field</label>
        <locationX>693</locationX>
        <locationY>176</locationY>
        <faultConnector>
            <targetReference>FAULT_0</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WAM2__c</field>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opps</name>
        <label>Update Opps</label>
        <locationX>541</locationX>
        <locationY>517</locationY>
        <faultConnector>
            <targetReference>FAULT</targetReference>
        </faultConnector>
        <inputReference>scolOpps</inputReference>
    </recordUpdates>
    <startElementReference>What_Role_Name</startElementReference>
    <textTemplates>
        <name>txtEmailFaultBody</name>
        <text>varAccountID: {!varAccountID}
varRoleName: {!varRoleName}
varUserID: {!varUserID}
svarThisOpp ID: {!svarThisOpp.Id}

{!$Flow.FaultMessage}</text>
    </textTemplates>
    <variables>
        <name>scolOpps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>svarThisOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00170000019FDUuAAO</stringValue>
        </value>
    </variables>
    <variables>
        <name>varRoleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Vin Performance Manager</stringValue>
        </value>
    </variables>
    <variables>
        <name>varSpecialTeamID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00570000000njuzAAA</stringValue>
        </value>
    </variables>
</Flow>
