flows/Set_Regional_from_Opp-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FAULT</name>
        <label>FAULT</label>
        <locationX>274</locationX>
        <locationY>184</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>FAULT_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>errorBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>FLOW ERROR: Set Regional from Opp</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>mark.ross@autotradergroup.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <interviewLabel>Set Regional from  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Regional from Opp</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opp_Info</name>
        <label>Get Opp Info</label>
        <locationX>61</locationX>
        <locationY>45</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Regional_Mgr_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FAULT</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Regional_Mgr_ID</name>
        <label>Get Regional Mgr ID</label>
        <locationX>61</locationX>
        <locationY>173</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opp_Regional</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FAULT</targetReference>
        </faultConnector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vin Regional Manager</stringValue>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputAssignments>
            <assignToReference>varRegionalMgrID</assignToReference>
            <field>UserId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp_Regional</name>
        <label>Update Opp Regional</label>
        <locationX>62</locationX>
        <locationY>319</locationY>
        <faultConnector>
            <targetReference>FAULT</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Regional_Manager_2__c</field>
            <value>
                <elementReference>varRegionalMgrID</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>FAULT_Screen</name>
        <label>FAULT Screen</label>
        <locationX>459</locationX>
        <locationY>185</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtBody</name>
            <fieldText>ERROR

{!errorBody}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Get_Opp_Info</startElementReference>
    <textTemplates>
        <name>errorBody</name>
        <text>OppID: {!varOppID}
AccountID: {!varAccountID}
User: {!varRegionalMgrID}

{!$Flow.FaultMessage}</text>
    </textTemplates>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRegionalMgrID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
