flows/Set_Training_Dates-8.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Confirmed_False</name>
        <label>Set Confirmed False</label>
        <locationX>210</locationX>
        <locationY>356</locationY>
        <assignmentItems>
            <assignToReference>varConfirmed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date_No_Confirm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date_no_confirm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Dates_on_Training</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Dates_Confirmed</name>
        <label>Set Dates Confirmed</label>
        <locationX>45</locationX>
        <locationY>354</locationY>
        <assignmentItems>
            <assignToReference>varConfirmed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_this_if_the_dates_are_Confirmed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Dates_on_Training</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Travel_Expenses_Set</name>
        <label>Travel Expenses Set?</label>
        <locationX>129</locationX>
        <locationY>129</locationY>
        <defaultConnector>
            <targetReference>Request_Dates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoTravelExpensesSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTravelExpenses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Dates_No_Confirm</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Added pushing of End Date as well as Start Date. - Mark R</description>
    <label>Set Training Dates</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Dates</name>
        <label>Get Dates</label>
        <locationX>129</locationX>
        <locationY>15</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Travel_Expenses_Set</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTrainingID</elementReference>
            </value>
        </filters>
        <object>Training__c</object>
        <outputAssignments>
            <assignToReference>varEndDate</assignToReference>
            <field>Confirmed_Training_End__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varStartDate</assignToReference>
            <field>Confirmed_Training_Start__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varConfirmed</assignToReference>
            <field>Training_Dates_Confirmed__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTravelExpenses</assignToReference>
            <field>Training_Expenses_Paid_by_Dealer__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Dates_on_Project</name>
        <label>Update Dates on Project</label>
        <locationX>128</locationX>
        <locationY>600</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Proposed_Training_End__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Training_Start__c</field>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <object>SFDC_520_Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Dates_on_Training</name>
        <label>Update Dates on Training</label>
        <locationX>128</locationX>
        <locationY>475</locationY>
        <connector>
            <targetReference>Update_Dates_on_Project</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTrainingID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Confirmed_Training_End__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Confirmed_Training_Start__c</field>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Dates_Confirmed__c</field>
            <value>
                <elementReference>varConfirmed</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordUpdates>
    <screens>
        <name>Request_Dates</name>
        <label>Request Dates</label>
        <locationX>45</locationX>
        <locationY>240</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Dates_Confirmed</targetReference>
        </connector>
        <fields>
            <name>requestText</name>
            <fieldText>Please enter the dates for training.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varStartDate</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varEndDate</elementReference>
            </defaultValue>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Check_this_if_the_dates_are_Confirmed</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varConfirmed</elementReference>
            </defaultValue>
            <fieldText>Check this if the dates are Confirmed.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Request_Dates_No_Confirm</name>
        <label>Request Dates (No Confirm)</label>
        <locationX>210</locationX>
        <locationY>244</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Confirmed_False</targetReference>
        </connector>
        <fields>
            <name>requestText_0</name>
            <fieldText>Please enter the dates for training.
You cannot confirm these dates yet as &apos;Travel Expenses Paid By Dealer&apos; has not yet been set.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Start_Date_No_Confirm</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varStartDate</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>End_Date_no_confirm</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varEndDate</elementReference>
            </defaultValue>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Get_Dates</startElementReference>
    <variables>
        <name>varConfirmed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTrainingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTravelExpenses</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
