flows/Solid_Engagement_Task_Cycle-15.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Does_SE_Task_Exist</name>
        <label>Does SE Task Exist</label>
        <locationX>578</locationX>
        <locationY>212</locationY>
        <defaultConnector>
            <targetReference>Create_Next_LSE_Task_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YesSETask</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLSETaskId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_LSE_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Create Missing Task and Complete (PJD) - 1/7/2014</description>
    <label>Solid Engagement Task Cycle</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Next_LSE_Task</name>
        <label>Create Next LSE Task</label>
        <locationX>900</locationX>
        <locationY>213</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Next_Solid_Engagement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>VarPOAOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>POA Solid Engagement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>VarPOAID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Next_LSE_Task_0</name>
        <label>Create New LSE Task</label>
        <locationX>734</locationX>
        <locationY>332</locationY>
        <connector>
            <targetReference>Create_Next_LSE_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Next_Solid_Engagement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Call_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>VarPOAOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>POA Solid Engagement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>VarPOAID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Save_Progress_Comment</name>
        <label>Save Progress Comment</label>
        <locationX>257</locationX>
        <locationY>109</locationY>
        <connector>
            <targetReference>Update_LSE_Date_on_POA</targetReference>
        </connector>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Progress_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POA__c</field>
            <value>
                <elementReference>VarPOAID</elementReference>
            </value>
        </inputAssignments>
        <object>Progress_Comment__c</object>
    </recordCreates>
    <recordLookups>
        <name>Complete_Current_Solid_Engagement_Task</name>
        <label>Complete Current Solid Engagement Task</label>
        <locationX>575</locationX>
        <locationY>114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_SE_Task_Exist</targetReference>
        </connector>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>POA Solid Engagement</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarPOAID</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>VarAccount</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLSETaskId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarLSEOwner</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Complete_LSE_Task</name>
        <label>Complete LSE Task</label>
        <locationX>728</locationX>
        <locationY>114</locationY>
        <connector>
            <targetReference>Create_Next_LSE_Task</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLSETaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Call_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_LSE_Date_on_POA</name>
        <label>Update LSE Date on POA</label>
        <locationX>418</locationX>
        <locationY>110</locationY>
        <connector>
            <targetReference>Complete_Current_Solid_Engagement_Task</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarPOAID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Solid_Engagement__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Scheduled_Follow_up_Date__c</field>
            <value>
                <elementReference>Next_Solid_Engagement</elementReference>
            </value>
        </inputAssignments>
        <object>POA__c</object>
    </recordUpdates>
    <screens>
        <name>Input_Progress_Comment</name>
        <label>Input Progress Comment</label>
        <locationX>108</locationX>
        <locationY>107</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Save_Progress_Comment</targetReference>
        </connector>
        <fields>
            <name>Progress_Comment</name>
            <fieldText>Progress Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Call_Comments</name>
            <fieldText>Call Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Next_Solid_Engagement</name>
            <dataType>Date</dataType>
            <fieldText>Next Solid Engagement</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>Input_Progress_Comment</startElementReference>
    <variables>
        <description>The LSE Account</description>
        <name>VarAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Who Owned the last Solid Engagement</description>
        <name>VarLSEOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The most recent created Task for a Last Solid Engagement task</description>
        <name>varLSETaskDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Last Solid Engagement Task Id</description>
        <name>varLSETaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Name of POA Comment belongs to</description>
        <name>VarPOAID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Who owns the POA</description>
        <name>VarPOAOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
