flows/Stockwave_Product_Status_updated_to_Pending_Needs_Training-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Billed Asset  Product Status updated to Pending Needs Training for Stockwave</description>
    <interviewLabel>Stockwave Product Status updated to Pending Needs Training {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Stockwave Product Status updated to Pending Needs Training</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Billed_Asset_Lookup</name>
        <label>Billed Asset Lookup</label>
        <locationX>106</locationX>
        <locationY>500</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Billed_Asset</targetReference>
        </connector>
        <filters>
            <field>Related_Project_Piece__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectAssetID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Suite_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stockwave</stringValue>
            </value>
        </filters>
        <object>Billing_Item__c</object>
        <outputAssignments>
            <assignToReference>varBilledAssetID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Project_Asset_Lookup</name>
        <label>Project Asset Lookup</label>
        <locationX>108</locationX>
        <locationY>352</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Billed_Asset_Lookup</targetReference>
        </connector>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stockwave</stringValue>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </filters>
        <object>Project_Piece__c</object>
        <outputAssignments>
            <assignToReference>varProjectAssetID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Project_Lookup</name>
        <label>Project Lookup</label>
        <locationX>110</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_Asset_Lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </filters>
        <object>SFDC_520_Quote__c</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Billed_Asset</name>
        <label>Update Billed Asset</label>
        <locationX>365</locationX>
        <locationY>503</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBilledAssetID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LOB_Status__c</field>
            <value>
                <stringValue>Pending Needs Training</stringValue>
            </value>
        </inputAssignments>
        <object>Billing_Item__c</object>
    </recordUpdates>
    <startElementReference>Project_Lookup</startElementReference>
    <variables>
        <name>varBilledAssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProjectAssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
