flows/Stockwave_Product_Status_updated_to_Pending_Launch_Approval-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Need the Stockwave Product Status to be updated to &apos;Pending Launch Approval&apos; when the Project Training 1 task is Completed (Work completed date not null)</description>
    <interviewLabel>Stockwave Product Status updated to Pending Launch Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Stockwave Product Status updated to Pending Launch Approval</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Billed_Asset_Lookup</name>
        <label>Billed Asset Lookup</label>
        <locationX>248</locationX>
        <locationY>456</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Billed_Asset</targetReference>
        </connector>
        <filters>
            <field>Related_Project_Piece__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectAssetID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Suite_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stockwave</stringValue>
            </value>
        </filters>
        <object>Billing_Item__c</object>
        <outputAssignments>
            <assignToReference>varBilledAssetID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Project_Asset_Lookup</name>
        <label>Project Asset Lookup</label>
        <locationX>245</locationX>
        <locationY>325</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Billed_Asset_Lookup</targetReference>
        </connector>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stockwave</stringValue>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjecID</elementReference>
            </value>
        </filters>
        <object>Project_Piece__c</object>
        <outputAssignments>
            <assignToReference>varProjectAssetID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Project_Lookup</name>
        <label>Project Lookup</label>
        <locationX>242</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_Asset_Lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjecID</elementReference>
            </value>
        </filters>
        <object>SFDC_520_Quote__c</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Billed_Asset</name>
        <label>Update Billed Asset</label>
        <locationX>515</locationX>
        <locationY>461</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBilledAssetID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LOB_Status__c</field>
            <value>
                <stringValue>Pending Launch Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Billing_Item__c</object>
    </recordUpdates>
    <startElementReference>Project_Lookup</startElementReference>
    <variables>
        <name>varBilledAssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProjecID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProjectAssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
