flows/SUBFLOW_Set_PLQLead-21.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>No_Queue_Lead2</name>
        <label>No Queue Lead</label>
        <locationX>25</locationX>
        <locationY>174</locationY>
        <assignmentItems>
            <assignToReference>varPLQLeadID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Determine_PL_Queue</name>
        <label>Get PL Queue</label>
        <locationX>23</locationX>
        <locationY>410</locationY>
        <defaultConnector>
            <targetReference>No_Queue_Lead2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>CRM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client IssuesDISABLED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-CRM Admin/SettingsDISABLED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CRM_PLQLead</targetReference>
            </connector>
            <label>CRM</label>
        </rules>
        <rules>
            <name>Desking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-Desking</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Desking_PLQLead</targetReference>
            </connector>
            <label>Desking</label>
        </rules>
        <rules>
            <name>DMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-DMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_DMS_PLQLead</targetReference>
            </connector>
            <label>DMS</label>
        </rules>
        <rules>
            <name>Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_PLQLead</targetReference>
            </connector>
            <label>Email</label>
        </rules>
        <rules>
            <name>Exports</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-Exports</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-Inventory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Exports_PLQLead</targetReference>
            </connector>
            <label>Exports</label>
        </rules>
        <rules>
            <name>Forms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-Forms</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Forms_PLQLead</targetReference>
            </connector>
            <label>Forms</label>
        </rules>
        <rules>
            <name>Hardware</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-Hardware</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hardware_PLQLead</targetReference>
            </connector>
            <label>Hardware</label>
        </rules>
        <rules>
            <name>Implementation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Implementation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Implementation_PLQLead</targetReference>
            </connector>
            <label>Implementation</label>
        </rules>
        <rules>
            <name>Marketing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-Campaigns/Marketing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Marketing_PLQLead</targetReference>
            </connector>
            <label>Marketing</label>
        </rules>
        <rules>
            <name>Phone_System</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-Phone System(PBX)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Phone_System_PLQLead</targetReference>
            </connector>
            <label>Phone System</label>
        </rules>
        <rules>
            <name>Processes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-Processes/Alerts/Templates</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Issues</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-CRM Admin/Settings</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Processes_PLQLead</targetReference>
            </connector>
            <label>Processes</label>
        </rules>
        <rules>
            <name>Service</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-Service CRM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Service_PLQLead</targetReference>
            </connector>
            <label>Service</label>
        </rules>
        <rules>
            <name>Websites</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L3-Website Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Websites_PLQLead</targetReference>
            </connector>
            <label>Websites</label>
        </rules>
        <rules>
            <name>Development</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Development</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dev_Determine_PL_Queue</targetReference>
            </connector>
            <label>Development</label>
        </rules>
        <rules>
            <name>L2_Team_Leads</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-Team Leads</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_L2_Team_Leads_PLQLead</targetReference>
            </connector>
            <label>L2 Team Leads</label>
        </rules>
        <rules>
            <name>VinPros</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Performance Managers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_VinPros_PLQLead</targetReference>
            </connector>
            <label>Performance Managers</label>
        </rules>
        <rules>
            <name>Waiting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting - Outside Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Outside_Support_PLQLead</targetReference>
            </connector>
            <label>Waiting</label>
        </rules>
        <rules>
            <name>Feature_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Feature Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Feature_Request_PLQLead</targetReference>
            </connector>
            <label>Feature Request</label>
        </rules>
        <rules>
            <name>L2_Websites</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2 Websites</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_L2_Websites_PLQLead</targetReference>
            </connector>
            <label>L2 Websites</label>
        </rules>
        <rules>
            <name>L1_Team_Leads</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L1-Team Leads</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Outside_Support_PLQLead_0</targetReference>
            </connector>
            <label>L1 Team Leads</label>
        </rules>
        <rules>
            <name>WEB_CODE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L3-WEB-Code</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L3-WEB-Graphic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L3-WEB-Mobile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L3-WEB-CMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WEB_CODE_PLQLead</targetReference>
            </connector>
            <label>WEB-CODE</label>
        </rules>
        <rules>
            <name>WEB_CONTENT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L3-WEB-Content</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WEB_CONTENT_PLQLead</targetReference>
            </connector>
            <label>WEB-CONTENT</label>
        </rules>
        <rules>
            <name>WEB_OEM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L3-WEB-OEM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WEB_OEM_PLQLead</targetReference>
            </connector>
            <label>WEB-OEM</label>
        </rules>
        <rules>
            <name>WEB_SEO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L3-WEB-SEO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WEB_SEO_PLQLead_0</targetReference>
            </connector>
            <label>WEB-SEO</label>
        </rules>
        <rules>
            <name>WEB_WAMs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L3-WEB-WAMs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WEB_WAMs_PLQLead</targetReference>
            </connector>
            <label>WEB-WAMs</label>
        </rules>
        <rules>
            <name>L3_Support</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L3 Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Questions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WEB_WAMs_PLQLead_0</targetReference>
            </connector>
            <label>L3 Support</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dev_Determine_PL_Queue</name>
        <label>Dev- Get PL Queue</label>
        <locationX>22</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>No_Queue_Lead2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>CRM_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varPriorQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client IssuesDISABLED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPriorQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-CRM Admin/SettingsDISABLED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CRM_PLQLead</targetReference>
            </connector>
            <label>CRM</label>
        </rules>
        <rules>
            <name>Desking_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPriorQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-Desking</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Desking_PLQLead</targetReference>
            </connector>
            <label>Desking</label>
        </rules>
        <rules>
            <name>DMS_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPriorQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-DMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_DMS_PLQLead</targetReference>
            </connector>
            <label>DMS</label>
        </rules>
        <rules>
            <name>Email_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPriorQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_PLQLead</targetReference>
            </connector>
            <label>Email</label>
        </rules>
        <rules>
            <name>Exports_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varPriorQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-Exports</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Exports_PLQLead</targetReference>
            </connector>
            <label>Exports</label>
        </rules>
        <rules>
            <name>Forms_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPriorQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-Forms</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Forms_PLQLead</targetReference>
            </connector>
            <label>Forms</label>
        </rules>
        <rules>
            <name>Hardware_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPriorQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-Hardware</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hardware_PLQLead</targetReference>
            </connector>
            <label>Hardware</label>
        </rules>
        <rules>
            <name>Implementation_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPriorQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Implementation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Implementation_PLQLead</targetReference>
            </connector>
            <label>Implementation</label>
        </rules>
        <rules>
            <name>Marketing_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPriorQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-Campaigns/Marketing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Marketing_PLQLead</targetReference>
            </connector>
            <label>Marketing</label>
        </rules>
        <rules>
            <name>Phone_System_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPriorQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-Phone System(PBX)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Phone_System_PLQLead</targetReference>
            </connector>
            <label>Phone System</label>
        </rules>
        <rules>
            <name>Processes_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varPriorQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-Processes/Alerts/Templates</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPriorQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Issues</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPriorQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-CRM Admin/Settings</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Processes_PLQLead</targetReference>
            </connector>
            <label>Processes</label>
        </rules>
        <rules>
            <name>Service_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varPriorQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-Service CRM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPriorQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-Inventory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Service_PLQLead</targetReference>
            </connector>
            <label>Service</label>
        </rules>
        <rules>
            <name>Websites_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPriorQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L3-Website Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Websites_PLQLead</targetReference>
            </connector>
            <label>Websites</label>
        </rules>
        <rules>
            <name>L2_Team_Leads2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPriorQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-Team Leads</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_L2_Team_Leads_PLQLead</targetReference>
            </connector>
            <label>L2 Team Leads</label>
        </rules>
        <rules>
            <name>VinPros2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Performance Managers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_VinPros_PLQLead</targetReference>
            </connector>
            <label>Performance Managers</label>
        </rules>
        <rules>
            <name>Waiting2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting - Outside Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Outside_Support_PLQLead</targetReference>
            </connector>
            <label>Waiting</label>
        </rules>
        <rules>
            <name>Feature_Request_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Feature Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Feature_Request_PLQLead</targetReference>
            </connector>
            <label>Feature Request</label>
        </rules>
        <rules>
            <name>L2_Websites_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPriorQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2 Websites</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_L2_Websites_PLQLead</targetReference>
            </connector>
            <label>L2 Websites</label>
        </rules>
        <rules>
            <name>L1_Team_Leads_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPriorQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L1-Team Leads</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Outside_Support_PLQLead_0</targetReference>
            </connector>
            <label>L1 Team Leads</label>
        </rules>
        <rules>
            <name>WEB_CODE0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varPriorQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L3-WEB-Code</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L3-WEB-Graphic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L3-WEB-Mobile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L3-WEB-CMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WEB_CODE_PLQLead</targetReference>
            </connector>
            <label>WEB-CODE</label>
        </rules>
        <rules>
            <name>WEB_CONTENT0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPriorQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L3-WEB-Content</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WEB_CONTENT_PLQLead</targetReference>
            </connector>
            <label>WEB-CONTENT</label>
        </rules>
        <rules>
            <name>WEB_SEO0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPriorQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L3-WEB-SEO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WEB_SEO_PLQLead_0</targetReference>
            </connector>
            <label>WEB-SEO</label>
        </rules>
        <rules>
            <name>WEB_OEM0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPriorQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L3-WEB-OEM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WEB_OEM_PLQLead</targetReference>
            </connector>
            <label>WEB-OEM</label>
        </rules>
        <rules>
            <name>WEB_WAMs0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPriorQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L3-WEB-WAMs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WEB_WAMs_PLQLead</targetReference>
            </connector>
            <label>WEB-WAMs</label>
        </rules>
        <rules>
            <name>L3_Support1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L3 Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Questions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WEB_WAMs_PLQLead_0</targetReference>
            </connector>
            <label>L3 Support</label>
        </rules>
    </decisions>
    <description>Paul D - Created L3 Support/General Questions Queue</description>
    <label>SUBFLOW - Set PLQLead</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_email_address</name>
        <label>Get email address</label>
        <locationX>999</locationX>
        <locationY>440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_manager_data</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPLQLeadID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPLQLManagerId</assignToReference>
            <field>ManagerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_manager_data</name>
        <label>Get manager data</label>
        <locationX>1160</locationX>
        <locationY>438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPLQLManagerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLManagerEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPLQLManagerName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_CRM_PLQLead</name>
        <label>Set CRM PLQLead</label>
        <locationX>164</locationX>
        <locationY>173</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CRM</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_Desking_PLQLead</name>
        <label>Set Desking PLQLead</label>
        <locationX>303</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Desking</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_DMS_PLQLead</name>
        <label>Set DMS PLQLead</label>
        <locationX>441</locationX>
        <locationY>172</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DMS</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_Email_PLQLead</name>
        <label>Set Email PLQLead</label>
        <locationX>583</locationX>
        <locationY>174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_Exports_PLQLead</name>
        <label>Set Exports PLQLead</label>
        <locationX>721</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Exports</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_Feature_Request_PLQLead</name>
        <label>Set Feature Request PLQLead</label>
        <locationX>1165</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Feature Request</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_Forms_PLQLead</name>
        <label>Set Forms PLQLead</label>
        <locationX>861</locationX>
        <locationY>175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Forms</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_Hardware_PLQLead</name>
        <label>Set Hardware PLQLead</label>
        <locationX>858</locationX>
        <locationY>748</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hardware</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_Implementation_PLQLead</name>
        <label>Set Implementation PLQLead</label>
        <locationX>718</locationX>
        <locationY>747</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Implementation</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_L2_Team_Leads_PLQLead</name>
        <label>Set L2 Team Leads PLQLead</label>
        <locationX>998</locationX>
        <locationY>178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>L2 Team Leads</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_L2_Websites_PLQLead</name>
        <label>Set L2 Websites PLQLead</label>
        <locationX>1307</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>L2 Websites</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_Marketing_PLQLead</name>
        <label>Set Marketing PLQLead</label>
        <locationX>581</locationX>
        <locationY>749</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_Outside_Support_PLQLead</name>
        <label>Set Outside Support PLQLead</label>
        <locationX>1135</locationX>
        <locationY>746</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Waiting Outside Support</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_Outside_Support_PLQLead_0</name>
        <label>Set L1 Team Lead PLQLead</label>
        <locationX>1273</locationX>
        <locationY>748</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>L1 Team Leads</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_Phone_System_PLQLead</name>
        <label>Set Phone System PLQLead</label>
        <locationX>442</locationX>
        <locationY>749</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Phone System (PBX)</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_Processes_PLQLead</name>
        <label>Set Processes PLQLead</label>
        <locationX>303</locationX>
        <locationY>749</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Processes</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_Service_PLQLead</name>
        <label>Set Service PLQLead</label>
        <locationX>160</locationX>
        <locationY>746</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_VinPros_PLQLead</name>
        <label>Set Performance Managers PLQLead</label>
        <locationX>999</locationX>
        <locationY>746</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Performance Managers</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_WEB_CODE_PLQLead</name>
        <label>Set WEB-CODE PLQLead</label>
        <locationX>406</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WEB-Code</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_WEB_CONTENT_PLQLead</name>
        <label>Set WEB-CONTENT PLQLead</label>
        <locationX>547</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WEB-Content</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_WEB_OEM_PLQLead</name>
        <label>Set WEB-OEM PLQLead</label>
        <locationX>238</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WEB-OEM</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_WEB_SEO_PLQLead_0</name>
        <label>Set WEB-SEO PLQLead</label>
        <locationX>102</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WEB-SEO</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_WEB_WAMs_PLQLead</name>
        <label>Set WEB-WAMs PLQLead</label>
        <locationX>676</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WEB-WAMs</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_WEB_WAMs_PLQLead_0</name>
        <label>Set L3 Support PLQLead</label>
        <locationX>818</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>L3 Support</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_Websites_PLQLead</name>
        <label>Set Websites PLQLead</label>
        <locationX>18</locationX>
        <locationY>745</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Websites</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Determine_PL_Queue</startElementReference>
    <variables>
        <name>varEscalatedTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPLQLeadEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPLQLeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPLQLManagerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPLQLManagerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPLQLManagerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPriorQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
