flows/SUBFLOW_Set_PLQLead-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Determine_PL_Queue</name>
        <label>Determine PL Queue</label>
        <locationX>520</locationX>
        <locationY>355</locationY>
        <defaultConnector>
            <targetReference>No_Queue_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>CRM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Issues</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-CRM Admin/Settings</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-Team Leads</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CRM_PLQLead</targetReference>
            </connector>
            <label>CRM</label>
        </rules>
        <rules>
            <name>Desking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-Desking</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Desking_PLQLead</targetReference>
            </connector>
            <label>Desking</label>
        </rules>
        <rules>
            <name>DMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-DMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_DMS_PLQLead</targetReference>
            </connector>
            <label>DMS</label>
        </rules>
        <rules>
            <name>Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_PLQLead</targetReference>
            </connector>
            <label>Email</label>
        </rules>
        <rules>
            <name>Exports</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-Exports</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-Inventory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Exports_PLQLead</targetReference>
            </connector>
            <label>Exports</label>
        </rules>
        <rules>
            <name>Forms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-Forms</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Forms_PLQLead</targetReference>
            </connector>
            <label>Forms</label>
        </rules>
        <rules>
            <name>Hardware</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-Hardware</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hardware_PLQLead</targetReference>
            </connector>
            <label>Hardware</label>
        </rules>
        <rules>
            <name>Implementation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Implementation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Implementation_PLQLead</targetReference>
            </connector>
            <label>Implementation</label>
        </rules>
        <rules>
            <name>Marketing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-Campaigns/Marketing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Marketing_PLQLead</targetReference>
            </connector>
            <label>Marketing</label>
        </rules>
        <rules>
            <name>Phone_System</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-Phone System(PBX)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Phone_System_PLQLead</targetReference>
            </connector>
            <label>Phone System</label>
        </rules>
        <rules>
            <name>Processes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-Processes/Alerts/Templates</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Processes_PLQLead</targetReference>
            </connector>
            <label>Processes</label>
        </rules>
        <rules>
            <name>Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2-Service CRM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Service_PLQLead</targetReference>
            </connector>
            <label>Service</label>
        </rules>
        <rules>
            <name>Websites</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Website Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Websites_PLQLead</targetReference>
            </connector>
            <label>Websites</label>
        </rules>
    </decisions>
    <label>SUBFLOW - Set PLQLead</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_email_address</name>
        <label>Get email address</label>
        <locationX>1028</locationX>
        <locationY>355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_manager_data</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPLQLeadID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPLQLManagerId</assignToReference>
            <field>ManagerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_manager_data</name>
        <label>Get manager data</label>
        <locationX>1027</locationX>
        <locationY>472</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPLQLManagerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLManagerEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPLQLManagerName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_CRM_PLQLead</name>
        <label>Set CRM PLQLead</label>
        <locationX>310</locationX>
        <locationY>163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CRM</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_Desking_PLQLead</name>
        <label>Set Desking PLQLead</label>
        <locationX>450</locationX>
        <locationY>163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Desking</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_DMS_PLQLead</name>
        <label>Set DMS PLQLead</label>
        <locationX>586</locationX>
        <locationY>163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DMS</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_Email_PLQLead</name>
        <label>Set Email PLQLead</label>
        <locationX>723</locationX>
        <locationY>163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_Exports_PLQLead</name>
        <label>Set Exports PLQLead</label>
        <locationX>725</locationX>
        <locationY>257</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Exports</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_Forms_PLQLead</name>
        <label>Set Forms PLQLead</label>
        <locationX>724</locationX>
        <locationY>354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Forms</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_Hardware_PLQLead</name>
        <label>Set Hardware PLQLead</label>
        <locationX>724</locationX>
        <locationY>452</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hardware</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_Implementation_PLQLead</name>
        <label>Set Implementation PLQLead</label>
        <locationX>724</locationX>
        <locationY>543</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Implementation</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_Marketing_PLQLead</name>
        <label>Set Marketing PLQLead</label>
        <locationX>587</locationX>
        <locationY>545</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_Phone_System_PLQLead</name>
        <label>Set Phone System PLQLead</label>
        <locationX>448</locationX>
        <locationY>545</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Phone System (PBX)</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_Processes_PLQLead</name>
        <label>Set Processes PLQLead</label>
        <locationX>309</locationX>
        <locationY>545</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Processes</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_Service_PLQLead</name>
        <label>Set Service PLQLead</label>
        <locationX>311</locationX>
        <locationY>454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Set_Websites_PLQLead</name>
        <label>Set Websites PLQLead</label>
        <locationX>311</locationX>
        <locationY>355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <filters>
            <field>Queue_Lead_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Websites</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPLQLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>No_Queue_Lead</name>
        <label>No Queue Lead</label>
        <locationX>311</locationX>
        <locationY>259</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_email_address</targetReference>
        </connector>
        <fields>
            <name>NoQueueLeadText</name>
            <fieldText>There is no Queue Lead assigned in Salesforce for this Queue. This generally means that this is not a ticket that should be flagged for priority. Please see the admin if you believe this should still be flagged.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Determine_PL_Queue</startElementReference>
    <variables>
        <name>varEscalatedTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPLQLeadEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPLQLeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPLQLManagerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPLQLManagerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPLQLManagerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
