flows/SUBFLOW_Priority_Mass_Email-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Brian_Fullmer_email</name>
        <label>Kandy Richert replaces Brian Fullmer email</label>
        <locationX>712</locationX>
        <locationY>373</locationY>
        <apexClass>SendEmail</apexClass>
        <connector>
            <targetReference>Vinh_Nyugen_email</targetReference>
        </connector>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>varEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddress</name>
            <value>
                <stringValue>kandy.richert@vinsolutions.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>varEmailTitle</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varError</assignToReference>
            <name>ErrorMessage</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Doug_Maskill_email</name>
        <label>Doug Maskill email</label>
        <locationX>324</locationX>
        <locationY>475</locationY>
        <apexClass>SendEmail</apexClass>
        <connector>
            <targetReference>Karen_Kuzanek_email</targetReference>
        </connector>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>varEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddress</name>
            <value>
                <stringValue>doug.maskill@vinsolutions.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>varEmailTitle</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varError</assignToReference>
            <name>ErrorMessage</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Jim_Nelson_email</name>
        <label>Jim Nelson email</label>
        <locationX>474</locationX>
        <locationY>476</locationY>
        <apexClass>SendEmail</apexClass>
        <connector>
            <targetReference>Brian_Fullmer_email</targetReference>
        </connector>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>varEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddress</name>
            <value>
                <stringValue>jim.nelson@vinsolutions.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>varEmailTitle</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varError</assignToReference>
            <name>ErrorMessage</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Karen_Kuzanek_email</name>
        <label>Karen Kuzanek email</label>
        <locationX>473</locationX>
        <locationY>375</locationY>
        <apexClass>SendEmail</apexClass>
        <connector>
            <targetReference>Jim_Nelson_email</targetReference>
        </connector>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>varEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddress</name>
            <value>
                <stringValue>karen.kuzanek@vinsolutions.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>varEmailTitle</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varError</assignToReference>
            <name>ErrorMessage</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Martin_Cooke_email</name>
        <label>Martin Cooke email</label>
        <locationX>861</locationX>
        <locationY>469</locationY>
        <apexClass>SendEmail</apexClass>
        <connector>
            <targetReference>Reed_Scarfino_email</targetReference>
        </connector>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>varEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddress</name>
            <value>
                <stringValue>martin.cooke@vinsolutions.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>varEmailTitle</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varError</assignToReference>
            <name>ErrorMessage</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>PM_email</name>
        <label>PM email</label>
        <locationX>863</locationX>
        <locationY>276</locationY>
        <apexClass>SendEmail</apexClass>
        <connector>
            <targetReference>Chatter_Post</targetReference>
        </connector>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>varEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddress</name>
            <value>
                <elementReference>varPMEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>varEmailTitle</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varError</assignToReference>
            <name>ErrorMessage</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Ray_Levi_email</name>
        <label>Ray Levi email</label>
        <locationX>324</locationX>
        <locationY>372</locationY>
        <apexClass>SendEmail</apexClass>
        <connector>
            <targetReference>Doug_Maskill_email</targetReference>
        </connector>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>varEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddress</name>
            <value>
                <stringValue>ray.levi@vinsolutions.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>varEmailTitle</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varError</assignToReference>
            <name>ErrorMessage</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Reed_Scarfino_email</name>
        <label>Reed Scarfino email</label>
        <locationX>862</locationX>
        <locationY>370</locationY>
        <apexClass>SendEmail</apexClass>
        <connector>
            <targetReference>PM_email</targetReference>
        </connector>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>varEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddress</name>
            <value>
                <stringValue>reed.scarfino@vinsolutions.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>varEmailTitle</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varError</assignToReference>
            <name>ErrorMessage</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Rod_Bownds_email</name>
        <label>Rod Bownds email</label>
        <locationX>323</locationX>
        <locationY>276</locationY>
        <apexClass>SendEmail</apexClass>
        <connector>
            <targetReference>Ray_Levi_email</targetReference>
        </connector>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>varChatterBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddress</name>
            <value>
                <stringValue>rod.bownds@vinsolutions.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>varEmailTitle</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varError</assignToReference>
            <name>ErrorMessage</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Vinh_Nyugen_email</name>
        <label>Vinh Nyugen email</label>
        <locationX>713</locationX>
        <locationY>469</locationY>
        <apexClass>SendEmail</apexClass>
        <connector>
            <targetReference>Martin_Cooke_email</targetReference>
        </connector>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>varEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddress</name>
            <value>
                <stringValue>vinh.nguyen@vinsolutions.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>varEmailTitle</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varError</assignToReference>
            <name>ErrorMessage</name>
        </outputParameters>
    </apexPluginCalls>
    <assignments>
        <name>Chatter_Body_for_Force</name>
        <label>Chatter Details for Force</label>
        <locationX>472</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>varChatterBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>has forced ticket # {!varCaseNumber} to the highest priority/severity.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ticket Forced to Top Priority/Severity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HighestPriority</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rod_Bownds_email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Email_Body_for_Priority</name>
        <label>Chatter Body for Priority</label>
        <locationX>712</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>varChatterBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>has raised the Super Priority for ticket # {!varCaseNumber} to Super Priority 1.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ticket Raised to Super Priority 1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SuperPriority1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Brian_Fullmer_email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Evaluate_Passed_Setting</name>
        <label>Evaluate Passed Setting</label>
        <locationX>593</locationX>
        <locationY>160</locationY>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>PriorityPartial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMassChatterSetting</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PriorityPartial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Body_for_Priority</targetReference>
            </connector>
            <label>Priority - Partial</label>
        </rules>
        <rules>
            <name>PriorityFull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMassChatterSetting</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PriorityFull</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chatter_Body_for_Force</targetReference>
            </connector>
            <label>Priority - Full</label>
        </rules>
    </decisions>
    <description>Kandy Richert replaces Brian Fullmer. still need full edit.</description>
    <label>SUBFLOW - Priority Mass Email</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Chatter_Post</name>
        <label>Chatter Post</label>
        <locationX>863</locationX>
        <locationY>161</locationY>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>varChatterBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkUrl</field>
            <value>
                <stringValue>http://na5.salesforce.com/{!varCaseID}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varClickerID</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <startElementReference>Evaluate_Passed_Setting</startElementReference>
    <textTemplates>
        <name>HighestPriority</name>
        <text>The following ticket has been forced to the highest priority.
Ticket number: {!varCaseNumber}
Ticket subject: {!varCaseSubject}
Account name: {!varAccountName}

Link to ticket: http://na5.salesforce.com/{!varCaseID}</text>
    </textTemplates>
    <textTemplates>
        <name>SuperPriority1</name>
        <text>The following ticket has been raised to a Super Priority of 1.
Ticket number: {!varCaseNumber}
Ticket subject: {!varCaseSubject}
Account name: {!varAccountName}

Link to ticket: http://na5.salesforce.com/{!varCaseID}</text>
    </textTemplates>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChatterBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClickerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClickerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmailTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMassChatterSetting</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPMEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPMID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
