flows/SUBFLOW_Priority_Mass_Chatter-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Chatter_Body_for_Force</name>
        <label>Chatter Details for Force</label>
        <locationX>472</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>varChatterBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This ticket has been forced to the highest priority by {!varClickerName}.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChatterTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ticket Forced to Top</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rod_Bownds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Chatter_Body_for_Priority</name>
        <label>Chatter Body for Priority</label>
        <locationX>712</locationX>
        <locationY>277</locationY>
        <assignmentItems>
            <assignToReference>varChatterBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The Super Priority for this ticket has been set to 1 - Hot.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Brian_Fullmer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Evaluate_Passed_Setting</name>
        <label>Evaluate Passed Setting</label>
        <locationX>593</locationX>
        <locationY>160</locationY>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>PriorityPartial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMassChatterSetting</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PriorityPartial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chatter_Body_for_Priority</targetReference>
            </connector>
            <label>Priority - Partial</label>
        </rules>
        <rules>
            <name>PriorityFull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMassChatterSetting</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PriorityFull</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chatter_Body_for_Force</targetReference>
            </connector>
            <label>Priority - Full</label>
        </rules>
    </decisions>
    <label>SUBFLOW - Priority Mass Chatter</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Brian_Fullmer</name>
        <label>Brian Fullmer</label>
        <locationX>712</locationX>
        <locationY>371</locationY>
        <connector>
            <targetReference>Vinh_Nguyen</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>varChatterBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkUrl</field>
            <value>
                <stringValue>http:/na5.salesforce.com/{!varCaseID}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <stringValue>00570000001elSM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>varChatterTitle</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <recordCreates>
        <name>Doug_Maskill</name>
        <label>Doug Maskill</label>
        <locationX>322</locationX>
        <locationY>462</locationY>
        <connector>
            <targetReference>Karen_Kuzanek</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>varChatterBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkUrl</field>
            <value>
                <stringValue>http:/na5.salesforce.com/{!varCaseID}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <stringValue>00570000001gDjD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>varChatterTitle</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <recordCreates>
        <name>Jim_Nelson</name>
        <label>Jim Nelson</label>
        <locationX>472</locationX>
        <locationY>463</locationY>
        <connector>
            <targetReference>Brian_Fullmer</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>varChatterBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkUrl</field>
            <value>
                <stringValue>http:/na5.salesforce.com/{!varCaseID}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <stringValue>00570000001Ivax</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>varChatterTitle</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <recordCreates>
        <name>Karen_Kuzanek</name>
        <label>Karen Kuzanek</label>
        <locationX>472</locationX>
        <locationY>369</locationY>
        <connector>
            <targetReference>Jim_Nelson</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>varChatterBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkUrl</field>
            <value>
                <stringValue>http:/na5.salesforce.com/{!varCaseID}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <stringValue>00570000001LAlO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>varChatterTitle</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <recordCreates>
        <name>Martin_Cooke</name>
        <label>Martin Cooke</label>
        <locationX>852</locationX>
        <locationY>464</locationY>
        <connector>
            <targetReference>Reed_Scarfino</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>varChatterBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkUrl</field>
            <value>
                <stringValue>http:/na5.salesforce.com/{!varCaseID}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <stringValue>00570000001dxes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>varChatterTitle</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <recordCreates>
        <name>PM</name>
        <label>PM</label>
        <locationX>851</locationX>
        <locationY>277</locationY>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>varChatterBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkUrl</field>
            <value>
                <stringValue>http:/na5.salesforce.com/{!varCaseID}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varPMID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>varChatterTitle</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <recordCreates>
        <name>Ray_Levi</name>
        <label>Ray Levi</label>
        <locationX>322</locationX>
        <locationY>369</locationY>
        <connector>
            <targetReference>Doug_Maskill</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>varChatterBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkUrl</field>
            <value>
                <stringValue>http:/na5.salesforce.com/{!varCaseID}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <stringValue>00570000001h99c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>varChatterTitle</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <recordCreates>
        <name>Reed_Scarfino</name>
        <label>Reed Scarfino</label>
        <locationX>852</locationX>
        <locationY>372</locationY>
        <connector>
            <targetReference>PM</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>varChatterBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkUrl</field>
            <value>
                <stringValue>http:/na5.salesforce.com/{!varCaseID}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <stringValue>00570000001dpFR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>varChatterTitle</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <recordCreates>
        <name>Rod_Bownds</name>
        <label>Rod Bownds</label>
        <locationX>323</locationX>
        <locationY>275</locationY>
        <connector>
            <targetReference>Ray_Levi</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>varChatterBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkUrl</field>
            <value>
                <stringValue>http:/na5.salesforce.com/{!varCaseID}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <stringValue>00570000001f2gk</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>varChatterTitle</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <recordCreates>
        <name>Vinh_Nguyen</name>
        <label>Vinh Nguyen</label>
        <locationX>713</locationX>
        <locationY>464</locationY>
        <connector>
            <targetReference>Martin_Cooke</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>varChatterBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkUrl</field>
            <value>
                <stringValue>http:/na5.salesforce.com/{!varCaseID}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <stringValue>00570000001dlfZ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>varChatterTitle</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <startElementReference>Evaluate_Passed_Setting</startElementReference>
    <variables>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChatterBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChatterTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClickerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMassChatterSetting</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPMID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
