flows/Submit_Lead_to_VinSolutions-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>ADP</name>
        <choiceText>ADP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ADP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Already_Have_CRM</name>
        <choiceText>Already Have CRM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Already Have CRM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Autobase</name>
        <choiceText>Autobase</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Autobase</stringValue>
        </value>
    </choices>
    <choices>
        <name>AutoSoft</name>
        <choiceText>AutoSoft / Traffic Cop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AutoSoft / Traffic Cop</stringValue>
        </value>
    </choices>
    <choices>
        <name>AutoSoft_Traffic_Cop</name>
        <choiceText>AutoSoft / Traffic Cop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AutoSoft / Traffic Cop</stringValue>
        </value>
    </choices>
    <choices>
        <name>Car_Research_XRM</name>
        <choiceText>Car-Research XRM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Car-Research XRM</stringValue>
        </value>
    </choices>
    <choices>
        <name>CRM_Other</name>
        <choiceText>CRM Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CRM Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>CRM_VIN</name>
        <choiceText>CRM VIN</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CRM VIN</stringValue>
        </value>
    </choices>
    <choices>
        <name>DealerPeak</name>
        <choiceText>DealerPeak</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DealerPeak</stringValue>
        </value>
    </choices>
    <choices>
        <name>DealerSocket</name>
        <choiceText>DealerSocket</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DealerSocket</stringValue>
        </value>
    </choices>
    <choices>
        <name>DealerTrack</name>
        <choiceText>DealerTrack</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DealerTrack</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dominion_AVV</name>
        <choiceText>Dominion (AVV)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dominion (AVV)</stringValue>
        </value>
    </choices>
    <choices>
        <name>eLead</name>
        <choiceText>eLead</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>eLead</stringValue>
        </value>
    </choices>
    <choices>
        <name>Follow_up</name>
        <choiceText>Follow-up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Follow-up</stringValue>
        </value>
    </choices>
    <choices>
        <name>Happy_Don_t_Bother</name>
        <choiceText>Happy/Don&apos;t Bother</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Happy/Don&apos;t Bother</stringValue>
        </value>
    </choices>
    <choices>
        <name>Higher_Gear</name>
        <choiceText>Higher Gear</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Higher Gear</stringValue>
        </value>
    </choices>
    <choices>
        <name>iMagic</name>
        <choiceText>iMagic</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>iMagic</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Interested</name>
        <choiceText>Not Interested</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Interested</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProMax</name>
        <choiceText>ProMax</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ProMax</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reynolds_and_Reynolds</name>
        <choiceText>Reynolds and Reynolds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reynolds and Reynolds</stringValue>
        </value>
    </choices>
    <choices>
        <name>Risk_Churn</name>
        <choiceText>Risk Churn</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Risk Churn</stringValue>
        </value>
    </choices>
    <choices>
        <name>SelectOption</name>
        <choiceText>Select Option</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Too_Small_No_CRM</name>
        <choiceText>Too Small/$$$ (No CRM)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Too Small/$$$(No CRM)</stringValue>
        </value>
    </choices>
    <choices>
        <name>VIN_Already_In_Process</name>
        <choiceText>VIN Already In Process</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VIN Already In Process</stringValue>
        </value>
    </choices>
    <choices>
        <name>VIN_Fired</name>
        <choiceText>VIN Fired</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VIN Fired</stringValue>
        </value>
    </choices>
    <choices>
        <name>VIN_Passed_On</name>
        <choiceText>VIN Passed On</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VIN Passed On</stringValue>
        </value>
    </choices>
    <choices>
        <name>VinSolutions</name>
        <choiceText>VinSolutions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VinSolutions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Input_Validation</name>
        <label>Input Validation</label>
        <locationX>396</locationX>
        <locationY>341</locationY>
        <defaultConnector>
            <targetReference>Validation_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Incomplete</defaultConnectorLabel>
        <rules>
            <name>Info_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer_Response_Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>SelectOption</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CRM_Vendor</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>SelectOption</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Creation_Decision</targetReference>
            </connector>
            <label>Information Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Creation_Decision</name>
        <label>Lead Creation Decision</label>
        <locationX>555</locationX>
        <locationY>233</locationY>
        <defaultConnector>
            <targetReference>Update_POA_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Demo Requested</defaultConnectorLabel>
        <rules>
            <name>Create_VinLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_the_Customer_Like_a_Demo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Lead</targetReference>
            </connector>
            <label>Create Lead</label>
        </rules>
    </decisions>
    <description>added error screens</description>
    <interviewLabel>Submit Lead to VinSolutions v3.0.11 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submit Lead to VinSolutions v3.0.11</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Lead</name>
        <label>Insert Lead</label>
        <locationX>555</locationX>
        <locationY>35</locationY>
        <connector>
            <targetReference>Update_POA</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Affiliate_Email__c</field>
            <value>
                <elementReference>AffiliateEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Affiliate_Name__c</field>
            <value>
                <elementReference>AffiliateName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Affiliate_Phone__c</field>
            <value>
                <elementReference>AffiliatePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Affiliate__c</field>
            <value>
                <elementReference>AffiliateCompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <stringValue>VinSolutions</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM__c</field>
            <value>
                <elementReference>CRM_Vendor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>LeadCompanyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Demo_Instructions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>LeadEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>LeadFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LeadLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Referral</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>LeadMobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>LeadPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_POA__c</field>
            <value>
                <elementReference>vAutoPOA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>LeadTitle</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>GetAccountInfo</name>
        <label>GetAccountInfo</label>
        <locationX>396</locationX>
        <locationY>34</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Gather_Information</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vAutoPOA</assignToReference>
            <field>vAuto_POA__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetContactInfo</name>
        <label>GetContactInfo</label>
        <locationX>94</locationX>
        <locationY>30</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUserInfo</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadMobilePhone</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadTitle</assignToReference>
            <field>Title</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadCompanyName</assignToReference>
            <field>account_name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetUserInfo</name>
        <label>GetUserInfo</label>
        <locationX>251</locationX>
        <locationY>34</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccountInfo</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>AffiliateCompany</assignToReference>
            <field>CompanyName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AffiliateEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AffiliatePhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AffiliateName</assignToReference>
            <field>User_Full_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_POA</name>
        <label>Update POA</label>
        <locationX>767</locationX>
        <locationY>34</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_0</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAutoPOA</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Vendor__c</field>
            <value>
                <elementReference>CRM_Vendor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Talked_to_Client_RE_Vin__c</field>
            <value>
                <elementReference>Date_Talked_to_Customer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demo_Instructions__c</field>
            <value>
                <elementReference>Demo_Instructions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Talked_to_client_about_Vin__c</field>
            <value>
                <elementReference>Show_Integration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vin_Lead_Conversation_Status__c</field>
            <value>
                <elementReference>Customer_Response_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vin_Lead_Submitted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Would_the_customer_like_a_demo__c</field>
            <value>
                <elementReference>Would_the_Customer_Like_a_Demo</elementReference>
            </value>
        </inputAssignments>
        <object>POA__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>if the customer says no to a demo, update the POA with the answers to the first 3 questions</description>
        <name>Update_POA_Only</name>
        <label>Update POA Only</label>
        <locationX>837</locationX>
        <locationY>235</locationY>
        <connector>
            <targetReference>NoConfirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_0</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAutoPOA</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Vendor__c</field>
            <value>
                <elementReference>CRM_Vendor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Talked_to_Client_RE_Vin__c</field>
            <value>
                <elementReference>Date_Talked_to_Customer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demo_Instructions__c</field>
            <value>
                <elementReference>Demo_Instructions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Talked_to_client_about_Vin__c</field>
            <value>
                <elementReference>Show_Integration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vin_Lead_Conversation_Status__c</field>
            <value>
                <elementReference>Customer_Response_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vin_Lead_Submitted__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Would_the_customer_like_a_demo__c</field>
            <value>
                <elementReference>Would_the_Customer_Like_a_Demo</elementReference>
            </value>
        </inputAssignments>
        <object>POA__c</object>
    </recordUpdates>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>957</locationX>
        <locationY>35</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYou</name>
            <fieldText>Your lead has been submitted and added to your POA</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>162</locationX>
        <locationY>141</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>fault</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Error_Screen_0</name>
        <label>Error Screen</label>
        <locationX>690</locationX>
        <locationY>137</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>fault_0</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Gather_Information</name>
        <label>Gather Information</label>
        <locationX>396</locationX>
        <locationY>174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Input_Validation</targetReference>
        </connector>
        <fields>
            <name>Show_Integration</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Did You Show the vAuto / VinSolutions Integration?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_Talked_to_Customer</name>
            <dataType>Date</dataType>
            <fieldText>Date Client Shown the Integration</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Response_Status</name>
            <choiceReferences>SelectOption</choiceReferences>
            <choiceReferences>Already_Have_CRM</choiceReferences>
            <choiceReferences>Follow_up</choiceReferences>
            <choiceReferences>Happy_Don_t_Bother</choiceReferences>
            <choiceReferences>Not_Interested</choiceReferences>
            <choiceReferences>Too_Small_No_CRM</choiceReferences>
            <choiceReferences>VIN_Already_In_Process</choiceReferences>
            <choiceReferences>VIN_Fired</choiceReferences>
            <choiceReferences>VIN_Passed_On</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Customer Response/Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>blank2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CRM_Vendor</name>
            <choiceReferences>SelectOption</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>ADP</choiceReferences>
            <choiceReferences>Autobase</choiceReferences>
            <choiceReferences>AutoSoft_Traffic_Cop</choiceReferences>
            <choiceReferences>Car_Research_XRM</choiceReferences>
            <choiceReferences>DealerPeak</choiceReferences>
            <choiceReferences>DealerSocket</choiceReferences>
            <choiceReferences>DealerTrack</choiceReferences>
            <choiceReferences>Dominion_AVV</choiceReferences>
            <choiceReferences>eLead</choiceReferences>
            <choiceReferences>Higher_Gear</choiceReferences>
            <choiceReferences>iMagic</choiceReferences>
            <choiceReferences>ProMax</choiceReferences>
            <choiceReferences>Reynolds_and_Reynolds</choiceReferences>
            <choiceReferences>VinSolutions</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>CRM Vendor</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>blank4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Would_the_Customer_Like_a_Demo</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would the Customer Like a Demo?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Alert</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;If you select &amp;quot;No&amp;quot;, a lead &lt;/B&gt;&lt;B&gt;&lt;U&gt;WILL NOT&lt;/U&gt;&lt;/B&gt;&lt;B&gt; be created.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Demo_Instructions</name>
            <dataType>String</dataType>
            <fieldText>Demo Instructions (50 char max)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>50 characters or less</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Please limit the Demo Instructions to 50 characters or less.</errorMessage>
                <formulaExpression>REGEX({!Demo_Instructions},&quot;^.{0,50}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Example</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Example: Call between 10:00 am and 12:00 pm CST&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>NoConfirmation</name>
        <label>No Confirmation</label>
        <locationX>995</locationX>
        <locationY>235</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ConfirmationNoDemo</name>
            <fieldText>No Lead has been submitted. Your POA has been updated with the Customer Response Information.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Validation_Error</name>
        <label>Validation Error</label>
        <locationX>195</locationX>
        <locationY>261</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Gather_Information</targetReference>
        </connector>
        <fields>
            <name>EntryError</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;You have clicked &amp;quot;Next&amp;quot; but are missing required information. Please click the &amp;quot;Previous&amp;quot; button to return and complete the form&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>GetContactInfo</startElementReference>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AffiliateCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AffiliateEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AffiliateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AffiliatePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CompanyName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactCompanyName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DealershipName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Guide</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>vauto logo</description>
        <name>ImageURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&lt;img src=&quot;https://cs1.salesforce.com/resource/1429801335000/vAutoImage&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>Information</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadCompanyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadMobilePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAutoPOA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
