flows/vAuto_Acquisition_and_Sr_Acquisition_calls_on_POA-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>vAuto Acquisition and Sr. Acquisition calls on POA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>vAuto Acquisition and Sr. Acquisition calls on POA</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Task_on_POA</name>
        <label>Task on POA</label>
        <locationX>314</locationX>
        <locationY>275</locationY>
        <connector>
            <targetReference>Task_on_POA_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>New Account has been created for Stockwave product. Please Assign the Acquisition Pro</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varStockwaveManager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Assign Acquisition Pro</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varPOAID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Task_on_POA_0</name>
        <label>Task on POA</label>
        <locationX>314</locationX>
        <locationY>403</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>New Account has been created for Stockwave product. Please Assign the Sr. Acquisition Pro</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varStockwaveManager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Assign Sr. Acquisition Pro</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varPOAID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>POA_Lookup</name>
        <label>POA Lookup</label>
        <locationX>313</locationX>
        <locationY>143</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_on_POA</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPOAID</elementReference>
            </value>
        </filters>
        <object>POA__c</object>
        <outputAssignments>
            <assignToReference>varStockwaveManager</assignToReference>
            <field>Stockwave_Manager__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Project_Lookup</name>
        <label>Project Lookup</label>
        <locationX>314</locationX>
        <locationY>15</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>POA_Lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </filters>
        <object>SFDC_520_Quote__c</object>
        <outputAssignments>
            <assignToReference>varPOAID</assignToReference>
            <field>Related_POA__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Project_Lookup</startElementReference>
    <variables>
        <name>varPOAID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStockwaveManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
