flows/Vin_PM_Solid_Engagement-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>At_Risk</name>
        <choiceText>At Risk</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>At Risk</stringValue>
        </value>
    </choices>
    <choices>
        <name>Desk_Manager</name>
        <choiceText>Desk Manager</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Desk Manager</stringValue>
        </value>
    </choices>
    <choices>
        <name>DP</name>
        <choiceText>DP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DP</stringValue>
        </value>
    </choices>
    <choices>
        <name>GM</name>
        <choiceText>GM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Good</name>
        <choiceText>Good</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Good</stringValue>
        </value>
    </choices>
    <choices>
        <name>Internet_Manager</name>
        <choiceText>Internet Manager</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internet Manager</stringValue>
        </value>
    </choices>
    <choices>
        <name>Marketing</name>
        <choiceText>Marketing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marketing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pending_Setup</name>
        <choiceText>Pending Setup</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Setup</stringValue>
        </value>
    </choices>
    <choices>
        <name>Service</name>
        <choiceText>Service</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Service</stringValue>
        </value>
    </choices>
    <description>Removed task update and creation.</description>
    <interviewLabel>Vin PM Solid Engagement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vin PM Solid Engagement</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Solid_Engagement</name>
        <label>Create Solid Engagement</label>
        <locationX>253</locationX>
        <locationY>225</locationY>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Progress_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POA__c</field>
            <value>
                <elementReference>VarPOAID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line_Status__c</field>
            <value>
                <elementReference>Set_Product_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>LSE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Who_did_you_speak_with__c</field>
            <value>
                <elementReference>Who_did_you_speak_with_new</elementReference>
            </value>
        </inputAssignments>
        <object>Progress_Comment__c</object>
    </recordCreates>
    <recordLookups>
        <name>POA_Details</name>
        <label>POA Details</label>
        <locationX>105</locationX>
        <locationY>130</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Input_Solid_Engagement</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarPOAID</elementReference>
            </value>
        </filters>
        <object>POA__c</object>
        <outputAssignments>
            <assignToReference>VarAccountID</assignToReference>
            <field>Account_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNSE</assignToReference>
            <field>Next_Scheduled_Follow_up_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPOAProductStatus</assignToReference>
            <field>Product_Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>337</locationX>
        <locationY>131</locationY>
        <connector>
            <targetReference>Update_POA</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Touch_by_VinPro__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vin_CRM_ILM_Status__c</field>
            <value>
                <elementReference>Set_Product_Status</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_POA</name>
        <label>Update POA</label>
        <locationX>415</locationX>
        <locationY>226</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarPOAID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Solid_Engagement__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Scheduled_Follow_up_Date__c</field>
            <value>
                <elementReference>Next_Solid_Engagement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Status__c</field>
            <value>
                <elementReference>Set_Product_Status</elementReference>
            </value>
        </inputAssignments>
        <object>POA__c</object>
    </recordUpdates>
    <screens>
        <name>Input_Solid_Engagement</name>
        <label>Input Solid Engagement</label>
        <locationX>104</locationX>
        <locationY>222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Solid_Engagement</targetReference>
        </connector>
        <fields>
            <name>CurrentProductStatus</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;Current Product Status: {!varPOAProductStatus}&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Who_did_you_speak_with_new</name>
            <choiceReferences>Desk_Manager</choiceReferences>
            <choiceReferences>DP</choiceReferences>
            <choiceReferences>GM</choiceReferences>
            <choiceReferences>Internet_Manager</choiceReferences>
            <choiceReferences>Marketing</choiceReferences>
            <choiceReferences>Service</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Who did you speak with?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Set_Product_Status</name>
            <choiceReferences>Good</choiceReferences>
            <choiceReferences>At_Risk</choiceReferences>
            <choiceReferences>Pending_Setup</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Set Product Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Progress_Comment</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Next_Solid_Engagement</name>
            <dataType>Date</dataType>
            <fieldText>Next Solid Engagement</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>POA_Details</startElementReference>
    <variables>
        <description>The LSE Account</description>
        <name>VarAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Who Owned the last Solid Engagement</description>
        <name>VarLSEOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The most recent created Task for a Last Solid Engagement task</description>
        <name>varLSETaskDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Last Solid Engagement Task Id</description>
        <name>varLSETaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNSE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Name of POA Comment belongs to</description>
        <name>VarPOAID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Who owns the POA</description>
        <name>VarPOAOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPOAProductStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
