flows/Vin_Solid_Engagement_Task_Cycle-13.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Cancelled</name>
        <choiceText>Cancelled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancelled</stringValue>
        </value>
    </choices>
    <choices>
        <name>Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hand_off_Intro_Transition_from_WIC_to_WAM</name>
        <choiceText>Hand-off/Intro – Transition from WIC to WAM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hand-off/Intro – Transition from WIC to WAM</stringValue>
        </value>
    </choices>
    <choices>
        <name>UAT_Still_in_Implementation</name>
        <choiceText>UAT – Still in Implementation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UAT – Still in Implementation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Week_1_Follow_up</name>
        <choiceText>Week 1 Follow-up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Week 2 Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>Week_2_Follow_up</name>
        <choiceText>Week 2 Follow-up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Week 3 Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>Week_3_Follow_up</name>
        <choiceText>Week 3 Follow-up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Week 4 Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>Week_4_Follow_up</name>
        <choiceText>Week 4 Follow-up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Week 4 Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>Week_5_Follow_up</name>
        <choiceText>Week 5 Follow-up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Week 6 Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>Week_6_Follow_up</name>
        <choiceText>Week 6 Follow-up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ongoing Follow-up</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Does_SE_Task_Exist</name>
        <label>Does SE Task Exist</label>
        <locationX>632</locationX>
        <locationY>1136</locationY>
        <defaultConnector>
            <targetReference>Create_Next_LSE_Task_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YesSETask</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLSETaskId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_LSE_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_Website_POA</name>
        <label>Is this a Website POA?</label>
        <locationX>149</locationX>
        <locationY>306</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Website</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPOARecordTypeID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New_Website_Followup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_is_the_POA_s_Status</targetReference>
            </connector>
            <label>Website</label>
        </rules>
        <rules>
            <name>Other_POA_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPOARecordTypeID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varWebsiteRecordTypeID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Progress_Comment</targetReference>
            </connector>
            <label>Other POA Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_POA_s_Status</name>
        <label>What is the POA&apos;s Status?</label>
        <locationX>443</locationX>
        <locationY>314</locationY>
        <defaultConnector>
            <targetReference>Input_Progress_Comment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Pending_Week_1_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPOAStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Week 1 Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>POA_Status_is_Pending_Week_1_Call</targetReference>
            </connector>
            <label>Pending Week 1 Call</label>
        </rules>
        <rules>
            <name>Pending_Week_2_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPOAStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Week 2 Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>POA_Status_is_Pending_Week_2_Call</targetReference>
            </connector>
            <label>Pending Week 2 Call</label>
        </rules>
        <rules>
            <name>Pending_Week_3_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPOAStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Week 3 Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>POA_Status_is_Pending_Week_3_Call</targetReference>
            </connector>
            <label>Pending Week 3 Call</label>
        </rules>
        <rules>
            <name>Pending_Week_4_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPOAStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Week 4 Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>POA_Status_is_Pending_Week_4_Call</targetReference>
            </connector>
            <label>Pending Week 4 Call</label>
        </rules>
        <rules>
            <name>Pending_Week_5_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPOAStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Week 5 Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>POA_Status_is_Pending_Week_5_Call</targetReference>
            </connector>
            <label>Pending Week 5 Call</label>
        </rules>
        <rules>
            <name>Pending_Week_6_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPOAStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Week 6 Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>POA_Status_is_Pending_Week_6_Call</targetReference>
            </connector>
            <label>Pending Week 6 Call</label>
        </rules>
    </decisions>
    <interviewLabel>Vin Solid Engagement Task Cycle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vin Solid Engagement Task Cycle</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Next_LSE_Task</name>
        <label>Create Next LSE Task</label>
        <locationX>923</locationX>
        <locationY>1133</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Next_Solid_Engagement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>VarPOAOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>POA Solid Engagement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>VarPOAID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Next_LSE_Task_0</name>
        <label>Create New LSE Task</label>
        <locationX>788</locationX>
        <locationY>1256</locationY>
        <connector>
            <targetReference>Create_Next_LSE_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Call_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>VarPOAOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>POA Solid Engagement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>VarPOAID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Save_Progress_Comment</name>
        <label>Save Progress Comment</label>
        <locationX>311</locationX>
        <locationY>1033</locationY>
        <connector>
            <targetReference>Update_LSE_Date_on_POA</targetReference>
        </connector>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Progress_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POA__c</field>
            <value>
                <elementReference>VarPOAID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spoke_with__c</field>
            <value>
                <elementReference>Spoke_with</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>LSE</stringValue>
            </value>
        </inputAssignments>
        <object>Progress_Comment__c</object>
    </recordCreates>
    <recordLookups>
        <name>Complete_Current_Solid_Engagement_Task</name>
        <label>Complete Current Solid Engagement Task</label>
        <locationX>629</locationX>
        <locationY>1038</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_SE_Task_Exist</targetReference>
        </connector>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>POA Solid Engagement</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarPOAID</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>VarAccount</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLSETaskId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarLSEOwner</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Website_Record_Type</name>
        <label>Get Website Record Type</label>
        <locationX>150</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_this_a_Website_POA</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New_Website_Followup</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>POA__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varWebsiteRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>POA_Details</name>
        <label>POA Details</label>
        <locationX>149</locationX>
        <locationY>97</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Website_Record_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarPOAID</elementReference>
            </value>
        </filters>
        <object>POA__c</object>
        <outputAssignments>
            <assignToReference>varPOARecordTypeID</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPOAStatus</assignToReference>
            <field>Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Complete_LSE_Task</name>
        <label>Complete LSE Task</label>
        <locationX>782</locationX>
        <locationY>1038</locationY>
        <connector>
            <targetReference>Create_Next_LSE_Task</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLSETaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Call_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_LSE_Date_on_POA</name>
        <label>Update LSE Date on POA</label>
        <locationX>473</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Complete_Current_Solid_Engagement_Task</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarPOAID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Solid_Engagement__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Scheduled_Follow_up_Date__c</field>
            <value>
                <elementReference>Next_Solid_Engagement</elementReference>
            </value>
        </inputAssignments>
        <object>POA__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_POA_Status</name>
        <label>Update POA Status</label>
        <locationX>419</locationX>
        <locationY>712</locationY>
        <connector>
            <targetReference>Input_Progress_Comment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarPOAID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>SE_Type2</elementReference>
            </value>
        </inputAssignments>
        <object>POA__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_POA_Status_0</name>
        <label>Update POA Status</label>
        <locationX>564</locationX>
        <locationY>713</locationY>
        <connector>
            <targetReference>Input_Progress_Comment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarPOAID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>SE_Type3</elementReference>
            </value>
        </inputAssignments>
        <object>POA__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_POA_Status_0_0</name>
        <label>Update POA Status</label>
        <locationX>692</locationX>
        <locationY>712</locationY>
        <connector>
            <targetReference>Input_Progress_Comment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarPOAID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>SE_Type4</elementReference>
            </value>
        </inputAssignments>
        <object>POA__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_POA_Status_0_0_0</name>
        <label>Update POA Status</label>
        <locationX>817</locationX>
        <locationY>711</locationY>
        <connector>
            <targetReference>Input_Progress_Comment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarPOAID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>SE_Type5</elementReference>
            </value>
        </inputAssignments>
        <object>POA__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_POA_Status_0_0_0_0</name>
        <label>Update POA Status</label>
        <locationX>941</locationX>
        <locationY>712</locationY>
        <connector>
            <targetReference>Input_Progress_Comment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarPOAID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>SE_Type6</elementReference>
            </value>
        </inputAssignments>
        <object>POA__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_POA_Status_0_0_0_0_0</name>
        <label>Update POA Status</label>
        <locationX>1066</locationX>
        <locationY>714</locationY>
        <connector>
            <targetReference>Input_Progress_Comment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarPOAID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>SE_Type7</elementReference>
            </value>
        </inputAssignments>
        <object>POA__c</object>
    </recordUpdates>
    <screens>
        <name>Input_Progress_Comment</name>
        <label>Input Progress Comment</label>
        <locationX>140</locationX>
        <locationY>1032</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Save_Progress_Comment</targetReference>
        </connector>
        <fields>
            <name>Spoke_with</name>
            <dataType>String</dataType>
            <fieldText>Spoke with?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Progress_Comment</name>
            <fieldText>Progress Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Call_Comments</name>
            <fieldText>Call Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Next_Solid_Engagement</name>
            <dataType>Date</dataType>
            <fieldText>Next Solid Engagement</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>POA_Status_is_Pending_Week_1_Call</name>
        <label>POA Status is Pending Week 1 Call.</label>
        <locationX>421</locationX>
        <locationY>612</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_POA_Status</targetReference>
        </connector>
        <fields>
            <name>TypeOfSE2</name>
            <fieldText>{!varTypeOfSEText}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SE_Type2</name>
            <choiceReferences>Week_1_Follow_up</choiceReferences>
            <choiceReferences>Week_2_Follow_up</choiceReferences>
            <choiceReferences>Week_3_Follow_up</choiceReferences>
            <choiceReferences>Week_4_Follow_up</choiceReferences>
            <choiceReferences>Week_5_Follow_up</choiceReferences>
            <choiceReferences>Week_6_Follow_up</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SE Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>POA_Status_is_Pending_Week_2_Call</name>
        <label>POA Status is Pending Week 2 Call.</label>
        <locationX>567</locationX>
        <locationY>611</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_POA_Status_0</targetReference>
        </connector>
        <fields>
            <name>TypeOfSE3</name>
            <fieldText>{!varTypeOfSEText}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SE_Type3</name>
            <choiceReferences>Week_2_Follow_up</choiceReferences>
            <choiceReferences>Week_3_Follow_up</choiceReferences>
            <choiceReferences>Week_4_Follow_up</choiceReferences>
            <choiceReferences>Week_5_Follow_up</choiceReferences>
            <choiceReferences>Week_6_Follow_up</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SE Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>POA_Status_is_Pending_Week_3_Call</name>
        <label>POA Status is Pending Week 3 Call.</label>
        <locationX>691</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_POA_Status_0_0</targetReference>
        </connector>
        <fields>
            <name>TypeOfSE4</name>
            <fieldText>{!varTypeOfSEText}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SE_Type4</name>
            <choiceReferences>Week_3_Follow_up</choiceReferences>
            <choiceReferences>Week_4_Follow_up</choiceReferences>
            <choiceReferences>Week_5_Follow_up</choiceReferences>
            <choiceReferences>Week_6_Follow_up</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SE Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>POA_Status_is_Pending_Week_4_Call</name>
        <label>POA Status is Pending Week 4 Call.</label>
        <locationX>810</locationX>
        <locationY>615</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_POA_Status_0_0_0</targetReference>
        </connector>
        <fields>
            <name>TypeOfSE5</name>
            <fieldText>{!varTypeOfSEText}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SE_Type5</name>
            <choiceReferences>Week_4_Follow_up</choiceReferences>
            <choiceReferences>Week_5_Follow_up</choiceReferences>
            <choiceReferences>Week_6_Follow_up</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SE Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>POA_Status_is_Pending_Week_5_Call</name>
        <label>POA Status is Pending Week 5 Call.</label>
        <locationX>930</locationX>
        <locationY>615</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_POA_Status_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>TypeOfSE6</name>
            <fieldText>{!varTypeOfSEText}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SE_Type6</name>
            <choiceReferences>Week_5_Follow_up</choiceReferences>
            <choiceReferences>Week_6_Follow_up</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SE Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>POA_Status_is_Pending_Week_6_Call</name>
        <label>POA Status is Pending Week 6 Call.</label>
        <locationX>1062</locationX>
        <locationY>613</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_POA_Status_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>TypeOfSE7</name>
            <fieldText>{!varTypeOfSEText}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SE_Type7</name>
            <choiceReferences>Week_6_Follow_up</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SE Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>POA_Details</startElementReference>
    <variables>
        <description>The LSE Account</description>
        <name>VarAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Who Owned the last Solid Engagement</description>
        <name>VarLSEOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The most recent created Task for a Last Solid Engagement task</description>
        <name>varLSETaskDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Last Solid Engagement Task Id</description>
        <name>varLSETaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Name of POA Comment belongs to</description>
        <name>VarPOAID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Who owns the POA</description>
        <name>VarPOAOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPOARecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPOAStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTypeOfSEText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>What type of Solid Engagement is being logged?</stringValue>
        </value>
    </variables>
    <variables>
        <name>varWebsiteRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
